Repository paunchygent/skriptoteket: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format (staged files)
        entry: pdm run ruff format --force-exclude
        language: system
        types: [python]
        pass_filenames: true

      - id: ruff-lint
        name: Ruff lint (staged files)
        entry: pdm run ruff check --force-exclude
        language: system
        types: [python]
        pass_filenames: true

      - id: mypy
        name: Mypy typecheck (src + tests)
        entry: pdm run typecheck
        language: system
        types: [python]
        pass_filenames: false

      - id: pytest
        name: Pytest (unit suite)
        entry: pdm run test
        language: system
        types: [python]
        pass_filenames: false

      - id: docs-contract-validate
        name: Docs contract validate (placement + naming + frontmatter)
        entry: pdm run docs-validate
        language: system
        files: ^docs/
        pass_filenames: false

      - id: agent-doc-budgets
        name: Agent docs line budgets (.agent/*)
        entry: pdm run python -m scripts.check_agent_doc_budgets
        language: system
        files: ^\.agent/(readme-first\.md|handoff\.md)$
        pass_filenames: false

      - id: eslint
        name: ESLint (frontend)
        entry: pnpm --filter @skriptoteket/spa lint
        language: system
        files: ^frontend/apps/skriptoteket/src/.*\.(vue|ts|js)$
        pass_filenames: false

docs(pr): clarify Vue proxy reactivity note
  docs/backlog/prs/pr-0030-editor-chat-streaming-reactivity-and-typing-status.md
Due: docs-contract-validate

docs: add PR-0031 and review for editor AI patch-only edit-ops alignment
  docs/backlog/prs/pr-0031-editor-ai-edit-ops-patch-only-alignment.md
  docs/backlog/reviews/review-epic-08-editor-ai-edit-ops-patch-only-alignment.md
  docs/index.md
Due: docs-contract-validate

Fix lint issues: line length and import placement
  .agent/handoff.md
  docs/backlog/epics/epic-14-admin-tool-authoring.md
  docs/backlog/stories/story-14-19-runner-toolkit-helper-module.md
  docs/reference/ref-ai-script-generation-kb-llm.md
  docs/reference/ref-ai-script-generation-kb.md
  runner/README.md
  runner/skriptoteket_toolkit.py
  src/skriptoteket/application/editor/prompt_fragments.py
  src/skriptoteket/web/editor_support.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets

docs: align PR-0031 and ADR-0051 on patch-only edit-ops + correlation propagation
  GEMINI.md
  README.md
  docs/adr/adr-0051-chat-first-ai-editing.md
  docs/backlog/prs/pr-0031-editor-ai-edit-ops-patch-only-alignment.md
  docs/backlog/reviews/review-epic-08-editor-ai-edit-ops-patch-only-alignment.md
Due: docs-contract-validate

feat: editor intelligence supports skriptoteket_toolkit with completions/hover/lints
  .agent/handoff.md
  docs/backlog/epics/epic-14-admin-tool-authoring.md
  docs/backlog/stories/story-14-20-editor-intelligence-toolkit-support.md
  docs/runbooks/runbook-home-server.md
  frontend/apps/skriptoteket/src/composables/editor/linter/domain/rules/bestPracticesRule.ts
  frontend/apps/skriptoteket/src/composables/editor/linter/domain/rules/contractRule.ts
  frontend/apps/skriptoteket/src/composables/editor/linter/domain/variables.ts
  frontend/apps/skriptoteket/src/composables/editor/pythonLezer/syntaxErrors.ts
  frontend/apps/skriptoteket/src/composables/editor/skriptoteketCompletions.spec.ts
  frontend/apps/skriptoteket/src/composables/editor/skriptoteketCompletions.ts
  frontend/apps/skriptoteket/src/composables/editor/skriptoteketLinter.spec.ts
  frontend/apps/skriptoteket/src/composables/editor/skriptoteketMetadata.ts
Due: docs-contract-validate, agent-doc-budgets, eslint

web/docs: harden correlation + watchdog reboot persistence
  .agent/handoff.md
  .agent/next-session-instruction-prompt-template.md
  .claude/skills/local-devops/SKILL.md
  AGENTS.md
  docs/adr/adr-0022-tool-ui-contract-v2.md
  docs/adr/adr-0024-tool-sessions-and-ui-payload-persistence.md
  docs/backlog/epics/epic-14-admin-tool-authoring.md
  docs/backlog/stories/story-14-37-ui-output-vega-lite.md
  docs/index.md
  docs/reference/ref-hemma-critical-paths-2026-01-06.md
  docs/reference/ref-tool-editor-framework-codemap.md
  docs/reference/reports/ref-hemma-host-freeze-investigation-2026-01-03.md
  docs/runbooks/runbook-home-server.md
  src/skriptoteket/application/editor/system_prompts/editor_chat_ops_v1.txt
  src/skriptoteket/application/editor/system_prompts/editor_chat_v1.txt
  src/skriptoteket/application/editor/system_prompts/inline_completion_v1.txt
  src/skriptoteket/web/app.py
  src/skriptoteket/web/middleware/correlation.py
  tests/unit/web/test_correlation_middleware_asgi.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets

Regenerate frontend OpenAPI types
  frontend/apps/skriptoteket/src/api/openapi.d.ts
Due: eslint

docs: add PR-0040 for execution queue test coverage + enable queue by default
  .agent/handoff.md
  compose.prod.yaml
  docs/backlog/prs/pr-0040-execution-queue-test-coverage.md
  docs/index.md
  src/skriptoteket/config.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets

Execution queue: drop started_at default + add tests
  .agent/handoff.md
  docs/backlog/prs/pr-0039-execution-queue-worker-loop.md
  docs/backlog/prs/pr-0040-execution-queue-test-coverage.md
  migrations/versions/0028_tool_runs_started_at_drop_default.py
  src/skriptoteket/infrastructure/db/models/tool_run.py
  tests/integration/infrastructure/repositories/test_tool_run_job_repository.py
  tests/integration/test_migration_0028_tool_runs_started_at_drop_default_idempotent.py
  tests/unit/application/scripting/handlers/test_execute_tool_version_queueing.py
  tests/unit/domain/scripting/test_tool_run_jobs.py
  tests/unit/infrastructure/runner/test_docker_runner.py
  tests/unit/infrastructure/runner/test_run_input_storage.py
  tests/unit/workers/execution_queue_job_processor_test_support.py
  tests/unit/workers/test_execution_queue_job_processor.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets

Ops: add execution worker service + healthcheck
  .claude/skills/skriptoteket-devops/SKILL.md
  AGENTS.md
  compose.prod.yaml
  docs/runbooks/runbook-home-server.md
  src/skriptoteket/cli/commands/healthcheck_execution_worker.py
  src/skriptoteket/cli/main.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

PR-0049: add refactor order + dependency map
  docs/backlog/prs/pr-0049-backend-srp-refactor-god-modules.md
Due: docs-contract-validate

PR-0050: split Responses vs Chat structured output
  .agent/handoff.md
  docs/backlog/prs/pr-0050-openai-responses-structured-output-shape-fix.md
  docs/runbooks/runbook-openai-responses-api.md
  src/skriptoteket/infrastructure/llm/openai/chat_ops_provider.py
  src/skriptoteket/infrastructure/llm/openai/grammars.py
  src/skriptoteket/infrastructure/llm/openai/payloads.py
  src/skriptoteket/infrastructure/llm/openai/types.py
  tests/unit/infrastructure/llm/test_openai_chat_ops_provider_grammar.py
  tests/unit/infrastructure/llm/test_openai_payloads.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets

Docs: sync backlog statuses
  .agent/handoff.md
  docs/_meta/docs-contract.yaml
  docs/backlog/epics/epic-08-contextual-help-and-onboarding.md
  docs/backlog/epics/epic-18-execution-queue-and-worker-loop.md
  docs/backlog/prs/pr-0040-execution-queue-test-coverage.md
  docs/backlog/prs/pr-0041-ai-completion-failover-and-model-selection.md
  docs/backlog/prs/pr-0042-openai-prompt-cache-compat.md
  docs/backlog/prs/pr-0043-ai-inline-completions-consent-hardening.md
  docs/backlog/prs/pr-0046-ai-inline-completion-harness.md
  docs/backlog/prs/pr-0047-ai-inline-completion-normalization-and-caps.md
  docs/backlog/prs/pr-0048-execution-queue-session-context-and-state-semantics.md
  docs/backlog/prs/pr-0050-openai-responses-structured-output-shape-fix.md
  docs/backlog/stories/story-08-30-ai-completion-failover-and-model-selection.md
  docs/backlog/stories/story-08-31-openai-responses-api-migration.md
  docs/backlog/stories/story-08-32-ai-inline-completion-harness.md
  docs/backlog/stories/story-08-33-ai-inline-completion-normalization-and-caps.md
  docs/backlog/stories/story-18-01-execution-queue-worker-loop.md
  docs/index.md
  docs/reference/reports/codemaps/ai-api-surfaces-tool-editor.md
  docs/reference/reports/codemaps/runner-execution-flow.md
  docs/templates/template-codemap.md
  scripts/validate_docs.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets

Skills: add backend-dev skill + update local-devops scope
  .claude/skills/skriptoteket-backend-dev/SKILL.md
  .claude/skills/skriptoteket-local-devops/SKILL.md
Due: none

Docs: sync backlog statuses (PR-0030..0038)
  .agent/handoff.md
  docs/backlog/epics/epic-07-observability-and-operations.md
  docs/backlog/prs/pr-0030-editor-chat-streaming-reactivity-and-typing-status.md
  docs/backlog/prs/pr-0031-editor-ai-edit-ops-patch-only-alignment.md
  docs/backlog/prs/pr-0032-asgi-correlation-middleware.md
  docs/backlog/prs/pr-0033-large-file-srp-refactors-help-panel-docker-runner-edit-ops.md
  docs/backlog/prs/pr-0036-editor-ai-edit-ops-layered-diff-repair.md
  docs/backlog/prs/pr-0038-editor-ai-diff-preview-scroll-and-states.md
  docs/backlog/stories/story-07-06-asgi-correlation-middleware.md
Due: docs-contract-validate, agent-doc-budgets

Runner: add contract seams + v3 scaffolding
  .agent/handoff.md
  .claude/skills/skriptoteket-devops/SKILL.md
  docs/backlog/epics/epic-19-runner-io-and-file-references-foundations.md
  docs/backlog/prs/pr-0051-runner-contract-v3-scaffolding.md
  docs/backlog/prs/pr-0052-runner-request-envelope-file-refs-contract-v3.md
  docs/backlog/stories/story-19-04-runner-request-factory-seam.md
  docs/backlog/stories/story-19-05-runner-result-parser-seam.md
  docs/backlog/stories/story-19-06-runner-contract-selection-seam.md
  docs/index.md
  docs/runbooks/runbook-gpu-ai-workloads.md
  src/skriptoteket/di/infrastructure/runner.py
  src/skriptoteket/infrastructure/runner/contracts/__init__.py
  src/skriptoteket/infrastructure/runner/contracts/file_refs.py
  src/skriptoteket/infrastructure/runner/contracts/promotions_v3.py
  src/skriptoteket/infrastructure/runner/contracts/request_envelope_v1.py
  src/skriptoteket/infrastructure/runner/contracts/result_payload_v3.py
  src/skriptoteket/infrastructure/runner/contracts/state_update_v3.py
  src/skriptoteket/infrastructure/runner/docker/adoption.py
  src/skriptoteket/infrastructure/runner/docker/contract_selection.py
  src/skriptoteket/infrastructure/runner/docker/execution.py
  src/skriptoteket/infrastructure/runner/docker/request_factory.py
  src/skriptoteket/infrastructure/runner/docker/result_parser.py
  src/skriptoteket/infrastructure/runner/docker/runner.py
  src/skriptoteket/infrastructure/runner/docker/workdir_archive.py
  tests/unit/infrastructure/runner/conftest.py
  tests/unit/infrastructure/runner/test_docker_runner_adoption.py
  tests/unit/infrastructure/runner/test_docker_runner_execute.py
  tests/unit/infrastructure/runner/test_runner_contract_seams.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets

Docs/Playwright: add file-ref reuse E2E + PR stubs
  .agent/handoff.md
  .agent/rules/075-browser-automation.md
  .claude/skills/skriptoteket-devops/SKILL.md
  docs/backlog/prs/pr-0053-ui-contract-file-ref-picker-and-defaults.md
  docs/backlog/prs/pr-0054-user-file-vault-backend-and-resolver.md
  docs/backlog/prs/pr-0055-user-file-vault-ui-picker.md
  docs/backlog/sprints/sprint-2026-01-05-tool-editor-vertical-slice.md
  docs/index.md
  docs/runbooks/runbook-gpu-ai-workloads.md
  docs/runbooks/runbook-home-server.md
  scripts/playwright_sandbox_file_refs_reuse_e2e.py
  scripts/playwright_st_12_05_session_file_persistence_e2e.py
  scripts/playwright_st_14_03_editor_sandbox_html_to_pdf_preview_e2e.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets

chore: remove legacy token CSS classes and unused huleedu-ui package
  .agent/handoff.md
  docs/reference/reports/ref-vue-spa-migration-roadmap.md
  frontend/packages/huleedu-ui/eslint.config.js
  frontend/packages/huleedu-ui/package.json
  frontend/packages/huleedu-ui/src/env.d.ts
  frontend/packages/huleedu-ui/src/index.ts
  frontend/packages/huleedu-ui/src/primitives/HButton.vue
  frontend/packages/huleedu-ui/tsconfig.json
  frontend/packages/huleedu-ui/vite.config.ts
  frontend/pnpm-lock.yaml
  src/skriptoteket/web/static/css/huleedu-design-tokens.css
Due: docs-contract-validate, agent-doc-budgets

docs: lock file refs + vault implementation decisions
  .agent/handoff.md
  docs/backlog/prs/pr-0053-ui-contract-file-ref-picker-and-defaults.md
  docs/backlog/prs/pr-0054-user-file-vault-backend-and-resolver.md
  docs/backlog/prs/pr-0055-user-file-vault-ui-picker.md
  docs/backlog/stories/story-14-24-ui-contract-file-references.md
  docs/backlog/stories/story-14-36-user-file-vault-and-picker.md
Due: docs-contract-validate, agent-doc-budgets

UI cohesion: segmented toggle, browse CTA removal, tool run polish
  .agent/handoff.md
  docs/backlog/prs/pr-0056-shared-segmented-toggle-and-file-picker-row.md
  docs/backlog/prs/pr-0057-browse-cta-removal-and-toolrunview-density-transition-polish.md
  docs/index.md
  frontend/apps/skriptoteket/src/components/catalog/CatalogItemCard.vue
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspaceModeSelector.vue
  frontend/apps/skriptoteket/src/components/tool-run/ToolFileFieldPicker.vue
  frontend/apps/skriptoteket/src/components/tool-run/ToolRunControlBar.vue
  frontend/apps/skriptoteket/src/components/ui/UiCollapse.vue
  frontend/apps/skriptoteket/src/components/ui/UiSegmentedToggle.vue
  frontend/apps/skriptoteket/src/views/BrowseToolsView.vue
  frontend/apps/skriptoteket/src/views/ToolRunView.vue
  scripts/playwright_ui_runtime_smoke.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

feat: refine catalog card borders and hover states
  frontend/apps/skriptoteket/src/components/catalog/CatalogItemCard.vue
Due: eslint

feat: simplify admin tools grid layout and widen prop types
  frontend/apps/skriptoteket/src/components/tools/ToolListRow.vue
  frontend/apps/skriptoteket/src/views/admin/AdminToolsView.vue
Due: eslint

feat: add empty state CTAs and refine admin tools layout
  .agent/rules/045-huleedu-design-system.md
  frontend/apps/skriptoteket/src/components/layout/AuthSidebar.vue
  frontend/apps/skriptoteket/src/views/MyToolsView.vue
  frontend/apps/skriptoteket/src/views/admin/AdminToolsView.vue
Due: eslint

UI: focus-mode layout width alignment
  frontend/apps/skriptoteket/src/assets/main.css
  frontend/apps/skriptoteket/src/components/catalog/CatalogItemCard.vue
  frontend/apps/skriptoteket/src/components/home/FavoritesSection.vue
  frontend/apps/skriptoteket/src/components/home/RecentToolsSection.vue
  frontend/apps/skriptoteket/src/components/layout/AuthLayout.vue
  frontend/apps/skriptoteket/src/components/layout/AuthTopBar.vue
  frontend/apps/skriptoteket/src/components/profile/ProfileAiSettingsPanel.vue
  frontend/apps/skriptoteket/src/components/profile/ProfileDisplay.vue
  frontend/apps/skriptoteket/src/components/profile/ProfileEditAiSettings.vue
  frontend/apps/skriptoteket/src/components/profile/ProfileEditEmail.vue
  frontend/apps/skriptoteket/src/components/profile/ProfileEditPassword.vue
  frontend/apps/skriptoteket/src/components/profile/ProfileEditPersonal.vue
  frontend/apps/skriptoteket/src/views/BrowseFlatView.vue
  frontend/apps/skriptoteket/src/views/HomeView.vue
  frontend/apps/skriptoteket/src/views/MyRunsListView.vue
  frontend/apps/skriptoteket/src/views/MyToolsView.vue
  frontend/apps/skriptoteket/src/views/ProfileView.vue
  frontend/apps/skriptoteket/src/views/SuggestionNewView.vue
  frontend/apps/skriptoteket/src/views/admin/AdminToolsView.vue
Due: eslint

feat: unify dashboard action cards into single responsive grid
  frontend/apps/skriptoteket/src/components/home/FavoritesSection.vue
  frontend/apps/skriptoteket/src/components/home/HomeCreateDraftTool.vue
  frontend/apps/skriptoteket/src/components/home/RecentToolsSection.vue
  frontend/apps/skriptoteket/src/views/HomeView.vue
  scripts/playwright_dashboard_grid_verify.py
Due: ruff-format, ruff-lint, mypy, pytest, eslint

``` feat: inline editing for profile sections with collapsible forms
  frontend/apps/skriptoteket/src/assets/main.css
  frontend/apps/skriptoteket/src/components/profile/ProfileAiSettingsInline.vue
  frontend/apps/skriptoteket/src/components/profile/ProfileDisplay.vue
  frontend/apps/skriptoteket/src/components/profile/ProfileInlineField.vue
  frontend/apps/skriptoteket/src/components/profile/ProfilePasswordChange.vue
  frontend/apps/skriptoteket/src/composables/editor/chat/editorChatApi.spec.ts
  frontend/apps/skriptoteket/src/views/ProfileView.vue
  frontend/apps/skriptoteket/src/views/ToolRunView.vue
  scripts/playwright_profile_verify.py
Due: ruff-format, ruff-lint, mypy, pytest, eslint

feat: relocate "Skapa nytt verktyg" button to first visible section in admin tools
  frontend/apps/skriptoteket/src/views/admin/AdminToolsView.vue
Due: eslint

Styling Fixes Applied Fixed the "Granskas" pill in AdminToolsView.vue:432-437:
  frontend/apps/skriptoteket/src/views/admin/AdminToolsView.vue
Due: eslint

Kodredigerare: tool picker hub + editor tool menu
  .agent/handoff.md
  CLAUDE.md
  docs/backlog/prs/pr-0054-user-file-vault-backend-and-resolver.md
  docs/backlog/prs/pr-0058-kodredigerare-verktygsval-och-sok.md
  docs/backlog/stories/story-14-38-kodredigerare-verktygsval-och-sok.md
  docs/index.md
  docs/reference/ref-runner-contract-v3.md
  frontend/apps/skriptoteket/src/api/openapi.d.ts
  frontend/apps/skriptoteket/src/components/admin/CreateDraftToolModal.vue
  frontend/apps/skriptoteket/src/components/auth/LoginModal.vue
  frontend/apps/skriptoteket/src/components/editor/EditorInputSchemaPanel.vue
  frontend/apps/skriptoteket/src/components/editor/EditorToolMenu.vue
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspacePanel.vue
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspaceToolbar.vue
  frontend/apps/skriptoteket/src/components/editor/WorkflowActionsDropdown.vue
  frontend/apps/skriptoteket/src/components/help/HelpIndex.vue
  frontend/apps/skriptoteket/src/components/help/topics/HelpTopicAdminTools.vue
  frontend/apps/skriptoteket/src/components/help/topics/HelpTopicHome.vue
  frontend/apps/skriptoteket/src/components/home/HomeCreateDraftTool.vue
  frontend/apps/skriptoteket/src/components/layout/AuthSidebar.vue
  frontend/apps/skriptoteket/src/composables/admin/useAdminToolsIndex.ts
  frontend/apps/skriptoteket/src/composables/admin/useCreateDraftToolModal.ts
  frontend/apps/skriptoteket/src/composables/editor/editorRecentTools.ts
  frontend/apps/skriptoteket/src/composables/editor/useEditorEditOps.ts
  frontend/apps/skriptoteket/src/composables/editor/useScriptEditor.spec.ts
  frontend/apps/skriptoteket/src/composables/editor/useScriptEditor.ts
  frontend/apps/skriptoteket/src/composables/editor/useScriptEditorCoreState.ts
  frontend/apps/skriptoteket/src/composables/tools/toolSearch.ts
  frontend/apps/skriptoteket/src/router/routes.ts
  frontend/apps/skriptoteket/src/views/HomeView.vue
  frontend/apps/skriptoteket/src/views/MyToolsView.vue
  frontend/apps/skriptoteket/src/views/admin/AdminToolsView.vue
  frontend/apps/skriptoteket/src/views/editor/EditorHubView.vue
  scripts/playwright_ui_editor_smoke.py
  src/skriptoteket/web/api/v1/my_tools.py
  stakeholders/guide-teacher-developers.md
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

docs: plan Reagent Prep Chef curated app
  .agent/handoff.md
  docs/backlog/epics/epic-20-curated-app-reagent-prep-chef.md
  docs/backlog/prs/pr-0059-curated-app-reagent-prep-chef.md
  docs/backlog/reviews/review-epic-20-curated-app-reagent-prep-chef.md
  docs/backlog/stories/story-20-01-curated-app-reagent-prep-chef.md
  docs/index.md
  docs/reference/ref-curated-app-reagent-prep-chef.md
Due: docs-contract-validate, agent-doc-budgets

fe: streamline session file reuse
  frontend/apps/skriptoteket/src/components/editor/SandboxRunner.vue
  frontend/apps/skriptoteket/src/components/tool-run/SessionFilesPanel.spec.ts
  frontend/apps/skriptoteket/src/components/tool-run/SessionFilesPanel.vue
  frontend/apps/skriptoteket/src/composables/editor/useEditorSandboxRunExecution.spec.ts
  frontend/apps/skriptoteket/src/composables/editor/useEditorSandboxRunExecution.ts
  frontend/apps/skriptoteket/src/composables/editor/useEditorSandboxSessionFiles.ts
  frontend/apps/skriptoteket/src/composables/editor/useSandboxFileRefs.ts
  frontend/apps/skriptoteket/src/composables/tools/useToolFileRefs.ts
  frontend/apps/skriptoteket/src/composables/tools/useToolRun.ts
  frontend/apps/skriptoteket/src/composables/tools/useToolSessionFiles.ts
  frontend/apps/skriptoteket/src/views/ToolRunView.vue
  scripts/playwright_sandbox_file_refs_reuse_e2e.py
  scripts/playwright_st_12_05_session_file_persistence_e2e.py
  src/skriptoteket/application/scripting/handlers/list_sandbox_file_refs.py
Due: ruff-format, ruff-lint, mypy, pytest, eslint
