Repository paunchygent/skriptoteket: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

ruff-format:
  name: Ruff format (staged files)
  entry: pdm run ruff format --force-exclude
  language: system
  pass_filenames: true

ruff-lint:
  name: Ruff lint (staged files)
  entry: pdm run ruff check --force-exclude
  language: system
  pass_filenames: true

mypy:
  name: Mypy typecheck (src + tests)
  entry: pdm run typecheck
  language: system
  pass_filenames: false

pytest:
  name: Pytest (unit suite)
  entry: pdm run test
  language: system
  pass_filenames: false

docs-contract-validate:
  name: Docs contract validate (placement + naming + frontmatter)
  entry: pdm run docs-validate
  language: system
  pass_filenames: false

agent-doc-budgets:
  name: Agent docs line budgets (.agent/*)
  entry: pdm run python -m scripts.check_agent_doc_budgets
  language: system
  pass_filenames: false

eslint:
  name: ESLint (frontend)
  entry: pnpm --filter @skriptoteket/spa lint
  language: system
  pass_filenames: false

Implement ST-29-10 planner workspace gating and guidance
  .agents/handoff.md
  .agents/rules/075-browser-automation.md
  AGENTS.md
  docs/backlog/epics/epic-29-klassrumskartan-desktop-first-workspace-overhaul.md
  docs/backlog/prs/pr-0182-st-29-10-workspace-selector-reachability-and-locked-disabled-state-copy.md
  docs/backlog/prs/pr-0183-st-29-10-overview-prerequisite-guidance-and-help-affordance-copy.md
  docs/backlog/prs/pr-0184-st-29-10-canonical-mockup-folder-and-first-run-preview.md
  docs/backlog/stories/story-29-10-klassrumskartan-first-run-workspace-gating-and-prerequisite-guidance.md
  docs/index.md
  docs/mockups/st-29-10-first-run-workspace-gating/index.html
  frontend/apps/skriptoteket/src/components/ui/UiSegmentedToggle.spec.ts
  frontend/apps/skriptoteket/src/components/ui/UiSegmentedToggle.vue
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerView.vue
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerRouteShellWorkspace.spec.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerRouteShellWorkspace.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerClassWorkspace.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerClassWorkspace.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerTopPanel.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/plannerWorkspacePrerequisites.ts
Due: docs-contract-validate, eslint

Finalize Klassrumskartan workspace follow-ups
  .agents/handoff.md
  .agents/rules/075-browser-automation.md
  .gitignore
  docs/backlog/epics/epic-29-klassrumskartan-desktop-first-workspace-overhaul.md
  docs/backlog/prs/pr-0185-st-29-06-rules-no-classroom-fallback-and-organized-off-map-roster.md
  docs/backlog/stories/story-29-06-klassrumskartan-rules-workspace-rail-map-inspector-rebalance.md
  docs/guides/guide-klassrumskartan-kom-igang.md
  docs/index.md
  docs/mockups/st-29-06-rules-no-classroom-fallback/index.html
  docs/runbooks/runbook-agent-browser-automation.md
  frontend/apps/skriptoteket/src/assets/main.css
  frontend/apps/skriptoteket/src/components/help/plannerHelpSections.generated.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerView.vue
  frontend/apps/skriptoteket/src/views/apps/components/GroupBoard.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/GroupBoard.vue
  frontend/apps/skriptoteket/src/views/apps/components/GroupCard.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/GroupCard.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspacePane.smart-rules.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspacePane.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRulesInspector.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRulesMapCanvas.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRulesMapCanvas.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRulesToolRail.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRulesWorkspacePane.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRulesWorkspacePane.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspacePane.smart-rules.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspacePane.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerStudentPool.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/components/RoomTemplateEditorSidebar.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/RoomTemplateEditorSidebar.vue
  scripts/_playwright_classroom_planner.py
  scripts/playwright_pr_0165_seating_editor_sync_check.py
  scripts/playwright_pr_0166_transition_continuity_audit.py
  scripts/playwright_pr_0177_rule_visibility_and_tool_feedback_check.py
  scripts/playwright_pr_0179_sticky_toolbar_offset_check.py
  scripts/playwright_pr_0185_rules_no_classroom_fallback_check.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Finish PR-0187 no-classroom remediation and review hardening
  .agents/handoff.md
  .codex/agents/skriptoteket-implementation-specialist.toml
  .codex/agents/skriptoteket-reviewer.toml
  docs/backlog/prs/pr-0187-st-29-06-planner-no-classroom-root-cause-hardening-and-error-boundary-remediation.md
  docs/index.md
  frontend/apps/skriptoteket/src/components/ui/UiSegmentedToggle.vue
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerExportFlow.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerLifecycle.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerPayloadNormalization.spec.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerPayloadNormalization.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerRouteShellErrors.spec.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerRouteShellErrors.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerRouteShellOverviewCrud.spec.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerRouteShellOverviewCrud.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerStateSupport.spec.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerStateSupport.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRulesMapCanvas.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRulesMapCanvas.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRulesMapPanel.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRulesWorkspacePane.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRulesWorkspacePane.vue
  frontend/apps/skriptoteket/src/views/apps/useClassroomPlannerRouteShell.ts
  scripts/playwright_pr_0155_rules_workspace_check.py
  scripts/playwright_pr_0185_rules_no_classroom_fallback_check.py
  src/skriptoteket/infrastructure/curated_apps/registry.py
  tests/unit/infrastructure/curated_apps/test_registry.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Update docs: Flunk Out Frenzy mechanics foundation + Klassrumskartan workspace overhaul
  .agents/handoff.md
  docs/backlog/epics/epic-25-competitive-games-and-flunk-out-frenzy.md
  docs/backlog/epics/epic-29-klassrumskartan-desktop-first-workspace-overhaul.md
  docs/backlog/prs/pr-0127-klassrumskartan-overview-roster-preview-overflow-and-fixed-height-scrolling.md
  docs/backlog/prs/pr-0131-klassrumskartan-overview-button-hierarchy-and-destructive-action-de-emphasis.md
  docs/backlog/prs/pr-0132-klassrumskartan-resume-history-affordance-normalization-and-planner-control-polish.md
  docs/backlog/prs/pr-0156-st-29-01-control-language-freeze-primitive-contract-and-fe-codemap.md
  docs/backlog/prs/pr-0158-st-29-01-seating-workspace-adoption-of-shared-dense-tool-primitives.md
  docs/backlog/prs/pr-0182-st-29-10-workspace-selector-reachability-and-locked-disabled-state-copy.md
  docs/backlog/prs/pr-0183-st-29-10-overview-prerequisite-guidance-and-help-affordance-copy.md
  docs/backlog/prs/pr-0184-st-29-10-canonical-mockup-folder-and-first-run-preview.md
  docs/backlog/prs/pr-0188-flunk-out-frenzy-machine-event-contract-expansion-and-physicsworld-decomposition.md
  docs/backlog/prs/pr-0189-flunk-out-frenzy-lanes-targets-and-tripwire-devices.md
  docs/backlog/prs/pr-0190-flunk-out-frenzy-bonus-jackpot-and-ball-lifecycle-rule-state.md
  docs/backlog/prs/pr-0191-flunk-out-frenzy-mechanics-foundation-reassessment-and-go-no-go.md
  docs/backlog/prs/pr-0192-flunk-out-frenzy-flipper-contact-model-and-explicit-launcher-state.md
  docs/backlog/prs/pr-0193-flunk-out-frenzy-capture-eject-and-save-devices.md
  docs/backlog/prs/pr-0194-flunk-out-frenzy-ramps-gates-and-field-zone-semantics.md
  docs/backlog/prs/pr-0195-flunk-out-frenzy-objective-controllers-and-bank-progression.md
  docs/backlog/prs/pr-0195-st-29-11-dense-control-primitive-contract-normalization-and-generic-menu-split-behavior.md
  docs/backlog/prs/pr-0196-st-29-11-planner-wrapper-thinning-and-action-surface-adapter-cleanup.md
  docs/backlog/prs/pr-0197-st-29-11-editor-site-adoption-proof-and-segmented-toggle-contract-completion.md
  docs/backlog/stories/story-25-05-flunk-out-frenzy-mechanics-port-foundation.md
  docs/backlog/stories/story-29-01-klassrumskartan-canonical-operation-symbols-and-planner-control-primitives.md
  docs/backlog/stories/story-29-04-klassrumskartan-overview-hierarchy-and-class-first-dashboard-redesign.md
  docs/backlog/stories/story-29-05-klassrumskartan-grouping-and-seating-desktop-workspace-overhaul.md
  docs/backlog/stories/story-29-08-klassrumskartan-shared-custom-tooltip-system-and-global-hover-contract.md
  docs/backlog/stories/story-29-10-klassrumskartan-first-run-workspace-gating-and-prerequisite-guidance.md
  docs/backlog/stories/story-29-11-klassrumskartan-shared-site-and-app-dense-control-primitive-tightening.md
  docs/backlog/stories/story-29-12-klassrumskartan-canonical-symbol-language-and-discoverability-contract-completion.md
  docs/index.md
Due: docs-contract-validate

feat: implement Flunk Out Frenzy game mechanics foundation
  .agents/handoff.md
  .agents/repomix_packages/repomix-flappybirds-skriptoteket-port-architecture-analysis.xml
  .agents/repomix_packages/repomix-flappybirds-skriptoteket-port-brief.md
  .agents/repomix_packages/repomix-flappybirds-skriptoteket-port-files.txt
  docs/backlog/epics/epic-25-competitive-games-and-flunk-out-frenzy.md
  docs/backlog/prs/pr-0188-flunk-out-frenzy-machine-event-contract-expansion-and-physicsworld-decomposition.md
  docs/backlog/prs/pr-0189-flunk-out-frenzy-lanes-targets-and-tripwire-devices.md
  docs/backlog/prs/pr-0191-flunk-out-frenzy-mechanics-foundation-reassessment-and-go-no-go.md
  docs/backlog/stories/story-25-05-flunk-out-frenzy-mechanics-port-foundation.md
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/GameHost.spec.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/audio/AudioDirector.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/core/GameRuntime.spec.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/core/GameRuntime.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/core/runtimeEngineTypes.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/core/runtimeTypes.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/engine/PrototypeAlphaGameEngine.spec.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/engine/PrototypeAlphaGameEngine.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/physics/PhysicsWorld.spec.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/physics/PhysicsWorld.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/physics/colliderMeta.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/physics/createLaneDevices.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/physics/createTargetDevices.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/physics/machineEventEmitter.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/physics/physicsTypes.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/presentation/gameEffectTypes.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/render/PixiRenderer.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/rules/RuleEngine.spec.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/rules/RuleEngine.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/rules/ballLifecycleState.spec.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/rules/ballLifecycleState.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/rules/bonusJackpotState.spec.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/rules/bonusJackpotState.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/rules/ruleTypes.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/rules/scoreState.spec.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/rules/scoreState.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/table/prototypeAlphaTable.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/table/tableDefinitionTypes.ts
  frontend/apps/skriptoteket/src/views/apps/FlunkOutFrenzyView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/FlunkOutFrenzyView.vue
  scripts/playwright_fof_debug_check.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Add public helper abuse controls and current repo updates
  .agents/handoff.md
  docs/backlog/prs/pr-0209-flunk-out-frenzy-end-to-end-launch-to-drop-telemetry-contract.md
  docs/index.md
  src/skriptoteket/config.py
  src/skriptoteket/di/infrastructure/services.py
  src/skriptoteket/domain/errors.py
  src/skriptoteket/infrastructure/security/public_helper_request_throttle.py
  src/skriptoteket/protocols/public_helpers.py
  src/skriptoteket/web/api/v1/public_apps.py
  src/skriptoteket/web/api/v1/public_apps_classroom_planner.py
  src/skriptoteket/web/api/v1/public_apps_support.py
  src/skriptoteket/web/error_mapping.py
  src/skriptoteket/web/router.py
  tests/unit/infrastructure/security/test_public_helper_request_throttle.py
  tests/unit/web/test_public_apps_classroom_planner_imports.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Land ST-32-04 guest snapshot foundation and local game updates
  .agents/handoff.md
  docs/backlog/prs/pr-0209-flunk-out-frenzy-end-to-end-launch-to-drop-telemetry-contract.md
  docs/backlog/prs/pr-0210-flunk-out-frenzy-file-size-compliance-and-frontend-module-decomposition.md
  docs/backlog/prs/pr-0211-st-32-04-browser-owned-guest-snapshot-contract-and-storage-foundation.md
  docs/backlog/prs/pr-0211-st-32-04-option-a1-guest-snapshot-frontend-hardening.md
  docs/backlog/stories/story-25-05-flunk-out-frenzy-mechanics-port-foundation.md
  docs/index.md
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/GameHost.vue
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/core/GameRuntime.spec.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/core/GameRuntime.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/core/runtimeTypes.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/engine/PrototypeAlphaGameEngine.spec.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/engine/PrototypeAlphaGameEngine.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/physics/PhysicsWorld.spec.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/physics/PhysicsWorld.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/physics/launcherChain3d.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/physics/machineEventEmitter.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/physics/physicsTypes.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerEntryView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerEntryView.vue
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerGuestFingerprint.spec.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerGuestFingerprint.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerGuestSnapshot.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerGuestSnapshotMapping.spec.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerGuestSnapshotMapping.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerGuestStorage.spec.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerGuestStorage.ts
  frontend/apps/skriptoteket/src/views/apps/useClassroomPlannerGuestSnapshotStatus.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useClassroomPlannerGuestSnapshotStatus.ts
  scripts/_playwright_config.py
  scripts/_playwright_flunk_out_frenzy.py
  scripts/playwright_flunk_out_frenzy_launch_trace_check.py
  scripts/playwright_flunk_out_frenzy_route_check.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Add launch trace parity and operator summary gate
  .agents/handoff.md
  docs/backlog/prs/pr-0213-flunk-out-frenzy-live-trace-contract-parity-remediation.md
  docs/backlog/prs/pr-0214-flunk-out-frenzy-launch-trace-operational-summary-and-decision-gate.md
  docs/index.md
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/GameHost.vue
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/core/GameRuntime.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/core/runtimeTypes.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/physics/__tests__/PhysicsWorld.launcher.proof.spec-impl.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/physics/__tests__/PhysicsWorld.launcher.spec-support.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/physics/launchTraceBrowserDebug.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/physics/launchTraceContract.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/physics/launchTraceMatrix.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/physics/test-support/physicsTestTelemetry.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/gameHostTypes.ts
  scripts/_flunk_out_frenzy_launch_trace_summary.py
  scripts/_playwright_flunk_out_frenzy_launch_trace_parity.py
  scripts/playwright_flunk_out_frenzy_launch_trace_parity_check.py
  tests/unit/scripts/test_flunk_out_frenzy_launch_trace_summary.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Advance launcher truth remediation and add physical rail architect packet
  .agents/handoff.md
  .agents/repomix_packages/repomix-flunk-out-frenzy-physical-rail-architect-brief.md
  .agents/repomix_packages/repomix-flunk-out-frenzy-physical-rail-architect-context.md
  .agents/repomix_packages/repomix-flunk-out-frenzy-physical-rail-architect-files.txt
  .agents/repomix_packages/repomix-flunk-out-frenzy-physical-rail-architect-guidance.xml
  docs/backlog/prs/pr-0215-flunk-out-frenzy-launcher-runtime-shortcut-remediation-and-physical-truth-alignment.md
  docs/backlog/prs/pr-0216-flunk-out-frenzy-physical-rail-carrier-semantics-and-architect-guidance-packet.md
  docs/index.md
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/physics/__tests__/PhysicsWorld.launcher.behavior.spec-impl.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/physics/launchTraceContract.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/physics/launcher/LauncherTravelRoute.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/physics/launcherChain3d.ts
Due: docs-contract-validate, eslint

Align Flunk-Out Frenzy carrier planning with architect review
  .agents/handoff.md
  docs/backlog/epics/epic-25-competitive-games-and-flunk-out-frenzy.md
  docs/backlog/epics/epic-33-flunk-out-frenzy-physical-carrier-foundations-and-cutover-governance.md
  docs/backlog/prs/pr-0200-flunk-out-frenzy-launcher-release-path-and-donor-wall-face-representation.md
  docs/backlog/prs/pr-0202-flunk-out-frenzy-full-board-donor-3d-carrier-mapping-and-elevated-rails.md
  docs/backlog/prs/pr-0203-flunk-out-frenzy-elevated-rail-travel-and-left-handoff-mechanics.md
  docs/backlog/prs/pr-0215-flunk-out-frenzy-launcher-runtime-shortcut-remediation-and-physical-truth-alignment.md
  docs/backlog/prs/pr-0217-flunk-out-frenzy-carrier-role-schema-observation-spine-contract-and-launcher-world-ownership-rules.md
  docs/backlog/prs/pr-0218-flunk-out-frenzy-launcher-world-carrier-compiler-and-donor-overhead-collider-foundation.md
  docs/backlog/prs/pr-0219-flunk-out-frenzy-physical-carrier-observer-shadow-mode-and-cutover-readiness-gate.md
  docs/backlog/reviews/review-epic-33-flunk-out-frenzy-physical-carrier-foundations-and-cutover-governance.md
  docs/backlog/stories/story-25-06-flunk-out-frenzy-vpw-donor-topology-and-table-spec-rebuild.md
  docs/backlog/stories/story-33-01-flunk-out-frenzy-physical-carrier-foundations-and-cutover-governance.md
  docs/index.md
  docs/reference/ref-flunk-out-frenzy-physical-rail-architect-direction-2026-04-04.md
Due: docs-contract-validate

docs: align flunk-out-frenzy checkpoint and epic-33 review lane
  .agents/handoff.md
  docs/backlog/epics/epic-33-flunk-out-frenzy-physical-carrier-foundations-and-cutover-governance.md
  docs/backlog/prs/pr-0215-flunk-out-frenzy-launcher-runtime-shortcut-remediation-and-physical-truth-alignment.md
  docs/backlog/prs/pr-0217-flunk-out-frenzy-carrier-role-schema-observation-spine-contract-and-launcher-world-ownership-rules.md
  docs/backlog/prs/pr-0220-flunk-out-frenzy-epic-33-offline-review-packet-and-pre-implementation-decision-ask.md
  docs/backlog/stories/story-33-01-flunk-out-frenzy-physical-carrier-foundations-and-cutover-governance.md
  docs/index.md
Due: docs-contract-validate

feat(flunk-out-frenzy): add launcher carrier graph foundation
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/physics/launcher/LauncherContext.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/physics/launcher/LauncherSensors.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/physics/launcher/LauncherTravelRoute.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/physics/launcher/LauncherWorldGeometry.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/table/compilePinballTable.donorGeometry.spec-impl.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/table/compilePinballTable.validation.spec-impl.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/table/compiler/assertValidLauncherCarrierGraph.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/table/compiler/assertValidTableSpec.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/table/pinballTablePlanTypes.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/table/spec/specLauncher.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/table/tableDefinitionTypes.ts
Due: eslint

Close out ST-32-05 and update local dev/runtime fixes
  .agents/handoff.md
  compose.yaml
  docs/backlog/epics/epic-32-public-curated-app-access-foundation-and-klassrumskartan-demo.md
  docs/backlog/prs/pr-0188-flunk-out-frenzy-machine-event-contract-expansion-and-physicsworld-decomposition.md
  docs/backlog/prs/pr-0189-flunk-out-frenzy-lanes-targets-and-tripwire-devices.md
  docs/backlog/prs/pr-0192-flunk-out-frenzy-flipper-contact-model-and-explicit-launcher-state.md
  docs/backlog/prs/pr-0194-flunk-out-frenzy-ramps-gates-and-field-zone-semantics.md
  docs/backlog/prs/pr-0198-flunk-out-frenzy-vpw-donor-topology-and-spec-cutover.md
  docs/backlog/prs/pr-0199-flunk-out-frenzy-donor-semantic-representation-and-trigger-shape-fidelity.md
  docs/backlog/prs/pr-0200-flunk-out-frenzy-launcher-release-path-and-donor-wall-face-representation.md
  docs/backlog/prs/pr-0201-flunk-out-frenzy-shooter-corridor-wall263-de-overlap.md
  docs/backlog/prs/pr-0202-flunk-out-frenzy-full-board-donor-3d-carrier-mapping-and-elevated-rails.md
  docs/backlog/prs/pr-0203-flunk-out-frenzy-elevated-rail-travel-and-left-handoff-mechanics.md
  docs/backlog/prs/pr-0204-flunk-out-frenzy-ruthless-review-gate-for-launcher-input-and-overlay-seam.md
  docs/backlog/prs/pr-0205-flunk-out-frenzy-launcher-root-cause-proof-and-input-lifecycle-fix-plan.md
  docs/backlog/prs/pr-0206-flunk-out-frenzy-plunger-strike-root-cause-proof-and-telemetry-contract.md
  docs/backlog/prs/pr-0207-flunk-out-frenzy-launcher-strike-ready-rest-pose-alignment.md
  docs/backlog/prs/pr-0208-flunk-out-frenzy-strike-ready-rest-pose-and-release-integration-fix.md
  docs/backlog/prs/pr-0209-flunk-out-frenzy-end-to-end-launch-to-drop-telemetry-contract.md
  docs/backlog/prs/pr-0210-flunk-out-frenzy-file-size-compliance-and-frontend-module-decomposition.md
  docs/backlog/prs/pr-0211-st-32-04-option-a1-guest-snapshot-frontend-hardening.md
  docs/backlog/prs/pr-0218-flunk-out-frenzy-launcher-world-carrier-compiler-and-donor-overhead-collider-foundation.md
  docs/backlog/prs/pr-0221-st-32-05-authenticated-upgrade-orchestration-and-idempotent-import-policy-foundation.md
  docs/backlog/stories/story-32-05-authenticated-upgrade-orchestration-and-idempotent-import-policy.md
  docs/index.md
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/physics/PhysicsWorld.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/physics/launcher/LauncherContext.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/physics/launcher/LauncherWorldGeometry.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/physics/launcherChain3d.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/table/compilePinballTable.donorGeometry.spec-impl.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/table/compilePinballTable.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/table/compiler/compileLauncherWorldPlan.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/table/pinballTablePlanTypes.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerEntryView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerEntryView.vue
  frontend/apps/skriptoteket/src/views/apps/useClassroomPlannerGuestUpgrade.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useClassroomPlannerGuestUpgrade.ts
  frontend/pnpm-lock.yaml
Due: docs-contract-validate, eslint

Finalize planner width stability and guest-upgrade modal cleanup
  .agents/handoff.md
  docs/backlog/prs/pr-0223-st-32-06-public-klassrumskartan-demo-capability-matrix-and-browser-workspace-adoption.md
  docs/backlog/prs/pr-0224-st-29-11-desktop-first-planner-width-stability-and-shrink-to-fit-remediation.md
  docs/backlog/prs/pr-0225-st-29-11-desktop-first-planner-toolbar-priority-and-overflow-hardening.md
  docs/backlog/stories/story-29-11-klassrumskartan-shared-site-and-app-dense-control-primitive-tightening.md
  docs/backlog/stories/story-32-06-klassrumskartan-demo-adoption-on-the-public-browser-workspace-profile.md
  docs/index.md
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerEntryView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerEntryView.vue
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestUpgradePrompt.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestUpgradePrompt.vue
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerView.vue
  frontend/apps/skriptoteket/src/views/apps/useClassroomPlannerGuestUpgrade.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useClassroomPlannerGuestUpgrade.ts
Due: docs-contract-validate, eslint

Add guest transport seams for planner authoring modals
  .agents/handoff.md
  docs/backlog/prs/pr-0223-st-32-06-public-klassrumskartan-demo-capability-matrix-and-browser-workspace-adoption.md
  docs/backlog/stories/story-32-06-klassrumskartan-demo-adoption-on-the-public-browser-workspace-profile.md
  frontend/apps/skriptoteket/src/views/apps/components/CreateRoomTemplateModal.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/CreateRoomTemplateModal.vue
  frontend/apps/skriptoteket/src/views/apps/components/CreateRosterModal.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/CreateRosterModal.vue
  frontend/apps/skriptoteket/src/views/apps/useClassListImportFlow.ts
Due: docs-contract-validate, eslint

Implement PR-0223 checkpoint 1 public overview shell
  .agents/handoff.md
  docs/backlog/prs/pr-0223-st-32-06-public-klassrumskartan-demo-capability-matrix-and-browser-workspace-adoption.md
  docs/backlog/stories/story-32-06-klassrumskartan-demo-adoption-on-the-public-browser-workspace-profile.md
  frontend/apps/skriptoteket/src/views/PublicAppHostView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerEntryView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerEntryView.vue
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestOverviewView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestOverviewView.vue
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerGuestSnapshotMapping.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerOverviewCapabilities.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerClassWorkspace.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerClassWorkspace.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRosterOverviewPanel.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerTemplateOverviewPanel.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerTopPanel.vue
  frontend/apps/skriptoteket/src/views/apps/useClassroomPlannerGuestOverviewShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useClassroomPlannerGuestOverviewShell.ts
Due: docs-contract-validate, eslint

Implement PR-0223 public guest overview authoring
  .agents/handoff.md
  docs/backlog/prs/pr-0223-st-32-06-public-klassrumskartan-demo-capability-matrix-and-browser-workspace-adoption.md
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestOverviewView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestOverviewView.vue
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerGuestControllerSupport.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerGuestOverviewCrud.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerGuestSnapshotMapping.ts
  frontend/apps/skriptoteket/src/views/apps/useClassroomPlannerGuestController.ts
  frontend/apps/skriptoteket/src/views/apps/useClassroomPlannerGuestOverviewShell.spec.ts
  scripts/playwright_pr_0223_public_guest_overview_checkpoint2_check.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Finalize guest planner checkpoint 3 and queue shell parity
  .agents/handoff.md
  docs/backlog/epics/epic-32-public-curated-app-access-foundation-and-klassrumskartan-demo.md
  docs/backlog/prs/pr-0223-st-32-06-public-klassrumskartan-demo-capability-matrix-and-browser-workspace-adoption.md
  docs/backlog/prs/pr-0226-st-29-11-shared-planner-shell-parity-and-grouping-viewport-height-stabilization.md
  docs/backlog/stories/story-29-11-klassrumskartan-shared-site-and-app-dense-control-primitive-tightening.md
  docs/backlog/stories/story-32-06-klassrumskartan-demo-adoption-on-the-public-browser-workspace-profile.md
  docs/index.md
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestOverviewView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestOverviewView.vue
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestWorkspaceShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerGuestControllerSupport.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerGuestDraftMutations.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerGuestDraftPersistence.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerGuestDraftSession.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerGuestDraftWorkspace.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspaceToolbar.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspaceToolbar.vue
  frontend/apps/skriptoteket/src/views/apps/useClassroomPlannerGuestController.ts
  frontend/apps/skriptoteket/src/views/apps/useClassroomPlannerGuestOverviewShell.spec.ts
  scripts/playwright_pr_0223_public_guest_overview_checkpoint2_check.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Tighten planner desktop shell and grouping board contract
  .agents/handoff.md
  docs/backlog/epics/epic-29-klassrumskartan-desktop-first-workspace-overhaul.md
  docs/backlog/prs/pr-0226-st-29-11-shared-planner-shell-parity-and-grouping-viewport-height-stabilization.md
  docs/backlog/prs/pr-0227-st-29-11-exact-two-row-grouping-board-height-contract-at-desktop-baseline.md
  docs/backlog/reviews/review-epic-29-klassrumskartan-desktop-first-workspace-overhaul.md
  docs/backlog/stories/story-29-11-klassrumskartan-shared-site-and-app-dense-control-primitive-tightening.md
  docs/index.md
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestWorkspaceShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerGuestDraftPersistence.ts
  frontend/apps/skriptoteket/src/views/apps/components/GroupBoard.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/GroupBoard.vue
  frontend/apps/skriptoteket/src/views/apps/components/GroupCard.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/GroupCard.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspacePane.smart-rules.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspacePane.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerStudentPool.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceModeSurface.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/plannerWorkspaceLayout.ts
  frontend/apps/skriptoteket/src/views/apps/useClassroomPlannerGuestOverviewShell.spec.ts
  scripts/playwright_pr_0227_group_board_height_contract_check.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/workspace_builders.py
  tests/unit/application/apps/classroom_planner/test_draft_lifecycle.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Stabilize planner workspace scroll and rail contracts
  .agents/handoff.md
  .claude/skills/skriptoteket-frontend-specialist/SKILL.md
  docs/backlog/prs/pr-0228-st-29-11-follow-up-desktop-student-pool-rail-stickiness-restoration.md
  docs/backlog/reviews/review-epic-29-klassrumskartan-desktop-first-workspace-overhaul.md
  docs/backlog/stories/story-29-03-klassrumskartan-shared-desktop-workspace-composition-primitives.md
  docs/backlog/stories/story-29-05-klassrumskartan-grouping-and-seating-desktop-workspace-overhaul.md
  docs/backlog/stories/story-29-11-klassrumskartan-shared-site-and-app-dense-control-primitive-tightening.md
  docs/index.md
  frontend/apps/skriptoteket/src/App.vue
  frontend/apps/skriptoteket/src/assets/main.css
  frontend/apps/skriptoteket/src/components/layout/AuthLayout.vue
  frontend/apps/skriptoteket/src/components/layout/LandingLayout.vue
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestOverviewView.vue
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestWorkspaceShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerView.vue
  frontend/apps/skriptoteket/src/views/apps/components/GroupBoard.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/GroupCard.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/GroupCard.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspacePane.smart-rules.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspacePane.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspacePane.smart-rules.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspacePane.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerStudentPool.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/components/RoomCanvas.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/RoomCanvas.vue
  frontend/apps/skriptoteket/src/views/apps/plannerWorkspaceLayout.ts
  scripts/playwright_pr_0227_group_board_height_contract_check.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Implement guest smart parity and harden public helpers
  .agents/handoff.md
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestOverviewView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestOverviewView.vue
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestWorkspaceShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerGuestControllerSupport.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerGuestDraftSession.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerGuestDraftWorkspace.spec.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerGuestDraftWorkspace.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingSettingsDrawer.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingSettingsDrawer.vue
  frontend/apps/skriptoteket/src/views/apps/useClassroomPlannerGuestController.ts
  frontend/apps/skriptoteket/src/views/apps/usePublicSmartGroupingRun.spec.ts
  frontend/apps/skriptoteket/src/views/apps/usePublicSmartGroupingRun.ts
  frontend/apps/skriptoteket/src/views/apps/usePublicSmartSeatingRun.spec.ts
  frontend/apps/skriptoteket/src/views/apps/usePublicSmartSeatingRun.ts
  src/skriptoteket/application/curated_apps/classroom_planner/__init__.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/public_smart_grouping.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/public_smart_run_support.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/public_smart_seating.py
  src/skriptoteket/application/curated_apps/classroom_planner/public_smart_run_contracts.py
  src/skriptoteket/config.py
  src/skriptoteket/di/curated_apps.py
  src/skriptoteket/di/infrastructure/services.py
  src/skriptoteket/infrastructure/security/public_helper_request_throttle.py
  src/skriptoteket/protocols/public_helpers.py
  src/skriptoteket/web/api/v1/public_apps_classroom_planner.py
  src/skriptoteket/web/api/v1/public_apps_classroom_planner_smart.py
  src/skriptoteket/web/router.py
  tests/integration/migration_schema_assertions.py
  tests/unit/application/apps/classroom_planner/test_public_smart_run.py
  tests/unit/infrastructure/security/test_public_helper_request_throttle.py
  tests/unit/web/test_public_apps_classroom_planner_imports.py
  tests/unit/web/test_public_apps_classroom_planner_smart.py
Due: ruff-format, ruff-lint, mypy, pytest, eslint

Add Hemma deploy launcher and ShellCheck gate
  .agents/handoff.md
  .claude/skills/skriptoteket-local-devops/SKILL.md
  .pre-commit-config.yaml
  docs/adr/adr-0081-hemma-deploy-entrypoint-and-script-first-local-launcher.md
  docs/backlog/epics/epic-09-security-hardening.md
  docs/backlog/reviews/review-st-09-09-hemma-deploy-entrypoint-and-script-first-local-launcher.md
  docs/backlog/stories/story-09-09-hemma-deploy-entrypoint-and-script-first-local-launcher.md
  docs/index.md
  docs/runbooks/runbook-home-server.md
  pdm.lock
  pyproject.toml
  scripts/hemma_deploy_and_verify_seating_export.sh
  scripts/hemma_deploy_monitor.sh
  scripts/hemma_deploy_start.sh
Due: docs-contract-validate

Compact handoff and finalize development changelog reference
  .agents/handoff.md
  .claude/skills/skriptoteket-backend-dev/SKILL.md
  AGENTS.md
  docs/index.md
  docs/reference/ref-development-changelog.md
  docs/reference/ref-implementation-map-script-hub-v0-2.md
  docs/reference/ref-review-workflow.md
  docs/reference/ref-tool-editor-dx-review-2025-12-29.md
  docs/reference/ref-tool-editor-framework-codemap.md
  docs/reference/reports/ref-ai-edit-suggestions-kb-context-budget-blocker.md
  docs/reference/reports/ref-vue-spa-migration-roadmap.md
Due: docs-contract-validate

Close guest planner follow-ups and green frontend suite
  .agents/handoff.md
  .agents/rules/075-browser-automation.md
  AGENTS.md
  docs/backlog/epics/epic-32-public-curated-app-access-foundation-and-klassrumskartan-demo.md
  docs/backlog/prs/pr-0229-st-29-11-desktop-first-planner-toolbar-breakpoint-overflow-escalation-and-undo-redo-shortcut-parity.md
  docs/backlog/prs/pr-0232-st-32-06-guest-local-draft-parity-direct-download-export-and-account-only-history-affordance-polish.md
  docs/backlog/prs/pr-0233-st-32-05-follow-up-authenticated-guest-upgrade-template-reuse-and-seat-remap-hardening.md
  docs/backlog/prs/pr-0234-st-32-06-guest-grouping-classroom-context-persistence-and-seating-affordance-hardening.md
  docs/backlog/prs/pr-0235-st-24-04-shared-room-viewport-fit-scale-contract-reassessment-and-test-realignment.md
  docs/backlog/prs/pr-0236-st-32-06-overview-action-capability-test-realignment-and-import-boundary-assertions.md
  docs/backlog/stories/story-32-05-authenticated-upgrade-orchestration-and-idempotent-import-policy.md
  docs/backlog/stories/story-32-06-klassrumskartan-demo-adoption-on-the-public-browser-workspace-profile.md
  docs/index.md
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestWorkspaceShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerGuestTemplateContext.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRosterOverviewPanel.spec.ts
  frontend/apps/skriptoteket/src/views/apps/roomBuilderViewport.spec.ts
  frontend/apps/skriptoteket/src/views/apps/roomBuilderViewport.ts
  frontend/apps/skriptoteket/src/views/apps/useClassroomPlannerGuestController.ts
  frontend/apps/skriptoteket/src/views/apps/useClassroomPlannerGuestGroupingContext.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useRoomViewportZoom.spec.ts
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/guest_upgrade_assets.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/guest_upgrade_template_reuse.py
  tests/unit/application/apps/classroom_planner/test_guest_upgrade_template_reuse.py
  tests/unit/web/apps/classroom_planner/test_guest_upgrade_api.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

docs: refresh epic 32 and story 32-06 status
  .agents/handoff.md
  docs/backlog/epics/epic-32-public-curated-app-access-foundation-and-klassrumskartan-demo.md
  docs/backlog/stories/story-32-06-klassrumskartan-demo-adoption-on-the-public-browser-workspace-profile.md
Due: docs-contract-validate

docs: scaffold public landing planning lane
  .agents/handoff.md
  docs/backlog/epics/epic-32-public-curated-app-access-foundation-and-klassrumskartan-demo.md
  docs/backlog/prs/pr-0237-st-32-07-landing-public-entry-information-architecture-and-canonical-mockup-preview.md
  docs/backlog/prs/pr-0238-st-32-07-landing-header-and-hero-public-entry-cutover.md
  docs/backlog/prs/pr-0239-st-32-08-featured-public-app-showcase-and-authenticated-value-preview-surfaces.md
  docs/backlog/prs/pr-0240-st-32-09-spa-catch-all-route-and-malformed-public-route-recovery.md
  docs/backlog/stories/story-32-07-public-landing-entry-hierarchy-and-mockup-grounded-cta-cutover.md
  docs/backlog/stories/story-32-08-featured-public-app-showcase-and-authenticated-value-previews.md
  docs/backlog/stories/story-32-09-canonical-public-route-recovery-and-spa-unmatched-state.md
  docs/index.md
Due: docs-contract-validate

Add ST-32-07 landing mockup submissions
  .agents/handoff.md
  docs/mockups/st-32-07-public-landing-discoverability/designer-a.html
  docs/mockups/st-32-07-public-landing-discoverability/designer-cascade.html
  docs/mockups/st-32-07-public-landing-discoverability/designer-codex.html
Due: docs-contract-validate

Refine landing mockup hierarchy
  .agents/rules/045-huleedu-design-system.md
  docs/mockups/st-32-07-public-landing-discoverability/designer-codex.html
Due: docs-contract-validate

docs: lock ST-32-07 mockup blueprint
  .agents/handoff.md
  docs/backlog/prs/pr-0237-st-32-07-landing-public-entry-information-architecture-and-canonical-mockup-preview.md
  docs/backlog/stories/story-32-07-public-landing-entry-hierarchy-and-mockup-grounded-cta-cutover.md
  docs/mockups/st-32-07-public-landing-discoverability/index.html
Due: docs-contract-validate

Finalize PR-0238 landing cutover and local docs updates
  .agents/handoff.md
  docs/backlog/epics/epic-11-full-vue-spa-migration.md
  docs/backlog/prs/pr-0238-st-32-07-landing-header-and-hero-public-entry-cutover.md
  docs/backlog/prs/pr-0241-st-11-25-measurement-harness-and-pilot-baseline-capture.md
  docs/backlog/reviews/review-st-11-25-spa-route-load-performance-and-network-isolation-audit.md
  docs/backlog/stories/story-11-25-spa-route-load-performance-and-network-isolation-audit.md
  docs/index.md
  frontend/apps/skriptoteket/src/App.spec.ts
  frontend/apps/skriptoteket/src/components/brand/BrandLogo.vue
  frontend/apps/skriptoteket/src/components/home/LandingClassroomPreview.vue
  frontend/apps/skriptoteket/src/components/layout/LandingLayout.spec.ts
  frontend/apps/skriptoteket/src/components/layout/LandingLayout.vue
  frontend/apps/skriptoteket/src/composables/auth/loginRedirects.ts
  frontend/apps/skriptoteket/src/views/ForgotPasswordView.spec.ts
  frontend/apps/skriptoteket/src/views/ForgotPasswordView.vue
  frontend/apps/skriptoteket/src/views/HomeView.spec.ts
  frontend/apps/skriptoteket/src/views/HomeView.vue
  frontend/apps/skriptoteket/src/views/ResetPasswordView.spec.ts
  frontend/apps/skriptoteket/src/views/ResetPasswordView.vue
Due: docs-contract-validate, eslint

Ship PR-0239 landing showcase and refresh planning docs
  .agents/handoff.md
  docs/backlog/epics/epic-32-public-curated-app-access-foundation-and-klassrumskartan-demo.md
  docs/backlog/prs/pr-0238-st-32-07-landing-header-and-hero-public-entry-cutover.md
  docs/backlog/prs/pr-0239-st-32-08-featured-public-app-showcase-and-authenticated-value-preview-surfaces.md
  docs/backlog/prs/pr-0241-st-11-25-measurement-harness-and-pilot-baseline-capture.md
  docs/backlog/stories/story-32-07-public-landing-entry-hierarchy-and-mockup-grounded-cta-cutover.md
  docs/backlog/stories/story-32-08-featured-public-app-showcase-and-authenticated-value-previews.md
  frontend/apps/skriptoteket/src/components/home/LandingAuthenticatedPreview.vue
  frontend/apps/skriptoteket/src/components/home/LandingFeaturedClassroom.vue
  frontend/apps/skriptoteket/src/views/HomeView.spec.ts
  frontend/apps/skriptoteket/src/views/HomeView.vue
Due: docs-contract-validate, eslint

Advance auth-entry planning, perf slicing, and guest-upgrade follow-ups
  .agents/handoff.md
  .agents/rules/075-browser-automation.md
  docs/adr/adr-0076-huleedu-owned-browser-session-authority-for-skriptoteket.md
  docs/backlog/epics/epic-11-full-vue-spa-migration.md
  docs/backlog/epics/epic-28-skriptoteket-auth-authority-cutover-to-huleedu.md
  docs/backlog/epics/epic-32-public-curated-app-access-foundation-and-klassrumskartan-demo.md
  docs/backlog/prs/pr-0240-st-32-09-spa-catch-all-route-and-malformed-public-route-recovery.md
  docs/backlog/prs/pr-0241-st-11-25-measurement-harness-and-pilot-baseline-capture.md
  docs/backlog/prs/pr-0241-st-11-25-playwright-tree-normalization.md
  docs/backlog/prs/pr-0242-st-32-10-dedicated-auth-entry-page-and-redirect-preserving-login-handoff.md
  docs/backlog/prs/pr-0243-st-11-25-lhci-and-bundle-visualizer-toolchain.md
  docs/backlog/prs/pr-0244-st-11-25-pilot-route-inventory-and-trace-baselines.md
  docs/backlog/prs/pr-0245-st-32-05-empty-guest-snapshot-and-zero-effect-import-ui-reconciliation.md
  docs/backlog/reviews/review-epic-28-skriptoteket-auth-authority-cutover-to-huleedu.md
  docs/backlog/stories/story-11-05-auth-flow-and-route-guards.md
  docs/backlog/stories/story-11-22-remove-login-route.md
  docs/backlog/stories/story-11-25-spa-route-load-performance-and-network-isolation-audit.md
  docs/backlog/stories/story-28-02-auth-interruption-and-protected-route-handoff-on-huleedu-owned-session.md
  docs/backlog/stories/story-32-05-authenticated-upgrade-orchestration-and-idempotent-import-policy.md
  docs/backlog/stories/story-32-09-canonical-public-route-recovery-and-spa-unmatched-state.md
  docs/backlog/stories/story-32-10-dedicated-auth-entry-page-and-redirect-preserving-login-handoff.md
  docs/index.md
  frontend/apps/skriptoteket/src/App.vue
  frontend/apps/skriptoteket/src/composables/useLoginModal.ts
  frontend/apps/skriptoteket/src/router/index.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerEntryView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerEntryView.vue
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerGuestUpgradeOutcome.ts
  frontend/apps/skriptoteket/src/views/apps/useClassroomPlannerGuestUpgrade.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useClassroomPlannerGuestUpgrade.ts
Due: docs-contract-validate, eslint

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  mypy: any of: \.py$
  pytest: any of: \.py$
  docs-contract-validate: any of: ^docs/
  agent-doc-budgets: any of: ^\.agent/(readme-first\.md|handoff\.md)$
  eslint: any of: ^frontend/apps/skriptoteket/src/.*\.(vue|ts|js)$
