Repository paunchygent/skriptoteket: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

ruff-format:
  name: Ruff format (staged files)
  entry: pdm run ruff format --force-exclude
  language: system
  pass_filenames: true

ruff-lint:
  name: Ruff lint (staged files)
  entry: pdm run ruff check --force-exclude
  language: system
  pass_filenames: true

mypy:
  name: Mypy typecheck (src + tests)
  entry: pdm run typecheck
  language: system
  pass_filenames: false

pytest:
  name: Pytest (unit suite)
  entry: pdm run test
  language: system
  pass_filenames: false

docs-contract-validate:
  name: Docs contract validate (placement + naming + frontmatter)
  entry: pdm run docs-validate
  language: system
  pass_filenames: false

agent-doc-budgets:
  name: Agent docs line budgets (.agent/*)
  entry: pdm run python -m scripts.check_agent_doc_budgets
  language: system
  pass_filenames: false

eslint:
  name: ESLint (frontend)
  entry: pnpm --filter @skriptoteket/spa lint
  language: system
  pass_filenames: false

Count Klassrumskartan shares as history exports
  docs/backlog/prs/pr-0307-st-26-06-share-as-export-smart-history-provenance.md
  docs/backlog/reviews/review-pr-0307-share-as-export-smart-history-provenance.md
  docs/backlog/stories/story-26-06-klassrumskartan-shareable-html-css-export-links.md
  docs/backlog/stories/story-29-11-klassrumskartan-shared-site-and-app-dense-control-primitive-tightening.md
  docs/index.md
  migrations/versions/f2a7c9d4e6b8_add_share_checkpoint_provenance.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/authenticated_shares.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/checkpoint_recorders.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/grouping_export_job_completion.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/grouping_export_jobs.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/seating_export_job_completion.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/seating_export_jobs.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/share_artifacts.py
  src/skriptoteket/cli/commands/smoke_seating_export_readiness.py
  src/skriptoteket/di/curated_apps.py
  src/skriptoteket/domain/curated_apps/classroom_planner/checkpoint_provenance.py
  src/skriptoteket/domain/curated_apps/classroom_planner/checkpoints.py
  src/skriptoteket/domain/curated_apps/classroom_planner/grouping_checkpoints.py
  src/skriptoteket/infrastructure/db/models/classroom_planner_grouping_export_checkpoint.py
  src/skriptoteket/infrastructure/db/models/classroom_planner_seating_export_checkpoint.py
  src/skriptoteket/infrastructure/repositories/classroom_planner_grouping_export_checkpoints.py
  src/skriptoteket/infrastructure/repositories/classroom_planner_seating_export_checkpoints.py
  tests/integration/migration_revision_coverage.py
  tests/integration/migration_schema_assertions.py
  tests/unit/application/apps/classroom_planner/test_authenticated_shares.py
  tests/unit/application/apps/classroom_planner/test_grouping_export_job_completion.py
  tests/unit/application/apps/classroom_planner/test_seating_export_job_completion.py
  tests/unit/infrastructure/repositories/test_classroom_planner_grouping_export_checkpoints.py
  tests/unit/infrastructure/repositories/test_classroom_planner_seating_export_checkpoints.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Fix phone grouping toolbar overflow
  docs/backlog/prs/pr-0309-st-29-11-phone-grouping-toolbar-distribution-overflow-regression.md
  docs/backlog/prs/pr-0310-st-27-09-phone-fixed-seat-rules-map-affordance.md
  docs/backlog/prs/pr-0311-st-24-04-phone-room-template-modal-stabilization.md
  docs/backlog/stories/story-24-04-group-seating-studio-seating-fundamentals-and-saved-arrangements.md
  docs/backlog/stories/story-27-09-klassrumskartan-fixed-seat-rules-and-classroom-view-first-authoring.md
  docs/backlog/stories/story-29-11-klassrumskartan-shared-site-and-app-dense-control-primitive-tightening.md
  docs/backlog/stories/story-29-17-klassrumskartan-small-screen-rules-redesign.md
  docs/index.md
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspaceToolbar.overflow.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspaceToolbar.vue
  scripts/playwright_pr_0302_toolbar_overflow_parity.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Implement phone fixed-seat rules map
  docs/backlog/prs/pr-0310-st-27-09-phone-fixed-seat-rules-map-affordance.md
  docs/backlog/stories/story-27-09-klassrumskartan-fixed-seat-rules-and-classroom-view-first-authoring.md
  docs/backlog/stories/story-29-17-klassrumskartan-small-screen-rules-redesign.md
  frontend/apps/skriptoteket/src/assets/klassrumskartan-phone-workspace.css
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerSeatRuleMarkers.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerPhoneClassroomSeatMap.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerPhoneClassroomSeatMap.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerPhoneFixedSeatRulePanel.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerPhoneFixedSeatRulePanel.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerPhoneRelationshipRuleSelection.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRulesMapCanvas.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRulesMapCanvas.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRulesMapPanel.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRulesSeatNode.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRulesWorkspacePane.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRulesWorkspacePane.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspacePane.smart-rules.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspacePane.vue
  frontend/apps/skriptoteket/src/views/apps/components/RoomCanvas.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/RoomCanvas.vue
  frontend/apps/skriptoteket/src/views/apps/components/SeatNode.vue
  frontend/apps/skriptoteket/src/views/apps/useClassroomPlannerGuestController.ts
  frontend/apps/skriptoteket/src/views/apps/useClassroomPlannerGuestOverviewShell.spec.ts
  scripts/playwright_pr_0310_phone_fixed_seat_rules_map.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/public_smart_grouping.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/public_smart_seating.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/smart_grouping.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/smart_seating.py
  tests/unit/application/apps/classroom_planner/test_public_smart_run.py
  tests/unit/application/apps/classroom_planner/test_smart_seating.py
  tests/unit/scripts/test_playwright_script_surface.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Stabilize phone room template modal
  docs/backlog/prs/pr-0311-st-24-04-phone-room-template-modal-stabilization.md
  docs/backlog/reviews/review-pr-0311-phone-room-template-modal-stabilization.md
  docs/backlog/stories/story-24-04-group-seating-studio-seating-fundamentals-and-saved-arrangements.md
  docs/backlog/stories/story-29-16-klassrumskartan-small-screen-seating-redesign.md
  frontend/apps/skriptoteket/src/assets/klassrumskartan-responsive-workspace.css
  frontend/apps/skriptoteket/src/components/icons/IconSave.vue
  frontend/apps/skriptoteket/src/components/icons/index.ts
  frontend/apps/skriptoteket/src/views/apps/components/CreateRoomTemplateModal.phone.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/CreateRoomTemplateModal.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/CreateRoomTemplateModal.vue
  frontend/apps/skriptoteket/src/views/apps/components/RoomTemplateBuilderSurface.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/RoomTemplateBuilderSurface.vue
  frontend/apps/skriptoteket/src/views/apps/components/RoomTemplateEditorSidebar.vue
  frontend/apps/skriptoteket/src/views/apps/useRoomTemplateEditorState.ts
  scripts/_playwright_classroom_planner.py
  scripts/playwright_pr_0302_toolbar_overflow_parity.py
  scripts/playwright_pr_0303_public_guest_overview_distribution.py
  scripts/playwright_pr_0310_phone_fixed_seat_rules_map.py
  scripts/playwright_pr_0311_phone_room_template_modal.py
  tests/unit/scripts/test_playwright_script_surface.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Add shared phone classroom map gestures
  docs/backlog/prs/pr-0312-shared-phone-classroom-map-touch-viewport-gestures.md
  docs/backlog/reviews/review-pr-0312-shared-phone-classroom-map-touch-viewport-gestures.md
  docs/backlog/stories/story-24-04-group-seating-studio-seating-fundamentals-and-saved-arrangements.md
  docs/backlog/stories/story-27-09-klassrumskartan-fixed-seat-rules-and-classroom-view-first-authoring.md
  docs/backlog/stories/story-29-16-klassrumskartan-small-screen-seating-redesign.md
  docs/backlog/stories/story-29-17-klassrumskartan-small-screen-rules-redesign.md
  docs/index.md
  frontend/apps/skriptoteket/src/assets/klassrumskartan-phone-workspace.css
  frontend/apps/skriptoteket/src/assets/klassrumskartan-responsive-workspace.css
  frontend/apps/skriptoteket/src/views/apps/components/CreateRoomTemplateModal.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerPhoneClassroomSeatMap.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerPhoneClassroomSeatMap.vue
  frontend/apps/skriptoteket/src/views/apps/components/RoomTemplateBuilderSurface.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/RoomTemplateBuilderSurface.vue
  frontend/apps/skriptoteket/src/views/apps/phoneClassroomSeatMapPresentation.ts
  frontend/apps/skriptoteket/src/views/apps/useRoomTemplateEditorState.ts
  frontend/apps/skriptoteket/src/views/apps/useRoomTouchViewportGestures.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useRoomTouchViewportGestures.ts
  frontend/apps/skriptoteket/src/views/apps/useRoomViewportZoom.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useRoomViewportZoom.ts
  scripts/_playwright_touch.py
  scripts/playwright_pr_0310_phone_fixed_seat_rules_map.py
  scripts/playwright_pr_0311_phone_room_template_modal.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Repair solver marker diagnostics and phone map pinch
  docs/backlog/prs/pr-0313-shared-phone-classroom-map-real-device-pinch-remediation.md
  docs/backlog/prs/pr-0314-solver-owned-rule-marker-semantics.md
  docs/backlog/reviews/review-pr-0314-solver-owned-rule-marker-semantics.md
  docs/index.md
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerDerivedState.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerFixedSeatRuleActions.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerGuestDraftHistoryActions.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerGuestDraftSession.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerSeatRuleMarkers.spec.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerSeatRuleMarkers.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerSmartRuleActions.spec.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerSmartRuleActions.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerStateSupport.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerPhoneClassroomSeatMap.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerPhoneClassroomSeatMap.vue
  frontend/apps/skriptoteket/src/views/apps/phoneClassroomSeatMapLayout.ts
  frontend/apps/skriptoteket/src/views/apps/useClassroomPlannerRuleDiagnostics.ts
  frontend/apps/skriptoteket/src/views/apps/useClassroomState.ts
  src/skriptoteket/domain/curated_apps/classroom_planner/smart_seating_candidate_scoring.py
  src/skriptoteket/domain/curated_apps/classroom_planner/smart_seating_scoring.py
  tests/unit/domain/curated_apps/classroom_planner/test_smart_seating_keep_near_geometry.py
  tests/unit/domain/curated_apps/classroom_planner/test_smart_seating_solver.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Anchor phone map pinch zoom
  docs/backlog/prs/pr-0313-shared-phone-classroom-map-real-device-pinch-remediation.md
  frontend/apps/skriptoteket/src/assets/klassrumskartan-phone-workspace.css
  frontend/apps/skriptoteket/src/views/apps/components/PlannerPhoneClassroomSeatMap.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerPhoneClassroomSeatMap.vue
  frontend/apps/skriptoteket/src/views/apps/phoneClassroomSeatMapPresentation.ts
  frontend/apps/skriptoteket/src/views/apps/useAnchoredRoomViewportZoom.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useAnchoredRoomViewportZoom.ts
  frontend/apps/skriptoteket/src/views/apps/useRoomTouchViewportGestures.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useRoomTouchViewportGestures.ts
Due: docs-contract-validate, eslint

Rehydrate rule diagnostics and stabilize phone pinch
  docs/backlog/prs/pr-0313-shared-phone-classroom-map-real-device-pinch-remediation.md
  docs/backlog/prs/pr-0314-solver-owned-rule-marker-semantics.md
  docs/backlog/reviews/review-pr-0314-solver-owned-rule-marker-semantics.md
  frontend/apps/skriptoteket/src/api/openapi.d.ts
  frontend/apps/skriptoteket/src/assets/klassrumskartan-phone-workspace.css
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerGuestDraftSession.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerPayloadNormalization.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerSeatRuleMarkers.spec.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerSeatRuleMarkers.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerStateSupport.spec.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerStateSupport.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerTypes.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerPhoneClassroomSeatMap.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerPhoneClassroomSeatMap.vue
  frontend/apps/skriptoteket/src/views/apps/useAnchoredRoomViewportZoom.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useAnchoredRoomViewportZoom.ts
  frontend/apps/skriptoteket/src/views/apps/useClassroomState.ts
  frontend/apps/skriptoteket/src/views/apps/useRoomTouchViewportGestures.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useRoomTouchViewportGestures.ts
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/drafts.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/public_smart_seating.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/smart_seating.py
  src/skriptoteket/application/curated_apps/classroom_planner/smart_rule_diagnostic_contracts.py
  src/skriptoteket/application/curated_apps/classroom_planner/smart_rule_diagnostic_freshness.py
  src/skriptoteket/di/curated_apps.py
  src/skriptoteket/domain/curated_apps/classroom_planner/smart_rule_diagnostics.py
  src/skriptoteket/web/api/v1/apps_classroom_planner.py
  tests/unit/application/apps/classroom_planner/test_draft_workspace_diagnostics.py
  tests/unit/application/apps/classroom_planner/test_smart_rule_diagnostic_freshness.py
  tests/unit/scripts/test_klassrumskartan_surface_tokens.py
  tests/unit/web/apps/classroom_planner/test_draft_workspace_api.py
  tests/unit/web/apps/classroom_planner/test_smart_seating_api.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Fix rules workspace active rule state
  .codex/long-term-memory/entries/session-2026-05-11-pr-0310-through-pr-0314-phone-rules-history.md
  .codex/long-term-memory/index.md
  docs/backlog/prs/pr-0315-st-29-17-phone-rules-active-rule-management.md
  docs/backlog/stories/story-29-17-klassrumskartan-small-screen-rules-redesign.md
  docs/index.md
  frontend/apps/skriptoteket/src/assets/klassrumskartan-phone-workspace.css
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestWorkspaceShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerGuestDraftSession.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerSmartRuleActions.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerPhoneRelationshipRuleSelection.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerPhoneRulesSummary.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerPhoneRulesSummary.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRulesMapCanvas.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRulesMapCanvas.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRulesMapPanel.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRulesToolRail.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRulesWorkspacePane.phone-rules-summary.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRulesWorkspacePane.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRulesWorkspacePane.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerStudentPool.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/plannerPhoneRuleToolRows.ts
  frontend/apps/skriptoteket/src/views/apps/plannerRulesWorkspaceViewState.ts
  frontend/apps/skriptoteket/src/views/apps/useClassroomState.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useClassroomState.ts
  frontend/apps/skriptoteket/src/views/apps/useDraftPersistenceLane.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useDraftPersistenceLane.ts
  frontend/apps/skriptoteket/src/views/apps/useRosterSmartRuleLane.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useRosterSmartRuleLane.ts
  frontend/apps/skriptoteket/src/views/apps/useSmartRuleUiState.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useSmartRuleUiState.ts
  scripts/_playwright_huleedu_auth.py
  scripts/playwright_pr_0315_phone_rules_active_management.py
  tests/unit/scripts/test_playwright_script_surface.py
  tests/unit/web/test_pr_0253_auth_retirement_contracts.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Soft-degrade Smart history first runs
  docs/backlog/epics/epic-27-klassrumskartan-smart-assignment-v1.md
  docs/backlog/prs/pr-0154-klassrumskartan-smart-seating-v1-backend-run-use-history-and-teacher-edge-placement.md
  docs/backlog/prs/pr-0167-st-27-04-smart-grouping-v1-grouping-history-and-live-seating-influence.md
  docs/backlog/prs/pr-0307-st-26-06-share-as-export-smart-history-provenance.md
  docs/backlog/prs/pr-0316-st-27-05-smart-history-first-run-soft-degrade.md
  docs/backlog/reviews/review-epic-27-klassrumskartan-smart-assignment-v1.md
  docs/backlog/reviews/review-pr-0316-smart-history-first-run-soft-degrade.md
  docs/backlog/stories/story-27-03-klassrumskartan-smart-seating-v1.md
  docs/backlog/stories/story-27-04-klassrumskartan-smart-grouping-v1.md
  docs/backlog/stories/story-27-05-klassrumskartan-smart-explanations-and-alternate-options.md
  docs/backlog/stories/story-29-11-klassrumskartan-shared-site-and-app-dense-control-primitive-tightening.md
  docs/index.md
  docs/reference/ref-klassrumskartan-smart-assignment-v1-decision-memo-2026-03-25.md
  frontend/apps/skriptoteket/src/api/openapi.d.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerTypes.ts
  frontend/apps/skriptoteket/src/views/apps/usePublicSmartGroupingRun.ts
  frontend/apps/skriptoteket/src/views/apps/usePublicSmartSeatingRun.ts
  frontend/apps/skriptoteket/src/views/apps/useSmartGroupingRun.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useSmartGroupingRun.ts
  frontend/apps/skriptoteket/src/views/apps/useSmartSeatingRun.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useSmartSeatingRun.ts
  scripts/playwright_pr_0316_smart_history_first_run_soft_degrade.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/smart_grouping.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/smart_seating.py
  src/skriptoteket/web/api/v1/apps_classroom_planner_grouping.py
  src/skriptoteket/web/api/v1/apps_classroom_planner_seating.py
  tests/unit/application/apps/classroom_planner/test_smart_grouping.py
  tests/unit/application/apps/classroom_planner/test_smart_seating.py
  tests/unit/scripts/test_playwright_script_surface.py
  tests/unit/web/apps/classroom_planner/test_smart_grouping_api.py
  tests/unit/web/apps/classroom_planner/test_smart_seating_api.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Fix smart seating history diversity scoring
  docs/backlog/epics/epic-27-klassrumskartan-smart-assignment-v1.md
  docs/backlog/prs/pr-0317-st-27-03-smart-seating-history-diversity-scoring.md
  docs/backlog/stories/story-27-03-klassrumskartan-smart-seating-v1.md
  docs/backlog/stories/story-27-05-klassrumskartan-smart-explanations-and-alternate-options.md
  docs/index.md
  docs/reference/ref-klassrumskartan-smart-assignment-v1-decision-memo-2026-03-25.md
  src/skriptoteket/domain/curated_apps/classroom_planner/smart_seating.py
  src/skriptoteket/domain/curated_apps/classroom_planner/smart_seating_candidate_scoring.py
  src/skriptoteket/domain/curated_apps/classroom_planner/smart_seating_history.py
  src/skriptoteket/domain/curated_apps/classroom_planner/smart_seating_history_scoring.py
  src/skriptoteket/domain/curated_apps/classroom_planner/smart_seating_pattern_scoring.py
  src/skriptoteket/domain/curated_apps/classroom_planner/smart_seating_scoring.py
  src/skriptoteket/domain/curated_apps/classroom_planner/smart_seating_search.py
  tests/unit/domain/curated_apps/classroom_planner/smart_seating_solver_scenarios.py
  tests/unit/domain/curated_apps/classroom_planner/test_smart_seating_solver.py
  tests/unit/domain/curated_apps/classroom_planner/test_smart_seating_solver_bf25_g104.py
  tests/unit/domain/curated_apps/classroom_planner/test_smart_seating_solver_g104_normal_rules.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Add Exam Converter source file intake
  docs/backlog/prs/pr-0325-st-21-03-exam-converter-authenticated-runtime-ui-and-save-remediation.md
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedView.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterWorkflowRailShell.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterSourceFile.ts
Due: docs-contract-validate, eslint

Complete Exam Converter local intake affordances
  .codex/handoff.md
  .gitignore
  docs/backlog/prs/pr-0325-st-21-03-exam-converter-authenticated-runtime-ui-and-save-remediation.md
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedView.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterWorkflowRailShell.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterSourceFile.ts
Due: docs-contract-validate, eslint

Add Exam Converter conversion progress scaffold
  .codex/handoff.md
  docs/backlog/prs/pr-0325-st-21-03-exam-converter-authenticated-runtime-ui-and-save-remediation.md
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedConversionSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedView.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterConversionProgress.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterResultStrip.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterWorkflowRailShell.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterConversionState.ts
Due: docs-contract-validate, eslint

Wire authenticated Exam Converter runtime bridge
  .codex/handoff.md
  docs/backlog/prs/pr-0325-st-21-03-exam-converter-authenticated-runtime-ui-and-save-remediation.md
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedConversionSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedRuntimeBridgeSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedView.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterAuthenticatedRuntime.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterConversionState.ts
Due: docs-contract-validate, eslint

Implement exam converter review and file actions
  .codex/handoff.md
  compose.yaml
  docs/backlog/prs/pr-0325-st-21-03-exam-converter-authenticated-runtime-ui-and-save-remediation.md
  docs/mockups/st-21-03-exam-converter-authenticated-progressive-review/README.md
  docs/mockups/st-21-03-exam-converter-authenticated-progressive-review/exam-converter-authenticated-progressive-review-v2.png
  docs/reference/ref-exam-converter-ui-content-model-v1.md
  frontend/apps/skriptoteket/src/api/sirConvertGateway/client.spec.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/client.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/index.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/parsers.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/saveMetadata.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/types.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedConversionSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedFilesActionSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedReviewSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedRuntimeBridgeSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedView.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterFilesReadinessList.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterInspectionTabs.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterQuestionReviewShell.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterReportSummary.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterReviewDecisionGate.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterWorkflowRailShell.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/digiexamIrReviewParser.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterAuthenticatedRuntime.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterConversionState.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterFileActions.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterReviewArtifacts.ts
Due: docs-contract-validate, eslint

Fix frontend test gate regressions
  frontend/apps/skriptoteket/src/components/help/helpTopicCatalog.ts
  frontend/apps/skriptoteket/src/views/apps/components/CreateRosterModal.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerPhoneFixedSeatRulePanel.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSmartSettingsDrawer.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/RoomCanvas.spec.ts
Due: eslint

Sync exam converter review contract
  .codex/handoff.md
  docs/backlog/prs/pr-0325-st-21-03-exam-converter-authenticated-runtime-ui-and-save-remediation.md
  frontend/apps/skriptoteket/src/api/sirConvertGateway/client.spec.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/parsers.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/types.ts
  frontend/apps/skriptoteket/src/api/sirConvertOpenapi.d.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedFilesActionSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedRuntimeBridgeSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/digiexamIrReviewParser.ts
  frontend/apps/skriptoteket/src/views/apps/examConverterAuthenticatedReviewFixtures.ts
  frontend/apps/skriptoteket/vitest.config.ts
Due: docs-contract-validate, eslint

Implement authenticated exam converter AI review sync
  .codex/handoff.md
  .codex/long-term-memory/entries/session-2026-05-17-pr-0325-pr-0326-exam-converter-history.md
  .codex/long-term-memory/index.md
  docs/backlog/epics/epic-21-curated-app-conversion-hub.md
  docs/backlog/prs/pr-0326-st-21-03-exam-converter-authenticated-llm-enrichment-consumer-sync.md
  docs/backlog/stories/story-21-03-exam-converter-public-and-authenticated-artifact-lanes.md
  docs/index.md
  docs/mockups/st-21-03-exam-converter-authenticated-progressive-review/README.md
  docs/mockups/st-21-03-exam-converter-authenticated-progressive-review/exam-converter-authenticated-ai-facit-review-v1.png
  frontend/apps/skriptoteket/src/api/sirConvertGateway/client.spec.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/completionContract.spec.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/contractValues.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/jobSpec.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/requestContext.spec.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/schemaVersions.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/types.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedFilesActionSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedReviewSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedRuntimeBridgeSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedView.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterAiReviewActionPanel.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterQuestionReviewShell.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/digiexamAcceptedCurrentStateOverlay.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/digiexamAnswerKeyCompletionReport.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/digiexamIrQuestionReviewProjection.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/digiexamIrReviewParser.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterAiFacitReview.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterAuthenticatedRuntime.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterReviewArtifacts.ts
  frontend/apps/skriptoteket/src/views/apps/examConverterAuthenticatedFilesActionPayloads.ts
  frontend/apps/skriptoteket/src/views/apps/examConverterAuthenticatedFreeTextFixtures.ts
  frontend/apps/skriptoteket/src/views/apps/examConverterAuthenticatedReviewFixtures.ts
Due: docs-contract-validate, eslint

Fix Exam Converter QTI approval layout
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedReviewSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedView.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterInspectionTabs.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterQuestionReviewShell.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterReviewDecisionGate.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterWorkflowRailShell.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/digiexamAcceptedCurrentStateOverlay.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/digiexamIrReviewParser.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterConversionState.ts
Due: eslint

Fix exam converter review layout
  .codex/handoff.md
  docs/backlog/prs/pr-0327-st-21-03-exam-converter-authenticated-internal-browser-ui-inspection-lane.md
  docs/backlog/stories/story-21-03-exam-converter-public-and-authenticated-artifact-lanes.md
  docs/index.md
  docs/reference/ref-exam-converter-ui-content-model-v1.md
  docs/runbooks/runbook-agent-browser-automation.md
  frontend/apps/skriptoteket/package.json
  frontend/apps/skriptoteket/src/router/routes.spec.ts
  frontend/apps/skriptoteket/src/router/routes.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedUiInspectionFixtures.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedView.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterFilesReadinessList.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterQuestionNavigator.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterQuestionReviewShell.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterQuestionTable.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterWorkflowRailShell.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/examConverterUiInspectionFixtures.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterReviewArtifacts.ts
  frontend/patches/@tailwindcss__node@4.3.0.patch
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: docs-contract-validate, eslint

Include frontend patches in Docker build
  Dockerfile
Due: none

feat: Exam Converter advisory idempotency retry + UI fixes
  .codex/handoff.md
  docs/backlog/epics/epic-21-curated-app-conversion-hub.md
  docs/backlog/prs/pr-0328-st-21-03-exam-converter-advisory-idempotency-rerun.md
  docs/backlog/stories/story-21-03-exam-converter-public-and-authenticated-artifact-lanes.md
  docs/runbooks/runbook-agent-browser-automation.md
  frontend/apps/skriptoteket/src/api/sirConvertGateway/requestContext.spec.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/requestContext.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/types.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedAdvisoryRetry.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedUiInspectionFixtures.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedView.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterAdvisoryRetryPanel.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/digiexamAnswerKeyCompletionReport.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/examConverterUiInspectionFixtures.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterAuthenticatedRuntime.ts
Due: docs-contract-validate, eslint

Complete PR-0329 reviewed AI-facit handoff
  .codex/handoff.md
  docs/backlog/prs/pr-0324-st-21-03-exam-converter-authenticated-end-to-end-proof.md
  docs/backlog/prs/pr-0329-st-21-03-exam-converter-reviewed-ai-facit-handoff.md
  docs/backlog/stories/story-21-03-exam-converter-public-and-authenticated-artifact-lanes.md
  docs/index.md
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedReviewSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterQuestionReviewShell.vue
  frontend/apps/skriptoteket/src/views/apps/examConverterAuthenticatedGapFillReviewFixtures.ts
  frontend/apps/skriptoteket/src/views/apps/examConverterAuthenticatedReviewFixtures.ts
Due: docs-contract-validate, eslint

Reconcile Exam Converter correction contracts
  .codex/handoff.md
  .codex/long-term-memory/entries/session-2026-05-17-pr-0326-through-pr-0331-ai-facit-review-history.md
  docs/adr/adr-0086-exam-converter-teacher-owned-correction-overlay-boundary.md
  docs/backlog/epics/epic-21-curated-app-conversion-hub.md
  docs/backlog/prs/pr-0325-st-21-03-exam-converter-authenticated-runtime-ui-and-save-remediation.md
  docs/backlog/prs/pr-0330-st-21-03-exam-converter-small-screen-ai-facit-review-layout-strategy.md
  docs/backlog/prs/pr-0331-st-21-03-exam-converter-reviewed-ai-facit-contract-affordance-reconciliation.md
  docs/backlog/prs/pr-0332-st-21-03-exam-converter-teacher-owned-correction-overlay-contract.md
  docs/backlog/reviews/review-pr-0332-teacher-owned-correction-overlay-contract.md
  docs/backlog/stories/story-21-03-exam-converter-public-and-authenticated-artifact-lanes.md
  docs/index.md
  docs/reference/ref-exam-converter-reviewed-ai-facit-contract-map-pr-0331.md
  docs/reference/ref-exam-converter-ui-content-model-v1.md
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedFilesActionSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedReviewSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedUiInspectionFixtures.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedView.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterAiReviewActionPanel.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterFilesReadinessList.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterQuestionReviewShell.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterReviewDecisionGate.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/digiexamIrQuestionReviewProjection.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/digiexamIrReviewParser.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterAiFacitReview.ts
  frontend/apps/skriptoteket/src/views/apps/examConverterAuthenticatedGapFillReviewFixtures.ts
Due: docs-contract-validate, eslint

Unblock PR-0332 Sir Convert DTO preflight
  .codex/handoff.md
  docs/adr/adr-0086-exam-converter-teacher-owned-correction-overlay-boundary.md
  docs/backlog/prs/pr-0332-st-21-03-exam-converter-teacher-owned-correction-overlay-contract.md
  docs/backlog/reviews/review-pr-0332-teacher-owned-correction-overlay-contract.md
  frontend/apps/skriptoteket/src/api/sirConvertGateway/completionContract.spec.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/types.ts
  frontend/apps/skriptoteket/src/api/sirConvertOpenapi.d.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/digiexamAcceptedCurrentStateOverlay.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterAiFacitReview.ts
  frontend/apps/skriptoteket/src/views/apps/examConverterAuthenticatedGapFillReviewFixtures.ts
Due: docs-contract-validate, eslint

feat(exam-converter): implement reviewed AI facit and teacher correction overlay
  .codex/handoff.md
  docs/backlog/prs/pr-0331-st-21-03-exam-converter-reviewed-ai-facit-contract-affordance-reconciliation.md
  docs/backlog/prs/pr-0332-st-21-03-exam-converter-teacher-owned-correction-overlay-contract.md
  docs/backlog/stories/story-21-03-exam-converter-public-and-authenticated-artifact-lanes.md
  frontend/apps/skriptoteket/src/api/sirConvertOpenapi.d.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedCorrectionSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedReviewSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedView.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterEffectiveAnswerKeySummary.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterManualAnswerKeyEditor.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterPointCorrectionEditor.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterQuestionReviewShell.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/digiexamAnswerKeyCompletionReport.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/digiexamIrQuestionReviewProjection.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/digiexamIrReviewParser.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/digiexamTeacherCorrectionOverlay.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterReviewArtifacts.ts
  frontend/apps/skriptoteket/src/views/apps/examConverterAuthenticatedGapFillReviewFixtures.ts
  frontend/apps/skriptoteket/src/views/apps/examConverterAuthenticatedReviewFixtures.ts
  scripts/_pr_0331_reviewed_ai_facit_artifacts.py
  scripts/playwright_pr_0331_reviewed_ai_facit_live.py
  tests/unit/scripts/test_playwright_script_surface.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Finish exam converter correction workflow slices
  .codex/handoff.md
  docs/adr/adr-0087-exam-converter-durable-correction-sessions-with-stateless-apply.md
  docs/backlog/epics/epic-21-curated-app-conversion-hub.md
  docs/backlog/prs/pr-0331-st-21-03-exam-converter-reviewed-ai-facit-contract-affordance-reconciliation.md
  docs/backlog/prs/pr-0332-st-21-03-exam-converter-teacher-owned-correction-overlay-contract.md
  docs/backlog/prs/pr-0333-st-21-04-correction-session-backend-aggregate-and-persistence.md
  docs/backlog/prs/pr-0334-st-21-04-correction-session-api-and-generated-types.md
  docs/backlog/prs/pr-0335-st-21-04-correction-session-replay-orchestration.md
  docs/backlog/prs/pr-0336-st-21-04-correction-session-frontend-readback-integration.md
  docs/backlog/prs/pr-0337-st-21-04-correction-session-browser-and-artifact-proof.md
  docs/backlog/reviews/review-pr-0332-teacher-owned-correction-overlay-contract.md
  docs/backlog/reviews/review-st-21-04-exam-converter-durable-teacher-correction-sessions.md
  docs/backlog/stories/story-21-03-exam-converter-public-and-authenticated-artifact-lanes.md
  docs/backlog/stories/story-21-04-exam-converter-durable-teacher-correction-sessions.md
  docs/index.md
  docs/reference/ref-exam-converter-reviewed-ai-facit-contract-map-pr-0331.md
  frontend/apps/skriptoteket/src/api/sirConvertGateway/client.spec.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/client.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/correctionsContract.spec.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/types.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/urls.ts
  frontend/apps/skriptoteket/src/api/sirConvertOpenapi.d.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedCorrectionSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedUiInspectionFixtures.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedView.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterEffectiveAnswerKeySummary.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterItemTextPatchEditor.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterManualAnswerKeyEditor.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterPointCorrectionEditor.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterQuestionReviewShell.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterQuestionTable.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/digiexamTeacherCorrectionOverlay.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/examConverterPersistedCorrectionDisplay.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/examConverterUiInspectionFixtures.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterAuthenticatedRuntime.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterUnifiedCorrections.ts
  scripts/playwright_pr_0331_reviewed_ai_facit_live.py
  scripts/playwright_pr_0332_teacher_corrections_live.py
  tests/unit/scripts/test_playwright_script_surface.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Guard correction review decision prompt
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedView.vue
Due: eslint

chore: complete PR-0337 PR-0338 correction session updates
  .codex/handoff.md
  docs/adr/adr-0087-exam-converter-durable-correction-sessions-with-stateless-apply.md
  docs/backlog/prs/pr-0337-st-21-04-correction-session-browser-and-artifact-proof.md
  docs/backlog/prs/pr-0338-st-21-04-ai-prefill-editor-and-replay-artifact-authority.md
  docs/backlog/reviews/review-pr-0333-correction-session-backend-aggregate-and-persistence.md
  docs/backlog/stories/story-21-04-exam-converter-durable-teacher-correction-sessions.md
  docs/index.md
  docs/reference/ref-exam-converter-reviewed-ai-facit-contract-map-pr-0331.md
  docs/reference/ref-exam-converter-ui-content-model-v1.md
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedReviewedAiDurableSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedView.vue
  frontend/apps/skriptoteket/src/views/apps/ExamConverterCorrectionSessionReplay.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterAiReviewActionPanel.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterQuestionNavigator.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterQuestionTable.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/correctionSessionIntentBuilders.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/correctionSessionReplay.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/digiexamTeacherCorrectionOverlay.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterAiFacitReview.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterUnifiedCorrections.ts
  scripts/_playwright_auth.py
  scripts/playwright_pr_0337_correction_session_live.py
  src/skriptoteket/domain/curated_apps/exam_converter_correction_sessions.py
  tests/unit/domain/curated_apps/test_exam_converter_correction_sessions.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Add container dev tooling
  Dockerfile
Due: none

Implement PR-0340 AI suggestion reporting
  .codex/handoff.md
  docs/backlog/epics/epic-21-curated-app-conversion-hub.md
  docs/backlog/prs/pr-0340-st-21-04-ai-suggestion-outcome-reporting.md
  docs/backlog/stories/story-21-04-exam-converter-durable-teacher-correction-sessions.md
  docs/index.md
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedAiPrefillDurableSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedReviewSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedUiInspectionFixtures.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterEffectiveAnswerKeySummary.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterReportSummary.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/correctionSessionProjection.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/digiexamIrReviewParser.ts
Due: docs-contract-validate, eslint

Remove exam converter export decision authoring state
  .codex/handoff.md
  docs/adr/adr-0086-exam-converter-teacher-owned-correction-overlay-boundary.md
  docs/adr/adr-0087-exam-converter-durable-correction-sessions-with-stateless-apply.md
  docs/backlog/prs/pr-0337-st-21-04-correction-session-browser-and-artifact-proof.md
  docs/backlog/prs/pr-0341-st-21-04-authoring-export-boundary-separation.md
  docs/backlog/stories/story-21-04-exam-converter-durable-teacher-correction-sessions.md
  docs/index.md
  docs/reference/ref-exam-converter-reviewed-ai-facit-contract-map-pr-0331.md
  docs/reference/ref-exam-converter-ui-content-model-v1.md
  frontend/apps/skriptoteket/src/api/openapi.d.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/completionContract.spec.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/contractValues.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/parsers.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedCorrectionSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedFilesActionSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedReviewSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedView.vue
  frontend/apps/skriptoteket/src/views/apps/ExamConverterCorrectionSessionReplay.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterFilesReadinessList.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterReviewDecisionGate.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/correctionSessionIntentBuilders.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/correctionSessionProjection.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/correctionSessionReplay.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/digiexamAcceptedCurrentStateOverlay.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/digiexamIrReviewParser.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/digiexamTargetArtifacts.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/digiexamTeacherCorrectionOverlay.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterUnifiedCorrections.ts
  frontend/apps/skriptoteket/src/views/apps/examConverterAuthenticatedCorrectionSessionFixtures.ts
  frontend/apps/skriptoteket/src/views/apps/examConverterAuthenticatedFilesActionPayloads.ts
  migrations/versions/b3e7a1c9d4f2_remove_review_decision_correction_intents.py
  src/skriptoteket/application/curated_apps/exam_converter_correction_sessions.py
  src/skriptoteket/domain/curated_apps/exam_converter_correction_sessions.py
  src/skriptoteket/infrastructure/db/models/exam_converter_correction_session.py
  src/skriptoteket/infrastructure/repositories/exam_converter_correction_sessions.py
  tests/integration/infrastructure/repositories/test_exam_converter_correction_session_repository.py
  tests/integration/migration_revision_coverage.py
  tests/integration/migration_schema_assertions.py
  tests/unit/domain/curated_apps/test_exam_converter_correction_sessions.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Complete PR-0337 artifact proof closeout
  .codex/handoff.md
  docs/backlog/prs/pr-0337-st-21-04-correction-session-browser-and-artifact-proof.md
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterFileActions.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterFileActions.ts
  scripts/playwright_pr_0337_correction_session_live.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  mypy: any of: \.py$
  pytest: any of: \.py$
  docs-contract-validate: any of: ^docs/
  agent-doc-budgets: any of: ^\.agent/(readme-first\.md|handoff\.md)$
  eslint: any of: ^frontend/apps/skriptoteket/src/.*\.(vue|ts|js)$
