Repository paunchygent/skriptoteket: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

ruff-format:
  name: Ruff format (staged files)
  entry: pdm run ruff format --force-exclude
  language: system
  pass_filenames: true

ruff-lint:
  name: Ruff lint (staged files)
  entry: pdm run ruff check --force-exclude
  language: system
  pass_filenames: true

mypy:
  name: Mypy typecheck (src + tests)
  entry: pdm run typecheck
  language: system
  pass_filenames: false

pytest:
  name: Pytest (unit suite)
  entry: pdm run test
  language: system
  pass_filenames: false

docs-contract-validate:
  name: Docs contract validate (placement + naming + frontmatter)
  entry: pdm run docs-validate
  language: system
  pass_filenames: false

agent-doc-budgets:
  name: Agent docs line budgets (.agent/*)
  entry: pdm run python -m scripts.check_agent_doc_budgets
  language: system
  pass_filenames: false

eslint:
  name: ESLint (frontend)
  entry: pnpm --filter @skriptoteket/spa lint
  language: system
  pass_filenames: false

docs(backlog): close TASK-SKRIPT-39-01-01 with approved review and live check
  docs/backlog/tasks/task-skript-39-01-01-prove-the-in-process-dxe-to-exam-net-bundle-walking-skeleton.md
  docs/repository-index.json
  handoff.md
Due: docs-contract-validate

docs(backlog): propose ST-SKRIPT-39-02 answer-key port with lease budget
  docs/backlog/INDEX.md
  docs/backlog/stories/st-skript-39-02-port-the-remote-answer-key-completion-line-with-a-daily-token-lease.md
  docs/backlog/tasks/task-skript-39-02-01-stand-up-the-in-process-answer-key-completion-vertical-with-the-luna-profile-and-postgres-lease.md
  docs/backlog/tasks/task-skript-39-02-02-prove-failover-exhaustion-fail-close-and-operator-lease-status-for-the-answer-key-lane.md
  docs/decisions/INDEX.md
  docs/repository-index.json
Due: docs-contract-validate

docs(backlog): activate ST-SKRIPT-39-02 with tasks 02-01 in progress and 02-02 ready
  docs/backlog/INDEX.md
  docs/backlog/stories/st-skript-39-02-port-the-remote-answer-key-completion-line-with-a-daily-token-lease.md
  docs/backlog/tasks/task-skript-39-02-01-stand-up-the-in-process-answer-key-completion-vertical-with-the-luna-profile-and-postgres-lease.md
  docs/backlog/tasks/task-skript-39-02-02-prove-failover-exhaustion-fail-close-and-operator-lease-status-for-the-answer-key-lane.md
  docs/decisions/INDEX.md
  docs/repository-index.json
  handoff.md
Due: docs-contract-validate

feat(exam-conversion): port answer-key completion domain with machine-proposed overlay provenance
  src/skriptoteket/domain/curated_apps/exam_conversion/digiexam_answer_key_completion.py
  src/skriptoteket/domain/curated_apps/exam_conversion/digiexam_answer_key_llm_contracts.py
  src/skriptoteket/domain/curated_apps/exam_conversion/digiexam_answer_key_prompts.py
  src/skriptoteket/domain/curated_apps/exam_conversion/digiexam_answer_key_token_lease.py
  src/skriptoteket/domain/curated_apps/exam_conversion/digiexam_contracts.py
  src/skriptoteket/domain/curated_apps/exam_conversion/digiexam_ingestion_overlay.py
  src/skriptoteket/domain/curated_apps/exam_conversion/digiexam_ingestion_overlay_contracts.py
Due: ruff-format, ruff-lint, mypy, pytest

feat(exam-conversion): add Postgres token lease, enrichment job ledger, and Luna provider adapter
  migrations/versions/b7d3f1a5c9e2_add_exam_answer_key_enrichment_vertical.py
  src/skriptoteket/application/curated_apps/exam_answer_key_enrichment.py
  src/skriptoteket/config.py
  src/skriptoteket/infrastructure/db/models/__init__.py
  src/skriptoteket/infrastructure/db/models/exam_answer_key_enrichment_job.py
  src/skriptoteket/infrastructure/db/models/exam_answer_key_proposed_overlay.py
  src/skriptoteket/infrastructure/db/models/exam_answer_key_token_lease.py
  src/skriptoteket/infrastructure/llm/openai/answer_key_profiles.py
  src/skriptoteket/infrastructure/llm/openai/answer_key_structured_provider.py
  src/skriptoteket/infrastructure/repositories/exam_answer_key_enrichment_jobs.py
  src/skriptoteket/infrastructure/repositories/exam_answer_key_proposed_overlays.py
  src/skriptoteket/infrastructure/repositories/exam_answer_key_token_leases.py
  src/skriptoteket/protocols/exam_answer_key.py
  src/skriptoteket/protocols/exam_conversion.py
Due: ruff-format, ruff-lint, mypy, pytest

feat(exam-conversion): run answer-key enrichment as an execution-worker job
  src/skriptoteket/application/curated_apps/exam_conversion_producers.py
  src/skriptoteket/application/curated_apps/handlers/exam_answer_key_enrichment_jobs.py
  src/skriptoteket/application/curated_apps/handlers/exam_converter_conversions.py
  src/skriptoteket/di/curated_apps.py
  src/skriptoteket/workers/exam_answer_key_enrichment.py
  src/skriptoteket/workers/execution_queue_worker.py
Due: ruff-format, ruff-lint, mypy, pytest

test(exam-conversion): pin lease, planning, worker lifecycle, and routing behavior
  tests/integration/infrastructure/repositories/test_exam_answer_key_token_lease_repository.py
  tests/integration/test_migration_b7d3f1a5c9e2_idempotent.py
  tests/unit/application/curated_apps/handlers/test_exam_answer_key_enrichment_jobs.py
  tests/unit/application/curated_apps/handlers/test_exam_converter_conversion_enrichment_routing.py
  tests/unit/domain/curated_apps/exam_conversion/test_digiexam_answer_key_completion.py
  tests/unit/domain/curated_apps/exam_conversion/test_digiexam_answer_key_token_lease.py
  tests/unit/web/exam_converter/conftest.py
Due: ruff-format, ruff-lint, mypy, pytest

fix(exam-conversion): fail-close enrichment jobs whose worker lease expired
  src/skriptoteket/application/curated_apps/handlers/exam_answer_key_enrichment_jobs.py
  src/skriptoteket/infrastructure/repositories/exam_answer_key_enrichment_jobs.py
  src/skriptoteket/protocols/exam_answer_key.py
  src/skriptoteket/workers/exam_answer_key_enrichment.py
  tests/unit/application/curated_apps/handlers/test_exam_answer_key_enrichment_jobs.py
  tests/unit/application/curated_apps/handlers/test_exam_converter_conversion_enrichment_routing.py
  tests/unit/web/exam_converter/conftest.py
Due: ruff-format, ruff-lint, mypy, pytest

docs(backlog): start TASK-SKRIPT-39-02-02 and record the reviewed 02-01 vertical
  docs/backlog/tasks/task-skript-39-02-02-prove-failover-exhaustion-fail-close-and-operator-lease-status-for-the-answer-key-lane.md
  docs/repository-index.json
  handoff.md
Due: docs-contract-validate

feat(exam-conversion): add GLM-5.3-flash single-failover to the answer-key lane
  src/skriptoteket/application/curated_apps/handlers/exam_answer_key_enrichment_jobs.py
  src/skriptoteket/config.py
  src/skriptoteket/di/curated_apps.py
  src/skriptoteket/domain/curated_apps/exam_conversion/digiexam_answer_key_llm_contracts.py
  src/skriptoteket/infrastructure/llm/answer_key_provider_dispatch.py
  src/skriptoteket/infrastructure/llm/answer_key_provider_selection.py
  src/skriptoteket/infrastructure/llm/openai/answer_key_profiles.py
  src/skriptoteket/infrastructure/llm/openrouter/__init__.py
  src/skriptoteket/infrastructure/llm/openrouter/answer_key_chat_provider.py
  src/skriptoteket/infrastructure/llm/openrouter/answer_key_profiles.py
  src/skriptoteket/protocols/exam_answer_key.py
  tests/unit/application/curated_apps/handlers/test_exam_answer_key_enrichment_jobs.py
  tests/unit/domain/curated_apps/exam_conversion/test_digiexam_answer_key_failover_policy.py
  tests/unit/infrastructure/llm/test_openrouter_answer_key_chat_provider.py
Due: ruff-format, ruff-lint, mypy, pytest

feat(admin): expose the answer-key daily lease balance to operators
  src/skriptoteket/application/curated_apps/handlers/exam_answer_key_lease_status.py
  src/skriptoteket/web/api/v1/admin_answer_key_lease.py
  src/skriptoteket/web/router.py
  tests/unit/application/curated_apps/handlers/test_exam_answer_key_lease_status.py
  tests/unit/web/test_admin_answer_key_lease_api.py
Due: ruff-format, ruff-lint, mypy, pytest

refactor(exam-conversion): extract per-item provider-attempt orchestration
  src/skriptoteket/application/curated_apps/handlers/exam_answer_key_enrichment_jobs.py
  src/skriptoteket/application/curated_apps/handlers/exam_answer_key_provider_attempts.py
Due: ruff-format, ruff-lint, mypy, pytest

fix(exam-conversion): enrich eligible items in mixed exams
  src/skriptoteket/domain/curated_apps/exam_conversion/digiexam_answer_key_completion.py
  tests/unit/application/curated_apps/handlers/test_exam_answer_key_enrichment_jobs.py
  tests/unit/application/curated_apps/handlers/test_exam_converter_conversion_enrichment_routing.py
  tests/unit/domain/curated_apps/exam_conversion/test_digiexam_answer_key_completion.py
Due: ruff-format, ruff-lint, mypy, pytest

docs(backlog): record ST-SKRIPT-39-02 live evidence
  docs/backlog/tasks/task-skript-39-02-01-stand-up-the-in-process-answer-key-completion-vertical-with-the-luna-profile-and-postgres-lease.md
  docs/backlog/tasks/task-skript-39-02-02-prove-failover-exhaustion-fail-close-and-operator-lease-status-for-the-answer-key-lane.md
  docs/repository-index.json
  handoff.md
Due: docs-contract-validate

docs(backlog): close ST-SKRIPT-39-02
  docs/backlog/INDEX.md
  docs/backlog/epics/epic-skript-39-skriptoteket-owned-exam-conversion.md
  docs/backlog/stories/st-skript-39-02-port-the-remote-answer-key-completion-line-with-a-daily-token-lease.md
  docs/backlog/tasks/task-skript-39-02-01-stand-up-the-in-process-answer-key-completion-vertical-with-the-luna-profile-and-postgres-lease.md
  docs/backlog/tasks/task-skript-39-02-02-prove-failover-exhaustion-fail-close-and-operator-lease-status-for-the-answer-key-lane.md
  docs/decisions/INDEX.md
  docs/repository-index.json
  handoff.md
Due: docs-contract-validate

docs(handoff): record ST-SKRIPT-39-02 publication
  handoff.md
Due: none

docs: scaffold ST-SKRIPT-39-03
  docs/backlog/INDEX.md
  docs/backlog/stories/st-skript-39-03-cut-over-the-exam-converter-and-retire-the-sir-exam-lane.md
  docs/repository-index.json
Due: docs-contract-validate

docs: admit ST-SKRIPT-39-03 tasks
  docs/backlog/INDEX.md
  docs/backlog/stories/st-skript-39-03-cut-over-the-exam-converter-and-retire-the-sir-exam-lane.md
  docs/backlog/tasks/task-skript-39-03-01-cut-over-the-authenticated-exam-converter-to-skriptoteket-owned-execution.md
  docs/backlog/tasks/task-skript-39-03-02-cut-over-the-public-exam-converter-to-skriptoteket-owned-execution.md
  docs/backlog/tasks/task-skript-39-03-03-retire-the-sir-convert-exam-specific-integration.md
  docs/backlog/tasks/task-skript-39-03-04-retire-the-hemma-qwen-answer-key-sidecar.md
  docs/decisions/INDEX.md
  docs/repository-index.json
Due: docs-contract-validate

docs: start TASK-SKRIPT-39-03-01
  docs/backlog/INDEX.md
  docs/backlog/stories/st-skript-39-03-cut-over-the-exam-converter-and-retire-the-sir-exam-lane.md
  docs/backlog/tasks/task-skript-39-03-01-cut-over-the-authenticated-exam-converter-to-skriptoteket-owned-execution.md
  docs/decisions/INDEX.md
  docs/repository-index.json
Due: docs-contract-validate

docs: reconcile authenticated cutover scope
  docs/backlog/stories/st-skript-39-03-cut-over-the-exam-converter-and-retire-the-sir-exam-lane.md
  docs/backlog/tasks/task-skript-39-03-01-cut-over-the-authenticated-exam-converter-to-skriptoteket-owned-execution.md
  docs/repository-index.json
Due: docs-contract-validate

docs: prefer native cutover ownership
  docs/backlog/stories/st-skript-39-03-cut-over-the-exam-converter-and-retire-the-sir-exam-lane.md
  docs/backlog/tasks/task-skript-39-03-01-cut-over-the-authenticated-exam-converter-to-skriptoteket-owned-execution.md
  docs/repository-index.json
Due: docs-contract-validate

feat: cut over authenticated exam conversion
  docs/backlog/stories/st-skript-39-03-cut-over-the-exam-converter-and-retire-the-sir-exam-lane.md
  docs/backlog/tasks/task-skript-39-03-01-cut-over-the-authenticated-exam-converter-to-skriptoteket-owned-execution.md
  docs/repository-index.json
  frontend/apps/skriptoteket/src/api/examConverterLocal.spec.ts
  frontend/apps/skriptoteket/src/api/examConverterLocal.ts
  frontend/apps/skriptoteket/src/views/apps/ConversionHubTranscriptMode.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedAdvisoryReplaySlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedAdvisoryRetry.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedAiPrefillDurableSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedCompactReviewState.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedConversionSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedCorrectionSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedFilesActionSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedReviewSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedRuntimeBridgeSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedView.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterAuthenticatedRuntime.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterFileActions.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterFileActions.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterReviewArtifacts.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterUnifiedCorrections.ts
  src/skriptoteket/application/curated_apps/exam_conversion.py
  src/skriptoteket/application/curated_apps/exam_conversion_correction_source.py
  src/skriptoteket/application/curated_apps/exam_conversion_producers.py
  src/skriptoteket/application/curated_apps/exam_conversion_review_artifacts.py
  src/skriptoteket/application/curated_apps/handlers/exam_answer_key_enrichment_jobs.py
  src/skriptoteket/application/curated_apps/handlers/exam_converter_conversions.py
  src/skriptoteket/application/curated_apps/handlers/exam_converter_product.py
  src/skriptoteket/di/curated_apps.py
  src/skriptoteket/infrastructure/curated_apps/apps/conversion_hub/exam_conversion_artifacts.py
  src/skriptoteket/protocols/exam_conversion.py
  src/skriptoteket/web/api/v1/apps_conversion_hub.py
  tests/unit/application/curated_apps/handlers/test_conversion_hub_jobs.py
  tests/unit/application/curated_apps/handlers/test_exam_answer_key_enrichment_jobs.py
  tests/unit/application/curated_apps/handlers/test_exam_converter_conversion_enrichment_routing.py
  tests/unit/application/curated_apps/handlers/test_exam_converter_product.py
  tests/unit/application/curated_apps/test_exam_conversion_parity.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

fix: preserve native exam cutover semantics
  frontend/apps/skriptoteket/src/api/examConverterLocal.spec.ts
  frontend/apps/skriptoteket/src/api/examConverterLocal.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedRuntimeBridgeSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterAuthenticatedRuntime.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterFileActions.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterFileActions.ts
  frontend/apps/skriptoteket/src/views/apps/examConverterAuthenticatedFilesActionPayloads.ts
  frontend/apps/skriptoteket/src/views/apps/examConverterAuthenticatedReviewFixtures.ts
  migrations/versions/c8e4f2a6d9b1_add_exam_converter_native_idempotency.py
  src/skriptoteket/application/curated_apps/conversion_hub.py
  src/skriptoteket/application/curated_apps/exam_answer_key_enrichment.py
  src/skriptoteket/application/curated_apps/exam_conversion.py
  src/skriptoteket/application/curated_apps/exam_conversion_producers.py
  src/skriptoteket/application/curated_apps/exam_conversion_review_artifacts.py
  src/skriptoteket/application/curated_apps/handlers/exam_answer_key_enrichment_jobs.py
  src/skriptoteket/application/curated_apps/handlers/exam_converter_conversions.py
  src/skriptoteket/application/curated_apps/handlers/exam_converter_product.py
  src/skriptoteket/di/curated_apps.py
  src/skriptoteket/domain/curated_apps/exam_conversion/digiexam_effective_item_patch.py
  src/skriptoteket/domain/curated_apps/exam_conversion/digiexam_ingestion_overlay_contracts.py
  src/skriptoteket/infrastructure/curated_apps/apps/conversion_hub/exam_conversion_artifacts.py
  src/skriptoteket/infrastructure/db/models/conversion_hub_job.py
  src/skriptoteket/infrastructure/db/models/exam_answer_key_enrichment_job.py
  src/skriptoteket/infrastructure/repositories/conversion_hub_jobs.py
  src/skriptoteket/infrastructure/repositories/exam_answer_key_enrichment_jobs.py
  src/skriptoteket/infrastructure/repositories/exam_converter_correction_sessions.py
  src/skriptoteket/protocols/conversion_hub.py
  src/skriptoteket/protocols/exam_conversion.py
  src/skriptoteket/protocols/exam_converter_correction_sessions.py
  src/skriptoteket/web/api/v1/apps_conversion_hub.py
  tests/integration/test_migration_c8e4f2a6d9b1_idempotent.py
  tests/unit/application/curated_apps/handlers/test_exam_answer_key_enrichment_jobs.py
  tests/unit/application/curated_apps/handlers/test_exam_converter_conversion_enrichment_routing.py
  tests/unit/application/curated_apps/handlers/test_exam_converter_product.py
  tests/unit/web/exam_converter/test_apps_exam_converter_conversions_api.py
Due: ruff-format, ruff-lint, mypy, pytest, eslint

fix: serialize native exam cutover writes
  src/skriptoteket/application/curated_apps/handlers/exam_converter_conversions.py
  src/skriptoteket/application/curated_apps/handlers/exam_converter_correction_sessions.py
  src/skriptoteket/application/curated_apps/handlers/exam_converter_product.py
  src/skriptoteket/di/curated_apps.py
  src/skriptoteket/infrastructure/repositories/conversion_hub_jobs.py
  src/skriptoteket/infrastructure/repositories/exam_converter_correction_sessions.py
  src/skriptoteket/protocols/conversion_hub.py
  src/skriptoteket/protocols/exam_converter_correction_sessions.py
  tests/integration/infrastructure/repositories/test_exam_converter_concurrency.py
  tests/unit/application/curated_apps/handlers/test_exam_converter_conversion_enrichment_routing.py
  tests/unit/application/curated_apps/handlers/test_exam_converter_correction_sessions.py
  tests/unit/application/curated_apps/handlers/test_exam_converter_product.py
Due: ruff-format, ruff-lint, mypy, pytest

fix: activate native authenticated exam lane
  src/skriptoteket/application/curated_apps/handlers/exam_converter_conversions.py
  src/skriptoteket/config.py
  tests/unit/test_config.py
  tests/unit/web/exam_converter/conftest.py
  tests/unit/web/exam_converter/test_apps_exam_converter_conversions_api.py
Due: ruff-format, ruff-lint, mypy, pytest

docs: close TASK-SKRIPT-REP-0032
  docs/backlog/tasks/task-skript-rep-0032-adopt-shared-hemma-workload-switching-for-skriptoteket-production-services.md
  docs/repository-index.json
  handoff.md
Due: docs-contract-validate

fix: persist answer-key provider configuration
  .env.example.prod
  compose.prod.yaml
  src/skriptoteket/config.py
  tests/unit/test_config.py
  tests/unit/test_docker_dev_shared_auth_contract.py
Due: ruff-format, ruff-lint, mypy, pytest

docs: close authenticated exam cutover
  docs/backlog/tasks/task-skript-39-03-01-cut-over-the-authenticated-exam-converter-to-skriptoteket-owned-execution.md
  docs/repository-index.json
  handoff.md
Due: docs-contract-validate

docs: start public exam cutover
  docs/backlog/tasks/task-skript-39-03-02-cut-over-the-public-exam-converter-to-skriptoteket-owned-execution.md
  docs/repository-index.json
Due: docs-contract-validate

feat: cut over public exam conversion
  docs/backlog/tasks/task-skript-39-03-02-cut-over-the-public-exam-converter-to-skriptoteket-owned-execution.md
  docs/repository-index.json
  src/skriptoteket/application/curated_apps/exam_conversion_producers.py
  src/skriptoteket/application/curated_apps/handlers/public_exam_converter_jobs.py
  src/skriptoteket/application/curated_apps/public_exam_converter.py
  src/skriptoteket/application/curated_apps/public_exam_converter_artifacts.py
  src/skriptoteket/application/curated_apps/public_exam_converter_local_execution.py
  src/skriptoteket/di/curated_apps.py
  src/skriptoteket/protocols/exam_conversion.py
  src/skriptoteket/protocols/public_exam_converter.py
  tests/fixtures/public_exam_converter_runtime.py
  tests/unit/application/curated_apps/test_public_exam_converter_local_execution.py
  tests/unit/web/test_public_apps_exam_converter_runtime.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

fix: serve public exam converter deep links
  src/skriptoteket/web/routes/spa_fallback.py
  tests/unit/web/test_spa_fallback.py
Due: ruff-format, ruff-lint, mypy, pytest

docs: close public exam cutover
  docs/backlog/tasks/task-skript-39-03-02-cut-over-the-public-exam-converter-to-skriptoteket-owned-execution.md
  docs/repository-index.json
  handoff.md
Due: docs-contract-validate

docs: start Sir exam integration cleanup
  docs/backlog/tasks/task-skript-39-03-03-retire-the-sir-convert-exam-specific-integration.md
  docs/repository-index.json
Due: docs-contract-validate

fix: preserve zero-point open-ended QTI items
  src/skriptoteket/domain/curated_apps/exam_conversion/digiexam_examnet_qti_adapter.py
  tests/unit/domain/curated_apps/exam_conversion/test_digiexam_examnet_qti_adapter.py
Due: ruff-format, ruff-lint, mypy, pytest

fix: exclude gap identifiers from proposed keys
  src/skriptoteket/domain/curated_apps/exam_conversion/digiexam_answer_key_completion.py
  src/skriptoteket/domain/curated_apps/exam_conversion/digiexam_answer_key_prompts.py
  tests/unit/domain/curated_apps/exam_conversion/test_digiexam_gap_answer_key_projection.py
Due: ruff-format, ruff-lint, mypy, pytest

fix: reacquire failed exam submissions
  src/skriptoteket/infrastructure/repositories/conversion_hub_jobs.py
  tests/integration/infrastructure/repositories/test_exam_converter_concurrency.py
  tests/unit/application/curated_apps/handlers/test_exam_converter_conversion_enrichment_routing.py
Due: ruff-format, ruff-lint, mypy, pytest

docs: record exam converter production repairs
  handoff.md
Due: none

fix: restore exam advisory gap review UI
  frontend/apps/skriptoteket/src/api/examConverterContracts.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterManualAnswerKeyEditor.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterQuestionReviewShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterQuestionReviewShell.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/correctionSessionProjection.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/examConverterPersistedCorrectionDisplay.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/examConverterUiInspectionFixtures.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterAdvisoryAnswerKeyMode.ts
  frontend/apps/skriptoteket/src/views/apps/examConverterAuthenticatedGapFillReviewFixtures.ts
  handoff.md
Due: eslint

fix(exam-converter): persist public job state
  migrations/versions/a6d4e8f2c1b9_add_public_exam_converter_job_queue.py
  src/skriptoteket/application/curated_apps/handlers/exam_answer_key_enrichment_jobs.py
  src/skriptoteket/application/curated_apps/handlers/public_exam_converter_jobs.py
  src/skriptoteket/application/curated_apps/public_exam_converter.py
  src/skriptoteket/application/curated_apps/public_exam_converter_local_execution.py
  src/skriptoteket/di/curated_apps.py
  src/skriptoteket/infrastructure/curated_apps/apps/conversion_hub/exam_conversion_artifacts.py
  src/skriptoteket/infrastructure/curated_apps/apps/conversion_hub/public_exam_converter_store.py
  src/skriptoteket/infrastructure/db/models/__init__.py
  src/skriptoteket/infrastructure/db/models/public_exam_converter_job.py
  src/skriptoteket/infrastructure/repositories/conversion_hub_jobs.py
  src/skriptoteket/infrastructure/repositories/exam_answer_key_enrichment_jobs.py
  src/skriptoteket/infrastructure/repositories/public_exam_converter_jobs.py
  src/skriptoteket/protocols/exam_answer_key.py
  src/skriptoteket/protocols/exam_conversion.py
  src/skriptoteket/protocols/public_exam_converter.py
  src/skriptoteket/web/api/v1/public_apps_exam_converter.py
  src/skriptoteket/workers/execution_queue_worker.py
  src/skriptoteket/workers/public_exam_converter.py
  tests/fixtures/public_exam_converter_runtime.py
  tests/integration/infrastructure/repositories/test_exam_converter_concurrency.py
  tests/integration/test_migration_a6d4e8f2c1b9_idempotent.py
  tests/unit/application/curated_apps/handlers/test_conversion_hub_jobs.py
  tests/unit/application/curated_apps/handlers/test_exam_answer_key_enrichment_jobs.py
  tests/unit/application/curated_apps/handlers/test_exam_converter_conversion_enrichment_routing.py
  tests/unit/application/curated_apps/handlers/test_exam_converter_product.py
  tests/unit/application/curated_apps/test_public_exam_converter_local_execution.py
  tests/unit/web/exam_converter/conftest.py
  tests/unit/web/test_public_apps_exam_converter_runtime.py
Due: ruff-format, ruff-lint, mypy, pytest

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  mypy: any of: \.py$
  pytest: any of: \.py$
  docs-contract-validate: any of: ^docs/
  agent-doc-budgets: any of: ^\.agent/(readme-first\.md|handoff\.md)$
  eslint: any of: ^frontend/apps/skriptoteket/src/.*\.(vue|ts|js)$
