Repository paunchygent/skriptoteket: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

ruff-format:
  name: Ruff format (staged files)
  entry: pdm run ruff format --force-exclude
  language: system
  pass_filenames: true

ruff-lint:
  name: Ruff lint (staged files)
  entry: pdm run ruff check --force-exclude
  language: system
  pass_filenames: true

mypy:
  name: Mypy typecheck (src + tests)
  entry: pdm run typecheck
  language: system
  pass_filenames: false

pytest:
  name: Pytest (unit suite)
  entry: pdm run test
  language: system
  pass_filenames: false

docs-contract-validate:
  name: Docs contract validate (placement + naming + frontmatter)
  entry: pdm run docs-validate
  language: system
  pass_filenames: false

agent-doc-budgets:
  name: Agent docs line budgets (.agent/*)
  entry: pdm run python -m scripts.check_agent_doc_budgets
  language: system
  pass_filenames: false

eslint:
  name: ESLint (frontend)
  entry: pnpm --filter @skriptoteket/spa lint
  language: system
  pass_filenames: false

docs: approve PR-0246 guest-upgrade direction
  .agents/handoff.md
  docs/adr/adr-0079-public-curated-app-access-profiles-and-guest-state-boundaries.md
  docs/backlog/epics/epic-32-public-curated-app-access-foundation-and-klassrumskartan-demo.md
  docs/backlog/prs/pr-0246-st-32-05-one-time-guest-upgrade-consumption-and-repeat-import-suppression.md
  docs/backlog/reviews/review-pr-0246-one-time-guest-upgrade-consumption-and-repeat-import-suppression.md
  docs/backlog/stories/story-32-05-authenticated-upgrade-orchestration-and-idempotent-import-policy.md
  docs/index.md
Due: docs-contract-validate

Close PR-0240 and scaffold launch SEO planning
  .agents/handoff.md
  docs/backlog/epics/epic-32-public-curated-app-access-foundation-and-klassrumskartan-demo.md
  docs/backlog/epics/epic-35-launch-seo-and-search-indexing-readiness.md
  docs/backlog/prs/pr-0240-st-32-09-spa-catch-all-route-and-malformed-public-route-recovery.md
  docs/backlog/reviews/review-epic-35-launch-seo-and-search-indexing-readiness.md
  docs/backlog/stories/story-32-05-authenticated-upgrade-orchestration-and-idempotent-import-policy.md
  docs/backlog/stories/story-32-09-canonical-public-route-recovery-and-spa-unmatched-state.md
  docs/backlog/stories/story-35-01-canonical-public-host-and-edge-indexability-decision-package.md
  docs/backlog/stories/story-35-02-crawler-surfaces-and-honest-http-status-semantics.md
  docs/backlog/stories/story-35-03-public-route-metadata-canonical-and-indexing-policy.md
  docs/backlog/stories/story-35-04-search-console-bing-and-launch-day-seo-operations.md
  docs/index.md
  docs/reference/ref-development-changelog.md
  docs/reference/ref-launch-seo-and-search-indexing-readiness-2026-04-08.md
  frontend/apps/skriptoteket/src/router/index.spec.ts
  frontend/apps/skriptoteket/src/router/index.ts
  frontend/apps/skriptoteket/src/router/routes.spec.ts
  frontend/apps/skriptoteket/src/router/routes.ts
  frontend/apps/skriptoteket/src/views/RouteRecoveryView.spec.ts
  frontend/apps/skriptoteket/src/views/RouteRecoveryView.vue
Due: docs-contract-validate, eslint

Fix planner shell breakpoints and overflow proof
  .agents/handoff.md
  .pre-commit-config.yaml
  AGENTS.md
  docs/backlog/prs/pr-0229-st-29-11-desktop-first-planner-toolbar-breakpoint-overflow-escalation-and-undo-redo-shortcut-parity.md
  docs/backlog/reviews/review-pr-0229-planner-toolbar-breakpoint-overflow-escalation-and-undo-redo-shortcut-parity.md
  docs/reference/ref-development-changelog.md
  frontend/apps/skriptoteket/src/components/layout/AuthLayout.spec.ts
  frontend/apps/skriptoteket/src/components/layout/AuthLayout.vue
  frontend/apps/skriptoteket/src/components/layout/AuthSidebar.vue
  frontend/apps/skriptoteket/src/components/layout/AuthTopBar.vue
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestWorkspaceShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspacePane.export.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspaceToolbar.overflow.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspaceToolbar.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspacePane.export.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspaceToolbar.overflow.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspaceToolbar.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerToolbarOverflowMenu.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceActionBar.vue
  frontend/apps/skriptoteket/src/views/apps/components/usePlannerToolbarOverflow.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/usePlannerToolbarOverflow.ts
  frontend/apps/skriptoteket/src/views/apps/usePlannerUndoRedoShortcuts.spec.ts
  scripts/check_agent_doc_budgets.py
  scripts/playwright_pr_0229_toolbar_overflow_threshold_check.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Tighten planner shortcut negative-path proof
  .agents/handoff.md
  docs/backlog/prs/pr-0229-st-29-11-desktop-first-planner-toolbar-breakpoint-overflow-escalation-and-undo-redo-shortcut-parity.md
  docs/backlog/reviews/review-pr-0229-planner-toolbar-breakpoint-overflow-escalation-and-undo-redo-shortcut-parity.md
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestWorkspaceShell.shortcuts.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.shortcuts.spec.ts
  frontend/apps/skriptoteket/src/views/apps/test/plannerShortcutTestHarness.ts
  frontend/apps/skriptoteket/src/views/apps/usePlannerUndoRedoShortcuts.spec.ts
  frontend/apps/skriptoteket/src/views/apps/usePlannerUndoRedoShortcuts.ts
  scripts/playwright_pr_0229_toolbar_overflow_threshold_check.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Ship planner export/public-host polish
  .agents/handoff.md
  docs/backlog/prs/pr-0248-st-29-02-recovered-export-silence-rules-rail-stickiness-and-overview-copy-cleanup.md
  docs/backlog/prs/pr-0249-st-32-05-singular-login-first-blocked-state-for-closed-public-guest-mode.md
  docs/backlog/reviews/review-pr-0248-recovered-export-silence-rules-rail-stickiness-and-overview-copy-cleanup.md
  docs/backlog/reviews/review-pr-0249-singular-login-first-blocked-state-for-closed-public-guest-mode.md
  docs/backlog/stories/story-29-02-klassrumskartan-workspace-shell-compression-and-low-value-feedback-band-reduction.md
  docs/backlog/stories/story-32-05-authenticated-upgrade-orchestration-and-idempotent-import-policy.md
  docs/index.md
  docs/reference/ref-development-changelog.md
  frontend/apps/skriptoteket/src/assets/main.css
  frontend/apps/skriptoteket/src/views/PublicAppHostView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestOverviewView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestOverviewView.vue
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerExportFlow.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerClassWorkspace.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerClassWorkspace.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRosterOverviewPanel.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRosterOverviewPanel.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRulesToolRail.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRulesWorkspacePane.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRulesWorkspacePane.vue
  frontend/apps/skriptoteket/src/views/apps/useClassroomPlannerGuestController.ts
  frontend/apps/skriptoteket/src/views/apps/useClassroomPlannerGuestOverviewShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useGroupingExportFlow.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useSeatingExportFlow.spec.ts
Due: docs-contract-validate, eslint

Ship auth return-to-origin proof
  .agents/handoff.md
  docs/backlog/epics/epic-28-skriptoteket-auth-authority-cutover-to-huleedu.md
  docs/backlog/prs/pr-0252-st-28-02-auth-entry-return-to-origin-on-huleedu-session.md
  docs/backlog/prs/pr-0253-st-28-03-local-auth-authority-retirement-and-contract-regeneration.md
  docs/backlog/reviews/review-pr-0253-local-auth-authority-retirement-and-contract-regeneration.md
  docs/backlog/stories/story-28-02-auth-interruption-and-protected-route-handoff-on-huleedu-owned-session.md
  docs/index.md
  frontend/apps/skriptoteket/src/App.spec.ts
  frontend/apps/skriptoteket/src/composables/auth/authEntryNavigation.spec.ts
  frontend/apps/skriptoteket/src/router/index.spec.ts
  pyproject.toml
  scripts/_playwright_huleedu_auth.py
  scripts/playwright_pr_0252_auth_return_to_origin.py
  scripts/playwright_pr_0255_auth_bootstrap.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

feat(auth): add HuleEdu lifecycle handoffs
  .agents/handoff.md
  docs/backlog/epics/epic-28-skriptoteket-auth-authority-cutover-to-huleedu.md
  docs/backlog/prs/pr-0257-st-28-08-standalone-registration-password-lifecycle-provider-contract.md
  docs/backlog/reviews/review-pr-0257-standalone-registration-password-lifecycle-provider-contract.md
  docs/backlog/stories/story-28-08-skriptoteket-standalone-registration-and-password-lifecycle.md
  frontend/apps/skriptoteket/src/api/sharedAuth.spec.ts
  frontend/apps/skriptoteket/src/api/sharedAuth.ts
  frontend/apps/skriptoteket/src/components/auth/AuthLoginPanel.spec.ts
  frontend/apps/skriptoteket/src/components/auth/AuthLoginPanel.vue
  frontend/apps/skriptoteket/src/router/routes.spec.ts
  frontend/apps/skriptoteket/src/router/routes.ts
  frontend/apps/skriptoteket/src/views/AuthLifecycleHandoffView.spec.ts
  frontend/apps/skriptoteket/src/views/AuthLifecycleHandoffView.vue
  frontend/apps/skriptoteket/src/views/AuthRetiredView.vue
  scripts/playwright_pr_0257_auth_lifecycle.py
  tests/unit/web/test_pr_0253_auth_retirement_contracts.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

docs(auth): lock realm-aware projection slice
  .agents/handoff.md
  docs/backlog/epics/epic-28-skriptoteket-auth-authority-cutover-to-huleedu.md
  docs/backlog/prs/pr-0258-st-28-09-realm-aware-identity-projections-and-provisioning-migration.md
  docs/backlog/stories/story-28-09-realm-aware-projection-provisioning-and-local-rbac.md
  docs/index.md
  docs/reference/ref-hule-education-product-identity-realms-and-skriptoteket-standalone-identity.md
Due: docs-contract-validate

docs(auth): record pr-0258 review blockers
  .agents/handoff.md
  docs/backlog/epics/epic-28-skriptoteket-auth-authority-cutover-to-huleedu.md
  docs/backlog/prs/pr-0258-st-28-09-realm-aware-identity-projections-and-provisioning-migration.md
  docs/backlog/reviews/review-pr-0258-realm-aware-identity-projections-and-provisioning-migration.md
  docs/backlog/stories/story-28-09-realm-aware-projection-provisioning-and-local-rbac.md
  docs/index.md
  docs/reference/ref-hule-education-product-identity-realms-and-skriptoteket-standalone-identity.md
Due: docs-contract-validate

fix(auth): close PR-0258 projection remediation
  .agents/handoff.md
  docs/backlog/epics/epic-28-skriptoteket-auth-authority-cutover-to-huleedu.md
  docs/backlog/prs/pr-0254-st-28-04-cross-app-auth-cutover-smoke-and-runbook-proof.md
  docs/backlog/prs/pr-0258-st-28-09-realm-aware-identity-projections-and-provisioning-migration.md
  docs/backlog/reviews/review-pr-0258-realm-aware-identity-projections-and-provisioning-migration.md
  docs/backlog/stories/story-28-04-cross-app-auth-cutover-smoke-and-operator-runbook-proof.md
  docs/backlog/stories/story-28-09-realm-aware-projection-provisioning-and-local-rbac.md
  docs/reference/ref-hule-education-product-identity-realms-and-skriptoteket-standalone-identity.md
  frontend/apps/skriptoteket/src/components/auth/AuthLoginPanel.spec.ts
  frontend/apps/skriptoteket/src/components/auth/AuthLoginPanel.vue
  frontend/apps/skriptoteket/src/components/home/LandingAuthenticatedPreview.vue
  frontend/apps/skriptoteket/src/components/layout/LandingLayout.spec.ts
  frontend/apps/skriptoteket/src/components/layout/LandingLayout.vue
  frontend/apps/skriptoteket/src/composables/auth/authEntryNavigation.ts
  frontend/apps/skriptoteket/src/composables/auth/sharedAuthRedirect.ts
  frontend/apps/skriptoteket/src/stores/auth.spec.ts
  frontend/apps/skriptoteket/src/views/AuthLoginView.spec.ts
  frontend/apps/skriptoteket/src/views/AuthLoginView.vue
  frontend/apps/skriptoteket/src/views/HomeView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestOverviewView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestOverviewView.vue
  scripts/playwright_pr_0258_auth_projection.py
  src/skriptoteket/application/identity/huleedu_app_projection.py
  src/skriptoteket/application/identity/huleedu_app_projection_context.py
  src/skriptoteket/infrastructure/repositories/identity_projection_repository.py
  src/skriptoteket/infrastructure/repositories/user_repository.py
  src/skriptoteket/protocols/identity.py
  src/skriptoteket/web/auth/huleedu_app_projection.py
  tests/fixtures/profile_app_continuation_api_app.py
  tests/fixtures/profile_app_continuation_support.py
  tests/integration/application/test_huleedu_app_projection_concurrency.py
  tests/unit/web/test_profile_app_continuation_api.py
  tests/unit/web/test_profile_app_continuation_context_api.py
  tests/unit/web/test_profile_app_continuation_dependencies_api.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Fix public Smart Slumpa guest snapshot commits
  .agents/handoff.md
  .agents/next-session-instruction-prompt-template.md
  README.md
  docs/adr/adr-0083-hule-education-product-identity-realms-for-skriptoteket-login.md
  docs/backlog/epics/epic-28-skriptoteket-auth-authority-cutover-to-huleedu.md
  docs/backlog/prs/pr-0254-st-28-04-cross-app-auth-cutover-smoke-and-runbook-proof.md
  docs/backlog/prs/pr-0259-st-32-06-public-smart-slumpa-accepted-workspace-snapshot-commit-contract.md
  docs/backlog/reviews/review-pr-0259-public-smart-slumpa-snapshot-commit-contract.md
  docs/backlog/stories/story-28-04-cross-app-auth-cutover-smoke-and-operator-runbook-proof.md
  docs/index.md
  docs/reference/ref-hule-education-product-identity-realms-and-skriptoteket-standalone-identity.md
  docs/reference/ref-huleedu-launch-surface-and-shared-auth-topology-2026-04-08.md
  docs/runbooks/runbook-user-management.md
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerGuestDraftSession.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerGuestDraftWorkspace.spec.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerGuestDraftWorkspace.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerPublicSmartRunFeedback.ts
  frontend/apps/skriptoteket/src/views/apps/useDraftPersistenceLane.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useDraftPersistenceLane.ts
  frontend/apps/skriptoteket/src/views/apps/usePublicSmartGroupingRun.spec.ts
  frontend/apps/skriptoteket/src/views/apps/usePublicSmartGroupingRun.ts
  frontend/apps/skriptoteket/src/views/apps/usePublicSmartSeatingRun.spec.ts
  frontend/apps/skriptoteket/src/views/apps/usePublicSmartSeatingRun.ts
  tests/unit/application/apps/classroom_planner/test_public_smart_run.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Point Docker dev auth at local HuleEdu gateway
  .agents/handoff.md
  .env.example
  compose.yaml
  docs/backlog/epics/epic-28-skriptoteket-auth-authority-cutover-to-huleedu.md
  docs/backlog/prs/pr-0254-st-28-04-cross-app-auth-cutover-smoke-and-runbook-proof.md
  docs/backlog/stories/story-28-04-cross-app-auth-cutover-smoke-and-operator-runbook-proof.md
  docs/reference/ref-hule-education-product-identity-realms-and-skriptoteket-standalone-identity.md
  docs/reference/ref-huleedu-launch-surface-and-shared-auth-topology-2026-04-08.md
  tests/unit/test_docker_dev_shared_auth_contract.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Add Docker auth cutover proof lane
  .agents/handoff.md
  .agents/rules/075-browser-automation.md
  .env.example
  compose.yaml
  docs/adr/adr-0083-hule-education-product-identity-realms-for-skriptoteket-login.md
  docs/backlog/epics/epic-28-skriptoteket-auth-authority-cutover-to-huleedu.md
  docs/backlog/prs/pr-0254-st-28-04-cross-app-auth-cutover-smoke-and-runbook-proof.md
  docs/backlog/stories/story-28-04-cross-app-auth-cutover-smoke-and-operator-runbook-proof.md
  docs/reference/ref-hule-education-product-identity-realms-and-skriptoteket-standalone-identity.md
  docs/reference/ref-huleedu-launch-surface-and-shared-auth-topology-2026-04-08.md
  frontend/apps/skriptoteket/vite.config.ts
  pyproject.toml
  scripts/playwright_pr_0254_auth_cutover.py
  src/skriptoteket/config.py
  tests/unit/test_config.py
  tests/unit/test_docker_dev_shared_auth_contract.py
  tests/unit/web/test_app_security_hardening.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

docs: scaffold auth bootstrap follow-up slices
  .agents/handoff.md
  docs/backlog/epics/epic-28-skriptoteket-auth-authority-cutover-to-huleedu.md
  docs/backlog/prs/pr-0254-st-28-04-cross-app-auth-cutover-smoke-and-runbook-proof.md
  docs/backlog/prs/pr-0260-st-28-11-bootstrap-projection-role-matrix-contract.md
  docs/backlog/prs/pr-0261-st-28-12-login-register-reset-affordance-and-redirect-contract.md
  docs/backlog/prs/pr-0262-st-28-12-real-lifecycle-proof-smoke-and-runbook.md
  docs/backlog/reviews/review-pr-0254-cross-app-auth-cutover-smoke-and-runbook-proof.md
  docs/backlog/reviews/review-pr-0260-bootstrap-projection-role-matrix-contract.md
  docs/backlog/reviews/review-pr-0261-login-register-reset-affordance-and-redirect-contract.md
  docs/backlog/reviews/review-pr-0262-real-lifecycle-proof-smoke-and-runbook.md
  docs/backlog/stories/story-28-04-cross-app-auth-cutover-smoke-and-operator-runbook-proof.md
  docs/backlog/stories/story-28-10-auth-outcome-observability-for-realm-cutover.md
  docs/backlog/stories/story-28-11-bootstrap-proof-identities-and-projection-role-matrix.md
  docs/backlog/stories/story-28-12-real-standalone-lifecycle-and-auth-entry-proof.md
  docs/index.md
Due: docs-contract-validate

Consume HuleEdu subject export into local roles
  .agents/handoff.md
  docs/backlog/epics/epic-28-skriptoteket-auth-authority-cutover-to-huleedu.md
  docs/backlog/prs/pr-0260-st-28-11-bootstrap-projection-role-matrix-contract.md
  docs/backlog/prs/pr-0262-st-28-12-real-lifecycle-proof-smoke-and-runbook.md
  docs/backlog/reviews/review-pr-0260-bootstrap-projection-role-matrix-contract.md
  docs/backlog/stories/story-28-11-bootstrap-proof-identities-and-projection-role-matrix.md
  docs/runbooks/runbook-user-management.md
  pyproject.toml
  src/skriptoteket/application/identity/huleedu_subject_export_consumer.py
  src/skriptoteket/application/identity/huleedu_subject_export_contract.py
  src/skriptoteket/cli/commands/consume_huleedu_subject_export.py
  src/skriptoteket/cli/main.py
  tests/fixtures/identity/huleedu_subject_export_v1.json
  tests/integration/application/test_huleedu_subject_export_consumer_audit.py
  tests/unit/application/identity/test_bootstrap_projection_role_matrix.py
  tests/unit/application/identity/test_bootstrap_subject_export_schema.py
  tests/unit/cli/test_consume_huleedu_subject_export.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Complete auth lifecycle proof
  .agents/handoff.md
  docs/backlog/epics/epic-28-skriptoteket-auth-authority-cutover-to-huleedu.md
  docs/backlog/prs/pr-0254-st-28-04-cross-app-auth-cutover-smoke-and-runbook-proof.md
  docs/backlog/prs/pr-0261-st-28-12-login-register-reset-affordance-and-redirect-contract.md
  docs/backlog/prs/pr-0262-st-28-12-real-lifecycle-proof-smoke-and-runbook.md
  docs/backlog/reviews/review-pr-0261-login-register-reset-affordance-and-redirect-contract.md
  docs/backlog/reviews/review-pr-0262-real-lifecycle-proof-smoke-and-runbook.md
  docs/backlog/stories/story-28-12-real-standalone-lifecycle-and-auth-entry-proof.md
  docs/reference/ref-development-changelog.md
  frontend/apps/skriptoteket/src/api/openapi.d.ts
  frontend/apps/skriptoteket/src/components/auth/AuthLoginPanel.spec.ts
  frontend/apps/skriptoteket/src/components/auth/AuthLoginPanel.vue
  frontend/apps/skriptoteket/src/components/home/LandingAuthenticatedPreview.vue
  frontend/apps/skriptoteket/src/views/AuthLifecycleHandoffView.spec.ts
  frontend/apps/skriptoteket/src/views/AuthLifecycleHandoffView.vue
  frontend/apps/skriptoteket/src/views/HomeView.spec.ts
  frontend/apps/skriptoteket/src/views/HomeView.vue
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestOverviewView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestOverviewView.vue
  pyproject.toml
  scripts/_playwright_huleedu_auth.py
  scripts/_pr_0262_lifecycle_manifest.py
  scripts/playwright_pr_0261_auth_action_matrix.py
  scripts/playwright_pr_0262_real_lifecycle.py
  src/skriptoteket/web/api/v1/diagnostics.py
  src/skriptoteket/web/router.py
  tests/fixtures/profile_app_continuation_api_app.py
  tests/unit/application/auth/test_pr_0262_lifecycle_manifest.py
  tests/unit/web/test_huleedu_identity_context_probe_api.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

fix anonymous auth callback recovery
  .agents/handoff.md
  docs/backlog/prs/pr-0261-st-28-12-login-register-reset-affordance-and-redirect-contract.md
  docs/backlog/stories/story-28-12-real-standalone-lifecycle-and-auth-entry-proof.md
  frontend/apps/skriptoteket/src/components/auth/AuthLoginPanel.spec.ts
  frontend/apps/skriptoteket/src/components/auth/AuthLoginPanel.vue
  frontend/apps/skriptoteket/src/composables/auth/authCallbackRetry.ts
  frontend/apps/skriptoteket/src/views/AuthLoginView.spec.ts
  frontend/apps/skriptoteket/src/views/AuthLoginView.vue
  scripts/playwright_pr_0261_auth_action_matrix.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Consolidate dev tooling command surfaces
  .agents/handoff.md
  .agents/rules/054-alembic-migrations.md
  .agents/rules/060-docker-and-compose.md
  .agents/rules/094-observability-infrastructure.md
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  docs/backlog/prs/pr-0039-execution-queue-worker-loop.md
  docs/backlog/prs/pr-0069-reagent-prep-chef-sds-index-available-in-docker.md
  docs/backlog/prs/pr-0151-klassrumskartan-roster-global-smart-rules-and-draft-local-arrangement-boundary-reset.md
  docs/backlog/prs/pr-0266-dev-tooling-script-surface-consolidation.md
  docs/index.md
  pyproject.toml
  scripts/_command_dispatch.py
  scripts/dev_stack.py
  scripts/obs_stack.py
  scripts/playwright_pr_0254_auth_cutover.py
  src/skriptoteket/infrastructure/runner/docker/errors.py
  tests/unit/application/auth/test_pr_0254_provider_lane_preflight.py
  tests/unit/infrastructure/runner/test_docker_runner_execute.py
  tests/unit/scripts/test_dev_stack.py
  tests/unit/scripts/test_obs_stack.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

docs: cut over observability skill references
  .claude/skills/distributed-tracing/SKILL.md
  .claude/skills/distributed-tracing/examples.md
  .claude/skills/distributed-tracing/reference.md
  .claude/skills/jaeger-tracing/SKILL.md
  .claude/skills/jaeger-tracing/examples/advanced-instrumentation.md
  .claude/skills/jaeger-tracing/examples/async-propagation.md
  .claude/skills/jaeger-tracing/examples/troubleshooting.md
  .claude/skills/jaeger-tracing/fundamentals.md
  .claude/skills/jaeger-tracing/huleedu-patterns.md
  .claude/skills/loki-logql/SKILL.md
  .claude/skills/loki-logql/debugging-patterns.md
  .claude/skills/loki-logql/examples.md
  .claude/skills/loki-logql/reference.md
  .claude/skills/prometheus-metrics/SKILL.md
  .claude/skills/prometheus-metrics/examples/database-and-business.md
  .claude/skills/prometheus-metrics/examples/http-and-kafka.md
  .claude/skills/prometheus-metrics/examples/llm-and-batch.md
  .claude/skills/prometheus-metrics/fundamentals.md
  .claude/skills/prometheus-metrics/huleedu-patterns.md
  .claude/skills/prometheus-metrics/promql-guide.md
  .claude/skills/structlog-logging/SKILL.md
  .claude/skills/structlog-logging/examples.md
  .claude/skills/structlog-logging/reference.md
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  docs/backlog/prs/pr-0033-large-file-srp-refactors-help-panel-docker-runner-edit-ops.md
Due: docs-contract-validate

feat: add auth outcome observability
  .agents/handoff.md
  docs/backlog/epics/epic-28-skriptoteket-auth-authority-cutover-to-huleedu.md
  docs/backlog/prs/pr-0264-st-28-10-auth-outcome-observability-for-huleedu-cutover.md
  docs/backlog/reviews/review-pr-0264-auth-outcome-observability-for-huleedu-cutover.md
  docs/backlog/stories/story-28-10-auth-outcome-observability-for-realm-cutover.md
  docs/runbooks/runbook-observability-logging.md
  docs/runbooks/runbook-observability-metrics.md
  src/skriptoteket/application/identity/huleedu_app_projection.py
  src/skriptoteket/application/scripting/handlers/acquire_draft_lock.py
  src/skriptoteket/di/identity.py
  src/skriptoteket/di/infrastructure/services.py
  src/skriptoteket/observability/auth_outcomes.py
  src/skriptoteket/observability/metrics.py
  src/skriptoteket/protocols/auth_outcomes.py
  src/skriptoteket/web/api/v1/editor/completions.py
  src/skriptoteket/web/api/v1/editor/edit_ops.py
  src/skriptoteket/web/auth/huleedu_app_projection.py
  src/skriptoteket/web/middleware/error_handler.py
  src/skriptoteket/web/routes/observability.py
  tests/fixtures/profile_app_continuation_api_app.py
  tests/fixtures/profile_app_continuation_support.py
  tests/integration/application/test_huleedu_app_projection_concurrency.py
  tests/integration/test_migration_e7b3a9c4d1f2_idempotent.py
  tests/unit/application/scripting/handlers/test_draft_lock_handler.py
  tests/unit/observability/test_auth_outcomes.py
  tests/unit/web/test_editor_edit_ops_preview_apply_api.py
  tests/unit/web/test_editor_inline_completion_api.py
  tests/unit/web/test_error_handler_middleware.py
  tests/unit/web/test_observability_routes.py
  tests/unit/web/test_profile_app_continuation_api.py
  tests/unit/web/test_profile_app_continuation_context_api.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Use HuleEdu protected API edge for app calls
  AGENTS.md
  docs/backlog/epics/epic-28-skriptoteket-auth-authority-cutover-to-huleedu.md
  docs/backlog/prs/pr-0254-st-28-04-cross-app-auth-cutover-smoke-and-runbook-proof.md
  docs/reference/ref-hule-education-product-identity-realms-and-skriptoteket-standalone-identity.md
  docs/reference/ref-huleedu-launch-surface-and-shared-auth-topology-2026-04-08.md
  frontend/apps/skriptoteket/src/api/client.spec.ts
  frontend/apps/skriptoteket/src/api/client.ts
  frontend/apps/skriptoteket/src/components/run-results/RunResultPanel.vue
  frontend/apps/skriptoteket/src/components/tool-run/ToolRunArtifacts.vue
  frontend/apps/skriptoteket/src/composables/editor/chat/editorChatApi.spec.ts
  frontend/apps/skriptoteket/src/composables/editor/chat/editorChatApi.ts
  frontend/apps/skriptoteket/src/views/MyRunsListView.vue
Due: docs-contract-validate, eslint

Route app continuation through protected API edge
  frontend/apps/skriptoteket/src/api/client.ts
  frontend/apps/skriptoteket/src/api/protectedApiBase.ts
  frontend/apps/skriptoteket/src/stores/auth.spec.ts
  frontend/apps/skriptoteket/src/stores/authBootstrap.ts
Due: eslint

Mount HuleEdu identity key in production
  .env.example
  compose.prod.yaml
  docs/reference/ref-development-changelog.md
  scripts/hemma_deploy_and_verify_seating_export.sh
  scripts/playwright_task_0376_production_protected_api.py
  tests/unit/test_docker_dev_shared_auth_contract.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Mount HuleEdu identity key directory in prod
  .env.example
  compose.prod.yaml
  scripts/hemma_deploy_and_verify_seating_export.sh
  tests/unit/test_docker_dev_shared_auth_contract.py
Due: ruff-format, ruff-lint, mypy, pytest

Fix provisioning recovery route loop
  docs/backlog/prs/pr-0261-st-28-12-login-register-reset-affordance-and-redirect-contract.md
  docs/backlog/stories/story-28-12-real-standalone-lifecycle-and-auth-entry-proof.md
  frontend/apps/skriptoteket/src/composables/auth/authEntryNavigation.spec.ts
  frontend/apps/skriptoteket/src/composables/auth/authEntryNavigation.ts
  frontend/apps/skriptoteket/src/router/index.spec.ts
  frontend/apps/skriptoteket/src/router/index.ts
Due: docs-contract-validate, eslint

Cut over Skriptoteket session memory
  .codex/long-term-memory/entries/legacy-epic-05-huleedu-design-harmonization.md
  .codex/long-term-memory/entries/legacy-st08-10-script-editor-intelligence-review.md
  .codex/long-term-memory/entries/session-2026-04-16-task-0042.md
  .codex/long-term-memory/index.md
  .codex/next-session-instruction-prompt-template.md
  .codex/sessions/session-epic-05-huleedu-design-harmonization.md
  .codex/sessions/session-st08-10-script-editor-intelligence-review.md
  .pre-commit-config.yaml
  AGENTS.md
  docs/index.md
  scripts/check_agent_doc_budgets.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Add Skriptoteket CTA button contract guard
  frontend/apps/skriptoteket/tests/actionButtonContract.spec.ts
Due: none

Commit remaining Skriptoteket updates
  .codex/long-term-memory/entries/session-2026-04-16-epic-05-huleedu-design-harmonization.md
  .codex/long-term-memory/entries/session-2026-04-16-st08-10-script-editor-intelligence-review.md
  .codex/long-term-memory/entries/session-2026-04-16-task-0042.md
  .codex/long-term-memory/index.md
  scripts/check_agent_doc_budgets.py
  scripts/playwright_task_0376_production_protected_api.py
Due: ruff-format, ruff-lint, mypy, pytest

Refresh public landing copy
  docs/backlog/epics/epic-32-public-curated-app-access-foundation-and-klassrumskartan-demo.md
  docs/backlog/prs/pr-0270-st-32-08-landing-authenticated-value-copy-refresh.md
  docs/backlog/stories/story-32-08-featured-public-app-showcase-and-authenticated-value-previews.md
  docs/index.md
  docs/mockups/INDEX.md
  docs/mockups/st-32-08-landing-authenticated-value-copy-alternatives/README.md
  docs/mockups/st-32-08-landing-authenticated-value-copy-alternatives/index.html
  docs/reference/ref-public-landing-copy-lock.md
  frontend/apps/skriptoteket/src/components/home/LandingAuthenticatedPreview.vue
  frontend/apps/skriptoteket/src/components/home/LandingFeaturedClassroom.vue
  frontend/apps/skriptoteket/src/views/HomeView.spec.ts
Due: docs-contract-validate, eslint

Add help completion route coverage and copy signoff story to Epic 08
  docs/backlog/epics/epic-08-contextual-help-and-onboarding.md
  docs/backlog/prs/pr-0271-st-08-35-help-completion-route-coverage-and-copy-signoff.md
  docs/backlog/stories/story-08-35-help-completion-route-coverage-and-copy-signoff.md
  docs/index.md
  docs/reference/ref-skriptoteket-help-copy-signoff.md
Due: docs-contract-validate

Advance ST-08-35 help completion
  docs/backlog/prs/pr-0271-st-08-35-help-completion-route-coverage-and-copy-signoff.md
  docs/backlog/stories/story-08-35-help-completion-route-coverage-and-copy-signoff.md
  docs/reference/ref-skriptoteket-help-copy-signoff.md
  frontend/apps/skriptoteket/src/components/help/HelpIndex.vue
  frontend/apps/skriptoteket/src/components/help/HelpPanel.spec.ts
  frontend/apps/skriptoteket/src/components/help/HelpPanel.vue
  frontend/apps/skriptoteket/src/components/help/HelpTopicLayout.vue
  frontend/apps/skriptoteket/src/components/help/helpTopicCatalog.spec.ts
  frontend/apps/skriptoteket/src/components/help/helpTopicCatalog.ts
  frontend/apps/skriptoteket/src/components/help/helpTopics.ts
  frontend/apps/skriptoteket/src/components/help/topics/HelpTopicAdminEditor.vue
  frontend/apps/skriptoteket/src/components/help/topics/HelpTopicAdminSuggestions.vue
  frontend/apps/skriptoteket/src/components/help/topics/HelpTopicAdminTools.vue
  frontend/apps/skriptoteket/src/components/help/topics/HelpTopicAdminUsers.vue
  frontend/apps/skriptoteket/src/components/help/topics/HelpTopicAppsDetail.vue
  frontend/apps/skriptoteket/src/components/help/topics/HelpTopicAuthLifecycle.vue
  frontend/apps/skriptoteket/src/components/help/topics/HelpTopicBrowseProfessions.vue
  frontend/apps/skriptoteket/src/components/help/topics/HelpTopicBrowseTools.vue
  frontend/apps/skriptoteket/src/components/help/topics/HelpTopicEditorHub.vue
  frontend/apps/skriptoteket/src/components/help/topics/HelpTopicForbidden.vue
  frontend/apps/skriptoteket/src/components/help/topics/HelpTopicHome.vue
  frontend/apps/skriptoteket/src/components/help/topics/HelpTopicLogin.vue
  frontend/apps/skriptoteket/src/components/help/topics/HelpTopicMyRuns.vue
  frontend/apps/skriptoteket/src/components/help/topics/HelpTopicMyTools.vue
  frontend/apps/skriptoteket/src/components/help/topics/HelpTopicProfile.vue
  frontend/apps/skriptoteket/src/components/help/topics/HelpTopicProvisioningRequired.vue
  frontend/apps/skriptoteket/src/components/help/topics/HelpTopicRouteRecovery.vue
  frontend/apps/skriptoteket/src/components/help/topics/HelpTopicSuggestionsNew.vue
  frontend/apps/skriptoteket/src/components/help/topics/HelpTopicToolsResult.vue
  frontend/apps/skriptoteket/src/components/help/topics/HelpTopicToolsRun.vue
  frontend/apps/skriptoteket/src/components/help/topics/HelpTopicVault.vue
  frontend/apps/skriptoteket/src/components/help/useHelp.ts
  frontend/apps/skriptoteket/src/components/home/LandingAuthenticatedPreview.vue
  frontend/apps/skriptoteket/src/views/HomeView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestOverviewView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestOverviewView.vue
Due: docs-contract-validate, eslint

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  mypy: any of: \.py$
  pytest: any of: \.py$
  docs-contract-validate: any of: ^docs/
  agent-doc-budgets: any of: ^\.agent/(readme-first\.md|handoff\.md)$
  eslint: any of: ^frontend/apps/skriptoteket/src/.*\.(vue|ts|js)$
