Repository paunchygent/skriptoteket: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

ruff-format:
  name: Ruff format (staged files)
  entry: pdm run ruff format --force-exclude
  language: system
  pass_filenames: true

ruff-lint:
  name: Ruff lint (staged files)
  entry: pdm run ruff check --force-exclude
  language: system
  pass_filenames: true

mypy:
  name: Mypy typecheck (src + tests)
  entry: pdm run typecheck
  language: system
  pass_filenames: false

pytest:
  name: Pytest (unit suite)
  entry: pdm run test
  language: system
  pass_filenames: false

docs-contract-validate:
  name: Docs contract validate (placement + naming + frontmatter)
  entry: pdm run docs-validate
  language: system
  pass_filenames: false

agent-doc-budgets:
  name: Agent docs line budgets (.agent/*)
  entry: pdm run python -m scripts.check_agent_doc_budgets
  language: system
  pass_filenames: false

eslint:
  name: ESLint (frontend)
  entry: pnpm --filter @skriptoteket/spa lint
  language: system
  pass_filenames: false

fix(frontend): hero styling and admin user grid layout
  frontend/apps/skriptoteket/src/views/HomeView.vue
  frontend/apps/skriptoteket/src/views/admin/AdminUserDetailView.vue
Due: eslint

chore(frontend): update favicon to new designer logo
  frontend/apps/skriptoteket/public/favicon.svg
Due: none

docs(epic-17): close ST-17-07 + accept ADR-0049
  docs/adr/adr-0049-login-events-audit-trail.md
  docs/backlog/epics/epic-17-observability-visualization-and-operations.md
  docs/backlog/stories/story-17-07-login-events-audit-trail.md
Due: docs-contract-validate

obs(epic-17): http dashboard + alerts + jaeger proxy
  compose.observability.yaml
  observability/grafana/provisioning/dashboards/skriptoteket-http-metrics.json
  observability/prometheus/prometheus.yml
  observability/prometheus/rules/skriptoteket-alerts.yml
Due: none

fix(frontend): align logo SVGs with HuleEdu design tokens
  frontend/apps/skriptoteket/public/favicon.svg
  frontend/apps/skriptoteket/public/logo-horizontal.svg
  frontend/apps/skriptoteket/src/components/brand/BrandLogo.vue
  frontend/apps/skriptoteket/src/components/layout/AuthLayout.vue
  frontend/apps/skriptoteket/src/components/layout/AuthSidebar.vue
  frontend/apps/skriptoteket/src/components/layout/LandingLayout.vue
Due: eslint

docs(runbooks): track ops runbooks
  .gitignore
  docs/runbooks/runbook-home-server.md
  docs/runbooks/runbook-observability-grafana.md
  docs/runbooks/runbook-observability-metrics.md
  docs/runbooks/runbook-observability-tracing.md
  docs/runbooks/runbook-observability.md
  docs/runbooks/runbook-runner-image.md
  docs/runbooks/runbook-script-bank-seeding-home-server.md
  docs/runbooks/runbook-testing.md
Due: docs-contract-validate

docs(epic-17): jaeger basic auth + story status
  docs/backlog/epics/epic-17-observability-visualization-and-operations.md
  docs/backlog/stories/story-17-04-jaeger-public-access.md
  docs/backlog/stories/story-17-05-runbook-verification.md
  docs/runbooks/runbook-home-server.md
  docs/runbooks/runbook-observability-tracing.md
  docs/runbooks/runbook-observability.md
Due: docs-contract-validate

docs(epic-08): accept ADR-0043 + approve review + apply feedback
  docs/adr/adr-0043-ai-completion-integration.md
  docs/backlog/reviews/review-epic-08-ai-completion.md
  docs/backlog/stories/story-08-14-ai-inline-completions.md
  docs/reference/ref-ai-completion-architecture.md
  docs/runbooks/runbook-observability-tracing.md
Due: docs-contract-validate

obs(epic-17): pin grafana datasource uids for correlation
  observability/grafana/provisioning/datasources/datasources.yaml
Due: none

docs(epic-17): finalize datasource correlation + runbook verification
  docs/backlog/epics/epic-17-observability-visualization-and-operations.md
  docs/backlog/stories/story-17-01-grafana-datasource-verification.md
  docs/backlog/stories/story-17-02-http-metrics-dashboard.md
  docs/backlog/stories/story-17-03-prometheus-alerting-rules.md
  docs/backlog/stories/story-17-05-runbook-verification.md
  docs/runbooks/runbook-observability-grafana.md
  docs/runbooks/runbook-observability-metrics.md
  docs/runbooks/runbook-observability.md
Due: docs-contract-validate

docs(epic-06): expand linter architecture with quick fixes + lint panel + scope chain
  docs/adr/adr-0048-linter-context-and-data-flow.md
  docs/backlog/epics/epic-06-quality-and-test-coverage.md
  docs/backlog/reviews/review-epic-06-linter-architecture-refactor.md
  docs/backlog/stories/story-06-10-context-rule-architecture.md
  docs/backlog/stories/story-06-11-quick-fix-actions.md
  docs/backlog/stories/story-06-12-lint-panel-navigation.md
  docs/backlog/stories/story-06-13-gutter-filter-polish.md
  docs/backlog/stories/story-06-14-headless-test-harness.md
  docs/reference/ref-codemirror-integration.md
  docs/reference/ref-linter-architecture.md
Due: docs-contract-validate

docs(epic-08): add story for robust email verification flow
  docs/backlog/stories/story-08-02-robust-email-verification.md
Due: docs-contract-validate

fix(email): use PNG logo instead of SVG for email client compatibility
  src/skriptoteket/infrastructure/email/templates/verify_email.html
  src/skriptoteket/web/static/images/logo-email.png
Due: none

fix(email): revert to SVG logo
  src/skriptoteket/infrastructure/email/templates/verify_email.html
  src/skriptoteket/web/static/images/logo-email.png
  src/skriptoteket/web/static/images/logo-email.svg
Due: none

docs(epic-08): add ST-08-03 email verification frontend route
  docs/backlog/stories/story-08-03-email-verification-frontend-route.md
Due: docs-contract-validate

fix(email): use PNG logo (17KB)
  src/skriptoteket/infrastructure/email/templates/verify_email.html
  src/skriptoteket/web/static/images/logo-email.png
  src/skriptoteket/web/static/images/logo-email.svg
Due: none

style(logo): scale text 20% and vertically center on cap height
  frontend/apps/skriptoteket/public/logo-horizontal.svg
Due: none

docs(story-08-03): email verification frontend route design
  docs/backlog/stories/story-08-03-email-verification-frontend-route.md
  frontend/apps/skriptoteket/src/composables/editor/linter/adapters/codemirror/skriptoteketLinterAdapter.ts
  frontend/apps/skriptoteket/src/composables/editor/linter/domain/pythonFacts.ts
  frontend/apps/skriptoteket/src/composables/editor/linter/domain/rules/bestPracticesRule.ts
  frontend/apps/skriptoteket/src/composables/editor/linter/domain/rules/contractRule.ts
  frontend/apps/skriptoteket/src/composables/editor/linter/domain/rules/entrypointRule.ts
  frontend/apps/skriptoteket/src/composables/editor/linter/domain/utils/pythonImports.ts
  frontend/apps/skriptoteket/src/composables/editor/linter/infra/pythonAnalysis.ts
  frontend/apps/skriptoteket/src/composables/editor/skriptoteketLinter.spec.ts
Due: docs-contract-validate, eslint

feat(ST-08-03): email verification frontend route
  frontend/apps/skriptoteket/src/router/routes.ts
  frontend/apps/skriptoteket/src/views/VerifyEmailView.vue
  src/skriptoteket/application/identity/handlers/verify_email.py
Due: ruff-format, ruff-lint, mypy, pytest, eslint

feat(frontend): add reusable icon component system
  frontend/apps/skriptoteket/src/components/icons/IconArrow.vue
  frontend/apps/skriptoteket/src/components/icons/IconCheck.vue
  frontend/apps/skriptoteket/src/components/icons/IconWarning.vue
  frontend/apps/skriptoteket/src/components/icons/IconX.vue
  frontend/apps/skriptoteket/src/components/icons/index.ts
  frontend/apps/skriptoteket/src/views/VerifyEmailView.vue
Due: eslint

refactor(frontend): replace inline SVGs with icon components
  frontend/apps/skriptoteket/src/components/catalog/CatalogItemCard.vue
  frontend/apps/skriptoteket/src/components/icons/IconBookmark.vue
  frontend/apps/skriptoteket/src/components/icons/IconHelp.vue
  frontend/apps/skriptoteket/src/components/icons/IconInfo.vue
  frontend/apps/skriptoteket/src/components/icons/index.ts
  frontend/apps/skriptoteket/src/components/tool-run/ToolRunStepIndicator.vue
  frontend/apps/skriptoteket/src/components/ui/ToastHost.vue
  frontend/apps/skriptoteket/src/views/SuggestionNewView.vue
Due: eslint

style(frontend): UI refinements and burgundy color update
  .agent/rules/045-huleedu-design-system.md
  .agent/sessions/session-epic-05-huleedu-design-harmonization.md
  .claude/skills/brutalist-academic-ui/SKILL.md
  docs/adr/adr-0017-huleedu-design-system-adoption.md
  docs/reference/reports/ref-htmx-ux-enhancement-plan.md
  docs/reference/reports/ref-vue-spa-migration-roadmap.md
  frontend/apps/skriptoteket/public/favicon.svg
  frontend/apps/skriptoteket/public/logo-horizontal.svg
  frontend/apps/skriptoteket/src/assets/main.css
  frontend/apps/skriptoteket/src/components/admin/LoginEventsPanel.vue
  frontend/apps/skriptoteket/src/components/catalog/CatalogItemCard.vue
  frontend/apps/skriptoteket/src/components/icons/IconArrow.vue
  frontend/apps/skriptoteket/src/components/layout/AuthTopBar.vue
  frontend/apps/skriptoteket/src/views/BrowseFlatView.vue
  frontend/apps/skriptoteket/src/views/HomeView.vue
  frontend/apps/skriptoteket/src/views/MyRunsListView.vue
  frontend/apps/skriptoteket/src/views/admin/AdminSuggestionsListView.vue
  frontend/apps/skriptoteket/src/views/admin/AdminToolsView.vue
  frontend/apps/skriptoteket/src/views/admin/AdminUsersView.vue
  src/skriptoteket/infrastructure/email/templates/verify_email.html
  src/skriptoteket/web/static/css/huleedu-design-tokens.css
Due: docs-contract-validate, eslint

chore: linter improvements and test updates
  .agent/handoff.md
  docs/backlog/stories/story-06-11-quick-fix-actions.md
  frontend/apps/skriptoteket/src/composables/editor/linter/adapters/codemirror/skriptoteketLinterAdapter.ts
  frontend/apps/skriptoteket/src/composables/editor/linter/domain/utils/pythonImports.ts
  frontend/apps/skriptoteket/src/composables/editor/skriptoteketLinter.spec.ts
  frontend/apps/skriptoteket/src/composables/editor/useDraftLock.spec.ts
  frontend/apps/skriptoteket/src/composables/editor/useEditorWorkflowActions.spec.ts
  frontend/apps/skriptoteket/src/composables/editor/useSandboxSettings.spec.ts
  frontend/apps/skriptoteket/src/composables/editor/useScriptEditor.spec.ts
  frontend/apps/skriptoteket/src/composables/editor/useToolVersionSettings.spec.ts
  frontend/apps/skriptoteket/src/composables/tools/useToolSettings.spec.ts
  scripts/playwright_st_06_11_quick_fix_actions_e2e.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

feat(my-runs): add INPUT/OUTPUT columns to runs table
  frontend/apps/skriptoteket/src/api/openapi.d.ts
  frontend/apps/skriptoteket/src/views/MyRunsListView.vue
  src/skriptoteket/web/api/v1/my_runs.py
Due: ruff-format, ruff-lint, mypy, pytest, eslint

feat(editor): add lint panel + nav keymaps
  frontend/apps/skriptoteket/src/components/editor/CodeMirrorEditor.vue
  frontend/apps/skriptoteket/src/composables/editor/skriptoteketIntelligence.ts
  frontend/apps/skriptoteket/src/composables/editor/skriptoteketLintPanel.ts
  frontend/apps/skriptoteket/src/stores/auth.ts
  scripts/playwright_st_06_12_lint_panel_navigation_e2e.py
Due: ruff-format, ruff-lint, mypy, pytest, eslint

docs(agent): prune handoff and document editor intelligence
  .agent/handoff.md
  .agent/readme-first.md
  docs/backlog/stories/story-06-12-lint-panel-navigation.md
Due: docs-contract-validate, agent-doc-budgets

docs(runbooks): add self-hosted AI infra docs
  AGENTS.md
  CLAUDE.md
  docs/adr/adr-0050-self-hosted-llm-infrastructure.md
  docs/backlog/epics/epic-08-contextual-help-and-onboarding.md
  docs/backlog/stories/story-08-14-ai-inline-completions.md
  docs/runbooks/runbook-gpu-ai-workloads.md
  docs/runbooks/runbook-tabby-codemirror.md
Due: docs-contract-validate

feat(editor): EPIC-06 headless harness + gutter filtering
  .agent/handoff.md
  docs/backlog/reviews/review-epic-06-linter-architecture-refactor.md
  docs/backlog/stories/story-06-13-gutter-filter-polish.md
  docs/backlog/stories/story-06-14-headless-test-harness.md
  frontend/apps/skriptoteket/src/composables/editor/linter/adapters/codemirror/skriptoteketLinterAdapter.ts
  frontend/apps/skriptoteket/src/composables/editor/linter/headlessLinterHarness.spec.ts
  frontend/apps/skriptoteket/src/test/headlessLinterHarness.ts
  scripts/playwright_st_06_11_quick_fix_actions_e2e.py
  scripts/playwright_st_06_12_lint_panel_navigation_e2e.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

docs(runbooks): AI infra + integration notes
  compose.prod.yaml
  compose.yaml
  docs/reference/ref-ai-completion-architecture.md
  docs/runbooks/runbook-gpu-ai-workloads.md
  docs/runbooks/runbook-huleedu-integration.md
  docs/runbooks/runbook-tabby-codemirror.md
Due: docs-contract-validate

docs(agent): update handoff snapshot
  .agent/handoff.md
Due: agent-doc-budgets

feat(editor): ST-08-15 stable Contract diagnostic IDs
  docs/backlog/stories/story-08-15-contract-lint-source-ids.md
  frontend/apps/skriptoteket/src/composables/editor/linter/adapters/codemirror/skriptoteketLinterAdapter.ts
  frontend/apps/skriptoteket/src/composables/editor/linter/domain/rules/contractRule.ts
  frontend/apps/skriptoteket/src/composables/editor/skriptoteketLinter.spec.ts
Due: docs-contract-validate, eslint

docs(agent): update handoff for ST-08-15
  .agent/handoff.md
Due: agent-doc-budgets

fix(editor): rename contract 'kind' message
  docs/backlog/stories/story-08-11-script-editor-intelligence-phase2.md
  frontend/apps/skriptoteket/src/composables/editor/linter/domain/rules/contractRule.ts
  frontend/apps/skriptoteket/src/composables/editor/skriptoteketLinter.spec.ts
  scripts/playwright_st_08_11_script_editor_intelligence_phase2_e2e.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

ST-08-14: AI inline completions (ghost text)
  .agent/handoff.md
  docs/backlog/stories/story-08-14-ai-inline-completions.md
  docs/runbooks/runbook-gpu-ai-workloads.md
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspacePanel.vue
  frontend/apps/skriptoteket/src/composables/editor/skriptoteketGhostText.spec.ts
  frontend/apps/skriptoteket/src/composables/editor/skriptoteketGhostText.ts
  frontend/apps/skriptoteket/src/composables/editor/skriptoteketIntelligence.ts
  frontend/apps/skriptoteket/src/composables/editor/useSkriptoteketIntelligenceExtensions.ts
  scripts/playwright_st_08_14_ai_inline_completions_e2e.py
  src/skriptoteket/application/editor/__init__.py
  src/skriptoteket/application/editor/completion_handler.py
  src/skriptoteket/config.py
  src/skriptoteket/di/__init__.py
  src/skriptoteket/di/llm.py
  src/skriptoteket/infrastructure/llm/__init__.py
  src/skriptoteket/infrastructure/llm/openai_provider.py
  src/skriptoteket/protocols/llm.py
  src/skriptoteket/web/api/v1/editor/__init__.py
  src/skriptoteket/web/api/v1/editor/completions.py
  src/skriptoteket/web/api/v1/editor/models.py
  tests/unit/application/test_editor_inline_completion_handler.py
  tests/unit/web/test_editor_inline_completion_api.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

docs: clarify runbooks are committed
  AGENTS.md
Due: none

feat(api): add inline completion endpoint types
  frontend/apps/skriptoteket/src/api/openapi.d.ts
Due: eslint

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  mypy: any of: \.py$
  pytest: any of: \.py$
  docs-contract-validate: any of: ^docs/
  agent-doc-budgets: any of: ^\.agent/(readme-first\.md|handoff\.md)$
  eslint: any of: ^frontend/apps/skriptoteket/src/.*\.(vue|ts|js)$
