Repository paunchygent/skriptoteket: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

ruff-format:
  name: Ruff format (staged files)
  entry: pdm run ruff format --force-exclude
  language: system
  pass_filenames: true

ruff-lint:
  name: Ruff lint (staged files)
  entry: pdm run ruff check --force-exclude
  language: system
  pass_filenames: true

mypy:
  name: Mypy typecheck (src + tests)
  entry: pdm run typecheck
  language: system
  pass_filenames: false

pytest:
  name: Pytest (unit suite)
  entry: pdm run test
  language: system
  pass_filenames: false

docs-contract-validate:
  name: Docs contract validate (placement + naming + frontmatter)
  entry: pdm run docs-validate
  language: system
  pass_filenames: false

agent-doc-budgets:
  name: Agent docs line budgets (.agent/*)
  entry: pdm run python -m scripts.check_agent_doc_budgets
  language: system
  pass_filenames: false

eslint:
  name: ESLint (frontend)
  entry: pnpm --filter @skriptoteket/spa lint
  language: system
  pass_filenames: false

Add class workspace summary contract for classroom planner
  .agents/handoff.md
  docs/backlog/prs/pr-0086-klassrumskartan-class-workspace-summary-contract.md
  docs/backlog/prs/pr-0087-klassrumskartan-class-first-landing-and-workspace-state-machine.md
  docs/backlog/prs/pr-0088-klassrumskartan-task-entry-and-planner-return-semantics.md
  docs/backlog/prs/pr-0089-klassrumskartan-task-history-drawers-and-workspace-polish.md
  docs/index.md
  src/skriptoteket/application/curated_apps/classroom_planner/__init__.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/workspace_summary.py
  src/skriptoteket/di/curated_apps.py
  src/skriptoteket/domain/curated_apps/classroom_planner/models.py
  src/skriptoteket/infrastructure/repositories/classroom_planner.py
  src/skriptoteket/protocols/classroom_planner.py
  src/skriptoteket/web/api/v1/apps_classroom_planner.py
  src/skriptoteket/web/api/v1/apps_classroom_planner_summary.py
  tests/integration/infrastructure/repositories/test_classroom_planner_repository.py
  tests/unit/application/apps/classroom_planner/test_class_workspace_summary.py
  tests/unit/web/apps/classroom_planner/test_class_workspace_summary_api.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Implement class-first classroom planner workspace
  .agents/handoff.md
  docs/backlog/prs/pr-0087-klassrumskartan-class-first-landing-and-workspace-state-machine.md
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerView.vue
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerTypes.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerClassWorkspace.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerClassWorkspace.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSelectionGate.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSelectionGate.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/useClassroomState.ts
  scripts/playwright_classroom_planner_smoke.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Complete ST-24-02 class-first workspace flow
  .agents/handoff.md
  docs/adr/adr-0071-group-seating-studio-fundamentals-workflow-and-saved-artifacts.md
  docs/adr/adr-0072-group-seating-studio-class-first-workspace-and-draft-kinds.md
  docs/backlog/epics/epic-24-group-seating-studio-slice-2.md
  docs/backlog/prs/pr-0086-klassrumskartan-class-workspace-summary-contract.md
  docs/backlog/prs/pr-0088-klassrumskartan-task-entry-and-planner-return-semantics.md
  docs/backlog/prs/pr-0089-klassrumskartan-task-history-drawers-and-workspace-polish.md
  docs/backlog/reviews/review-epic-24-group-seating-studio-slice-2-planning.md
  docs/backlog/stories/story-24-02-group-seating-studio-class-first-workspace.md
  docs/prd/prd-group-seating-studio-v0.3.md
  docs/reference/ref-group-seating-studio-product-direction-2026-03-21.md
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerView.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerClassWorkspace.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerClassWorkspace.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerHistoryDrawer.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerTopPanel.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/useClassroomState.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useClassroomState.ts
  migrations/versions/91f6c4a7b2d1_allow_roomless_seating_drafts.py
  scripts/playwright_classroom_planner_smoke.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/drafts.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/workspace_summary.py
  src/skriptoteket/infrastructure/db/models/classroom_planner_plan_draft.py
  src/skriptoteket/web/api/v1/apps_classroom_planner.py
  tests/integration/database/test_classroom_planner_migration.py
  tests/unit/application/apps/classroom_planner/test_class_workspace_summary.py
  tests/unit/application/apps/classroom_planner/test_draft_lifecycle.py
  tests/unit/web/apps/classroom_planner/test_class_workspace_summary_api.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Realign group seating docs around draft history
  .agents/handoff.md
  docs/adr/adr-0071-group-seating-studio-fundamentals-workflow-and-saved-artifacts.md
  docs/adr/adr-0072-group-seating-studio-class-first-workspace-and-draft-kinds.md
  docs/backlog/epics/epic-24-group-seating-studio-slice-2.md
  docs/backlog/prs/pr-0090-klassrumskartan-grouping-draft-history-contract.md
  docs/backlog/prs/pr-0091-klassrumskartan-grouping-workspace-fundamentals.md
  docs/backlog/prs/pr-0092-klassrumskartan-grouping-undo-redo-and-autosave-ux.md
  docs/backlog/prs/pr-0093-klassrumskartan-grouping-class-history-and-draft-continuity.md
  docs/backlog/reviews/review-epic-24-group-seating-studio-slice-2-planning.md
  docs/backlog/stories/story-24-03-group-seating-studio-grouping-fundamentals-and-saved-groupings.md
  docs/backlog/stories/story-24-04-group-seating-studio-seating-fundamentals-and-saved-arrangements.md
  docs/index.md
  docs/prd/prd-group-seating-studio-v0.3.md
  docs/reference/ref-group-seating-studio-product-direction-2026-03-21.md
Due: docs-contract-validate

Implement PR-0090 grouping draft history contract
  .agents/handoff.md
  docs/backlog/prs/pr-0090-klassrumskartan-grouping-draft-history-contract.md
  migrations/versions/4cb43fe0cf54_add_grouping_draft_history_columns.py
  migrations/versions/91f6c4a7b2d1_allow_roomless_seating_drafts.py
  src/skriptoteket/application/curated_apps/classroom_planner/__init__.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/drafts.py
  src/skriptoteket/di/curated_apps.py
  src/skriptoteket/domain/curated_apps/classroom_planner/models.py
  src/skriptoteket/infrastructure/db/base.py
  src/skriptoteket/infrastructure/db/models/classroom_planner_plan_draft.py
  src/skriptoteket/infrastructure/repositories/classroom_planner.py
  src/skriptoteket/protocols/classroom_planner.py
  src/skriptoteket/web/api/v1/apps_classroom_planner.py
  tests/unit/application/apps/classroom_planner/test_draft_lifecycle.py
  tests/unit/infrastructure/repositories/test_classroom_planner_review_fixes.py
  tests/unit/web/apps/classroom_planner/test_api.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Update curated classroom planner and pinball docs
  .agents/handoff.md
  docs/backlog/prs/pr-0091-klassrumskartan-grouping-workspace-fundamentals.md
  docs/backlog/prs/pr-0092-klassrumskartan-grouping-undo-redo-and-autosave-ux.md
  docs/backlog/stories/story-24-03-group-seating-studio-grouping-fundamentals-and-saved-groupings.md
  docs/index.md
  docs/reference/ref-curated-app-pinball-teacher-architecture-and-foundational-code.md
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerView.vue
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerStoreMutations.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerTypes.ts
  frontend/apps/skriptoteket/src/views/apps/components/GroupBoard.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/GroupBoard.vue
  frontend/apps/skriptoteket/src/views/apps/components/GroupCard.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/GroupCard.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/components/RoomCanvas.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useClassroomState.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useClassroomState.ts
  migrations/versions/71e8b6f24c1a_add_group_name_custom_flag.py
  scripts/playwright_classroom_planner_smoke.py
  src/skriptoteket/application/curated_apps/classroom_planner/__init__.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/drafts.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/grouping_drafts.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/planner_context.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/workspace_builders.py
  src/skriptoteket/di/curated_apps.py
  src/skriptoteket/domain/curated_apps/classroom_planner/models.py
  src/skriptoteket/infrastructure/db/models/classroom_planner_plan_draft.py
  src/skriptoteket/infrastructure/repositories/classroom_planner.py
  src/skriptoteket/web/api/v1/apps_classroom_planner.py
  src/skriptoteket/web/api/v1/apps_classroom_planner_draft_contracts.py
  src/skriptoteket/web/api/v1/apps_classroom_planner_grouping.py
  src/skriptoteket/web/router.py
  tests/unit/application/apps/classroom_planner/test_draft_lifecycle.py
  tests/unit/infrastructure/repositories/test_classroom_planner_review_fixes.py
  tests/unit/web/apps/classroom_planner/test_api.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Finish planner grouping history UX fixes
  .agents/handoff.md
  AGENTS.md
  data/pinball_teacher_references_sounds/Gemini_Generated_Image_agqvftagqvftagqv.png
  data/pinball_teacher_references_sounds/reference_inspiration.png
  docs/backlog/prs/pr-0092-klassrumskartan-grouping-undo-redo-and-autosave-ux.md
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerStoreMutations.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerTypes.ts
  frontend/apps/skriptoteket/src/views/apps/components/GroupBoard.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/GroupBoard.vue
  frontend/apps/skriptoteket/src/views/apps/components/GroupCard.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/GroupCard.vue
  frontend/apps/skriptoteket/src/views/apps/useClassroomState.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useClassroomState.ts
  scripts/playwright_classroom_planner_smoke.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/drafts.py
  src/skriptoteket/infrastructure/repositories/classroom_planner.py
  src/skriptoteket/web/api/v1/apps_classroom_planner.py
  tests/unit/application/apps/classroom_planner/test_draft_lifecycle.py
  tests/unit/application/apps/classroom_planner/test_services.py
  tests/unit/web/apps/classroom_planner/test_api.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Finalize planner landing CTA flow and docs
  .agents/handoff.md
  data/pinball_teacher_references_sounds/Gemini_Generated_Image_z24f9qz24f9qz24f.png
  docs/adr/adr-0071-group-seating-studio-fundamentals-workflow-and-saved-artifacts.md
  docs/adr/adr-0072-group-seating-studio-class-first-workspace-and-draft-kinds.md
  docs/adr/adr-0073-competitive-games-and-official-high-scores.md
  docs/backlog/epics/epic-25-competitive-games-and-pinball-teacher.md
  docs/backlog/prs/pr-0092-klassrumskartan-grouping-undo-redo-and-autosave-ux.md
  docs/backlog/prs/pr-0093-klassrumskartan-grouping-class-history-and-draft-continuity.md
  docs/backlog/reviews/review-epic-25-competitive-games-and-pinball-teacher.md
  docs/backlog/stories/story-24-03-group-seating-studio-grouping-fundamentals-and-saved-groupings.md
  docs/backlog/stories/story-25-01-competitive-games-substrate-and-pinball-teacher-bootstrap-contract.md
  docs/backlog/stories/story-25-02-pinball-teacher-local-runtime-vertical-slice.md
  docs/backlog/stories/story-25-03-competitive-play-pending-score-submission-and-typed-leaderboards.md
  docs/backlog/stories/story-25-04-competitive-play-replay-validation-and-official-score-promotion.md
  docs/index.md
  docs/prd/prd-group-seating-studio-v0.3.md
  docs/reference/ref-competitive-games-cross-cutting-programme.md
  docs/reference/ref-curated-app-pinball-teacher-architecture-and-foundational-code.md
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerView.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSelectionGate.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSelectionGate.vue
  scripts/playwright_classroom_planner_smoke.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Land Flunk-Out-Frenzy post-review runtime and shell remediation (PR-0104)
  .agents/handoff.md
  docs/backlog/epics/epic-25-competitive-games-and-flunk-out-frenzy.md
  docs/backlog/prs/pr-0099-flunk-out-frenzy-prototype-alpha-physics-and-rules.md
  docs/backlog/prs/pr-0100-flunk-out-frenzy-renderer-audio-and-playable-local-proof.md
  docs/backlog/prs/pr-0104-flunk-out-frenzy-post-review-runtime-and-shell-remediation.md
  docs/backlog/stories/story-25-01-competitive-games-substrate-and-flunk-out-frenzy-bootstrap-contract.md
  docs/backlog/stories/story-25-02-flunk-out-frenzy-local-runtime-vertical-slice.md
  docs/index.md
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/GameHost.spec.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/GameHost.vue
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/audio/AudioDirector.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/audio/audioTypes.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/core/GameRuntime.spec.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/core/GameRuntime.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/core/runtimeEngineTypes.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/engine/PrototypeAlphaGameEngine.spec.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/engine/PrototypeAlphaGameEngine.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/presentation/gameEffectTypes.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/render/PixiRenderer.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/render/renderTypes.ts
  frontend/apps/skriptoteket/src/types/howler.d.ts
  frontend/apps/skriptoteket/src/views/apps/FlunkOutFrenzyView.spec.ts
Due: docs-contract-validate, eslint

Ship seating undo/redo with bounded draft history (PR-0106)
  .agents/handoff.md
  docs/backlog/epics/epic-24-group-seating-studio-slice-2.md
  docs/backlog/prs/pr-0106-klassrumskartan-seating-undo-redo-and-bounded-draft-history.md
  docs/backlog/stories/story-24-04-group-seating-studio-seating-fundamentals-and-saved-arrangements.md
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/useClassroomState.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useClassroomState.ts
  scripts/playwright_classroom_planner_smoke.py
  scripts/playwright_pr_0105_seating_continuity.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/drafts.py
  src/skriptoteket/domain/curated_apps/classroom_planner/models.py
  src/skriptoteket/infrastructure/repositories/classroom_planner.py
  src/skriptoteket/protocols/classroom_planner.py
  src/skriptoteket/web/api/v1/apps_classroom_planner.py
  tests/unit/application/apps/classroom_planner/test_draft_lifecycle.py
  tests/unit/infrastructure/repositories/test_classroom_planner_review_fixes.py
  tests/unit/web/apps/classroom_planner/test_api.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Add seating Slumpa and reopen EPIC-24 closure slices
  .agents/handoff.md
  docs/backlog/epics/epic-24-group-seating-studio-slice-2.md
  docs/backlog/prs/pr-0109-klassrumskartan-seating-slumpa-fundamentals.md
  docs/backlog/prs/pr-0110-klassrumskartan-overview-compact-class-and-classroom-management.md
  docs/backlog/prs/pr-0111-klassrumskartan-overview-resumable-cta-and-workspace-entry-polish.md
  docs/backlog/reviews/review-epic-24-group-seating-studio-slice-2-planning.md
  docs/backlog/stories/story-24-06-group-seating-studio-seating-slumpa-fundamentals.md
  docs/backlog/stories/story-24-07-group-seating-studio-overview-first-workspace-management.md
  docs/backlog/stories/story-24-08-group-seating-studio-landing-cutover-and-exit-to-origin.md
  docs/index.md
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerStoreMutations.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/useClassroomState.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useClassroomState.ts
  scripts/playwright_pr_0105_seating_continuity.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Fix pre-commit pytest hook bottleneck
  .pre-commit-config.yaml
  scripts/run_precommit_targeted_unit_tests.py
  tests/unit/infrastructure/repositories/test_classroom_planner_review_fixes.py
Due: ruff-format, ruff-lint, mypy, pytest

Polish classroom planner overview workspace
  .agents/handoff.md
  docs/backlog/prs/pr-0110-klassrumskartan-overview-compact-class-and-classroom-management.md
  docs/backlog/prs/pr-0112-klassrumskartan-overview-design-simplification-and-seamless-workspace-transitions.md
  docs/backlog/stories/story-24-07-group-seating-studio-overview-first-workspace-management.md
  docs/index.md
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerView.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerClassWorkspace.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerClassWorkspace.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerConfirmationDialog.vue
Due: docs-contract-validate, eslint

Implement PR-0112 planner design simplification
  .agents/handoff.md
  docs/backlog/prs/pr-0113-klassrumskartan-borja-om-current-grouping-and-seating-draft-without-new-draft.md
  docs/index.md
  frontend/apps/skriptoteket/src/components/icons/IconHistory.vue
  frontend/apps/skriptoteket/src/components/icons/IconRedo.vue
  frontend/apps/skriptoteket/src/components/icons/IconShuffle.vue
  frontend/apps/skriptoteket/src/components/icons/index.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerView.vue
  frontend/apps/skriptoteket/src/views/apps/components/GroupBoard.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/GroupBoard.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerClassWorkspace.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerClassWorkspace.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerToolbarIconButton.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerToolbarOverflowMenu.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/components/RoomCanvas.vue
  scripts/playwright_classroom_planner_smoke.py
  scripts/playwright_pr_0112_design_transition_check.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Implement PR-0113 in-place draft reset actions
  .agents/handoff.md
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/core/GameRuntime.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerStoreMutations.ts
  frontend/apps/skriptoteket/src/views/apps/components/GroupBoard.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/GroupBoard.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/useClassroomState.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useClassroomState.ts
  scripts/playwright_pr_0113_reset_current_draft.py
Due: ruff-format, ruff-lint, mypy, pytest, eslint

Close out PR-0107 canvas warning cleanup docs
  .agents/handoff.md
  docs/backlog/prs/pr-0107-flunk-out-frenzy-canvas-warning-cleanup-and-test-renderer-boundaries.md
Due: docs-contract-validate

Implement PR-0111 overview resumable entry flow
  .agents/handoff.md
  docs/backlog/epics/epic-24-group-seating-studio-slice-2.md
  docs/backlog/prs/pr-0111-klassrumskartan-overview-resumable-cta-and-workspace-entry-polish.md
  docs/backlog/stories/story-24-07-group-seating-studio-overview-first-workspace-management.md
  docs/backlog/stories/story-24-08-group-seating-studio-landing-cutover-and-exit-to-origin.md
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/GameHost.spec.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/GameHost.vue
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/game/core/loadGameRuntime.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/gameHostTypes.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerView.vue
  frontend/apps/skriptoteket/src/views/apps/FlunkOutFrenzyView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/FlunkOutFrenzyView.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerClassWorkspace.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerClassWorkspace.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerTopPanel.vue
  scripts/playwright_classroom_planner_smoke.py
  scripts/playwright_pr_0111_overview_resumable_entry.py
  src/skriptoteket/infrastructure/repositories/classroom_planner.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Tighten Flunk-Out runtime load-state handling
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/GameHost.spec.ts
  frontend/apps/skriptoteket/src/components/apps/flunk-out-frenzy/GameHost.vue
  frontend/apps/skriptoteket/src/views/apps/FlunkOutFrenzyView.spec.ts
Due: eslint

Cut over Klassrumskartan to overview home
  .agents/handoff.md
  docs/backlog/epics/epic-24-group-seating-studio-slice-2.md
  docs/backlog/prs/pr-0111-klassrumskartan-overview-resumable-cta-and-workspace-entry-polish.md
  docs/backlog/stories/story-24-07-group-seating-studio-overview-first-workspace-management.md
  docs/backlog/stories/story-24-08-group-seating-studio-landing-cutover-and-exit-to-origin.md
  frontend/apps/skriptoteket/src/App.spec.ts
  frontend/apps/skriptoteket/src/App.vue
  frontend/apps/skriptoteket/src/components/catalog/CatalogItemCard.vue
  frontend/apps/skriptoteket/src/composables/useLoginModal.ts
  frontend/apps/skriptoteket/src/router/index.spec.ts
  frontend/apps/skriptoteket/src/router/index.ts
  frontend/apps/skriptoteket/src/views/BrowseToolsView.vue
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerView.vue
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerNavigation.spec.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerNavigation.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerClassWorkspace.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSelectionGate.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSelectionGate.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.vue
  scripts/playwright_pr_0111_overview_resumable_entry.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Refactor classroom planner shells into focused workspace components
  .agents/handoff.md
  docs/backlog/prs/pr-0114-klassrumskartan-planner-shell-decomposition-and-shared-ui-primitives.md
  docs/backlog/prs/pr-0115-klassrumskartan-route-shell-orchestration-and-catalog-home-state-extraction.md
  docs/backlog/prs/pr-0116-klassrumskartan-room-template-editor-modularization-and-shared-room-scene.md
  docs/index.md
  frontend/apps/skriptoteket/src/views/apps/components/GroupBoard.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/GroupBoard.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerClassWorkspace.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspacePane.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerOverviewResumeCards.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRosterOverviewPanel.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspacePane.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerStudentPool.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerTemplateOverviewPanel.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceActionBar.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/components/RoomCanvas.vue
Due: docs-contract-validate, eslint

Extract classroom planner route shell state and orchestration
  .agents/handoff.md
  docs/backlog/prs/pr-0115-klassrumskartan-route-shell-orchestration-and-catalog-home-state-extraction.md
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerView.vue
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerCatalogApi.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerOverviewStore.spec.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerOverviewStore.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerRouteShellErrors.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerRouteShellExit.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerRouteShellOverviewCrud.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerRouteShellSaveGuards.spec.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerRouteShellSaveGuards.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerRouteShellWorkspace.ts
  frontend/apps/skriptoteket/src/views/apps/useClassroomPlannerRouteShell.ts
Due: docs-contract-validate, eslint

Modularize room template editor and close planner refactors
  .agents/handoff.md
  docs/backlog/epics/epic-24-group-seating-studio-slice-2.md
  docs/backlog/prs/pr-0114-klassrumskartan-planner-shell-decomposition-and-shared-ui-primitives.md
  docs/backlog/prs/pr-0115-klassrumskartan-route-shell-orchestration-and-catalog-home-state-extraction.md
  docs/backlog/prs/pr-0116-klassrumskartan-room-template-editor-modularization-and-shared-room-scene.md
  frontend/apps/skriptoteket/src/views/apps/components/CreateRoomTemplateModal.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/CreateRoomTemplateModal.vue
  frontend/apps/skriptoteket/src/views/apps/components/RoomSceneSurface.vue
  frontend/apps/skriptoteket/src/views/apps/components/RoomTemplateBuilderSurface.vue
  frontend/apps/skriptoteket/src/views/apps/components/RoomTemplateEditorSidebar.vue
  frontend/apps/skriptoteket/src/views/apps/components/RoomTemplatePreviewScene.vue
  frontend/apps/skriptoteket/src/views/apps/roomTemplateEditorDomain.spec.ts
  frontend/apps/skriptoteket/src/views/apps/roomTemplateEditorDomain.ts
  frontend/apps/skriptoteket/src/views/apps/useRoomTemplateEditorState.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useRoomTemplateEditorState.ts
  scripts/_playwright_classroom_planner.py
  scripts/playwright_classroom_planner_smoke.py
  scripts/playwright_pr_0116_room_template_editor_check.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Ship Klassrumskartan export flow and webhook hardening
  .agents/handoff.md
  .env.example
  compose.dev.yaml
  docs/backlog/prs/pr-0120-klassrumskartan-seating-export-action-teacher-flow-and-browser-proof.md
  docs/backlog/prs/pr-0121-klassrumskartan-shared-seating-export-webhook-dispatcher.md
  docs/backlog/prs/pr-0122-klassrumskartan-seating-export-production-wiring-and-hemma-deploy-orchestration.md
  docs/backlog/prs/pr-0123-klassrumskartan-seating-scene-remediation-wall-markers-localization-and-print-contrast.md
  docs/backlog/prs/pr-0124-klassrumskartan-seating-export-reload-recovery-and-draft-scoped-rehydration.md
  docs/backlog/prs/pr-0125-klassrumskartan-legacy-seating-export-callback-cutover-and-decommission.md
  docs/index.md
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerView.vue
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerExportApi.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerExportActionGroup.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerExportActionGroup.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspacePane.export.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspacePane.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/useClassroomPlannerRouteShell.ts
  frontend/apps/skriptoteket/src/views/apps/useSeatingExportFlow.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useSeatingExportFlow.ts
  migrations/versions/c9c1c9270a3d_add_classroom_planner_shared_export_.py
  scripts/playwright_pr_0120_seating_export_check.py
  src/skriptoteket/application/curated_apps/classroom_planner/exports/webhook_bindings.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/seating_export_job_completion.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/seating_export_jobs.py
  src/skriptoteket/di/curated_apps.py
  src/skriptoteket/infrastructure/curated_apps/apps/conversion_hub/sir_convert_client_v2.py
  src/skriptoteket/infrastructure/db/models/__init__.py
  src/skriptoteket/infrastructure/db/models/classroom_planner_seating_export_webhook_binding.py
  src/skriptoteket/infrastructure/repositories/classroom_planner_export_webhook_bindings.py
  src/skriptoteket/protocols/classroom_planner_exports.py
  src/skriptoteket/protocols/sir_convert_a_lot_v2.py
  src/skriptoteket/web/api/v1/internal_sir_convert_callbacks.py
  tests/unit/application/apps/classroom_planner/test_seating_export_jobs.py
  tests/unit/application/apps/classroom_planner/test_seating_export_webhook_dispatch.py
  tests/unit/infrastructure/curated_apps/apps/conversion_hub/test_sir_convert_client_v2.py
  tests/unit/web/apps/classroom_planner/test_internal_sir_convert_callbacks.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Fix Hemma seating-export smoke env forwarding
  scripts/hemma_deploy_and_verify_seating_export.sh
Due: none

Remove forbidden typing shortcuts from seating export test
  tests/unit/application/apps/classroom_planner/test_seating_export_job_support.py
Due: ruff-format, ruff-lint, mypy, pytest

Record Hemma seating export production proof
  .agents/handoff.md
  docs/backlog/epics/epic-26-klassrumskartan-explicit-exports-and-class-list-import.md
  docs/backlog/prs/pr-0122-klassrumskartan-seating-export-production-wiring-and-hemma-deploy-orchestration.md
Due: docs-contract-validate

Complete PR-0125 cutover and PR-0126 wall fixture parity
  .agents/handoff.md
  docs/backlog/epics/epic-26-klassrumskartan-explicit-exports-and-class-list-import.md
  docs/backlog/prs/pr-0125-klassrumskartan-legacy-seating-export-callback-cutover-and-decommission.md
  docs/backlog/prs/pr-0126-klassrumskartan-wall-fixture-parity-resize-anchoring-and-poster-header-branding.md
  docs/backlog/stories/story-26-06-klassrumskartan-scrollable-fixed-previews-and-student-pool-scroll-regions.md
  docs/backlog/stories/story-26-07-klassrumskartan-stable-task-toolbars-and-action-zoning.md
  docs/backlog/stories/story-26-08-klassrumskartan-overview-action-hierarchy-and-affordance-polish.md
  docs/index.md
  docs/runbooks/runbook-home-server.md
  frontend/apps/skriptoteket/src/views/apps/components/RoomFixtureArtwork.vue
  frontend/apps/skriptoteket/src/views/apps/components/RoomSceneSurface.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/RoomSceneSurface.vue
  frontend/apps/skriptoteket/src/views/apps/roomFixturePresentation.ts
  frontend/apps/skriptoteket/src/views/apps/roomTemplateEditorDomain.spec.ts
  frontend/apps/skriptoteket/src/views/apps/roomTemplateEditorDomain.ts
  frontend/apps/skriptoteket/src/views/apps/useRoomTemplateEditorState.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useRoomTemplateEditorState.ts
  scripts/hemma_deploy_and_verify_seating_export.sh
  src/skriptoteket/application/curated_apps/classroom_planner/exports/webhook_contract.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/seating_export_job_completion.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/seating_export_jobs.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/seating_export_webhook_reconciliation.py
  src/skriptoteket/cli/commands/reconcile_seating_export_webhooks.py
  src/skriptoteket/infrastructure/curated_apps/apps/classroom_planner/poster_renderer.py
  src/skriptoteket/web/api/v1/internal_sir_convert_callbacks.py
  tests/unit/application/apps/classroom_planner/test_seating_export_webhook_dispatch.py
  tests/unit/application/apps/classroom_planner/test_seating_export_webhook_reconciliation.py
  tests/unit/infrastructure/curated_apps/apps/classroom_planner/test_poster_renderer.py
  tests/unit/web/apps/classroom_planner/test_internal_sir_convert_callbacks.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Add next Klassrumskartan backlog follow-ups
  .agents/handoff.md
  docs/backlog/epics/epic-26-klassrumskartan-explicit-exports-and-class-list-import.md
  docs/backlog/prs/pr-0127-klassrumskartan-overview-roster-preview-overflow-and-fixed-height-scrolling.md
  docs/backlog/prs/pr-0128-klassrumskartan-grouping-and-seating-student-pool-split-pane-scrolling.md
  docs/backlog/prs/pr-0129-klassrumskartan-shared-planner-action-bar-zoning-and-grouping-toolbar-stabilization.md
  docs/backlog/prs/pr-0130-klassrumskartan-seating-toolbar-stabilization-export-cluster-alignment-and-responsive-proof.md
  docs/backlog/prs/pr-0131-klassrumskartan-overview-button-hierarchy-and-destructive-action-de-emphasis.md
  docs/backlog/prs/pr-0132-klassrumskartan-resume-history-affordance-normalization-and-planner-control-polish.md
  docs/backlog/stories/story-26-06-klassrumskartan-scrollable-fixed-previews-and-student-pool-scroll-regions.md
  docs/backlog/stories/story-26-08-klassrumskartan-overview-action-hierarchy-and-affordance-polish.md
  docs/index.md
Due: docs-contract-validate

feat: implement Klassrumskartan seating export flow with poster rendering
  frontend/apps/skriptoteket/public/logo-horizontal.png
  frontend/apps/skriptoteket/src/views/apps/components/PlannerTemplateOverviewPanel.spec.ts
Due: eslint

Persist planner workspace selection and bundle poster assets
  .agents/handoff.md
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerOverviewStore.spec.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerOverviewStore.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerTemplateOverviewPanel.vue
  frontend/apps/skriptoteket/src/views/apps/useClassroomPlannerRouteShell.ts
  src/skriptoteket/application/curated_apps/classroom_planner/exports/rendering.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/seating_export_job_support.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/seating_export_jobs.py
  src/skriptoteket/infrastructure/curated_apps/apps/classroom_planner/poster_renderer.py
  tests/unit/application/apps/classroom_planner/test_seating_export_jobs.py
  tests/unit/infrastructure/curated_apps/apps/classroom_planner/test_poster_renderer.py
Due: ruff-format, ruff-lint, mypy, pytest, eslint

feat: polish Klassrumskartan planner controls
  .agents/handoff.md
  frontend/apps/skriptoteket/src/views/apps/components/GroupCard.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerExportActionGroup.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspacePane.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerHistoryDrawer.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerOverviewResumeCards.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRosterOverviewPanel.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspacePane.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerStudentPool.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerTemplateOverviewPanel.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceActionBar.vue
  frontend/apps/skriptoteket/src/views/apps/components/RoomCanvas.vue
  frontend/apps/skriptoteket/src/views/apps/components/RoomFixtureArtwork.vue
  frontend/apps/skriptoteket/src/views/apps/components/RoomSeatToken.vue
  frontend/apps/skriptoteket/src/views/apps/components/SeatNode.vue
  scripts/_playwright_classroom_planner.py
  scripts/playwright_classroom_planner_smoke.py
  scripts/playwright_pr_0111_overview_resumable_entry.py
Due: ruff-format, ruff-lint, mypy, pytest, eslint

Close out PR-0137 class list import remediation
  .agents/code-reviews/st-26-02-class-list-import_2026_03_25.md
  .agents/handoff.md
  compose.dev.yaml
  docs/backlog/prs/pr-0137-klassrumskartan-class-list-import-remediation-example-corpus-and-overview-reconciliation.md
  docs/index.md
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/CreateRosterModal.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/CreateRosterModal.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRosterOverviewPanel.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useClassListImportFlow.ts
  pdm.lock
  pyproject.toml
  scripts/playwright_pr_0137_class_list_import_check.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/imports.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/rosters.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/seating_export_job_support.py
  src/skriptoteket/config.py
  src/skriptoteket/di/curated_apps.py
  src/skriptoteket/domain/curated_apps/classroom_planner/import_heuristics.py
  src/skriptoteket/infrastructure/curated_apps/apps/classroom_planner/class_list_document_extractor.py
  src/skriptoteket/infrastructure/curated_apps/apps/conversion_hub/sir_convert_client_v2.py
  src/skriptoteket/protocols/classroom_planner_imports.py
  src/skriptoteket/protocols/sir_convert_a_lot_v2.py
  src/skriptoteket/web/api/v1/apps_classroom_planner.py
  tests/unit/application/apps/classroom_planner/test_class_list_import_examples.py
  tests/unit/application/apps/classroom_planner/test_services.py
  tests/unit/cli/test_smoke_seating_export_readiness.py
  tests/unit/domain/curated_apps/classroom_planner/test_import_heuristics.py
  tests/unit/infrastructure/curated_apps/apps/conversion_hub/test_sir_convert_client_v2.py
  tests/unit/web/test_apps_classroom_planner_imports.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Align Sir Convert v2 wiring and deploy verification
  .agents/handoff.md
  .claude/skills/skriptoteket-local-devops/SKILL.md
  .env.example
  .env.example.prod
  compose.dev.yaml
  compose.prod.yaml
  docs/backlog/prs/pr-0064-conversion-hub-backend-sir-convert-a-lot-v2-client-and-api.md
  docs/backlog/prs/pr-0138-seating-export-single-canonical-sir-convert-v2-key-and-runtime-wiring.md
  docs/index.md
  docs/runbooks/runbook-home-server.md
  scripts/build_textbook_corpus_baseline.py
  scripts/hemma_deploy_and_verify_seating_export.sh
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  mypy: any of: \.py$
  pytest: any of: \.py$
  docs-contract-validate: any of: ^docs/
  agent-doc-budgets: any of: ^\.agent/(readme-first\.md|handoff\.md)$
  eslint: any of: ^frontend/apps/skriptoteket/src/.*\.(vue|ts|js)$
