Repository paunchygent/skriptoteket: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format (staged files)
        entry: pdm run ruff format --force-exclude
        language: system
        types: [python]
        pass_filenames: true

      - id: ruff-lint
        name: Ruff lint (staged files)
        entry: pdm run ruff check --force-exclude
        language: system
        types: [python]
        pass_filenames: true

      - id: mypy
        name: Mypy typecheck (src + tests)
        entry: pdm run typecheck
        language: system
        types: [python]
        pass_filenames: false

      - id: pytest
        name: Pytest (unit suite)
        entry: pdm run test
        language: system
        types: [python]
        pass_filenames: false

      - id: docs-contract-validate
        name: Docs contract validate (placement + naming + frontmatter)
        entry: pdm run docs-validate
        language: system
        files: ^docs/
        pass_filenames: false

      - id: agent-doc-budgets
        name: Agent docs line budgets (.agent/*)
        entry: pdm run python -m scripts.check_agent_doc_budgets
        language: system
        files: ^\.agent/(readme-first\.md|handoff\.md)$
        pass_filenames: false

      - id: eslint
        name: ESLint (frontend)
        entry: pnpm --filter @skriptoteket/spa lint
        language: system
        files: ^frontend/apps/skriptoteket/src/.*\.(vue|ts|js)$
        pass_filenames: false

Promote pdfplumber to runtime dependency
  pyproject.toml
Due: none

Record delete cascade verification in handoff
  .agents/handoff.md
Due: none

Lock smart rule authoring model and reset seating contract
  .agents/handoff.md
  docs/adr/adr-0066-sir-convert-a-lot-v2-as-canonical-conversion-engine.md
  docs/adr/adr-0074-klassrumskartan-smart-assignment-v1.md
  docs/backlog/epics/epic-21-curated-app-conversion-hub.md
  docs/backlog/epics/epic-27-klassrumskartan-smart-assignment-v1.md
  docs/backlog/prs/pr-0147-klassrumskartan-seating-only-teacher-distance-contract-reset.md
  docs/backlog/prs/pr-0148-conversion-hub-local-job-ledger-owned-status-download-boundary.md
  docs/backlog/prs/pr-0149-klassrumskartan-seating-smart-rule-toolbar-and-non-overlapping-cluster-authoring-v1.md
  docs/backlog/reviews/review-epic-21-curated-app-conversion-hub.md
  docs/backlog/reviews/review-epic-27-klassrumskartan-smart-assignment-v1.md
  docs/backlog/stories/story-21-01-curated-app-conversion-hub-v1.md
  docs/backlog/stories/story-27-01-klassrumskartan-smart-assignment-contract-reset-and-control-model.md
  docs/backlog/stories/story-27-02-klassrumskartan-export-checkpoints-for-smart-history.md
  docs/backlog/stories/story-27-03-klassrumskartan-smart-seating-v1.md
  docs/backlog/stories/story-27-04-klassrumskartan-smart-grouping-v1.md
  docs/index.md
  docs/reference/ref-klassrumskartan-smart-assignment-v1-decision-memo-2026-03-25.md
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerTypes.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerMetadataDrawer.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/useClassroomState.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useClassroomState.ts
  migrations/versions/1d3e5f7a9b2c_reset_student_smart_preferences_to_.py
  scripts/playwright_classroom_planner_smoke.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/drafts.py
  src/skriptoteket/domain/curated_apps/classroom_planner/models.py
  src/skriptoteket/infrastructure/db/models/classroom_planner_plan_draft.py
  src/skriptoteket/infrastructure/repositories/classroom_planner.py
  src/skriptoteket/web/api/v1/apps_classroom_planner.py
  tests/integration/migration_schema_assertions.py
  tests/unit/infrastructure/repositories/test_classroom_planner_review_fixes.py
  tests/unit/web/apps/classroom_planner/test_api.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Fix planner smart-rule autosave handling and lane docs
  .agents/handoff.md
  docs/adr/adr-0074-klassrumskartan-smart-assignment-v1.md
  docs/backlog/epics/epic-27-klassrumskartan-smart-assignment-v1.md
  docs/backlog/prs/pr-0151-klassrumskartan-roster-global-smart-rules-and-draft-local-arrangement-boundary-reset.md
  docs/backlog/prs/pr-0152-klassrumskartan-planner-session-lanes-and-transition-matrix-remediation.md
  docs/backlog/reviews/review-epic-27-klassrumskartan-smart-assignment-v1.md
  docs/backlog/stories/story-27-01-klassrumskartan-smart-assignment-contract-reset-and-control-model.md
  docs/backlog/stories/story-27-03-klassrumskartan-smart-seating-v1.md
  docs/backlog/stories/story-27-04-klassrumskartan-smart-grouping-v1.md
  docs/backlog/stories/story-27-06-klassrumskartan-planner-session-lanes-and-transition-matrix-remediation.md
  docs/index.md
  docs/reference/ref-klassrumskartan-smart-assignment-v1-decision-memo-2026-03-25.md
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingSmartRuleSurface.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspacePane.smart-rules.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspacePane.vue
  frontend/apps/skriptoteket/src/views/apps/useClassroomState.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useClassroomState.ts
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/smart_rules.py
  src/skriptoteket/infrastructure/repositories/classroom_planner_smart_rules.py
  tests/unit/application/apps/classroom_planner/test_smart_rules.py
  tests/unit/infrastructure/repositories/test_classroom_planner_smart_rules.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Split planner session lanes and transition policies
  .agents/handoff.md
  docs/backlog/epics/epic-27-klassrumskartan-smart-assignment-v1.md
  docs/backlog/prs/pr-0152-klassrumskartan-planner-session-lanes-and-transition-matrix-remediation.md
  docs/backlog/stories/story-27-06-klassrumskartan-planner-session-lanes-and-transition-matrix-remediation.md
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerRouteShellExit.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerRouteShellSaveGuards.spec.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerRouteShellSaveGuards.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingSmartRuleSurface.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/plannerTransitionPolicies.spec.ts
  frontend/apps/skriptoteket/src/views/apps/plannerTransitionPolicies.ts
  frontend/apps/skriptoteket/src/views/apps/useClassroomState.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useClassroomState.ts
  frontend/apps/skriptoteket/src/views/apps/useDraftPersistenceLane.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useDraftPersistenceLane.ts
  frontend/apps/skriptoteket/src/views/apps/useGroupingExportFlow.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useGroupingExportFlow.ts
  frontend/apps/skriptoteket/src/views/apps/usePlannerSessionController.spec.ts
  frontend/apps/skriptoteket/src/views/apps/usePlannerSessionController.ts
  frontend/apps/skriptoteket/src/views/apps/useRosterSmartRuleLane.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useRosterSmartRuleLane.ts
  frontend/apps/skriptoteket/src/views/apps/useSeatingExportFlow.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useSeatingExportFlow.ts
  frontend/apps/skriptoteket/src/views/apps/useSmartRuleUiState.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useSmartRuleUiState.ts
Due: docs-contract-validate, eslint

Refactor planner composition surfaces and docs
  .agents/handoff.md
  .agents/next-session-instruction-prompt-template.md
  .agents/readme-first.md
  AGENTS.md
  docs/backlog/prs/pr-0153-klassrumskartan-shared-export-flow-composable-and-planner-hotspot-reduction.md
  docs/index.md
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerExportFlow.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerLifecycle.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerSmartRuleActions.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerStateSupport.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerStatus.ts
  frontend/apps/skriptoteket/src/views/apps/useClassroomState.ts
  frontend/apps/skriptoteket/src/views/apps/useGroupingExportFlow.ts
  frontend/apps/skriptoteket/src/views/apps/useSeatingExportFlow.ts
  scripts/check_agent_doc_budgets.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Finalize PR-0150 and update smart seating backlog
  .agents/handoff.md
  docs/adr/adr-0074-klassrumskartan-smart-assignment-v1.md
  docs/backlog/epics/epic-27-klassrumskartan-smart-assignment-v1.md
  docs/backlog/prs/pr-0150-klassrumskartan-seating-export-checkpoint-registry-and-history-dedupe.md
  docs/backlog/prs/pr-0154-klassrumskartan-smart-seating-v1-backend-run-use-history-and-teacher-edge-placement.md
  docs/backlog/reviews/review-epic-27-klassrumskartan-smart-assignment-v1.md
  docs/backlog/stories/story-27-02-klassrumskartan-export-checkpoints-for-smart-history.md
  docs/backlog/stories/story-27-03-klassrumskartan-smart-seating-v1.md
  docs/backlog/stories/story-27-04-klassrumskartan-smart-grouping-v1.md
  docs/backlog/stories/story-27-05-klassrumskartan-smart-explanations-and-alternate-options.md
  docs/index.md
  docs/reference/ref-klassrumskartan-smart-assignment-v1-decision-memo-2026-03-25.md
  src/skriptoteket/domain/curated_apps/classroom_planner/checkpoints.py
  tests/unit/application/apps/classroom_planner/test_draft_lifecycle.py
  tests/unit/application/apps/classroom_planner/test_seating_export_checkpoints.py
  tests/unit/application/apps/classroom_planner/test_seating_export_job_completion.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Implement smart seating v1 with teacher edge placement and rules workspace
  .agents/handoff.md
  docs/adr/adr-0074-klassrumskartan-smart-assignment-v1.md
  docs/backlog/epics/epic-27-klassrumskartan-smart-assignment-v1.md
  docs/backlog/prs/pr-0154-klassrumskartan-smart-seating-v1-backend-run-use-history-and-teacher-edge-placement.md
  docs/backlog/prs/pr-0155-klassrumskartan-rules-workspace-dual-map-authoring-and-summary-cutover.md
  docs/backlog/reviews/review-epic-27-klassrumskartan-smart-assignment-v1.md
  docs/backlog/stories/story-27-03-klassrumskartan-smart-seating-v1.md
  docs/backlog/stories/story-27-04-klassrumskartan-smart-grouping-v1.md
  docs/backlog/stories/story-27-05-klassrumskartan-smart-explanations-and-alternate-options.md
  docs/backlog/stories/story-27-07-klassrumskartan-rules-workspace-and-dual-map-authoring.md
  docs/index.md
  docs/reference/ref-klassrumskartan-smart-assignment-v1-decision-memo-2026-03-25.md
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerSmartRuleActions.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerStateSupport.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerTypes.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingSmartRuleSurface.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspacePane.smart-rules.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspacePane.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useClassroomState.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useClassroomState.ts
  frontend/apps/skriptoteket/src/views/apps/useDraftPersistenceLane.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useDraftPersistenceLane.ts
  frontend/apps/skriptoteket/src/views/apps/useSmartSeatingRun.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useSmartSeatingRun.ts
  scripts/playwright_pr_0154_smart_seating_check.py
  src/skriptoteket/application/curated_apps/classroom_planner/__init__.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/smart_seating.py
  src/skriptoteket/di/curated_apps.py
  src/skriptoteket/domain/curated_apps/classroom_planner/smart_seating.py
  src/skriptoteket/infrastructure/repositories/classroom_planner_seating_export_checkpoints.py
  src/skriptoteket/protocols/classroom_planner.py
  src/skriptoteket/web/api/v1/apps_classroom_planner_seating.py
  tests/unit/application/apps/classroom_planner/test_smart_seating.py
  tests/unit/domain/curated_apps/classroom_planner/test_smart_seating_solver.py
  tests/unit/domain/curated_apps/classroom_planner/test_smart_seating_teacher_edge.py
  tests/unit/infrastructure/repositories/test_classroom_planner_seating_export_checkpoints.py
  tests/unit/web/apps/classroom_planner/test_smart_seating_api.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Align smart seating with real room topology semantics
  .agents/handoff.md
  docs/backlog/prs/pr-0154-klassrumskartan-smart-seating-v1-backend-run-use-history-and-teacher-edge-placement.md
  docs/backlog/stories/story-27-03-klassrumskartan-smart-seating-v1.md
  scripts/_smart_seating_semantics_support.py
  scripts/live_st_27_03_smart_seating_semantics_check.py
  src/skriptoteket/domain/curated_apps/classroom_planner/seat_topology.py
  src/skriptoteket/domain/curated_apps/classroom_planner/smart_seating.py
  src/skriptoteket/domain/curated_apps/classroom_planner/smart_seating_scoring.py
  tests/unit/domain/curated_apps/classroom_planner/test_smart_seating_solver_bf25_g104.py
  tests/unit/domain/curated_apps/classroom_planner/test_smart_seating_teacher_edge.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Fix pre-commit pytest marker handling
  scripts/run_precommit_targeted_unit_tests.py
  tests/unit/scripts/test_run_precommit_targeted_unit_tests.py
Due: ruff-format, ruff-lint, mypy, pytest

feat: Epic 29 klassrumskartan desktop-first workspace overhaul
  .agents/handoff.md
  .agents/repomix_packages/pr-0157-dense-tool-design-review-assets/classroom-rules-workspace.png
  .agents/repomix_packages/pr-0157-dense-tool-design-review-assets/classroom-seating-workspace.png
  .agents/repomix_packages/pr-0157-dense-tool-design-review-assets/tool-editor-workspace.png
  .agents/repomix_packages/pr-0157-dense-tool-design-review-brief.md
  .agents/repomix_packages/repomix-pr-0157-dense-tool-design-review.xml
  .agents/rules/045-huleedu-design-system.md
  .claude/skills/brutalist-academic-ui/SKILL.md
  .claude/skills/skriptoteket-frontend-specialist/SKILL.md
  docs/backlog/epics/epic-26-klassrumskartan-explicit-exports-and-class-list-import.md
  docs/backlog/epics/epic-29-klassrumskartan-desktop-first-workspace-overhaul.md
  docs/backlog/prs/pr-0127-klassrumskartan-overview-roster-preview-overflow-and-fixed-height-scrolling.md
  docs/backlog/prs/pr-0128-klassrumskartan-grouping-and-seating-student-pool-split-pane-scrolling.md
  docs/backlog/prs/pr-0129-klassrumskartan-shared-planner-action-bar-zoning-and-grouping-toolbar-stabilization.md
  docs/backlog/prs/pr-0130-klassrumskartan-seating-toolbar-stabilization-export-cluster-alignment-and-responsive-proof.md
  docs/backlog/prs/pr-0131-klassrumskartan-overview-button-hierarchy-and-destructive-action-de-emphasis.md
  docs/backlog/prs/pr-0132-klassrumskartan-resume-history-affordance-normalization-and-planner-control-polish.md
  docs/backlog/prs/pr-0156-st-29-01-control-language-freeze-primitive-contract-and-fe-codemap.md
  docs/backlog/prs/pr-0157-st-29-01-shared-dense-tool-primitives-and-canonical-symbol-assets.md
  docs/backlog/prs/pr-0158-st-29-01-seating-workspace-adoption-of-shared-dense-tool-primitives.md
  docs/backlog/prs/pr-0159-hemma-kernel-lane-recovery-6-14-freeze-and-6-17-cutover.md
  docs/backlog/reviews/review-epic-29-klassrumskartan-desktop-first-workspace-overhaul.md
  docs/backlog/stories/story-26-06-klassrumskartan-scrollable-fixed-previews-and-student-pool-scroll-regions.md
  docs/backlog/stories/story-26-07-klassrumskartan-stable-task-toolbars-and-action-zoning.md
  docs/backlog/stories/story-26-08-klassrumskartan-overview-action-hierarchy-and-affordance-polish.md
  docs/backlog/stories/story-29-01-klassrumskartan-canonical-operation-symbols-and-planner-control-primitives.md
  docs/backlog/stories/story-29-02-klassrumskartan-workspace-shell-compression-and-low-value-feedback-band-reduction.md
  docs/backlog/stories/story-29-03-klassrumskartan-shared-desktop-workspace-composition-primitives.md
  docs/backlog/stories/story-29-04-klassrumskartan-overview-hierarchy-and-class-first-dashboard-redesign.md
  docs/backlog/stories/story-29-05-klassrumskartan-grouping-and-seating-desktop-workspace-overhaul.md
  docs/backlog/stories/story-29-06-klassrumskartan-rules-workspace-rail-map-inspector-rebalance.md
  docs/backlog/stories/story-29-07-klassrumskartan-reduced-mobile-companion-layouts-and-breakpoint-cutover.md
  docs/index.md
  docs/reference/ref-frontend-design-system-codemap-2026-03-28.md
  docs/reference/ref-klassrumskartan-workspace-ui-doctrine-2026-03-28.md
  docs/reference/ref-shared-tool-control-language-v1.md
Due: docs-contract-validate

Advance planner shell compression and remove deprecated runtime APIs
  .agents/handoff.md
  docs/backlog/prs/pr-0161-st-29-02-shared-sticky-workspace-toolbar-and-transient-feedback-cutover.md
  docs/backlog/stories/story-29-02-klassrumskartan-workspace-shell-compression-and-low-value-feedback-band-reduction.md
  docs/index.md
  frontend/apps/skriptoteket/src/components/editor/ChatMessageList.vue
  frontend/apps/skriptoteket/src/components/editor/EditorEditOpsPanel.vue
  frontend/apps/skriptoteket/src/components/editor/SandboxRunnerActions.vue
  frontend/apps/skriptoteket/src/components/editor/diff/VirtualFileDiffViewer.vue
  frontend/apps/skriptoteket/src/utils/clipboard.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspacePane.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspaceToolbar.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRulesToolRail.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspacePane.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspaceToolbar.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerStudentPool.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceActionBar.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/useGroupingExportFlow.ts
  frontend/apps/skriptoteket/src/views/apps/useSeatingExportFlow.ts
  src/skriptoteket/web/api/v1/apps_classroom_planner_draft_contracts.py
  src/skriptoteket/web/api/v1/apps_classroom_planner_export_contracts.py
  src/skriptoteket/web/api/v1/apps_classroom_planner_export_job_contracts.py
  src/skriptoteket/web/api/v1/apps_classroom_planner_grouping.py
  src/skriptoteket/web/api/v1/apps_classroom_planner_smart_rules.py
  src/skriptoteket/web/api/v1/apps_flunk_out_frenzy.py
  src/skriptoteket/web/app.py
  tests/test_openapi_contracts.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Add Dishka DI cutover planning and shell compression updates
  .agents/handoff.md
  docs/backlog/epics/epic-07-observability-and-operations.md
  docs/backlog/prs/pr-0162-st-07-07-public-http-dishka-adapter-and-observability-cutover.md
  docs/backlog/prs/pr-0163-st-07-07-http-route-dependency-cutover-off-hybrid-dishka-inject.md
  docs/backlog/prs/pr-0164-st-07-07-websocket-cutover-hybrid-compat-retirement-and-production-proof.md
  docs/backlog/stories/story-07-07-retire-hybrid-dishka-fastapi-compatibility-layer-and-restore-supported-web-di.md
  docs/index.md
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspacePane.export.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspacePane.export.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspacePane.smart-rules.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspacePane.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/useGroupingExportFlow.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useSeatingExportFlow.spec.ts
Due: docs-contract-validate, eslint

Record clean Hemma redeploy for ST-07-07
  .agents/handoff.md
Due: none

Ship planner shell follow-ups and classroom planner docs
  .agents/handoff.md
  docs/_meta/docs-contract.yaml
  docs/backlog/epics/epic-29-klassrumskartan-desktop-first-workspace-overhaul.md
  docs/backlog/stories/story-29-02-klassrumskartan-workspace-shell-compression-and-low-value-feedback-band-reduction.md
  docs/guides/guide-klassrumskartan-kom-igang.md
  docs/index.md
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerView.vue
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerExportFlow.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerRecoveredExportNotices.ts
  frontend/apps/skriptoteket/src/views/apps/components/CreateRoomTemplateModal.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/CreateRoomTemplateModal.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/components/RoomTemplateBuilderSurface.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/RoomTemplateBuilderSurface.vue
  frontend/apps/skriptoteket/src/views/apps/components/RoomTemplateEditorSidebar.vue
  frontend/apps/skriptoteket/src/views/apps/useClassroomPlannerRouteShell.ts
  frontend/apps/skriptoteket/src/views/apps/useGroupingExportFlow.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useGroupingExportFlow.ts
  frontend/apps/skriptoteket/src/views/apps/useSeatingExportFlow.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useSeatingExportFlow.ts
  src/skriptoteket/application/curated_apps/classroom_planner/README.md
Due: docs-contract-validate, eslint

Fix production SPA artifact overwrite during deploy
  .dockerignore
  Dockerfile
Due: none

Add planner contextual help topics and guide wiring
  .agents/handoff.md
  docs/backlog/epics/epic-08-contextual-help-and-onboarding.md
  docs/backlog/stories/story-08-34-klassrumskartan-contextual-help.md
  docs/index.md
  frontend/apps/skriptoteket/src/components/help/HelpPanel.spec.ts
  frontend/apps/skriptoteket/src/components/help/HelpPanel.vue
  frontend/apps/skriptoteket/src/components/help/helpTopics.ts
  frontend/apps/skriptoteket/src/components/help/plannerHelpSections.generated.ts
  frontend/apps/skriptoteket/src/components/help/topics/HelpTopicPlanner.vue
  frontend/apps/skriptoteket/src/components/help/useHelp.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerClassWorkspace.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.vue
  pyproject.toml
  scripts/generate_planner_help.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Fix planner help transitions and harden Hemma deploy gate
  .agents/handoff.md
  docs/guides/guide-klassrumskartan-kom-igang.md
  docs/runbooks/runbook-home-server.md
  frontend/apps/skriptoteket/src/components/help/HelpPanel.spec.ts
  frontend/apps/skriptoteket/src/components/help/plannerHelpSections.generated.ts
  frontend/apps/skriptoteket/src/components/help/useHelp.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerClassWorkspace.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.vue
  scripts/hemma_deploy_and_verify_seating_export.sh
Due: docs-contract-validate, eslint

Ship planner shell continuity and editor sync fixes
  .agents/handoff.md
  docs/adr/adr-0077-same-shell-transition-continuity.md
  docs/backlog/epics/epic-30-frontend-transition-continuity-for-same-shell-selectors.md
  docs/backlog/prs/pr-0165-st-30-01-transition-continuity-decision-inventory-and-adoption-plan.md
  docs/backlog/reviews/review-epic-30-frontend-transition-continuity-for-same-shell-selectors.md
  docs/backlog/stories/story-30-01-frontend-transition-continuity-inventory-and-canonical-adoption-plan.md
  docs/guides/guide-klassrumskartan-kom-igang.md
  docs/index.md
  docs/reference/ref-frontend-design-system-codemap-2026-03-28.md
  docs/reference/ref-frontend-transition-continuity-v1.md
  docs/reference/ref-klassrumskartan-workspace-ui-doctrine-2026-03-28.md
  docs/reference/ref-shared-tool-control-language-v1.md
  frontend/apps/skriptoteket/src/components/help/plannerHelpSections.generated.ts
  frontend/apps/skriptoteket/src/components/layout/AuthTopBar.vue
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerView.vue
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerRouteShellOverviewCrud.spec.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerRouteShellOverviewCrud.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerRouteShellWorkspace.spec.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerRouteShellWorkspace.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerStateSupport.spec.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerStateSupport.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspaceToolbar.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/useClassroomPlannerRouteShell.ts
  frontend/apps/skriptoteket/src/views/apps/useClassroomState.ts
  scripts/playwright_pr_0165_seating_editor_sync_check.py
  scripts/playwright_pr_0166_topbar_brand_hit_target_check.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Adopt continuity transitions across SPA shells
  .agents/handoff.md
  docs/adr/adr-0077-same-shell-transition-continuity.md
  docs/backlog/epics/epic-30-frontend-transition-continuity-for-same-shell-selectors.md
  docs/backlog/prs/pr-0165-st-30-01-transition-continuity-decision-inventory-and-adoption-plan.md
  docs/backlog/prs/pr-0166-st-30-02-transition-continuity-adoption-and-remaining-transition-audit.md
  docs/backlog/reviews/review-epic-30-frontend-transition-continuity-for-same-shell-selectors.md
  docs/backlog/stories/story-30-01-frontend-transition-continuity-inventory-and-canonical-adoption-plan.md
  docs/backlog/stories/story-30-02-adopt-transition-continuity-across-editor-and-selector-shells.md
  docs/index.md
  frontend/apps/skriptoteket/src/App.vue
  frontend/apps/skriptoteket/src/assets/main.css
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspacePanel.spec.ts
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspacePanel.vue
  frontend/apps/skriptoteket/src/components/layout/AuthTopBar.vue
  frontend/apps/skriptoteket/src/components/profile/ProfileInlineField.vue
  frontend/apps/skriptoteket/src/components/tool-run/ToolFileFieldPicker.spec.ts
  frontend/apps/skriptoteket/src/components/tool-run/ToolFileFieldPicker.vue
  frontend/apps/skriptoteket/src/components/vault/VaultPanel.spec.ts
  frontend/apps/skriptoteket/src/components/vault/VaultPanel.vue
  frontend/apps/skriptoteket/src/views/ProfileView.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRulesMapCanvas.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRulesMapCanvas.vue
  scripts/playwright_pr_0166_transition_continuity_audit.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Record ST-09-08 Hemma deployment verification
  .agents/handoff.md
Due: none

Document Hemma edge hardening operations
  .claude/skills/skriptoteket-devops/SKILL.md
  .claude/skills/skriptoteket-local-devops/SKILL.md
  docs/reference/ref-home-server-nginx-proxy.md
  docs/reference/ref-home-server-security-hardening.md
  docs/runbooks/runbook-home-server.md
Due: docs-contract-validate

Clarify registration verification guidance
  .agents/handoff.md
  frontend/apps/skriptoteket/src/stores/auth.spec.ts
  frontend/apps/skriptoteket/src/stores/auth.ts
  frontend/apps/skriptoteket/src/views/RegisterView.spec.ts
  frontend/apps/skriptoteket/src/views/RegisterView.vue
  src/skriptoteket/application/identity/handlers/validate_registration_input.py
  tests/unit/application/identity/test_validate_registration_handler.py
Due: ruff-format, ruff-lint, mypy, pytest, eslint

Harden recovery emails and resend verification UX
  .agents/handoff.md
  docs/backlog/epics/epic-02-identity-and-access-control.md
  docs/backlog/prs/pr-0174-recovery-email-hardening-and-verification-resend-discoverability.md
  docs/backlog/stories/story-02-10-recovery-email-hardening-and-verification-resend-discoverability.md
  docs/index.md
  frontend/apps/skriptoteket/src/components/auth/LoginModal.spec.ts
  frontend/apps/skriptoteket/src/components/auth/LoginModal.vue
  frontend/apps/skriptoteket/src/components/help/topics/HelpTopicLogin.vue
  frontend/apps/skriptoteket/src/composables/auth/useVerificationResend.ts
  frontend/apps/skriptoteket/src/stores/auth.spec.ts
  frontend/apps/skriptoteket/src/stores/auth.ts
  frontend/apps/skriptoteket/src/views/ForgotPasswordView.spec.ts
  frontend/apps/skriptoteket/src/views/ForgotPasswordView.vue
  src/skriptoteket/infrastructure/email/templates/reset_password.html
  src/skriptoteket/infrastructure/email/templates/verify_email.html
  tests/unit/infrastructure/email/test_template_renderer.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Ship auth recovery remediation and class list import dropzone
  .agents/handoff.md
  docs/backlog/prs/pr-0174-recovery-email-hardening-and-verification-resend-discoverability.md
  docs/backlog/prs/pr-0175-klassrumskartan-class-list-import-dropzone-in-create-edit-modal.md
  docs/backlog/prs/pr-0176-review-remediation-for-recovery-email-hardening-and-resend-verification-ux.md
  docs/backlog/stories/story-02-10-recovery-email-hardening-and-verification-resend-discoverability.md
  docs/index.md
  frontend/apps/skriptoteket/src/components/auth/LoginModal.spec.ts
  frontend/apps/skriptoteket/src/components/auth/LoginModal.vue
  frontend/apps/skriptoteket/src/composables/auth/useVerificationResend.ts
  frontend/apps/skriptoteket/src/stores/auth.spec.ts
  frontend/apps/skriptoteket/src/views/ForgotPasswordView.spec.ts
  frontend/apps/skriptoteket/src/views/ForgotPasswordView.vue
  frontend/apps/skriptoteket/src/views/apps/components/CreateRosterModal.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/CreateRosterModal.vue
  scripts/playwright_pr_0175_class_list_import_dropzone_check.py
  scripts/playwright_pr_0176_auth_recovery_check.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Fix auth recovery EMAIL_NOT_VERIFIED status handling
  docs/backlog/prs/pr-0176-review-remediation-for-recovery-email-hardening-and-resend-verification-ux.md
  frontend/apps/skriptoteket/src/components/auth/LoginModal.spec.ts
  frontend/apps/skriptoteket/src/stores/auth.spec.ts
  scripts/playwright_pr_0176_auth_recovery_check.py
  src/skriptoteket/web/error_mapping.py
  tests/unit/web/test_api_v1_auth_and_csrf_routes.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Ship planner continuity updates and gate hardening
  .agents/handoff.md
  docs/adr/adr-0074-klassrumskartan-smart-assignment-v1.md
  docs/backlog/epics/epic-29-klassrumskartan-desktop-first-workspace-overhaul.md
  docs/backlog/prs/pr-0167-st-27-04-smart-grouping-v1-grouping-history-and-live-seating-influence.md
  docs/backlog/prs/pr-0177-st-29-09-rule-visibility-and-tool-feedback-continuity.md
  docs/backlog/reviews/review-epic-27-klassrumskartan-smart-assignment-v1.md
  docs/backlog/stories/story-27-04-klassrumskartan-smart-grouping-v1.md
  docs/backlog/stories/story-29-09-klassrumskartan-rule-visibility-and-tool-feedback-continuity.md
  docs/index.md
  frontend/apps/skriptoteket/src/assets/main.css
  frontend/apps/skriptoteket/src/composables/editor/pythonLezer/syntaxErrors.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerExportApi.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerNavigation.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerRouteShellExit.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerStoreMutations.ts
  frontend/apps/skriptoteket/src/views/apps/components/GroupBoard.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/GroupBoard.vue
  frontend/apps/skriptoteket/src/views/apps/components/GroupCard.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/GroupCard.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspacePane.smart-rules.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspacePane.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspaceToolbar.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerMetadataDrawer.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspacePane.export.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspaceToolbar.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerStudentPool.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerStudentRuleMarkers.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/components/RoomFixtureArtwork.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/RoomSceneSurface.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/RoomTemplateEditorSidebar.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/RoomTemplateEditorSidebar.vue
  frontend/apps/skriptoteket/src/views/apps/components/SeatNode.vue
  frontend/apps/skriptoteket/src/views/apps/useClassroomState.ts
  scripts/playwright_pr_0177_rule_visibility_and_tool_feedback_check.py
  src/skriptoteket/web/api/v1/auth.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Align planner follow-ups, docs status, and Smart settings copy
  .agents/handoff.md
  docs/backlog/epics/epic-02-identity-and-access-control.md
  docs/backlog/epics/epic-11-full-vue-spa-migration.md
  docs/backlog/epics/epic-16-catalog-discovery-and-personalization.md
  docs/backlog/epics/epic-29-klassrumskartan-desktop-first-workspace-overhaul.md
  docs/backlog/prs/pr-0078-klassrumskartan-fundamentals-contract-split-and-draft-lifecycle.md
  docs/backlog/prs/pr-0136-klassrumskartan-seat-drag-preview-and-room-editor-same-tool-toggle-removal.md
  docs/backlog/prs/pr-0137-klassrumskartan-class-list-import-remediation-example-corpus-and-overview-reconciliation.md
  docs/backlog/prs/pr-0142-klassrumskartan-seating-xlsx-menu-option-local-export-contract-and-flow.md
  docs/backlog/prs/pr-0149-klassrumskartan-seating-smart-rule-toolbar-and-non-overlapping-cluster-authoring-v1.md
  docs/backlog/prs/pr-0157-st-29-01-shared-dense-tool-primitives-and-canonical-symbol-assets.md
  docs/backlog/prs/pr-0161-st-29-02-shared-sticky-workspace-toolbar-and-transient-feedback-cutover.md
  docs/backlog/prs/pr-0167-st-27-04-smart-grouping-v1-grouping-history-and-live-seating-influence.md
  docs/backlog/prs/pr-0173-home-messaging-registration-feedback-and-default-klassrumskartan-bookmark.md
  docs/backlog/prs/pr-0174-recovery-email-hardening-and-verification-resend-discoverability.md
  docs/backlog/prs/pr-0175-klassrumskartan-class-list-import-dropzone-in-create-edit-modal.md
  docs/backlog/prs/pr-0177-st-29-09-rule-visibility-and-tool-feedback-continuity.md
  docs/backlog/prs/pr-0179-st-29-02-sticky-toolbar-offset-gap-collapse.md
  docs/backlog/prs/pr-0180-st-29-02-sticky-toolbar-topbar-gap-collapse.md
  docs/backlog/prs/pr-0181-st-27-04-smart-settings-sittschemat-wording-fix.md
  docs/backlog/reviews/review-epic-27-klassrumskartan-smart-assignment-v1.md
  docs/backlog/stories/story-02-08-registration-preflight-validation-and-password-visibility.md
  docs/backlog/stories/story-02-10-recovery-email-hardening-and-verification-resend-discoverability.md
  docs/backlog/stories/story-11-24-home-view-messaging-reset-for-curated-library.md
  docs/backlog/stories/story-16-09-default-klassrumskartan-bookmark.md
  docs/backlog/stories/story-27-04-klassrumskartan-smart-grouping-v1.md
  docs/backlog/stories/story-29-02-klassrumskartan-workspace-shell-compression-and-low-value-feedback-band-reduction.md
  docs/backlog/stories/story-29-09-klassrumskartan-rule-visibility-and-tool-feedback-continuity.md
  docs/index.md
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingSettingsDrawer.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingSettingsDrawer.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/useClassroomState.spec.ts
  frontend/apps/skriptoteket/src/views/apps/useSmartGroupingRun.spec.ts
  scripts/playwright_pr_0179_sticky_toolbar_offset_check.py
  scripts/playwright_pr_0181_smart_settings_copy_check.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/smart_grouping.py
  tests/unit/application/apps/classroom_planner/test_smart_grouping.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Ship planner toolbar zoning and PDF branding fixes
  .agents/handoff.md
  Dockerfile
  check_watermark.py
  docs/backlog/epics/epic-29-klassrumskartan-desktop-first-workspace-overhaul.md
  docs/backlog/prs/pr-0128-klassrumskartan-grouping-and-seating-student-pool-split-pane-scrolling.md
  docs/backlog/prs/pr-0129-klassrumskartan-shared-planner-action-bar-zoning-and-grouping-toolbar-stabilization.md
  docs/backlog/prs/pr-0130-klassrumskartan-seating-toolbar-stabilization-export-cluster-alignment-and-responsive-proof.md
  docs/backlog/stories/story-29-03-klassrumskartan-shared-desktop-workspace-composition-primitives.md
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspacePane.export.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspaceToolbar.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspacePane.export.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspaceToolbar.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceActionBar.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceActionBar.vue
  generate_preview_pdfs.py
  gruppindelning-preview.pdf
  sittplatser-preview.pdf
  src/skriptoteket/infrastructure/curated_apps/apps/classroom_planner/grouping_pdf_renderer.py
  src/skriptoteket/infrastructure/curated_apps/apps/classroom_planner/pdf_branding.py
  src/skriptoteket/infrastructure/curated_apps/apps/classroom_planner/poster_renderer.py
  test-fixed.pdf
  test_footer.py
  test_watermark.pdf
  test_watermark.py
  tests/unit/infrastructure/curated_apps/apps/classroom_planner/test_grouping_pdf_renderer.py
  tests/unit/infrastructure/curated_apps/apps/classroom_planner/test_poster_renderer.py
  tests/unit/infrastructure/curated_apps/apps/classroom_planner/test_seating_pdf_renderer.py
  tmp/pdfs/grouping-watermark-check.pdf
  tmp/pdfs/grouping-watermark-check.png
  tmp/pdfs/seating-watermark-check.pdf
  tmp/pdfs/seating-watermark-check.png
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Fix auth recovery navigation and register copy
  .agents/handoff.md
  frontend/apps/skriptoteket/src/App.spec.ts
  frontend/apps/skriptoteket/src/App.vue
  frontend/apps/skriptoteket/src/components/auth/LoginModal.spec.ts
  frontend/apps/skriptoteket/src/components/auth/LoginModal.vue
  frontend/apps/skriptoteket/src/views/RegisterView.vue
  scripts/playwright_pr_0176_auth_recovery_check.py
Due: ruff-format, ruff-lint, mypy, pytest, eslint
