Repository paunchygent/skriptoteket: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

ruff-format:
  name: Ruff format (staged files)
  entry: pdm run ruff format --force-exclude
  language: system
  pass_filenames: true

ruff-lint:
  name: Ruff lint (staged files)
  entry: pdm run ruff check --force-exclude
  language: system
  pass_filenames: true

mypy:
  name: Mypy typecheck (src + tests)
  entry: pdm run typecheck
  language: system
  pass_filenames: false

pytest:
  name: Pytest (unit suite)
  entry: pdm run test
  language: system
  pass_filenames: false

docs-contract-validate:
  name: Docs contract validate (placement + naming + frontmatter)
  entry: pdm run docs-validate
  language: system
  pass_filenames: false

agent-doc-budgets:
  name: Agent docs line budgets (.agent/*)
  entry: pdm run python -m scripts.check_agent_doc_budgets
  language: system
  pass_filenames: false

eslint:
  name: ESLint (frontend)
  entry: pnpm --filter @skriptoteket/spa lint
  language: system
  pass_filenames: false

feat: curated apps ui_mode + Reagensberedning
  .agent/handoff.md
  frontend/apps/skriptoteket/src/api/openapi.d.ts
  frontend/apps/skriptoteket/src/composables/editor/linter/domain/rules/bestPracticesRule.ts
  frontend/apps/skriptoteket/src/composables/editor/linter/infra/pythonAnalysis.ts
  frontend/apps/skriptoteket/src/composables/tools/fileRefHelpers.ts
  frontend/apps/skriptoteket/src/router/routes.ts
  frontend/apps/skriptoteket/src/views/AppHostView.vue
  frontend/apps/skriptoteket/src/views/apps/ReagentPrepChefView.vue
  pdm.lock
  pyproject.toml
  scripts/playwright_st_11_09_curated_app_e2e.py
  src/skriptoteket/domain/curated_apps/models.py
  src/skriptoteket/infrastructure/curated_apps/apps/__init__.py
  src/skriptoteket/infrastructure/curated_apps/apps/demo_counter.py
  src/skriptoteket/infrastructure/curated_apps/apps/reagent_prep_chef/__init__.py
  src/skriptoteket/infrastructure/curated_apps/apps/reagent_prep_chef/actions.py
  src/skriptoteket/infrastructure/curated_apps/apps/reagent_prep_chef/calculator.py
  src/skriptoteket/infrastructure/curated_apps/apps/reagent_prep_chef/defaults.py
  src/skriptoteket/infrastructure/curated_apps/apps/reagent_prep_chef/formatting.py
  src/skriptoteket/infrastructure/curated_apps/apps/reagent_prep_chef/formulas.py
  src/skriptoteket/infrastructure/curated_apps/apps/reagent_prep_chef/hazards.json
  src/skriptoteket/infrastructure/curated_apps/apps/reagent_prep_chef/models.py
  src/skriptoteket/infrastructure/curated_apps/apps/reagent_prep_chef/prep_sheet.py
  src/skriptoteket/infrastructure/curated_apps/apps/reagent_prep_chef/safety.py
  src/skriptoteket/infrastructure/curated_apps/artifacts.py
  src/skriptoteket/infrastructure/curated_apps/executor.py
  src/skriptoteket/infrastructure/curated_apps/registry.py
  src/skriptoteket/web/api/v1/apps.py
  stubs/molmass/__init__.pyi
  tests/unit/infrastructure/curated_apps/apps/test_reagent_prep_chef_calculator.py
  tests/unit/infrastructure/curated_apps/apps/test_reagent_prep_chef_formulas.py
  tests/unit/infrastructure/curated_apps/apps/test_reagent_prep_chef_safety.py
Due: ruff-format, ruff-lint, mypy, pytest, agent-doc-budgets, eslint

feat: vault UI + auth request timeouts
  .agent/handoff.md
  .agent/rules/000-rule-index.md
  .agent/rules/025-curated-apps.md
  AGENTS.md
  frontend/apps/skriptoteket/src/components/editor/SandboxRunnerActions.vue
  frontend/apps/skriptoteket/src/components/layout/AuthSidebar.vue
  frontend/apps/skriptoteket/src/components/tool-run/ToolFileFieldPicker.vue
  frontend/apps/skriptoteket/src/components/tool-run/ToolRunArtifacts.vue
  frontend/apps/skriptoteket/src/components/ui-actions/UiActionFieldFileRef.vue
  frontend/apps/skriptoteket/src/components/vault/VaultPanel.vue
  frontend/apps/skriptoteket/src/components/vault/VaultPickerModal.vue
  frontend/apps/skriptoteket/src/composables/vault/useVaultFiles.ts
  frontend/apps/skriptoteket/src/router/routes.ts
  frontend/apps/skriptoteket/src/stores/auth.ts
  frontend/apps/skriptoteket/src/views/AppDetailView.vue
  frontend/apps/skriptoteket/src/views/ToolRunView.vue
  frontend/apps/skriptoteket/src/views/VaultView.vue
  scripts/playwright_st_14_36_vault_ui_e2e.py
  scripts/playwright_ui_smoke.py
Due: ruff-format, ruff-lint, mypy, pytest, agent-doc-budgets, eslint

docs: update PR-0059 for app-specific contract
  docs/backlog/prs/pr-0059-curated-app-reagent-prep-chef.md
  frontend/apps/skriptoteket/src/stores/auth.spec.ts
Due: docs-contract-validate, eslint

fix: restore pre-commit compliance for reagent prep chef
  frontend/apps/skriptoteket/src/views/apps/ReagentPrepChefView.vue
  frontend/apps/skriptoteket/src/views/apps/reagent-prep-chef/ReagentPrepChefStepClass.vue
  frontend/apps/skriptoteket/src/views/apps/reagent-prep-chef/ReagentPrepChefStepReagent.vue
  frontend/apps/skriptoteket/src/views/apps/reagent-prep-chef/ReagentPrepChefStepRisk.vue
  frontend/apps/skriptoteket/src/views/apps/reagent-prep-chef/ReagentPrepChefStepSource.vue
  tests/fixtures/database_fixtures.py
Due: ruff-format, ruff-lint, mypy, pytest, eslint

feat: add feedback email CLI and tighten vault responsive layout
  .agent/handoff.md
  docs/backlog/prs/pr-0061-story-003c-thin-adapter-parity-and-scientific-pdf-workload-validation.md
  docs/backlog/stories/story-19-07-story-003c-thin-adapter-consumer-adoption-and-scientific-pdf-workload.md
  docs/index.md
  docs/runbooks/runbook-feedback-email-cli.md
  frontend/apps/skriptoteket/src/components/vault/VaultPanel.vue
  pyproject.toml
  src/skriptoteket/cli/commands/send_feedback_emails.py
  src/skriptoteket/cli/main.py
  src/skriptoteket/di/infrastructure/services.py
  src/skriptoteket/infrastructure/email/sender_factory.py
  src/skriptoteket/infrastructure/email/smtp_sender.py
  src/skriptoteket/protocols/email.py
  tests/unit/cli/test_send_feedback_emails.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

PR-0062: best-effort CLP export + curate remaining SDS
  .agents/handoff.md
  data/sds_linkouts/curated.json
  docs/backlog/prs/pr-0062-curated-app-reagent-prep-chef-risk-assessment-best-effort-contract.md
  src/skriptoteket/application/curated_apps/handlers/reagent_prep_chef_risk_assessment.py
  src/skriptoteket/cli/commands/validate_sds_assumptions.py
  src/skriptoteket/infrastructure/curated_apps/apps/reagent_prep_chef/sds_fetcher.py
  src/skriptoteket/infrastructure/curated_apps/apps/reagent_prep_chef/sds_parsers/clp_bands.py
  tests/unit/application/curated_apps/handlers/test_reagent_prep_chef_risk_assessment_best_effort.py
  tests/unit/infrastructure/curated_apps/apps/test_reagent_prep_chef_sds_clp_bands_parser.py
  tests/unit/infrastructure/curated_apps/apps/test_reagent_prep_chef_sds_fetcher.py
  tests/unit/infrastructure/curated_apps/apps/test_reagent_prep_chef_sds_fetcher_density_selection.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

PR-0062: best-effort risk export without SDS cache
  .agents/handoff.md
  docs/backlog/prs/pr-0062-curated-app-reagent-prep-chef-risk-assessment-best-effort-contract.md
  src/skriptoteket/application/curated_apps/handlers/reagent_prep_chef_export_risk_pdf.py
  src/skriptoteket/application/curated_apps/handlers/reagent_prep_chef_risk_assessment.py
  tests/unit/application/curated_apps/handlers/test_reagent_prep_chef_risk_assessment_best_effort.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

PR-0063: Conversion Hub planning scaffold (ADR-0066, EPIC-21)
  .agents/handoff.md
  .agents/readme-first.md
  docs/adr/adr-0066-sir-convert-a-lot-v2-as-canonical-conversion-engine.md
  docs/backlog/epics/epic-21-curated-app-conversion-hub.md
  docs/backlog/prs/pr-0063-adr-0066-epic-21-conversion-hub-planning.md
  docs/backlog/prs/pr-0064-conversion-hub-backend-sir-convert-a-lot-v2-client-and-api.md
  docs/backlog/prs/pr-0065-conversion-hub-spa-ui-batch-and-preview.md
  docs/backlog/prs/pr-0066-migrate-e2e-tests-disable-html-to-pdf-preview-seeding.md
  docs/backlog/reviews/review-epic-21-curated-app-conversion-hub.md
  docs/backlog/stories/story-21-01-curated-app-conversion-hub-v1.md
  docs/backlog/stories/story-21-02-migrate-off-html-to-pdf-preview-and-retire-tool.md
  docs/index.md
Due: docs-contract-validate

chore: fix ruff lint blockers (imports + formatting)
  src/skriptoteket/cli/commands/seed_sds_cache.py
  src/skriptoteket/cli/commands/validate_sds_document_detector.py
  tests/unit/infrastructure/curated_apps/apps/test_reagent_prep_chef_pubchem_extractors_density.py
  tests/unit/infrastructure/curated_apps/apps/test_reagent_prep_chef_sds_document_detection.py
Due: ruff-format, ruff-lint, mypy, pytest

PR-0064: Conversion Hub backend v2 client + API surface
  docs/backlog/prs/pr-0064-conversion-hub-backend-sir-convert-a-lot-v2-client-and-api.md
  docs/backlog/stories/story-21-01-curated-app-conversion-hub-v1.md
  src/skriptoteket/application/curated_apps/conversion_hub.py
  src/skriptoteket/config.py
  src/skriptoteket/di/curated_apps.py
  src/skriptoteket/infrastructure/curated_apps/apps/conversion_hub/__init__.py
  src/skriptoteket/infrastructure/curated_apps/apps/conversion_hub/sir_convert_client_v2.py
  src/skriptoteket/infrastructure/curated_apps/registry.py
  src/skriptoteket/protocols/sir_convert_a_lot_v2.py
  src/skriptoteket/web/api/v1/apps_conversion_hub.py
  src/skriptoteket/web/router.py
  tests/unit/infrastructure/curated_apps/apps/conversion_hub/test_sir_convert_client_v2.py
  tests/unit/web/conversion_hub/test_apps_conversion_hub_job_spec.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

chore: update handoff for EPIC-21 PR-0064
  .agents/handoff.md
Due: none

fix: conversion hub v2 DI collision + live test evidence
  .gitignore
  docs/backlog/prs/pr-0064-conversion-hub-backend-sir-convert-a-lot-v2-client-and-api.md
  src/skriptoteket/di/curated_apps.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

docs: update EPIC-21 + PR-0063 + ST-21-01 status after PR-0064
  docs/backlog/epics/epic-21-curated-app-conversion-hub.md
  docs/backlog/prs/pr-0063-adr-0066-epic-21-conversion-hub-planning.md
  docs/backlog/stories/story-21-01-curated-app-conversion-hub-v1.md
Due: docs-contract-validate

docs: flesh out PR-0065 plan (decisions + ordered checklist)
  docs/backlog/prs/pr-0065-conversion-hub-spa-ui-batch-and-preview.md
Due: docs-contract-validate

Reagent Prep Chef: SDS tasks + Docker corpus availability
  .agents/handoff.md
  Dockerfile
  docs/backlog/prs/pr-0067-curated-app-reagent-prep-chef-sds-corpus.md
  docs/backlog/prs/pr-0068-reagent-prep-chef-sds-pdfs-manual-download.md
  docs/backlog/prs/pr-0069-reagent-prep-chef-sds-index-available-in-docker.md
  docs/index.md
Due: docs-contract-validate

docs(handoff): update snapshot branch
  .agents/handoff.md
Due: none

Reagent Prep Chef: render SDS PDF from markdown
  .agents/handoff.md
  compose.dev.yaml
  compose.prod.yaml
  data/clp_sv/glossary_sv_v1.json
  data/clp_sv/supplemental_sv_v1.json
  docs/adr/adr-0067-reagent-prep-chef-sds-markdown-first-offline-corpus.md
  docs/backlog/stories/story-20-02-curated-app-reagent-prep-chef-risk-assessment.md
  docs/reference/ref-ai-script-generation-kb.md
  docs/reference/ref-curated-app-reagent-prep-chef.md
  frontend/apps/skriptoteket/src/views/apps/reagent-prep-chef/ReagentPrepChefStepRisk.vue
  pdm.lock
  pyproject.toml
  src/skriptoteket/application/curated_apps/handlers/reagent_prep_chef_helpers.py
  src/skriptoteket/application/curated_apps/handlers/reagent_prep_chef_risk_assessment.py
  src/skriptoteket/config.py
  src/skriptoteket/di/curated_apps.py
  src/skriptoteket/infrastructure/curated_apps/apps/reagent_prep_chef/sds_store.py
  src/skriptoteket/web/api/v1/apps_reagent_prep_chef.py
  tests/unit/application/curated_apps/handlers/test_reagent_prep_chef_risk_assessment_best_effort.py
  tests/unit/web/reagent_prep_chef/test_chemicals_and_sds_routes.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Fix Hemma SDS PDF cache mount
  .agents/handoff.md
  compose.prod.yaml
Due: none

feat(reagent-prep-chef): add missing SDS markdown corpus and deterministic acquisition tooling
  data/reagent_prep_chef/sds/gaps.md
  data/reagent_prep_chef/sds/index.json
  data/reagent_prep_chef/sds/markdown/Al2O3__carlroth__undated.md
  data/reagent_prep_chef/sds/markdown/AlCl3__carlroth__undated.md
  data/reagent_prep_chef/sds/markdown/AlCl3·6H2O__carlroth__undated.md
  data/reagent_prep_chef/sds/markdown/Al__carlroth__undated.md
  data/reagent_prep_chef/sds/markdown/C2H6O__carlroth__undated.md
  data/reagent_prep_chef/sds/markdown/C3H6O__carlroth__undated.md
  data/reagent_prep_chef/sds/markdown/C7H6O2__carlroth__undated.md
  data/reagent_prep_chef/sds/markdown/C7H6O3__carlroth__undated.md
  data/reagent_prep_chef/sds/markdown/Ca(OH)2__carlroth__undated.md
  data/reagent_prep_chef/sds/markdown/CaC2__carlroth__undated.md
  data/reagent_prep_chef/sds/markdown/CaCl2__carlroth__undated.md
  data/reagent_prep_chef/sds/markdown/Cu2O__carlroth__undated.md
  data/reagent_prep_chef/sds/markdown/CuO__carlroth__undated.md
  data/reagent_prep_chef/sds/markdown/FeS__fishersci__undated.md
  data/reagent_prep_chef/sds/markdown/H2O2__carlroth__undated.md
  data/reagent_prep_chef/sds/markdown/H2SO4__carlroth__undated.md
  data/reagent_prep_chef/sds/markdown/HCl__carlroth__undated.md
  data/reagent_prep_chef/sds/markdown/HF__carlroth__undated.md
  data/reagent_prep_chef/sds/markdown/K2Cr2O7__carlroth__undated.md
  data/reagent_prep_chef/sds/markdown/KOH__carlroth__undated.md
  data/reagent_prep_chef/sds/markdown/NH4Cl__carlroth__undated.md
  data/reagent_prep_chef/sds/markdown/NH4NO3__carlroth__undated.md
  data/reagent_prep_chef/sds/markdown/Na2CO3__carlroth__undated.md
  data/reagent_prep_chef/sds/markdown/Na2CrO4__external__undated.md
  data/reagent_prep_chef/sds/markdown/NaOH__carlroth__undated.md
  data/reagent_prep_chef/sds/markdown/S__carlroth__undated.md
  data/reagent_prep_chef/sds/markdown/SrCl2__carlroth__undated.md
  data/reagent_prep_chef/sds/markdown/SrSO4__chemicalbook__2026-01-17.md
  docs/backlog/prs/pr-0070-reagent-prep-chef-sds-pdf-from-markdown.md
  docs/backlog/prs/pr-0071-reagent-prep-chef-riskbedomning-form-skolpraxis.md
  docs/backlog/prs/pr-0072-reagent-prep-chef-risk-texts-from-hazards-sds-aligned.md
  scripts/data/reagent_prep_chef_sds_carlroth_overrides.json
  scripts/download_reagent_prep_chef_sds_pdfs.py
  tests/unit/infrastructure/curated_apps/apps/test_reagent_prep_chef_sds_store_pdf_cache.py
  tests/unit/scripts/test_download_reagent_prep_chef_sds_pdfs.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Add SDS shortcard pipeline and include parallel SDS PDF updates
  data/reagent_prep_chef/sds/shortcards.json
  docs/backlog/prs/pr-0072-reagent-prep-chef-risk-texts-from-hazards-sds-aligned.md
  pyproject.toml
  scripts/build_reagent_prep_chef_sds_shortcards.py
  src/skriptoteket/infrastructure/curated_apps/apps/reagent_prep_chef/sds_store.py
  tests/unit/scripts/test_build_reagent_prep_chef_sds_shortcards.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

docs(backlog): sync Reagent Prep Chef PR status
  .agents/handoff.md
  docs/backlog/prs/pr-0067-curated-app-reagent-prep-chef-sds-corpus.md
  docs/backlog/prs/pr-0069-reagent-prep-chef-sds-index-available-in-docker.md
  docs/backlog/prs/pr-0070-reagent-prep-chef-sds-pdf-from-markdown.md
  docs/backlog/prs/pr-0071-reagent-prep-chef-riskbedomning-form-skolpraxis.md
  docs/backlog/prs/pr-0072-reagent-prep-chef-risk-texts-from-hazards-sds-aligned.md
  src/skriptoteket/infrastructure/curated_apps/apps/reagent_prep_chef/sds_store.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Checkpoint: commit all pending changes (PR-0071/0072 + backlog docs)
  .agents/code-reviews/pr-0071-ruthless-review-2026-03-04.md
  .agents/handoff.md
  docs/backlog/epics/epic-22-textbook-corpus-pristine-cleanup-and-rag-readiness.md
  docs/backlog/prs/pr-0071-reagent-prep-chef-riskbedomning-form-skolpraxis.md
  docs/backlog/prs/pr-0072-reagent-prep-chef-risk-texts-from-hazards-sds-aligned.md
  docs/backlog/prs/pr-0073-textbook-corpus-governance-immutable-snapshot-and-job-reconciliation.md
  docs/backlog/prs/pr-0074-textbook-corpus-deterministic-mechanical-cleanup-and-issue-ledger.md
  docs/backlog/prs/pr-0075-textbook-corpus-multi-agent-manual-restoration-and-verification.md
  docs/backlog/prs/pr-0076-textbook-corpus-integrity-gates-and-pristine-build-contract.md
  docs/backlog/prs/pr-0077-textbook-corpus-rag-packaging-and-postgresql-vector-ingest-contract.md
  docs/backlog/stories/story-22-01-textbook-corpus-cleanup-pipeline-and-manual-restoration-workflow.md
  docs/index.md
  docs/reference/ref-reagent-prep-chef-riskunderlag-skolpraxis.md
  frontend/apps/skriptoteket/src/composables/reagentPrepChef/riskExportGate.spec.ts
  frontend/apps/skriptoteket/src/composables/reagentPrepChef/riskExportGate.ts
  frontend/apps/skriptoteket/src/composables/reagentPrepChef/useReagentPrepChefRisk.ts
  frontend/apps/skriptoteket/src/views/apps/ReagentPrepChefView.vue
  frontend/apps/skriptoteket/src/views/apps/reagent-prep-chef/ReagentPrepChefStepRisk.vue
  scripts/align_reagent_prep_chef_hazard_codes_from_shortcards.py
  src/skriptoteket/application/curated_apps/handlers/reagent_prep_chef_export_risk_pdf.py
  src/skriptoteket/application/curated_apps/handlers/reagent_prep_chef_helpers.py
  src/skriptoteket/application/curated_apps/handlers/reagent_prep_chef_risk_assessment.py
  src/skriptoteket/application/curated_apps/handlers/reagent_prep_chef_save_risk_pdf.py
  src/skriptoteket/application/curated_apps/reagent_prep_chef_risk_contract.py
  src/skriptoteket/infrastructure/curated_apps/apps/reagent_prep_chef/hazards.json
  src/skriptoteket/web/api/v1/apps_reagent_prep_chef.py
  tests/unit/application/curated_apps/handlers/test_reagent_prep_chef_risk_contract.py
  tests/unit/infrastructure/curated_apps/apps/test_reagent_prep_chef_hazards_store.py
  tests/unit/scripts/test_align_reagent_prep_chef_hazard_codes_from_shortcards.py
  tests/unit/web/reagent_prep_chef/test_risk_routes.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Add EPIC-22 planning docs for textbook corpus cleanup and RAG readiness
  docs/adr/adr-0068-textbook-corpus-pristine-cleanup-and-rag-ingest-governance.md
  docs/backlog/epics/epic-22-textbook-corpus-pristine-cleanup-and-rag-readiness.md
  docs/backlog/reviews/review-epic-22-textbook-corpus-pristine-cleanup-and-rag-readiness.md
  docs/backlog/stories/story-22-01-textbook-corpus-cleanup-pipeline-and-manual-restoration-workflow.md
  docs/index.md
Due: docs-contract-validate

Implement PR-0073 baseline reconciliation and include concurrent repo updates
  .agents/handoff.md
  .pre-commit-config.yaml
  docs/backlog/prs/pr-0072-reagent-prep-chef-risk-texts-from-hazards-sds-aligned.md
  docs/backlog/prs/pr-0073-textbook-corpus-governance-immutable-snapshot-and-job-reconciliation.md
  docs/backlog/stories/story-22-01-textbook-corpus-cleanup-pipeline-and-manual-restoration-workflow.md
  docs/index.md
  docs/reference/ref-reagent-prep-chef-hazard-shortcard-alignment-policy.md
  pyproject.toml
  scripts/build_textbook_corpus_baseline.py
  scripts/check_reagent_prep_chef_hazard_shortcard_alignment.py
  tests/unit/scripts/test_build_textbook_corpus_baseline.py
  tests/unit/scripts/test_check_reagent_prep_chef_hazard_shortcard_alignment.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Implement PR-0074/0075 corpus workflows and harden baseline immutability
  .agents/handoff.md
  docs/backlog/prs/pr-0073-textbook-corpus-governance-immutable-snapshot-and-job-reconciliation.md
  docs/backlog/prs/pr-0074-textbook-corpus-deterministic-mechanical-cleanup-and-issue-ledger.md
  docs/backlog/prs/pr-0075-textbook-corpus-multi-agent-manual-restoration-and-verification.md
  docs/backlog/stories/story-22-01-textbook-corpus-cleanup-pipeline-and-manual-restoration-workflow.md
  pyproject.toml
  scripts/build_textbook_corpus_baseline.py
  scripts/build_textbook_corpus_manual_restoration_workflow.py
  scripts/build_textbook_corpus_mechanical_cleanup.py
  tests/unit/scripts/test_build_textbook_corpus_baseline.py
  tests/unit/scripts/test_build_textbook_corpus_manual_restoration_workflow.py
  tests/unit/scripts/test_build_textbook_corpus_mechanical_cleanup.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Add textbook corpus integrity tooling and doc updates
  docs/backlog/prs/pr-0064-conversion-hub-backend-sir-convert-a-lot-v2-client-and-api.md
  docs/backlog/prs/pr-0076-textbook-corpus-integrity-gates-and-pristine-build-contract.md
  docs/backlog/stories/story-22-01-textbook-corpus-cleanup-pipeline-and-manual-restoration-workflow.md
  scripts/build_textbook_corpus_diacritics_assist.py
  scripts/build_textbook_corpus_integrity_gates.py
  scripts/textbook_corpus_integrity_gates_core.py
  scripts/textbook_corpus_integrity_models.py
  scripts/textbook_corpus_integrity_runtime.py
  tests/unit/scripts/test_build_textbook_corpus_diacritics_assist.py
  tests/unit/scripts/test_build_textbook_corpus_integrity_gates.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

docs: codify hemma storage tiers
  .agents/rules/060-docker-and-compose.md
  AGENTS.md
  docs/runbooks/runbook-gpu-ai-workloads.md
  docs/runbooks/runbook-home-server.md
Due: docs-contract-validate

docs: complete planning phase for Classroom Planner (Group Seating Studio)
  .agents/handoff.md
  docs/adr/adr-0069-group-seating-studio-domain-model.md
  docs/backlog/epics/epic-23-group-seating-studio.md
  docs/backlog/reviews/review-epic-23-group-seating-studio.md
  docs/backlog/stories/story-23-01-group-seating-studio-skeleton.md
  docs/backlog/stories/story-23-02-group-seating-studio-manual-planner.md
  docs/backlog/stories/story-23-03-group-seating-studio-drag-drop-canvas.md
  docs/backlog/stories/story-23-04-group-seating-studio-seat-canvas.md
  docs/backlog/stories/story-23-05-group-seating-studio-sync-engine.md
  docs/backlog/stories/story-23-06-group-seating-studio-draft-persistence.md
  docs/index.md
  docs/prd/prd-group-seating-studio-v0.1.md
  frontend/apps/skriptoteket/package.json
  frontend/apps/skriptoteket/src/views/AppHostView.vue
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerView.vue
  frontend/apps/skriptoteket/src/views/apps/useClassroomState.ts
  frontend/pnpm-lock.yaml
  src/skriptoteket/infrastructure/curated_apps/registry.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

docs(classroom-planner): mark ST-23-05 as complete and update handoff
  .agents/handoff.md
  docs/backlog/epics/epic-23-group-seating-studio.md
Due: docs-contract-validate

feat(classroom-planner): implement draft persistence and autosave (ST-23-06)
  .agents/handoff.md
  docs/backlog/epics/epic-23-group-seating-studio.md
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerView.vue
  frontend/apps/skriptoteket/src/views/apps/useClassroomState.ts
  migrations/versions/f30ac060991c_create_classroom_planner_plan_draft.py
  src/skriptoteket/application/apps/classroom_planner/services.py
  src/skriptoteket/di/curated_apps.py
  src/skriptoteket/domain/apps/classroom_planner/__init__.py
  src/skriptoteket/domain/apps/classroom_planner/models.py
  src/skriptoteket/infrastructure/db/models/__init__.py
  src/skriptoteket/infrastructure/db/models/classroom_planner_plan_draft.py
  src/skriptoteket/infrastructure/repositories/classroom_planner.py
  src/skriptoteket/protocols/classroom_planner.py
  src/skriptoteket/web/api/v1/apps_classroom_planner.py
  tests/unit/application/apps/classroom_planner/test_services.py
  tests/unit/web/apps/classroom_planner/test_api.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

feat(classroom-planner): add roster and room template creation modals
  check_home_errors.spec.ts
  docs/backlog/reviews/review-epic-24-group-seating-studio-slice-2-planning.md
  docs/index.md
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerView.vue
  frontend/apps/skriptoteket/src/views/apps/components/CreateRoomTemplateModal.vue
  frontend/apps/skriptoteket/src/views/apps/components/CreateRosterModal.vue
  frontend/apps/skriptoteket/src/views/apps/components/GroupBoard.vue
  frontend/apps/skriptoteket/src/views/apps/components/RoomCanvas.vue
  repomix-epic-23-implementation.xml
  src/skriptoteket/application/apps/classroom_planner/services.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

fix(classroom-planner): expand room template grid to 15x10
  docs/backlog/epics/epic-23-group-seating-studio.md
  docs/backlog/stories/story-23-07-group-seating-studio-management-modals.md
  frontend/apps/skriptoteket/src/views/apps/components/CreateRoomTemplateModal.vue
Due: docs-contract-validate, eslint

refactor(classroom-planner): align persistence with ADR-0069 and split service handlers
  docs/backlog/reviews/review-epic-23-vertical-slice.md
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerView.vue
  frontend/apps/skriptoteket/src/views/apps/useClassroomState.ts
  migrations/versions/4f5605f8be18_refactor_classroom_planner_draft_.py
  src/skriptoteket/application/apps/__init__.py
  src/skriptoteket/application/apps/classroom_planner/__init__.py
  src/skriptoteket/application/apps/classroom_planner/services.py
  src/skriptoteket/application/curated_apps/classroom_planner/__init__.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/bootstrap.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/drafts.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/rosters.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/templates.py
  src/skriptoteket/di/curated_apps.py
  src/skriptoteket/domain/apps/__init__.py
  src/skriptoteket/domain/curated_apps/classroom_planner/__init__.py
  src/skriptoteket/domain/curated_apps/classroom_planner/models.py
  src/skriptoteket/infrastructure/db/models/__init__.py
  src/skriptoteket/infrastructure/db/models/classroom_planner_plan_draft.py
  src/skriptoteket/infrastructure/repositories/classroom_planner.py
  src/skriptoteket/protocols/classroom_planner.py
  src/skriptoteket/web/api/v1/apps_classroom_planner.py
  tests/integration/database/test_classroom_planner_migration.py
  tests/unit/application/apps/classroom_planner/test_services.py
  tests/unit/web/apps/classroom_planner/test_api.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

refactor(classroom-planner): align persistence with ADR-0069 and split service handlers
  frontend/apps/skriptoteket/src/api/client.ts
Due: eslint

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  mypy: any of: \.py$
  pytest: any of: \.py$
  docs-contract-validate: any of: ^docs/
  agent-doc-budgets: any of: ^\.agent/(readme-first\.md|handoff\.md)$
  eslint: any of: ^frontend/apps/skriptoteket/src/.*\.(vue|ts|js)$
