Repository paunchygent/skriptoteket: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format (staged files)
        entry: pdm run ruff format --force-exclude
        language: system
        types: [python]
        pass_filenames: true

      - id: ruff-lint
        name: Ruff lint (staged files)
        entry: pdm run ruff check --force-exclude
        language: system
        types: [python]
        pass_filenames: true

      - id: mypy
        name: Mypy typecheck (src + tests)
        entry: pdm run typecheck
        language: system
        types: [python]
        pass_filenames: false

      - id: pytest
        name: Pytest (unit suite)
        entry: pdm run test
        language: system
        types: [python]
        pass_filenames: false

      - id: docs-contract-validate
        name: Docs contract validate (placement + naming + frontmatter)
        entry: pdm run docs-validate
        language: system
        files: ^docs/
        pass_filenames: false

      - id: agent-doc-budgets
        name: Agent docs line budgets (.agent/*)
        entry: pdm run python -m scripts.check_agent_doc_budgets
        language: system
        files: ^\.agent/(readme-first\.md|handoff\.md)$
        pass_filenames: false

      - id: eslint
        name: ESLint (frontend)
        entry: pnpm --filter @skriptoteket/spa lint
        language: system
        files: ^frontend/apps/skriptoteket/src/.*\.(vue|ts|js)$
        pass_filenames: false

Extend Story 58 product-route proof capture
  .codex/handoff.md
  docs/backlog/reviews/review-pr-0410-exam-converter-correction-replay-artifact-set-consumer.md
  scripts/_story58_artifact_observations.py
  scripts/_story58_artifact_route_probe.py
  scripts/_story58_artifact_set_invariants.py
  scripts/_story58_mismatched_artifact_probe.py
  scripts/playwright_pr_0337_correction_session_live.py
  tests/unit/scripts/test_story58_artifact_route_probe.py
  tests/unit/scripts/test_story58_artifact_set_invariants.py
  tests/unit/scripts/test_story58_private_request_capture.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Stabilize Story 58 Skriptoteket proof
  .codex/handoff.md
  docs/backlog/reviews/review-pr-0410-exam-converter-correction-replay-artifact-set-consumer.md
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedReviewSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterQuestionReviewShell.vue
  scripts/playwright_pr_0337_correction_session_live.py
  tests/unit/scripts/test_story58_private_request_capture.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Plan R2-backed Mina filer storage migration
  .codex/handoff.md
  AGENTS.md
  docs/adr/adr-0088-cloudflare-r2-storage-boundary-for-mina-filer-and-filerefs.md
  docs/backlog/epics/epic-14-admin-tool-authoring.md
  docs/backlog/prs/pr-0411-st-14-39-mina-filer-r2-storage-migration-planning.md
  docs/backlog/reviews/review-pr-0411-mina-filer-r2-storage-migration-planning.md
  docs/backlog/stories/story-14-39-cloudflare-r2-backed-mina-filer-storage-migration.md
  docs/reference/ref-cloudflare-r2-skriptoteket-file-storage-migration-pre-runbook.md
Due: docs-contract-validate

Plan R2-backed file service migration
  AGENTS.md
  docs/_meta/docs-contract.yaml
  docs/adr/adr-0088-cloudflare-r2-storage-boundary-for-mina-filer-and-filerefs.md
  docs/backlog/prs/pr-0412-st-14-39-file-service-consumer-task-split.md
  docs/backlog/prs/pr-0413-st-14-39-mina-filer-file-service-metadata-schema.md
  docs/backlog/prs/pr-0414-st-14-39-mina-filer-file-service-client-adapter-proof.md
  docs/backlog/prs/pr-0415-st-14-39-mina-filer-migration-cutover-safety.md
  docs/backlog/reviews/review-pr-0412-mina-filer-file-service-consumer-task-split.md
  docs/backlog/stories/story-14-39-cloudflare-r2-backed-mina-filer-storage-migration.md
  scripts/validate_docs.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Lean Skriptoteket agent entrypoint
  AGENTS.md
Due: none

Add trusted authority-guard validation
  .github/workflows/docs-validate.yml
  scripts/validate_docs.py
  tests/unit/scripts/test_authority_transition_guard_launcher.py
  tests/unit/scripts/test_docs_validate_workflow_contract.py
Due: ruff-format, ruff-lint, mypy, pytest

chore(policy): load canonical agent instructions in Claude
  CLAUDE.md
Due: none

refactor(docs): decompose documentation validation
  .gitignore
  scripts/docs_validation_reviews.py
  scripts/docs_validation_types.py
  scripts/validate_docs.py
  tests/unit/scripts/test_authority_transition_guard_launcher.py
Due: ruff-format, ruff-lint, mypy, pytest

ci: update docs actions to Node 24
  .github/workflows/docs-validate.yml
  tests/unit/test_github_actions_runtime_contract.py
Due: ruff-format, ruff-lint, mypy, pytest

Plan idle-safe Hemma cleanup units
  docs/backlog/prs/pr-0416-st-28-04-make-hemma-cleanup-units-idle-safe.md
Due: docs-contract-validate

Plan central governance cutover
  .codex/handoff.md
  docs/backlog/epics/epic-38-shared-governed-development-system-cutover.md
  docs/backlog/prs/pr-0417-st-38-01-relocate-and-bootstrap-shared-governance.md
  docs/backlog/prs/pr-0418-st-38-01-migrate-current-governed-corpus.md
  docs/backlog/prs/pr-0419-st-38-01-adopt-topology-derived-quality.md
  docs/backlog/prs/pr-0420-st-38-01-adopt-integrated-frontend-catalog.md
  docs/backlog/prs/pr-0421-st-38-01-cut-over-governed-development-operations.md
  docs/backlog/reviews/review-epic-38-shared-governed-development-system-cutover.md
  docs/backlog/stories/story-38-01-shared-governed-development-system-cutover.md
Due: docs-contract-validate

Align cutover admission authority
  docs/backlog/epics/epic-38-shared-governed-development-system-cutover.md
  docs/backlog/prs/pr-0417-st-38-01-relocate-and-bootstrap-shared-governance.md
  docs/backlog/prs/pr-0418-st-38-01-migrate-current-governed-corpus.md
  docs/backlog/prs/pr-0419-st-38-01-adopt-topology-derived-quality.md
  docs/backlog/prs/pr-0420-st-38-01-adopt-integrated-frontend-catalog.md
  docs/backlog/stories/story-38-01-shared-governed-development-system-cutover.md
Due: docs-contract-validate

Bootstrap shared repository governance
  pdm.lock
  pyproject.toml
  tests/test_repository_governance_bootstrap.py
Due: ruff-format, ruff-lint, mypy, pytest

Strengthen governance bootstrap proof
  tests/test_repository_governance_bootstrap.py
Due: ruff-format, ruff-lint, mypy, pytest

docs: publish reviewed Skriptoteket product context plan
  docs/backlog/INDEX.md
  docs/backlog/tasks/task-skript-rep-0001-publish-product-context-reference-for-external-architect-agents.md
  docs/reference/INDEX.md
  docs/reference/ref-skript-general-product-context.md
Due: docs-contract-validate

docs: repair Skriptoteket cutover task identities
  docs/backlog/prs/pr-0418-st-38-01-migrate-current-governed-corpus.md
  docs/backlog/prs/pr-0419-st-38-01-adopt-topology-derived-quality.md
  docs/backlog/prs/pr-0420-st-38-01-adopt-integrated-frontend-catalog.md
  docs/backlog/prs/pr-0421-st-38-01-cut-over-governed-development-operations.md
  docs/backlog/stories/story-38-01-shared-governed-development-system-cutover.md
  pdm.lock
  pyproject.toml
Due: docs-contract-validate

docs: establish Skriptoteket corpus migration task
  docs/backlog/tasks/task-skript-rep-0002-reconcile-completed-shared-governance-bootstrap.md
  docs/backlog/tasks/task-skript-rep-0003-migrate-current-governed-corpus.md
Due: docs-contract-validate

docs: authorize Skriptoteket corpus migration
  docs/backlog/tasks/task-skript-rep-0003-migrate-current-governed-corpus.md
Due: docs-contract-validate

docs: refresh post-cutover handoff
  .codex/handoff.md
Due: none

chore: adopt topology-derived quality
  .codex/handoff.md
  docs/_meta/docs-contract.yaml
  docs/backlog/tasks/task-skript-rep-0004-st-38-01-adopt-topology-derived-quality.md
  docs/repository-index.json
  handoff.md
  pyproject.toml
  scripts/run_precommit_targeted_unit_tests.py
  tests/test_repository_governance_bootstrap.py
  tests/unit/scripts/test_run_precommit_targeted_unit_tests.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

feat: adopt shared frontend catalog
  docs/backlog/tasks/task-skript-rep-0005-st-38-01-adopt-the-integrated-frontend-catalog.md
  docs/repository-index.json
  frontend/apps/skriptoteket/package.json
  frontend/apps/skriptoteket/src/design-system/huleedu-integrated/manifest.json
  frontend/apps/skriptoteket/src/design-system/huleedu-integrated/manifest.schema.json
  frontend/apps/skriptoteket/src/design-system/huleedu-integrated/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  handoff.md
  pyproject.toml
Due: docs-contract-validate

fix: close cutover review findings
  docs/backlog/INDEX.md
  docs/backlog/reviews/review-task-skript-rep-0006-implementation-closeout.md
  docs/backlog/tasks/task-skript-rep-0006-st-38-01-cut-over-governed-development-operations.md
  docs/repository-index.json
  frontend/apps/skriptoteket/src/components/help/helpTopicCatalog.spec.ts
  frontend/apps/skriptoteket/src/components/help/helpTopicCatalog.ts
  frontend/apps/skriptoteket/src/components/help/helpTopics.ts
  frontend/apps/skriptoteket/src/components/help/topics/HelpTopicConversionTools.vue
  tests/unit/scripts/test_story58_artifact_set_invariants.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

docs: close task 0006
  docs/backlog/reviews/review-task-skript-rep-0006-implementation-closeout.md
  docs/backlog/tasks/task-skript-rep-0006-st-38-01-cut-over-governed-development-operations.md
  docs/repository-index.json
  handoff.md
Due: docs-contract-validate

docs: record epic cutover authority
  docs/backlog/epics/epic-skript-38-shared-governed-development-system-cutover.md
  docs/backlog/stories/st-skript-38-01-adopt-the-shared-governed-development-system.md
  docs/repository-index.json
Due: docs-contract-validate

docs: admit cutover epic
  docs/backlog/INDEX.md
  docs/backlog/epics/epic-skript-38-shared-governed-development-system-cutover.md
  docs/decisions/INDEX.md
  docs/repository-index.json
Due: docs-contract-validate

docs: activate verified cutover spine
  docs/backlog/INDEX.md
  docs/backlog/epics/epic-skript-38-shared-governed-development-system-cutover.md
  docs/backlog/stories/st-skript-38-01-adopt-the-shared-governed-development-system.md
  docs/decisions/INDEX.md
  docs/repository-index.json
Due: docs-contract-validate

docs: close governed development cutover
  docs/backlog/INDEX.md
  docs/backlog/epics/epic-skript-38-shared-governed-development-system-cutover.md
  docs/backlog/stories/st-skript-38-01-adopt-the-shared-governed-development-system.md
  docs/decisions/INDEX.md
  docs/repository-index.json
  handoff.md
Due: docs-contract-validate

docs: scaffold repository-governance 0.9.7 pin
  docs/backlog/tasks/task-skript-rep-0027-advance-repository-governance-consumer-pin-to-0-9-7.md
  docs/repository-index.json
Due: docs-contract-validate

docs: approve repository-governance pin advance
  docs/backlog/tasks/task-skript-rep-0027-advance-repository-governance-consumer-pin-to-0-9-7.md
  docs/backlog/tasks/task-skript-rep-0027-advance-repository-governance-consumer-pin.md
  docs/repository-index.json
Due: docs-contract-validate

chore: advance repository-governance pin
  docs/backlog/tasks/task-skript-rep-0027-advance-repository-governance-consumer-pin.md
  docs/repository-index.json
  pdm.lock
  pyproject.toml
Due: docs-contract-validate

docs: close repository-governance pin advance
  docs/backlog/tasks/task-skript-rep-0027-advance-repository-governance-consumer-pin.md
  docs/repository-index.json
  handoff.md
Due: docs-contract-validate

docs: expose local codex skills to the Claude harness (TASK-SKRIPT-REP-0028)
  .claude/skills
  docs/backlog/tasks/task-skript-rep-0028-expose-local-codex-skills-to-the-claude-harness-via-claude-skills-symlink.md
  docs/repository-index.json
Due: docs-contract-validate

docs: publish Skriptoteket discovery overview in repo-code-map lane (TASK-SKRIPT-REP-0029)
  .codex/skills/repo-code-map/SKILL.md
  .codex/skills/repo-code-map/references/platform-discovery-overview.md
  AGENTS.md
  docs/backlog/tasks/task-skript-rep-0029-publish-the-skriptoteket-platform-discovery-overview.md
  docs/repository-index.json
Due: docs-contract-validate

chore: pin repository-governance 0.9.29
  pdm.lock
  pyproject.toml
Due: none

chore: synchronize governance auxiliary bindings
  pyproject.toml
Due: none

docs: close repository discovery overview
  .codex/skills/repo-code-map/references/platform-discovery-overview.md
  docs/backlog/tasks/task-skript-rep-0029-publish-the-skriptoteket-platform-discovery-overview.md
  docs/repository-index.json
Due: docs-contract-validate

chore: pin repository-governance 0.9.30
  pdm.lock
  pyproject.toml
Due: none

chore: pin repository-governance 0.10.1
  pdm.lock
  pyproject.toml
Due: none
