Repository paunchygent/skriptoteket: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format (staged files)
        entry: pdm run ruff format --force-exclude
        language: system
        types: [python]
        pass_filenames: true

      - id: ruff-lint
        name: Ruff lint (staged files)
        entry: pdm run ruff check --force-exclude
        language: system
        types: [python]
        pass_filenames: true

      - id: mypy
        name: Mypy typecheck (src + tests)
        entry: pdm run typecheck
        language: system
        types: [python]
        pass_filenames: false

      - id: pytest
        name: Pytest (unit suite)
        entry: pdm run test
        language: system
        types: [python]
        pass_filenames: false

      - id: docs-contract-validate
        name: Docs contract validate (placement + naming + frontmatter)
        entry: pdm run docs-validate
        language: system
        files: ^docs/
        pass_filenames: false

      - id: agent-doc-budgets
        name: Agent docs line budgets (.agent/*)
        entry: pdm run python -m scripts.check_agent_doc_budgets
        language: system
        files: ^\.agent/(readme-first\.md|handoff\.md)$
        pass_filenames: false

      - id: eslint
        name: ESLint (frontend)
        entry: pnpm --filter @skriptoteket/spa lint
        language: system
        files: ^frontend/apps/skriptoteket/src/.*\.(vue|ts|js)$
        pass_filenames: false

Close TASK-SKRIPT-39-03-04 (cross-repository review approved; retired Sir answer-key env keys removed)
  docs/backlog/tasks/task-skript-39-03-04-retire-the-hemma-qwen-answer-key-sidecar.md
  docs/repository-index.json
Due: docs-contract-validate

Handoff: TASK-SKRIPT-39-03-03 and 03-04 done
  handoff.md
Due: none

Advance repository-governance pin to 0.11.61
  pdm.lock
  pyproject.toml
Due: none

Close ST-SKRIPT-39-03 (spec-verifier verified)
  docs/backlog/INDEX.md
  docs/backlog/stories/st-skript-39-03-cut-over-the-exam-converter-and-retire-the-sir-exam-lane.md
  docs/decisions/INDEX.md
  docs/repository-index.json
Due: docs-contract-validate

Advance repository-governance pin to 0.11.62
  pdm.lock
  pyproject.toml
Due: none

Advance repository-governance pin to 0.11.63
  pdm.lock
  pyproject.toml
Due: none

Advance repository-governance pin to 0.11.64
  pdm.lock
  pyproject.toml
Due: none

Advance repository-governance pin to 0.11.65
  pdm.lock
  pyproject.toml
Due: none

Advance repository-governance pin to 0.11.66
  pdm.lock
  pyproject.toml
Due: none

Advance repository-governance pin to 0.11.67
  pdm.lock
  pyproject.toml
Due: none

Advance repository-governance pin to 0.11.68
  pdm.lock
  pyproject.toml
Due: none

docs: scaffold native health client replacement task
  docs/backlog/tasks/task-skript-rep-0035-replace-recurring-health-callers-with-native-clients.md
  docs/repository-index.json
Due: docs-contract-validate

Replace recurring health callers with native clients
  Dockerfile
  compose.hemma-dev.yaml
  compose.prod.yaml
  compose.yaml
  docs/backlog/tasks/task-skript-rep-0035-replace-recurring-health-callers-with-native-clients.md
  docs/repository-index.json
  src/skriptoteket/cli/commands/healthcheck_execution_worker.py
  src/skriptoteket/cli/commands/healthcheck_execution_worker.sh
  src/skriptoteket/cli/commands/healthcheck_execution_worker_fast.py
  src/skriptoteket/cli/commands/healthcheck_web.sh
  tests/unit/cli/test_native_healthchecks.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Separate recurring web liveness from dependency readiness
  compose.hemma-dev.yaml
  compose.prod.yaml
  compose.yaml
  docs/backlog/tasks/task-skript-rep-0035-replace-recurring-health-callers-with-native-clients.md
  docs/repository-index.json
  handoff.md
  src/skriptoteket/cli/commands/healthcheck_web.sh
  src/skriptoteket/web/routes/observability.py
  tests/unit/cli/test_native_healthchecks.py
  tests/unit/web/test_observability_routes.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Record passive web liveness rollout receipts
  docs/backlog/tasks/task-skript-rep-0035-replace-recurring-health-callers-with-native-clients.md
  docs/repository-index.json
  handoff.md
Due: docs-contract-validate

Advance repository-governance pin to 0.11.69
  pdm.lock
  pyproject.toml
Due: none

Advance repository-governance pin to 0.11.70
  pdm.lock
  pyproject.toml
Due: none

Advance repository-governance pin to 0.11.71
  pdm.lock
  pyproject.toml
Due: none

Advance repository-governance pin to 0.11.72
  pdm.lock
  pyproject.toml
Due: none

Advance repository-governance pin to 0.11.73
  pdm.lock
  pyproject.toml
Due: none

Advance repository-governance pin to 0.11.74
  pdm.lock
  pyproject.toml
Due: none

Advance repository-governance pin to 0.11.75
  pdm.lock
  pyproject.toml
Due: none

Advance repository-governance pin to 0.11.76
  pdm.lock
  pyproject.toml
Due: none

Advance repository-governance pin to 0.11.77
  pdm.lock
  pyproject.toml
Due: none

Advance repository-governance pin to 0.11.78
  pdm.lock
  pyproject.toml
Due: none

Advance repository-governance pin to 0.11.79
  pdm.lock
  pyproject.toml
Due: none

Advance repository-governance pin to 0.11.80
  pdm.lock
  pyproject.toml
Due: none

Advance repository-governance pin to 0.11.81
  pdm.lock
  pyproject.toml
Due: none

Advance repository-governance pin to 0.11.82
  pdm.lock
  pyproject.toml
Due: none

Advance repository-governance pin to 0.11.83
  pdm.lock
  pyproject.toml
Due: none

Advance repository-governance pin to 0.11.84
  pdm.lock
  pyproject.toml
Due: none

docs: record QTI 3.0 convergence decisions and amend ADR-0066 pointer
  docs/backlog/epics/epic-skript-39-skriptoteket-owned-exam-conversion.md
  docs/decisions/adr-skript-0066-sir-convert-a-lot-v2-as-canonical-conversion-engine-replace-html-to-pdf-preview-tool.md
  handoff.md
Due: docs-contract-validate

docs: correct handoff on sir-convert stale-doc state
  handoff.md
Due: none

Advance repository-governance pin to 0.11.85
  pdm.lock
  pyproject.toml
Due: none

docs: record E15 - HuleEduOS producer stays a separate hand-tool
  docs/backlog/epics/epic-skript-39-skriptoteket-owned-exam-conversion.md
  handoff.md
Due: docs-contract-validate

docs: accept ADR-0091 and ST-SKRIPT-39-04 by user decision
  docs/backlog/epics/epic-skript-39-skriptoteket-owned-exam-conversion.md
  docs/backlog/stories/st-skript-39-04-native-editable-exam-workspace-with-docx-first-walking-skeleton.md
  docs/backlog/tasks/task-skript-39-04-01-docx-walking-skeleton-import-native-edit-and-create-save-and-reopen-export.md
  docs/decisions/adr-skript-0090-skriptoteket-owned-exam-conversion-boundary-with-sir-convert-generic-extraction.md
  docs/decisions/adr-skript-0091-native-editable-exam-workspace-narrows-the-adr-0090-authoring-ui-non-decision.md
  handoff.md
Due: docs-contract-validate

test: add genuine teacher DOCX fixture for the workspace skeleton
  tests/fixtures/exam_conversion/real_inputs/grammatik_omprov_examnet_import_med_facit.docx
  tests/fixtures/exam_conversion/real_inputs/grammatik_omprov_examnet_import_med_facit.docx.sha256
Due: none

feat: add source-neutral native exam document model v1
  src/skriptoteket/domain/curated_apps/exam_workspace/__init__.py
  src/skriptoteket/domain/curated_apps/exam_workspace/native_exam_document.py
  tests/unit/domain/curated_apps/exam_workspace/test_native_exam_document.py
Due: ruff-format, ruff-lint, mypy, pytest

feat: add deterministic DOCX exam extractor with per-item confidence
  src/skriptoteket/domain/curated_apps/exam_workspace/docx_extraction.py
  src/skriptoteket/domain/curated_apps/exam_workspace/native_exam_document.py
  src/skriptoteket/infrastructure/curated_apps/apps/conversion_hub/exam_workspace_docx_extractor.py
  src/skriptoteket/protocols/exam_workspace.py
  tests/unit/domain/curated_apps/exam_workspace/test_docx_extraction.py
  tests/unit/infrastructure/curated_apps/test_exam_workspace_docx_extractor.py
Due: ruff-format, ruff-lint, mypy, pytest

feat: add versioned exam workspace persistence and API vertical
  migrations/versions/7c3e9a1d4f20_add_vault_document_lineage.py
  src/skriptoteket/application/curated_apps/exam_workspace.py
  src/skriptoteket/application/curated_apps/handlers/exam_workspace_documents.py
  src/skriptoteket/di/__init__.py
  src/skriptoteket/di/exam_workspace.py
  src/skriptoteket/domain/curated_apps/exam_workspace/container.py
  src/skriptoteket/domain/scripting/vault.py
  src/skriptoteket/infrastructure/curated_apps/apps/conversion_hub/exam_workspace_container.py
  src/skriptoteket/infrastructure/db/models/user_vault_file.py
  src/skriptoteket/infrastructure/repositories/user_vault_file_repository.py
  src/skriptoteket/protocols/exam_workspace.py
  src/skriptoteket/protocols/vault.py
  src/skriptoteket/web/api/v1/apps_conversion_hub_exam_workspace.py
  src/skriptoteket/web/router.py
  tests/unit/application/curated_apps/handlers/test_exam_workspace_documents.py
  tests/unit/infrastructure/curated_apps/test_exam_workspace_container.py
Due: ruff-format, ruff-lint, mypy, pytest
