Repository paunchygent/skriptoteket: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

ruff-format:
  name: Ruff format (staged files)
  entry: pdm run ruff format --force-exclude
  language: system
  pass_filenames: true

ruff-lint:
  name: Ruff lint (staged files)
  entry: pdm run ruff check --force-exclude
  language: system
  pass_filenames: true

mypy:
  name: Mypy typecheck (src + tests)
  entry: pdm run typecheck
  language: system
  pass_filenames: false

pytest:
  name: Pytest (unit suite)
  entry: pdm run test
  language: system
  pass_filenames: false

docs-contract-validate:
  name: Docs contract validate (placement + naming + frontmatter)
  entry: pdm run docs-validate
  language: system
  pass_filenames: false

agent-doc-budgets:
  name: Agent docs line budgets (.agent/*)
  entry: pdm run python -m scripts.check_agent_doc_budgets
  language: system
  pass_filenames: false

eslint:
  name: ESLint (frontend)
  entry: pnpm --filter @skriptoteket/spa lint
  language: system
  pass_filenames: false

feat: rebuild the exam workspace as Filer and Redigera modes with inline gap editing
  docs/backlog/INDEX.md
  docs/backlog/tasks/task-skript-39-04-02-exam-workspace-two-mode-layout-file-handling-and-item-editing.md
  docs/index.md
  docs/reference/INDEX.md
  docs/repository-index.json
  docs/runbooks/INDEX.md
  frontend/apps/skriptoteket/src/views/apps/ExamWorkspaceLayoutSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamWorkspaceSlice.specSupport.ts
  frontend/apps/skriptoteket/src/views/apps/ExamWorkspaceView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamWorkspaceView.vue
  frontend/apps/skriptoteket/src/views/apps/ExamWorkspaceWalkingSkeletonSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceBodyEditor.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceBodyEditor.vue
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceFilesMode.vue
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceItemDrawer.vue
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceItemEditor.vue
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceItemTable.vue
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceSheet.vue
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/examWorkspaceBodySegments.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/examWorkspaceBodySegments.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/examWorkspaceItemReadiness.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/examWorkspaceItemReadiness.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/useExamWorkspaceDocument.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/useExamWorkspaceLayout.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/useExamWorkspaceLayout.ts
Due: docs-contract-validate, eslint

fix: repair exam workspace review findings for gap popover, save rules, dialogs and file size
  frontend/apps/skriptoteket/src/views/apps/ExamWorkspaceLayoutSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamWorkspaceSaveRulesSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamWorkspaceSlice.specSupport.ts
  frontend/apps/skriptoteket/src/views/apps/ExamWorkspaceView.vue
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceBodyEditor.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceBodyEditor.vue
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceGapPopover.vue
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceItemDrawer.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceItemDrawer.vue
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceItemEditor.vue
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspacePhoneQuestionBar.vue
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceQuestionList.vue
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceSheet.vue
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/examWorkspaceAnswerKeyRules.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/examWorkspaceBodyCaret.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/examWorkspaceBodySegments.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/examWorkspaceItemReadiness.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/examWorkspaceItemReadiness.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/examWorkspaceItemSaveRules.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/examWorkspaceItemSaveRules.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/useExamWorkspaceAddress.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/useExamWorkspaceDialogFocus.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/useExamWorkspaceDocument.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/useExamWorkspaceSourceFile.ts
Due: eslint

fix: repair exam workspace walk findings for viewport fit, overlays, focus, titles and phone width
  frontend/apps/skriptoteket/src/App.vue
  frontend/apps/skriptoteket/src/components/layout/AuthLayout.vue
  frontend/apps/skriptoteket/src/views/apps/ExamWorkspaceEnrichmentSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamWorkspaceLayoutSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamWorkspaceSlice.specSupport.ts
  frontend/apps/skriptoteket/src/views/apps/ExamWorkspaceView.vue
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceBodyEditor.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceBodyEditor.vue
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceFilesMode.vue
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceGapPopover.vue
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceItemDrawer.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceItemDrawer.vue
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceItemEditor.vue
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceSavedDocuments.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceSavedDocuments.vue
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceSheet.vue
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/examWorkspaceRows.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/examWorkspaceRows.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/useExamWorkspaceDialogFocus.ts
Due: eslint

fix: name the blocked atom in the delete hint and correct the saved-document ordinal note
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceBodyEditor.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceBodyEditor.vue
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceSavedDocuments.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceSavedDocuments.vue
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/examWorkspaceBodyCaret.ts
Due: eslint

fix: align exam workspace image hint copy with the general atom hint
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceBodyEditor.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceBodyEditor.vue
Due: eslint

Advance repository-governance pin to 0.11.92
  pdm.lock
  pyproject.toml
Due: none

docs: record TASK-SKRIPT-39-04-02 staging walk and closure gate
  handoff.md
Due: none

docs: close TASK-SKRIPT-39-04-02 and propose TASK-SKRIPT-39-04-03 and 39-04-04
  docs/backlog/stories/st-skript-39-04-native-editable-exam-workspace-with-docx-first-walking-skeleton.md
  docs/backlog/tasks/task-skript-39-04-02-exam-workspace-two-mode-layout-file-handling-and-item-editing.md
  docs/backlog/tasks/task-skript-39-04-03-split-multiple-docx-answer-labels-into-separate-gaps.md
  docs/backlog/tasks/task-skript-39-04-04-carry-pending-answer-key-proposals-across-exam-workspace-saves.md
  docs/repository-index.json
  handoff.md
Due: docs-contract-validate

docs: record user decisions for TASK-SKRIPT-39-04-03 and 39-04-04
  docs/backlog/tasks/task-skript-39-04-03-split-multiple-docx-answer-labels-into-separate-gaps.md
  docs/backlog/tasks/task-skript-39-04-04-carry-pending-answer-key-proposals-across-exam-workspace-saves.md
  docs/repository-index.json
  handoff.md
Due: docs-contract-validate

docs: reopen TASK-SKRIPT-39-04-03 import model terms
  docs/backlog/tasks/task-skript-39-04-03-split-multiple-docx-answer-labels-into-separate-gaps.md
  docs/repository-index.json
  handoff.md
Due: docs-contract-validate

docs: rescope TASK-SKRIPT-39-04-03 to AI item interpretation at DOCX import
  docs/backlog/stories/st-skript-39-04-native-editable-exam-workspace-with-docx-first-walking-skeleton.md
  docs/backlog/tasks/task-skript-39-04-03-split-multiple-docx-answer-labels-into-separate-gaps.md
  docs/repository-index.json
  handoff.md
Due: docs-contract-validate

docs: amend E4 and S4 so confident AI facit interpretation needs no teacher approval
  docs/backlog/epics/epic-skript-39-skriptoteket-owned-exam-conversion.md
  docs/backlog/stories/st-skript-39-04-native-editable-exam-workspace-with-docx-first-walking-skeleton.md
  docs/backlog/tasks/task-skript-39-04-03-split-multiple-docx-answer-labels-into-separate-gaps.md
  docs/repository-index.json
Due: docs-contract-validate

Advance repository-governance pin to 0.11.93
  pdm.lock
  pyproject.toml
Due: none

test: add eight-exam DOCX corpus as AI conversion fixtures
  tests/fixtures/exam_conversion/docx_corpus/bf26_diagnostic_grammar_test_ht26_med_facit.docx
  tests/fixtures/exam_conversion/docx_corpus/bf26_diagnostic_grammar_test_ht26_med_facit.docx.sha256
  tests/fixtures/exam_conversion/docx_corpus/bf26_english_1_unit_test_kap_1_2_med_facit.docx
  tests/fixtures/exam_conversion/docx_corpus/bf26_english_1_unit_test_kap_1_2_med_facit.docx.sha256
  tests/fixtures/exam_conversion/docx_corpus/chapter_4_poetry_and_lyrics_quiz_med_facit.docx
  tests/fixtures/exam_conversion/docx_corpus/chapter_4_poetry_and_lyrics_quiz_med_facit.docx.sha256
  tests/fixtures/exam_conversion/docx_corpus/metodprov_vetenskaplig_metod_med_facit.docx
  tests/fixtures/exam_conversion/docx_corpus/metodprov_vetenskaplig_metod_med_facit.docx.sha256
  tests/fixtures/exam_conversion/docx_corpus/sa24_solid_gold_3_unit_3_discuss_and_argue_med_facit.docx
  tests/fixtures/exam_conversion/docx_corpus/sa24_solid_gold_3_unit_3_discuss_and_argue_med_facit.docx.sha256
  tests/fixtures/exam_conversion/docx_corpus/svenska_2_grammatik_omprov_variant_1_med_facit.docx
  tests/fixtures/exam_conversion/docx_corpus/svenska_2_grammatik_omprov_variant_1_med_facit.docx.sha256
  tests/fixtures/exam_conversion/docx_corpus/svenska_2_grammatik_omprov_variant_2_med_facit.docx
  tests/fixtures/exam_conversion/docx_corpus/svenska_2_grammatik_omprov_variant_2_med_facit.docx.sha256
  tests/fixtures/exam_conversion/docx_corpus/svenska_2_kursavslutande_prov_med_facit.docx
  tests/fixtures/exam_conversion/docx_corpus/svenska_2_kursavslutande_prov_med_facit.docx.sha256
Due: none

docs: plan ST-SKRIPT-39-05 AI-first DOCX exam conversion and supersede TASK-SKRIPT-39-04-03
  docs/backlog/INDEX.md
  docs/backlog/epics/epic-skript-39-skriptoteket-owned-exam-conversion.md
  docs/backlog/stories/st-skript-39-04-native-editable-exam-workspace-with-docx-first-walking-skeleton.md
  docs/backlog/stories/st-skript-39-05-ai-first-docx-exam-conversion-with-a-gold-corpus-eval-loop.md
  docs/backlog/tasks/task-skript-39-04-03-split-multiple-docx-answer-labels-into-separate-gaps.md
  docs/repository-index.json
  handoff.md
Due: docs-contract-validate

docs: ready ST-SKRIPT-39-05 and TASK-SKRIPT-39-04-04; contract TASK-SKRIPT-39-05-01 walking skeleton
  docs/backlog/INDEX.md
  docs/backlog/stories/st-skript-39-05-ai-first-docx-exam-conversion-with-a-gold-corpus-eval-loop.md
  docs/backlog/tasks/task-skript-39-04-04-carry-pending-answer-key-proposals-across-exam-workspace-saves.md
  docs/backlog/tasks/task-skript-39-05-01-walking-skeleton-for-ai-first-docx-conversion-as-a-background-job.md
  docs/repository-index.json
  handoff.md
Due: docs-contract-validate

docs: start TASK-SKRIPT-39-05-01
  docs/backlog/tasks/task-skript-39-05-01-walking-skeleton-for-ai-first-docx-conversion-as-a-background-job.md
  docs/repository-index.json
Due: docs-contract-validate

docs: start TASK-SKRIPT-39-04-04
  docs/backlog/tasks/task-skript-39-04-04-carry-pending-answer-key-proposals-across-exam-workspace-saves.md
  docs/repository-index.json
Due: docs-contract-validate

docs: handoff for parallel 39-05-01 and 39-04-04
  handoff.md
Due: none

docs: contract and start TASK-SKRIPT-39-05-02 gold corpus and eval loop
  docs/backlog/stories/st-skript-39-05-ai-first-docx-exam-conversion-with-a-gold-corpus-eval-loop.md
  docs/backlog/tasks/task-skript-39-05-02-gold-corpus-and-eval-loop-for-ai-first-docx-conversion.md
  docs/repository-index.json
Due: docs-contract-validate

Advance repository-governance pin to 0.11.94
  pdm.lock
  pyproject.toml
Due: none

Advance repository-governance pin to 0.11.95
  pdm.lock
  pyproject.toml
Due: none

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  mypy: any of: \.py$
  pytest: any of: \.py$
  docs-contract-validate: any of: ^docs/
  agent-doc-budgets: any of: ^\.agent/(readme-first\.md|handoff\.md)$
  eslint: any of: ^frontend/apps/skriptoteket/src/.*\.(vue|ts|js)$
