Repository paunchygent/skriptoteket: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

ruff-format:
  name: Ruff format (staged files)
  entry: pdm run ruff format --force-exclude
  language: system
  pass_filenames: true

ruff-lint:
  name: Ruff lint (staged files)
  entry: pdm run ruff check --force-exclude
  language: system
  pass_filenames: true

mypy:
  name: Mypy typecheck (src + tests)
  entry: pdm run typecheck
  language: system
  pass_filenames: false

pytest:
  name: Pytest (unit suite)
  entry: pdm run test
  language: system
  pass_filenames: false

docs-contract-validate:
  name: Docs contract validate (placement + naming + frontmatter)
  entry: pdm run docs-validate
  language: system
  pass_filenames: false

agent-doc-budgets:
  name: Agent docs line budgets (.agent/*)
  entry: pdm run python -m scripts.check_agent_doc_budgets
  language: system
  pass_filenames: false

eslint:
  name: ESLint (frontend)
  entry: pnpm --filter @skriptoteket/spa lint
  language: system
  pass_filenames: false

Realign app copy and public proof lane
  .codex/handoff.md
  .env.example
  README.md
  compose.yaml
  docs/backlog/epics/epic-37-backlog-product-direction-inventory-and-app-surface-realignment.md
  docs/backlog/prs/pr-0366-st-37-04-copy-only-app-lane-naming-and-description-alignment.md
  docs/backlog/prs/pr-0373-st-37-04-public-app-local-proof-runtime-contract.md
  docs/backlog/stories/story-37-03-service-shell-and-dashboard-ux-realignment.md
  docs/backlog/stories/story-37-04-app-presentation-decomposition-and-naming-reset.md
  docs/runbooks/runbook-testing.md
  frontend/apps/skriptoteket/src/components/home/homeWorkApps.ts
  frontend/apps/skriptoteket/src/views/HomeView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ConversionHubModeTabs.vue
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedView.vue
  frontend/apps/skriptoteket/src/views/apps/ExamConverterPublicView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterPublicView.vue
  pyproject.toml
  scripts/dev_stack.py
  tests/unit/test_docker_dev_shared_auth_contract.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Align backup runbooks with shared Postgres protocol
  docs/runbooks/runbook-home-server.md
  docs/runbooks/runbook-huleedu-integration.md
Due: docs-contract-validate

Record fresh transcript proof closeout
  .codex/handoff.md
  docs/backlog/prs/pr-0378-st-37-04-transcript-proof-failure-evidence-capture.md
Due: docs-contract-validate

Close PR-0375 document converter planning
  .codex/handoff.md
  docs/backlog/epics/epic-37-backlog-product-direction-inventory-and-app-surface-realignment.md
  docs/backlog/prs/pr-0369-st-37-04-backend-and-api-app-presentation-contract-alignment.md
  docs/backlog/prs/pr-0375-st-37-04-document-converter-backend-backed-mvp-planning.md
  docs/backlog/reviews/review-pr-0375-document-converter-backend-backed-mvp-planning.md
  docs/backlog/stories/story-37-04-app-presentation-decomposition-and-naming-reset.md
  docs/index.md
Due: docs-contract-validate

Complete Document Converter batch routing contract
  .codex/handoff.md
  docs/backlog/epics/epic-21-curated-app-conversion-hub.md
  docs/backlog/epics/epic-37-backlog-product-direction-inventory-and-app-surface-realignment.md
  docs/backlog/prs/pr-0375-st-37-04-document-converter-backend-backed-mvp-planning.md
  docs/backlog/prs/pr-0379-st-37-04-document-converter-backend-api-contract.md
  docs/backlog/prs/pr-0380-st-37-04-document-converter-product-contract-correction.md
  docs/backlog/prs/pr-0381-st-37-04-document-converter-local-heavy-producer-and-batch-contract.md
  docs/backlog/prs/pr-0382-st-37-04-document-converter-html-css-project-preview-contract.md
  docs/backlog/prs/pr-0383-st-37-04-document-converter-mockup-and-copy-approval-package.md
  docs/backlog/prs/pr-0384-st-37-04-document-converter-route-visible-mvp-implementation.md
  docs/backlog/prs/pr-0385-st-37-04-document-converter-files-and-history-follow-up.md
  docs/backlog/reviews/review-pr-0379-document-converter-backend-api-contract.md
  docs/backlog/reviews/review-pr-0381-document-converter-local-heavy-producer-and-batch-contract.md
  docs/backlog/stories/story-37-04-app-presentation-decomposition-and-naming-reset.md
  docs/index.md
  docs/reference/ref-app-presentation-decomposition-and-naming-plan-v1.md
  docs/reference/ref-current-product-lanes-and-sir-convert-boundary-v1.md
  frontend/apps/skriptoteket/src/api/openapi.d.ts
  src/skriptoteket/application/curated_apps/document_converter.py
  src/skriptoteket/application/curated_apps/document_converter_producers.py
  src/skriptoteket/application/curated_apps/handlers/conversion_hub_document_converter.py
  src/skriptoteket/application/curated_apps/handlers/document_converter_jobs.py
  src/skriptoteket/di/curated_apps.py
  src/skriptoteket/infrastructure/curated_apps/apps/classroom_planner/grouping_pdf_renderer.py
  src/skriptoteket/infrastructure/curated_apps/apps/classroom_planner/seating_pdf_renderer.py
  src/skriptoteket/infrastructure/curated_apps/apps/reagent_prep_chef/pdf_renderer.py
  src/skriptoteket/infrastructure/documents/__init__.py
  src/skriptoteket/infrastructure/documents/document_converter_artifacts.py
  src/skriptoteket/infrastructure/documents/markdown_rendering.py
  src/skriptoteket/infrastructure/documents/pdf_rendering.py
  src/skriptoteket/infrastructure/documents/pdf_text_extraction.py
  src/skriptoteket/protocols/document_converter.py
  src/skriptoteket/protocols/documents.py
  src/skriptoteket/web/api/v1/apps_conversion_hub.py
  tests/unit/application/curated_apps/handlers/test_document_converter_artifact_saves.py
  tests/unit/application/curated_apps/handlers/test_document_converter_local_artifact_actions.py
  tests/unit/application/curated_apps/handlers/test_document_converter_producer_routing.py
  tests/unit/web/conversion_hub/test_apps_document_converter_api.py
  tests/unit/web/conversion_hub/test_apps_document_converter_batch_api.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Complete Document Converter project preview contract
  .codex/handoff.md
  docs/backlog/prs/pr-0382-st-37-04-document-converter-html-css-project-preview-contract.md
  docs/backlog/reviews/review-pr-0382-document-converter-html-css-project-preview-contract.md
  frontend/apps/skriptoteket/src/api/openapi.d.ts
  pyproject.toml
  src/skriptoteket/application/curated_apps/document_converter_projects.py
  src/skriptoteket/application/curated_apps/handlers/conversion_hub_document_converter.py
  src/skriptoteket/application/curated_apps/handlers/document_converter_project_previews.py
  src/skriptoteket/application/curated_apps/handlers/document_converter_vault_saves.py
  src/skriptoteket/cli/commands/cleanup_document_converter_project_previews.py
  src/skriptoteket/cli/main.py
  src/skriptoteket/di/curated_apps.py
  src/skriptoteket/infrastructure/documents/document_converter_project_preview_store.py
  src/skriptoteket/infrastructure/documents/document_converter_project_previews.py
  src/skriptoteket/protocols/document_converter.py
  src/skriptoteket/web/api/v1/apps_conversion_hub_document_converter_project_previews.py
  src/skriptoteket/web/router.py
  tests/unit/application/curated_apps/handlers/test_document_converter_project_previews.py
  tests/unit/application/curated_apps/test_document_converter_project_manifest.py
  tests/unit/cli/test_cleanup_document_converter_project_previews.py
  tests/unit/infrastructure/documents/test_document_converter_project_previews.py
  tests/unit/web/conversion_hub/test_apps_document_converter_project_preview_api.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Remediate audio transcription button tokens
  .codex/handoff.md
  docs/backlog/prs/pr-0386-st-37-04-audio-transcription-button-token-remediation.md
  docs/backlog/reviews/review-pr-0386-audio-transcription-button-token-remediation.md
  docs/index.md
  frontend/apps/skriptoteket/src/views/apps/conversion-hub-transcript/TranscriptFormatterExportPanel.spec.ts
  frontend/apps/skriptoteket/src/views/apps/conversion-hub-transcript/TranscriptFormatterExportPanel.vue
  frontend/apps/skriptoteket/src/views/apps/conversion-hub-transcript/TranscriptUiInspectionView.vue
  frontend/apps/skriptoteket/src/views/apps/conversion-hub-transcript/TranscriptWorkflowRailShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/conversion-hub-transcript/TranscriptWorkflowRailShell.vue
  frontend/apps/skriptoteket/src/views/apps/conversion-hub-transcript/transcriptCommandButtonClasses.ts
Due: docs-contract-validate, eslint

Complete Document Converter automatic preview remediation
  .codex/handoff.md
  .codex/long-term-memory/entries/session-2026-06-26-pr-0388-handoff-compaction.md
  docs/backlog/epics/epic-37-backlog-product-direction-inventory-and-app-surface-realignment.md
  docs/backlog/prs/pr-0388-st-37-04-document-converter-automatic-preview-and-state-copy-remediation.md
  docs/backlog/reviews/review-pr-0388-document-converter-automatic-preview-and-state-copy-remediation.md
  docs/backlog/stories/story-37-04-app-presentation-decomposition-and-naming-reset.md
  docs/index.md
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterView.vue
  frontend/apps/skriptoteket/src/views/apps/document-converter/documentConverterPreview.css
  frontend/apps/skriptoteket/src/views/apps/document-converter/documentConverterProjectPreviewApi.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/documentConverterWorkspace.css
  frontend/apps/skriptoteket/src/views/apps/document-converter/useDocumentConverterProjectPreview.ts
  pdm.lock
  pyproject.toml
  scripts/_document_converter_proof.py
  scripts/_playwright_auth.py
  scripts/authenticated_home_work_apps.py
  src/skriptoteket/application/curated_apps/document_converter_projects.py
  src/skriptoteket/cli/commands/cleanup_document_converter_project_previews.py
  src/skriptoteket/di/curated_apps.py
  src/skriptoteket/infrastructure/documents/document_converter_project_preview_grid_compat.py
  src/skriptoteket/infrastructure/documents/document_converter_project_previews.py
  tests/unit/application/curated_apps/test_document_converter_project_manifest.py
  tests/unit/cli/test_cleanup_document_converter_project_previews.py
  tests/unit/infrastructure/documents/test_document_converter_project_previews.py
  tests/unit/infrastructure/documents/test_document_converter_project_renderer_best_effort.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Clean shared-auth proof guidance
  .codex/handoff.md
  .codex/skills/skriptoteket-backend-dev/SKILL.md
  docs/backlog/prs/pr-0364-st-37-03-authenticated-home-work-apps-surface.md
  docs/backlog/prs/pr-0389-st-37-04-shared-auth-local-proof-path-cleanup.md
  docs/backlog/reviews/review-pr-0364-authenticated-home-work-apps-surface.md
  docs/backlog/reviews/review-pr-0389-shared-auth-local-proof-path-cleanup.md
  docs/index.md
  docs/runbooks/runbook-user-management.md
  scripts/playwright_pr_0254_auth_cutover.py
  tests/unit/application/auth/test_pr_0254_auth_cutover_config.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Complete document converter file follow-up
  .codex/handoff.md
  docs/backlog/epics/epic-37-backlog-product-direction-inventory-and-app-surface-realignment.md
  docs/backlog/prs/pr-0385-st-37-04-document-converter-files-and-history-follow-up.md
  docs/backlog/prs/pr-0390-st-37-05-file-naming-save-export-protocol-reference.md
  docs/backlog/prs/pr-0391-st-37-05-shared-save-export-naming-backend-contract.md
  docs/backlog/prs/pr-0392-st-37-05-shared-filename-editing-ui-primitives.md
  docs/backlog/prs/pr-0393-st-37-05-mina-filer-rename-and-extension-contract.md
  docs/backlog/prs/pr-0394-st-37-05-audio-transcription-export-naming-adoption.md
  docs/backlog/prs/pr-0395-st-37-05-exam-converter-export-naming-adoption.md
  docs/backlog/prs/pr-0396-st-37-05-document-converter-save-export-naming-adoption.md
  docs/backlog/reviews/review-pr-0385-document-converter-files-and-history-follow-up.md
  docs/backlog/stories/story-37-05-cross-app-save-export-file-naming-protocol.md
  docs/index.md
  docs/reference/ref-file-naming-save-export-protocol-v1.md
  frontend/apps/skriptoteket/src/api/openapi.d.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterProjectResult.spec.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterResultPanel.vue
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterSingleFileControls.vue
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterSingleFileView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterSourcePanel.vue
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterView.vue
  frontend/apps/skriptoteket/src/views/apps/document-converter/documentConverterFileApi.spec.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/documentConverterFileApi.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/documentConverterPreview.css
  frontend/apps/skriptoteket/src/views/apps/document-converter/documentConverterWorkspace.css
  frontend/apps/skriptoteket/src/views/apps/document-converter/useDocumentConverterHistoryBridge.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/useDocumentConverterProjectPreview.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/useDocumentConverterSessionHistory.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/useDocumentConverterSingleFile.ts
  scripts/_document_converter_proof.py
  scripts/_playwright_auth.py
  src/skriptoteket/application/curated_apps/document_converter.py
  src/skriptoteket/application/curated_apps/handlers/document_converter_saved_sources.py
  src/skriptoteket/di/curated_apps.py
  src/skriptoteket/web/api/v1/apps_conversion_hub_document_converter_saved_files.py
  src/skriptoteket/web/router.py
  tests/unit/application/curated_apps/handlers/test_document_converter_saved_sources.py
  tests/unit/web/conversion_hub/test_apps_document_converter_api.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Complete Document Converter save export naming adoption
  .codex/handoff.md
  docs/backlog/prs/pr-0390-st-37-05-file-naming-save-export-protocol-reference.md
  docs/backlog/prs/pr-0391-st-37-05-shared-save-export-naming-backend-contract.md
  docs/backlog/prs/pr-0393-st-37-05-mina-filer-rename-and-extension-contract.md
  docs/backlog/prs/pr-0394-st-37-05-audio-transcription-export-naming-adoption.md
  docs/backlog/prs/pr-0395-st-37-05-exam-converter-export-naming-adoption.md
  docs/backlog/prs/pr-0396-st-37-05-document-converter-save-export-naming-adoption.md
  docs/backlog/reviews/review-pr-0396-document-converter-save-export-naming-adoption.md
  docs/backlog/reviews/review-st-37-05-cross-app-save-export-file-naming-protocol.md
  docs/backlog/stories/story-37-05-cross-app-save-export-file-naming-protocol.md
  docs/reference/ref-file-naming-save-export-protocol-v1.md
  frontend/apps/skriptoteket/src/api/openapi.d.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterResultPanel.vue
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterView.vue
  frontend/apps/skriptoteket/src/views/apps/document-converter/documentConverterFileApi.spec.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/documentConverterFileApi.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/documentConverterPreview.css
  frontend/apps/skriptoteket/src/views/apps/document-converter/documentConverterProjectPreviewApi.spec.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/documentConverterProjectPreviewApi.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/useDocumentConverterFilenameIntent.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/useDocumentConverterHistoryBridge.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/useDocumentConverterProjectPreview.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/useDocumentConverterSessionHistory.ts
  src/skriptoteket/application/curated_apps/document_converter.py
  src/skriptoteket/application/curated_apps/document_converter_file_naming.py
  src/skriptoteket/application/curated_apps/handlers/conversion_hub_document_converter.py
  src/skriptoteket/application/curated_apps/handlers/document_converter_project_previews.py
  src/skriptoteket/application/curated_apps/handlers/document_converter_vault_saves.py
  src/skriptoteket/web/api/v1/apps_conversion_hub.py
  src/skriptoteket/web/api/v1/apps_conversion_hub_document_converter_project_previews.py
  tests/unit/application/curated_apps/handlers/test_document_converter_artifact_saves.py
  tests/unit/application/curated_apps/handlers/test_document_converter_naming_adoption.py
  tests/unit/application/curated_apps/handlers/test_document_converter_project_previews.py
  tests/unit/web/conversion_hub/test_apps_document_converter_api.py
  tests/unit/web/conversion_hub/test_apps_document_converter_project_preview_api.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Implement document converter operations layout
  .codex/handoff.md
  .codex/long-term-memory/entries/session-2026-06-27-pr-0397-handoff-compaction.md
  docs/backlog/prs/pr-0397-st-37-05-document-converter-file-operations-layout-remediation.md
  docs/backlog/reviews/review-pr-0397-document-converter-file-operations-layout-remediation.md
  docs/backlog/stories/story-37-05-cross-app-save-export-file-naming-protocol.md
  docs/index.md
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterArtifactSelector.vue
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterLayoutOwnership.spec.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterProjectResult.spec.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterResultActions.vue
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterResultPanel.vue
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterSingleFileControls.vue
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterSingleFileView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterSourceIntake.vue
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterSourcePanel.vue
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterView.vue
  frontend/apps/skriptoteket/src/views/apps/document-converter/documentConverterPreview.css
  frontend/apps/skriptoteket/src/views/apps/document-converter/documentConverterWorkspace.css
Due: docs-contract-validate, eslint

Complete Document Converter conversion remediation
  .codex/handoff.md
  docs/backlog/prs/pr-0398-st-37-04-document-converter-production-conversion-and-preview-zoom-remediation.md
  docs/backlog/prs/pr-0400-st-37-04-document-converter-artifact-content-hygiene-contract.md
  docs/backlog/prs/pr-0401-st-37-04-document-converter-pdf-image-recovery-planning.md
  docs/backlog/reviews/review-pr-0398-document-converter-production-conversion-and-preview-zoom-remediation.md
  docs/backlog/stories/story-37-04-app-presentation-decomposition-and-naming-reset.md
  docs/index.md
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterSingleFileView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterSourcePanel.vue
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterView.vue
  frontend/apps/skriptoteket/src/views/apps/document-converter/documentConverterWorkspace.css
  frontend/apps/skriptoteket/src/views/apps/document-converter/useDocumentConverterHistoryBridge.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/useDocumentConverterSingleFile.ts
  scripts/_document_converter_single_file_proof.py
  scripts/authenticated_home_work_apps.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Complete Document Converter compact source-first layout
  .codex/handoff.md
  docs/backlog/prs/pr-0398-st-37-04-document-converter-production-conversion-and-preview-zoom-remediation.md
  docs/backlog/prs/pr-0402-st-37-04-document-converter-compact-source-first-layout.md
  docs/backlog/reviews/review-pr-0402-document-converter-compact-source-first-layout.md
  docs/backlog/stories/story-37-04-app-presentation-decomposition-and-naming-reset.md
  docs/index.md
  frontend/apps/skriptoteket/src/views/apps/document-converter/documentConverterWorkspace.css
  scripts/_document_converter_single_file_proof.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Complete Document Converter preview touch ownership
  .codex/handoff.md
  docs/backlog/prs/pr-0403-st-37-04-document-converter-preview-touch-pinch-ownership.md
  docs/backlog/reviews/review-pr-0403-document-converter-preview-touch-pinch-ownership.md
  docs/backlog/stories/story-37-04-app-presentation-decomposition-and-naming-reset.md
  docs/index.md
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterLayoutOwnership.spec.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterResultPanel.spec.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterResultPanel.vue
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterView.vue
  frontend/apps/skriptoteket/src/views/apps/document-converter/documentConverterPreview.css
  frontend/apps/skriptoteket/src/views/apps/document-converter/useAnchoredDocumentPreviewZoom.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/useDocumentPreviewTouchGestures.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/useDocumentPreviewZoom.ts
  frontend/pnpm-workspace.yaml
  scripts/_document_converter_proof.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Enforce Document Converter artifact hygiene
  .codex/handoff.md
  docs/backlog/prs/pr-0385-st-37-04-document-converter-files-and-history-follow-up.md
  docs/backlog/prs/pr-0398-st-37-04-document-converter-production-conversion-and-preview-zoom-remediation.md
  docs/backlog/prs/pr-0399-st-37-04-sir-convert-v2-status-vocabulary-contract.md
  docs/backlog/prs/pr-0400-st-37-04-document-converter-artifact-content-hygiene-contract.md
  docs/backlog/reviews/review-pr-0400-document-converter-artifact-content-hygiene-contract.md
  docs/backlog/stories/story-37-04-app-presentation-decomposition-and-naming-reset.md
  docs/index.md
  src/skriptoteket/application/curated_apps/document_converter_artifact_hygiene.py
  src/skriptoteket/application/curated_apps/handlers/conversion_hub_document_converter.py
  src/skriptoteket/application/curated_apps/handlers/document_converter_project_previews.py
  src/skriptoteket/infrastructure/documents/document_converter_project_previews.py
  tests/unit/application/curated_apps/handlers/test_document_converter_artifact_hygiene.py
  tests/unit/application/curated_apps/handlers/test_document_converter_project_preview_hygiene.py
  tests/unit/infrastructure/documents/test_document_converter_project_previews.py
  tests/unit/infrastructure/documents/test_document_converter_project_renderer_best_effort.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Add Document Converter artifact hygiene production proof
  scripts/_document_converter_proof.py
  scripts/document_converter_artifact_hygiene_production_proof.py
  src/skriptoteket/application/curated_apps/conversion_hub.py
  src/skriptoteket/web/api/v1/apps_conversion_hub.py
  src/skriptoteket/web/api/v1/apps_conversion_hub_document_converter_saved_files.py
  tests/unit/scripts/test_playwright_script_surface.py
  tests/unit/web/conversion_hub/test_apps_conversion_hub_job_spec.py
Due: ruff-format, ruff-lint, mypy, pytest

Record PR-0400 production proof
  .codex/handoff.md
  docs/backlog/prs/pr-0400-st-37-04-document-converter-artifact-content-hygiene-contract.md
Due: docs-contract-validate

Close PR-0401 PDF image recovery planning
  .codex/handoff.md
  docs/backlog/prs/pr-0401-st-37-04-document-converter-pdf-image-recovery-planning.md
  docs/backlog/reviews/review-pr-0401-document-converter-pdf-image-recovery-planning.md
  docs/backlog/stories/story-37-04-app-presentation-decomposition-and-naming-reset.md
  docs/index.md
Due: docs-contract-validate

Implement Document Converter saved-file batch contract
  .codex/handoff.md
  docs/backlog/prs/pr-0404-st-37-04-document-converter-multi-source-saved-file-batches.md
  docs/backlog/reviews/review-pr-0404-document-converter-multi-source-saved-file-batches.md
  docs/backlog/stories/story-37-04-app-presentation-decomposition-and-naming-reset.md
  docs/index.md
  frontend/apps/skriptoteket/src/api/openapi.d.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterSavedFileBatch.spec.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterSingleFileView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterSourcePanel.vue
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterView.vue
  frontend/apps/skriptoteket/src/views/apps/document-converter/documentConverterFileApi.spec.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/documentConverterFileApi.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/documentConverterSingleFileSelection.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/documentConverterSingleFileSubmission.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/useDocumentConverterSingleFile.ts
  scripts/_document_converter_single_file_proof.py
  scripts/authenticated_home_work_apps.py
  src/skriptoteket/application/curated_apps/document_converter.py
  src/skriptoteket/application/curated_apps/handlers/document_converter_saved_sources.py
  src/skriptoteket/web/api/v1/apps_conversion_hub_document_converter_saved_files.py
  tests/unit/application/curated_apps/handlers/test_document_converter_saved_sources.py
  tests/unit/web/conversion_hub/test_apps_document_converter_api.py
  tests/unit/web/conversion_hub/test_apps_document_converter_saved_file_contract.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Complete Document Converter column hierarchy polish
  .codex/handoff.md
  docs/backlog/prs/pr-0405-st-37-04-document-converter-column-hierarchy-and-preview-empty-state.md
  docs/backlog/stories/story-37-04-app-presentation-decomposition-and-naming-reset.md
  docs/index.md
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterLayoutOwnership.spec.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterProjectResult.spec.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterResultActions.vue
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterResultPanel.spec.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterResultPanel.vue
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterSingleFileControls.vue
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterSingleFileView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterSourceIntake.vue
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/document-converter/DocumentConverterView.vue
  frontend/apps/skriptoteket/src/views/apps/document-converter/documentConverterPreview.css
  frontend/apps/skriptoteket/src/views/apps/document-converter/documentConverterWorkspace.css
  frontend/apps/skriptoteket/src/views/apps/document-converter/useDocumentConverterFilenameIntent.ts
  scripts/_document_converter_proof.py
  scripts/_document_converter_single_file_proof.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Record PR-0405 Hemma deploy proof
  .codex/handoff.md
  docs/backlog/prs/pr-0405-st-37-04-document-converter-column-hierarchy-and-preview-empty-state.md
Due: docs-contract-validate

Close PR-0405 review follow-up
  .codex/handoff.md
  docs/backlog/prs/pr-0405-st-37-04-document-converter-column-hierarchy-and-preview-empty-state.md
  docs/backlog/reviews/review-pr-0405-document-converter-column-hierarchy-and-preview-empty-state.md
  docs/backlog/stories/story-37-04-app-presentation-decomposition-and-naming-reset.md
  docs/index.md
  frontend/apps/skriptoteket/src/views/apps/document-converter/documentConverterPreview.css
  frontend/apps/skriptoteket/src/views/apps/document-converter/documentConverterWorkspace.css
Due: docs-contract-validate

Record PR-0405 final deploy proof
  .codex/handoff.md
  docs/backlog/prs/pr-0405-st-37-04-document-converter-column-hierarchy-and-preview-empty-state.md
Due: docs-contract-validate

Record PR-0406 planning and PR-0407 proof ownership
  .codex/handoff.md
  docs/backlog/epics/epic-21-curated-app-conversion-hub.md
  docs/backlog/prs/pr-0406-st-21-04-exam-converter-consume-compact-answer-key-review-state.md
  docs/backlog/prs/pr-0407-st-37-04-audio-transcription-reattempt-browser-proof-ownership.md
  docs/backlog/reviews/review-pr-0407-audio-transcription-reattempt-browser-proof-ownership.md
  docs/backlog/stories/story-21-04-exam-converter-durable-teacher-correction-sessions.md
  docs/backlog/stories/story-21-11-cross-repo-compact-answer-key-review-state-production-proof.md
  docs/backlog/stories/story-37-04-app-presentation-decomposition-and-naming-reset.md
  docs/index.md
  pyproject.toml
  scripts/_audio_transcription_browser.py
  scripts/_playwright_auth.py
  scripts/_sir_convert_gateway_evidence.py
  scripts/audio_transcription_retryable_reattempt_public_proof.py
  tests/unit/scripts/test_audio_transcription_retryable_reattempt_public_proof.py
  tests/unit/scripts/test_playwright_auth_recovery.py
  tests/unit/scripts/test_playwright_script_surface.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Mirror compact answer key review state decisions
  docs/backlog/prs/pr-0406-st-21-04-exam-converter-consume-compact-answer-key-review-state.md
Due: docs-contract-validate

Close PR-0406 production proof
  .codex/handoff.md
  docs/backlog/prs/pr-0406-st-21-04-exam-converter-consume-compact-answer-key-review-state.md
  docs/backlog/stories/story-21-04-exam-converter-durable-teacher-correction-sessions.md
  docs/backlog/stories/story-21-11-cross-repo-compact-answer-key-review-state-production-proof.md
  scripts/playwright_pr_0337_correction_session_live.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Update exam converter review-state docs
  .codex/handoff.md
  docs/backlog/epics/epic-21-curated-app-conversion-hub.md
  docs/index.md
  docs/reference/ref-exam-converter-ui-content-model-v1.md
  docs/reference/ref-pr-0368-auth-edge-inventory-and-proof-plan.md
Due: docs-contract-validate

Align exam converter review UI and proof helpers
  .codex/handoff.md
  docs/backlog/prs/pr-0408-st-21-04-exam-converter-frontend-design-implementation-alignment.md
  docs/backlog/prs/pr-0409-dev-tooling-command-surface-alignment-mediation.md
  docs/backlog/reviews/review-pr-0408-exam-converter-design-proof-helper-remediation.md
  docs/backlog/reviews/review-pr-0408-exam-converter-frontend-design-implementation-alignment.md
  docs/backlog/reviews/review-pr-0409-dev-tooling-command-surface-alignment-mediation.md
  docs/backlog/stories/story-21-04-exam-converter-durable-teacher-correction-sessions.md
  docs/index.md
  docs/reference/ref-exam-converter-ui-content-model-v1.md
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedAiPrefillDurableSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedCompactReviewState.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedReviewSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterAdvisoryAnswerKeyPanel.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterAiPrefillPanel.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterEffectiveAnswerKeySummary.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterFilesReadinessList.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterFilesReadinessList.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterManualAnswerKeyEditor.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterReportSummary.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterResultStrip.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/answerKeyReviewStateAdapter.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/answerKeyReviewStateAdapter.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/digiexamIrQuestionReviewProjection.ts
  frontend/apps/skriptoteket/src/views/apps/examConverterAuthenticatedReviewFixtures.ts
  scripts/_exam_converter_design_proof.py
  scripts/_playwright_auth.py
  scripts/_playwright_auth_rate_limit.py
  tests/unit/scripts/test_playwright_auth_recovery.py
  tests/unit/scripts/test_playwright_script_surface.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Prove exam converter advisory replay preservation
  .codex/handoff.md
  docs/backlog/prs/pr-0408-st-21-04-exam-converter-frontend-design-implementation-alignment.md
  docs/backlog/reviews/review-pr-0408-exam-converter-frontend-design-implementation-alignment.md
  docs/backlog/stories/story-21-04-exam-converter-durable-teacher-correction-sessions.md
  frontend/apps/skriptoteket/src/api/sirConvertGateway/contractValues.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedAdvisoryReplaySlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/answerKeyReviewStateAdapter.spec.ts
  scripts/playwright_pr_0337_correction_session_live.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Close PR-0408 production proof
  .codex/handoff.md
  docs/backlog/prs/pr-0408-st-21-04-exam-converter-frontend-design-implementation-alignment.md
  docs/backlog/reviews/review-pr-0408-exam-converter-frontend-design-implementation-alignment.md
  docs/backlog/stories/story-21-04-exam-converter-durable-teacher-correction-sessions.md
Due: docs-contract-validate

Consume correction replay artifact sets
  .codex/handoff.md
  docs/backlog/prs/pr-0410-st-21-11-correction-replay-artifact-set-consumer.md
  docs/backlog/reviews/review-pr-0410-exam-converter-correction-replay-artifact-set-consumer.md
  docs/index.md
  frontend/apps/skriptoteket/src/api/sirConvertGateway/client.spec.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/client.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/schemaVersions.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/types.ts
  frontend/apps/skriptoteket/src/api/sirConvertOpenapi.d.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedFilesActionSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterFilesReadinessList.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/answerKeyReviewStateAdapter.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/answerKeyReviewStateAdapter.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/correctionSessionProjection.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/digiexamIrReviewParser.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterFileActions.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterFileActions.ts
  frontend/apps/skriptoteket/src/views/apps/examConverterAuthenticatedCorrectionSessionFixtures.ts
  frontend/apps/skriptoteket/src/views/apps/examConverterAuthenticatedGapFillReviewFixtures.ts
  scripts/playwright_pr_0337_correction_session_live.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Retain Story 58 live proof evidence
  .codex/handoff.md
  docs/backlog/reviews/review-pr-0410-exam-converter-correction-replay-artifact-set-consumer.md
  docs/backlog/stories/story-21-04-exam-converter-durable-teacher-correction-sessions.md
  scripts/_correction_session_runtime_evidence.py
  scripts/_proof_live_monitoring.py
  scripts/playwright_pr_0337_correction_session_live.py
  tests/unit/scripts/test_correction_session_runtime_evidence.py
  tests/unit/scripts/test_proof_live_monitoring.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Retain Story 58 product proof support
  .codex/handoff.md
  docs/backlog/reviews/review-pr-0410-exam-converter-correction-replay-artifact-set-consumer.md
  scripts/_proof_manifest.py
  scripts/_story58_gateway_stale_replay_inputs.py
  scripts/_story58_gateway_stale_replay_request.py
  scripts/playwright_pr_0337_correction_session_live.py
  scripts/story58_gateway_stale_replay_proof.py
  tests/unit/scripts/test_proof_manifest.py
  tests/unit/scripts/test_story58_gateway_stale_replay_inputs.py
  tests/unit/scripts/test_story58_gateway_stale_replay_request.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Extend story 58 correction proof evidence
  docs/backlog/reviews/review-pr-0410-exam-converter-correction-replay-artifact-set-consumer.md
  scripts/_story58_mismatched_artifact_probe.py
  scripts/_story58_private_request_capture.py
  scripts/playwright_pr_0337_correction_session_live.py
  tests/unit/scripts/test_story58_private_request_capture.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Add Story 58 artifact-set proof invariants
  docs/backlog/reviews/review-pr-0410-exam-converter-correction-replay-artifact-set-consumer.md
  scripts/_story58_artifact_set_invariants.py
  scripts/playwright_pr_0337_correction_session_live.py
  tests/unit/scripts/test_story58_artifact_set_invariants.py
  tests/unit/scripts/test_story58_private_request_capture.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  mypy: any of: \.py$
  pytest: any of: \.py$
  docs-contract-validate: any of: ^docs/
  agent-doc-budgets: any of: ^\.agent/(readme-first\.md|handoff\.md)$
  eslint: any of: ^frontend/apps/skriptoteket/src/.*\.(vue|ts|js)$
