Repository paunchygent/skriptoteket: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

ruff-format:
  name: Ruff format (staged files)
  entry: pdm run ruff format --force-exclude
  language: system
  pass_filenames: true

ruff-lint:
  name: Ruff lint (staged files)
  entry: pdm run ruff check --force-exclude
  language: system
  pass_filenames: true

mypy:
  name: Mypy typecheck (src + tests)
  entry: pdm run typecheck
  language: system
  pass_filenames: false

pytest:
  name: Pytest (unit suite)
  entry: pdm run test
  language: system
  pass_filenames: false

docs-contract-validate:
  name: Docs contract validate (placement + naming + frontmatter)
  entry: pdm run docs-validate
  language: system
  pass_filenames: false

agent-doc-budgets:
  name: Agent docs line budgets (.agent/*)
  entry: pdm run python -m scripts.check_agent_doc_budgets
  language: system
  pass_filenames: false

eslint:
  name: ESLint (frontend)
  entry: pnpm --filter @skriptoteket/spa lint
  language: system
  pass_filenames: false

refactor(frontend): consolidate button primitives (btn-primary/cta/ghost)
  frontend/apps/skriptoteket/src/assets/main.css
  frontend/apps/skriptoteket/src/components/auth/LoginModal.vue
  frontend/apps/skriptoteket/src/components/editor/InlineEditableText.vue
  frontend/apps/skriptoteket/src/components/editor/MaintainersDrawer.vue
  frontend/apps/skriptoteket/src/components/editor/MetadataDrawer.vue
  frontend/apps/skriptoteket/src/components/editor/SandboxRunner.vue
  frontend/apps/skriptoteket/src/components/editor/VersionHistoryDrawer.vue
  frontend/apps/skriptoteket/src/components/editor/WorkflowActionModal.vue
  frontend/apps/skriptoteket/src/components/editor/WorkflowActionsDropdown.vue
  frontend/apps/skriptoteket/src/components/editor/WorkflowContextButtons.vue
  frontend/apps/skriptoteket/src/components/tool-run/ToolRunActions.vue
  frontend/apps/skriptoteket/src/components/tool-run/ToolRunControlBar.vue
  frontend/apps/skriptoteket/src/components/tool-run/ToolRunSettingsPanel.vue
  frontend/apps/skriptoteket/src/components/ui-actions/UiActionForm.vue
  frontend/apps/skriptoteket/src/components/ui-outputs/UiOutputMarkdown.vue
  frontend/apps/skriptoteket/src/components/ui/ToggleSwitch.vue
  frontend/apps/skriptoteket/src/views/AppDetailView.vue
  frontend/apps/skriptoteket/src/views/BrowseToolsView.vue
  frontend/apps/skriptoteket/src/views/HomeView.vue
  frontend/apps/skriptoteket/src/views/MyToolsView.vue
  frontend/apps/skriptoteket/src/views/ProfileView.vue
  frontend/apps/skriptoteket/src/views/RegisterView.vue
  frontend/apps/skriptoteket/src/views/SuggestionNewView.vue
  frontend/apps/skriptoteket/src/views/admin/AdminSuggestionDetailView.vue
  frontend/apps/skriptoteket/src/views/admin/AdminSuggestionsListView.vue
  frontend/apps/skriptoteket/src/views/admin/AdminToolsView.vue
Due: eslint

feat(ST-08-13): add usage_instructions API (backend)
  src/skriptoteket/domain/scripting/tool_usage_instructions.py
  src/skriptoteket/web/api/v1/editor.py
  src/skriptoteket/web/api/v1/tools.py
  tests/unit/web/test_tools_api_routes.py
Due: ruff-format, ruff-lint, mypy, pytest

feat(ST-08-13): add usage_instructions UI (frontend SPA)
  docs/backlog/stories/story-08-13-tool-usage-instructions.md
  frontend/apps/skriptoteket/src/api/openapi.d.ts
  frontend/apps/skriptoteket/src/components/editor/InstructionsDrawer.vue
  frontend/apps/skriptoteket/src/components/tool-run/UsageInstructions.vue
  frontend/apps/skriptoteket/src/components/ui/UiMarkdown.vue
  frontend/apps/skriptoteket/src/composables/editor/useScriptEditor.ts
  frontend/apps/skriptoteket/src/views/ToolRunView.vue
  frontend/apps/skriptoteket/src/views/admin/ScriptEditorView.vue
  scripts/playwright_st_08_13_tool_usage_instructions_e2e.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

feat(editor): enhance starter template with comprehensive examples
  src/skriptoteket/web/editor_support.py
Due: ruff-format, ruff-lint, mypy, pytest

feat(EPIC-14): add CreateDraftTool and UpdateToolSlug handlers (backend)
  src/skriptoteket/application/catalog/commands.py
  src/skriptoteket/application/catalog/handlers/create_draft_tool.py
  src/skriptoteket/application/catalog/handlers/update_tool_slug.py
  src/skriptoteket/di/catalog.py
  src/skriptoteket/domain/catalog/models.py
  src/skriptoteket/infrastructure/repositories/tool_repository.py
  src/skriptoteket/protocols/catalog.py
  src/skriptoteket/script_bank/bank.py
  src/skriptoteket/script_bank/scripts/html_to_pdf_preview.py
Due: ruff-format, ruff-lint, mypy, pytest

feat(EPIC-14): add publish guards, API endpoint, and tests
  src/skriptoteket/application/catalog/handlers/publish_tool.py
  src/skriptoteket/application/suggestions/handlers/decide_suggestion.py
  src/skriptoteket/web/api/v1/admin_tools.py
  tests/unit/application/catalog/handlers/test_create_draft_tool.py
  tests/unit/application/catalog/handlers/test_update_tool_slug.py
  tests/unit/application/suggestions/test_decide_suggestion.py
  tests/unit/application/test_catalog_publish_handlers.py
Due: ruff-format, ruff-lint, mypy, pytest

feat(EPIC-14): add draft creation + slug editing UI (frontend)
  frontend/apps/skriptoteket/src/api/openapi.d.ts
  frontend/apps/skriptoteket/src/components/editor/MetadataDrawer.vue
  frontend/apps/skriptoteket/src/composables/editor/useScriptEditor.ts
  frontend/apps/skriptoteket/src/views/admin/AdminToolsView.vue
  frontend/apps/skriptoteket/src/views/admin/ScriptEditorView.vue
  src/skriptoteket/web/api/v1/editor.py
Due: ruff-format, ruff-lint, mypy, pytest, eslint

feat(EPIC-13): add toast notification system (frontend)
  frontend/apps/skriptoteket/src/App.vue
  frontend/apps/skriptoteket/src/assets/main.css
  frontend/apps/skriptoteket/src/components/ui/ToastHost.vue
  frontend/apps/skriptoteket/src/composables/useToast.ts
  frontend/apps/skriptoteket/src/stores/toast.ts
Due: eslint

docs: add EPIC-13 + EPIC-14 planning docs
  docs/adr/adr-0017-huleedu-design-system-adoption.md
  docs/adr/adr-0032-frontend-styling-tailwind-v4-theme.md
  docs/adr/adr-0032-tailwind-4-theme-tokens.md
  docs/adr/adr-0037-toast-and-system-messages-spa.md
  docs/adr/adr-0037-tool-slug-lifecycle.md
  docs/adr/adr-0038-editor-sandbox-interactive-actions.md
  docs/backlog/epics/epic-13-toast-and-system-messages.md
  docs/backlog/epics/epic-14-admin-tool-authoring.md
  docs/backlog/stories/story-13-01-toast-system-primitives-spa.md
  docs/backlog/stories/story-13-02-replace-inline-action-feedback-with-toasts.md
  docs/backlog/stories/story-13-03-standardize-inline-system-messages.md
  docs/backlog/stories/story-14-01-admin-quick-create-draft-tools.md
  docs/backlog/stories/story-14-02-draft-slug-edit-and-publish-guards.md
  docs/backlog/stories/story-14-03-sandbox-next-actions-parity.md
  docs/index.md
  docs/prd/prd-script-hub-v0.1.md
  docs/prd/prd-script-hub-v0.2.md
  docs/prd/prd-tool-authoring-v0.1.md
  docs/reference/ref-toast-system-messages.md
  docs/reference/reports/ref-vue-spa-migration-roadmap.md
Due: docs-contract-validate

docs: update agent docs and design system rules
  .agent/handoff.md
  .agent/readme-first.md
  .agent/rules/045-huleedu-design-system.md
  .claude/skills/skriptoteket-frontend-specialist/SKILL.md
  AGENTS.md
Due: agent-doc-budgets

feat(EPIC-14): extract CreateDraftToolModal + add E2E test
  frontend/apps/skriptoteket/src/components/admin/CreateDraftToolModal.vue
  frontend/apps/skriptoteket/src/views/admin/AdminToolsView.vue
  scripts/playwright_st_14_admin_tool_authoring_e2e.py
  scripts/playwright_ui_smoke.py
Due: ruff-format, ruff-lint, mypy, pytest, eslint

ST-14-01/02: admin draft tools + URL-namn lifecycle
  .agent/handoff.md
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspacePanel.vue
  frontend/apps/skriptoteket/src/components/editor/MetadataDrawer.vue
  frontend/apps/skriptoteket/src/components/tool-run/ToolRunSettingsPanel.vue
  frontend/apps/skriptoteket/src/composables/editor/useEditorWorkflowActions.ts
  frontend/apps/skriptoteket/src/composables/editor/useScriptEditor.ts
  frontend/apps/skriptoteket/src/composables/notify.ts
  frontend/apps/skriptoteket/src/composables/tools/useToolSettings.ts
  frontend/apps/skriptoteket/src/views/SuggestionNewView.vue
  frontend/apps/skriptoteket/src/views/ToolRunView.vue
  frontend/apps/skriptoteket/src/views/admin/AdminSuggestionDetailView.vue
  frontend/apps/skriptoteket/src/views/admin/AdminToolsView.vue
  frontend/apps/skriptoteket/src/views/admin/ScriptEditorView.vue
  scripts/playwright_st_14_admin_tool_authoring_e2e.py
  src/skriptoteket/application/catalog/handlers/publish_tool.py
  src/skriptoteket/application/catalog/handlers/update_tool_slug.py
  src/skriptoteket/application/scripting/handlers/publish_version.py
  src/skriptoteket/domain/catalog/models.py
  src/skriptoteket/infrastructure/repositories/tool_repository.py
  tests/unit/application/test_scripting_review_handlers.py
Due: ruff-format, ruff-lint, mypy, pytest, agent-doc-budgets, eslint

chore(handoff): update snapshot commit
  .agent/handoff.md
Due: agent-doc-budgets

docs(handoff): note Codex Playwright escalation
  .agent/handoff.md
Due: agent-doc-budgets

feat(ST-14-03): Editor sandbox next_actions parity
  .agent/handoff.md
  frontend/apps/skriptoteket/src/api/openapi.d.ts
  frontend/apps/skriptoteket/src/components/editor/SandboxRunner.vue
  scripts/playwright_st_14_03_editor_sandbox_next_actions_e2e.py
  scripts/playwright_st_14_admin_tool_authoring_e2e.py
  src/skriptoteket/application/scripting/commands.py
  src/skriptoteket/application/scripting/handlers/run_sandbox.py
  src/skriptoteket/application/scripting/handlers/start_sandbox_action.py
  src/skriptoteket/application/scripting/interactive_sandbox.py
  src/skriptoteket/di/scripting.py
  src/skriptoteket/infrastructure/repositories/tool_session_repository.py
  src/skriptoteket/protocols/scripting.py
  src/skriptoteket/protocols/tool_sessions.py
  src/skriptoteket/web/api/v1/editor.py
  tests/unit/application/scripting/handlers/sandbox_test_support.py
  tests/unit/application/scripting/handlers/test_run_sandbox_handler.py
  tests/unit/application/scripting/handlers/test_start_sandbox_action_handler.py
  tests/unit/web/test_editor_sandbox_api.py
Due: ruff-format, ruff-lint, mypy, pytest, agent-doc-budgets, eslint

feat(EPIC-13): SystemMessage component for inline feedback
  frontend/apps/skriptoteket/src/assets/main.css
  frontend/apps/skriptoteket/src/components/admin/CreateDraftToolModal.vue
  frontend/apps/skriptoteket/src/components/auth/LoginModal.vue
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspacePanel.vue
  frontend/apps/skriptoteket/src/components/editor/MaintainersDrawer.vue
  frontend/apps/skriptoteket/src/components/editor/MetadataDrawer.vue
  frontend/apps/skriptoteket/src/components/editor/WorkflowActionModal.vue
  frontend/apps/skriptoteket/src/components/tool-run/ToolRunActions.vue
  frontend/apps/skriptoteket/src/components/tool-run/ToolRunSettingsPanel.vue
  frontend/apps/skriptoteket/src/components/ui/SystemMessage.vue
  frontend/apps/skriptoteket/src/composables/editor/useToolMaintainers.ts
  frontend/apps/skriptoteket/src/composables/editor/useToolTaxonomy.ts
  frontend/apps/skriptoteket/src/views/SuggestionNewView.vue
  frontend/apps/skriptoteket/src/views/ToolRunView.vue
  frontend/apps/skriptoteket/src/views/admin/AdminSuggestionDetailView.vue
  frontend/apps/skriptoteket/src/views/admin/AdminToolsView.vue
  frontend/apps/skriptoteket/src/views/admin/ScriptEditorView.vue
Due: eslint

docs: ADR-0037, ADR-0039, and story planning updates
  docs/adr/adr-0037-toast-and-system-messages-spa.md
  docs/adr/adr-0039-session-file-persistence.md
  docs/backlog/epics/epic-12-advanced-input-output-handling.md
  docs/backlog/epics/epic-13-toast-and-system-messages.md
  docs/backlog/stories/story-12-05-session-file-persistence.md
  docs/backlog/stories/story-12-06-session-file-cleanup.md
  docs/backlog/stories/story-13-02-replace-inline-action-feedback-with-toasts.md
  docs/backlog/stories/story-13-03-standardize-inline-system-messages.md
Due: docs-contract-validate

docs(ST-06-09): Playwright test isolation story
  docs/backlog/epics/epic-06-quality-and-test-coverage.md
  docs/backlog/stories/story-06-09-playwright-test-isolation.md
Due: docs-contract-validate

feat(ST-06-09): Playwright test isolation with dedicated tools
  .agent/handoff.md
  docs/backlog/epics/epic-13-toast-and-system-messages.md
  docs/backlog/stories/story-06-09-playwright-test-isolation.md
  docs/backlog/stories/story-12-04-interactive-text-dropdown-inputs.md
  docs/backlog/stories/story-13-04-toastify-profile-actions.md
  scripts/playwright_st_11_07_spa_tool_run_e2e.py
  scripts/playwright_st_12_03_personalized_tool_settings_e2e.py
  src/skriptoteket/cli/main.py
  src/skriptoteket/script_bank/bank.py
  src/skriptoteket/script_bank/models.py
  src/skriptoteket/script_bank/scripts/demo_regression_table.py
  src/skriptoteket/script_bank/scripts/demo_settings_test.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets

feat(ST-13-04): Toastify profile actions
  .agent/handoff.md
  docs/backlog/epics/epic-13-toast-and-system-messages.md
  docs/backlog/stories/story-13-04-toastify-profile-actions.md
  frontend/apps/skriptoteket/src/api/openapi.d.ts
  frontend/apps/skriptoteket/src/stores/auth.ts
  frontend/apps/skriptoteket/src/views/HomeView.vue
  frontend/apps/skriptoteket/src/views/ProfileView.vue
  src/skriptoteket/application/identity/commands.py
  src/skriptoteket/application/identity/handlers/login.py
  src/skriptoteket/di/identity.py
  src/skriptoteket/web/api/v1/auth.py
  tests/unit/application/identity/test_login_handler.py
  tests/unit/web/test_api_v1_auth_and_csrf_routes.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

feat(ST-12-04): refine input_schema story + editor UX improvements
  docs/backlog/stories/story-12-04-interactive-text-dropdown-inputs.md
Due: docs-contract-validate

fix: usage_instructions persistence + repository test coverage sweep
  src/skriptoteket/infrastructure/repositories/tool_version_repository.py
  tests/integration/infrastructure/repositories/test_profile_repository.py
  tests/integration/infrastructure/repositories/test_script_suggestion_decision_repository.py
  tests/integration/infrastructure/repositories/test_session_repository.py
  tests/integration/infrastructure/repositories/test_tool_maintainer_repository.py
  tests/integration/infrastructure/repositories/test_tool_run_repository.py
  tests/integration/infrastructure/repositories/test_tool_session_repository.py
  tests/integration/infrastructure/repositories/test_tool_version_repository.py
  tests/integration/infrastructure/repositories/test_user_repository.py
Due: ruff-format, ruff-lint, mypy, pytest

feat(ST-14-01): profile redesign story + editor UX refinements
  docs/backlog/stories/story-14-01-user-profile-redesign.md
  frontend/apps/skriptoteket/src/components/editor/EntrypointDropdown.vue
  frontend/apps/skriptoteket/src/components/editor/SandboxRunner.vue
  frontend/apps/skriptoteket/src/views/admin/ScriptEditorView.vue
  scripts/playwright_ui_editor_smoke.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

docs: update handoff + Playwright rules for SPA dev server workflow
  .agent/handoff.md
  .agent/rules/075-browser-automation.md
  .claude/skills/playwright-testing/SKILL.md
  AGENTS.md
  docs/backlog/stories/story-14-01-user-profile-redesign.md
  scripts/playwright_ui_editor_smoke.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets

feat(ST-15-01): profile redesign with view/edit separation
  .agent/handoff.md
  docs/adr/adr-0040-profile-view-edit-separation.md
  docs/backlog/epics/epic-15-user-profile-and-settings.md
  docs/backlog/stories/story-15-01-user-profile-redesign.md
  frontend/apps/skriptoteket/src/components/profile/ProfileDisplay.vue
  frontend/apps/skriptoteket/src/components/profile/ProfileEditEmail.vue
  frontend/apps/skriptoteket/src/components/profile/ProfileEditPassword.vue
  frontend/apps/skriptoteket/src/components/profile/ProfileEditPersonal.vue
  frontend/apps/skriptoteket/src/views/ProfileView.vue
Due: docs-contract-validate, agent-doc-budgets, eslint

fix(ui): remove shadow from toast primitives
  frontend/apps/skriptoteket/src/assets/main.css
Due: none

docs: mark ST-12-04 as in_progress
  docs/backlog/stories/story-12-04-interactive-text-dropdown-inputs.md
Due: docs-contract-validate

feat(ST-12-04): interactive text/dropdown inputs for tool versions
  frontend/apps/skriptoteket/src/api/openapi.d.ts
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspacePanel.vue
  frontend/apps/skriptoteket/src/components/editor/SandboxRunner.vue
  frontend/apps/skriptoteket/src/components/tool-run/ToolInputForm.vue
  frontend/apps/skriptoteket/src/components/tool-run/ToolRunControlBar.vue
  frontend/apps/skriptoteket/src/composables/editor/useScriptEditor.ts
  frontend/apps/skriptoteket/src/composables/tools/useToolInputs.ts
  frontend/apps/skriptoteket/src/composables/tools/useToolRun.ts
  frontend/apps/skriptoteket/src/views/ToolRunView.vue
  frontend/apps/skriptoteket/src/views/admin/ScriptEditorView.vue
  migrations/versions/0016_tool_versions_input_schema.py
  migrations/versions/0017_tool_runs_input_values.py
  scripts/playwright_ui_runtime_smoke.py
  src/skriptoteket/application/scripting/commands.py
  src/skriptoteket/application/scripting/handlers/create_draft_version.py
  src/skriptoteket/application/scripting/handlers/execute_tool_version.py
  src/skriptoteket/application/scripting/handlers/run_active_tool.py
  src/skriptoteket/application/scripting/handlers/run_sandbox.py
  src/skriptoteket/application/scripting/handlers/save_draft_version.py
  src/skriptoteket/cli/main.py
  src/skriptoteket/domain/scripting/models.py
  src/skriptoteket/domain/scripting/tool_inputs.py
  src/skriptoteket/infrastructure/db/models/tool_run.py
  src/skriptoteket/infrastructure/db/models/tool_version.py
  src/skriptoteket/infrastructure/repositories/tool_run_repository.py
  src/skriptoteket/infrastructure/repositories/tool_version_repository.py
  src/skriptoteket/infrastructure/runner/docker_runner.py
  src/skriptoteket/protocols/runner.py
  src/skriptoteket/script_bank/bank.py
  src/skriptoteket/script_bank/models.py
  src/skriptoteket/script_bank/scripts/demo_inputs.py
  src/skriptoteket/web/api/v1/editor.py
  src/skriptoteket/web/api/v1/tools.py
  src/skriptoteket/web/editor_support.py
  tests/integration/test_migration_0016_tool_versions_input_schema_idempotent.py
  tests/integration/test_migration_0017_tool_runs_input_values_idempotent.py
  tests/unit/application/test_scripting_execute_tool_version_handler.py
  tests/unit/infrastructure/runner/test_docker_runner.py
  tests/unit/test_tool_inputs.py
Due: ruff-format, ruff-lint, mypy, pytest, eslint

docs: update ADRs and stories for input_schema feature
  docs/adr/adr-0024-tool-sessions-and-ui-payload-persistence.md
  docs/adr/adr-0038-editor-sandbox-interactive-actions.md
  docs/adr/adr-0039-session-file-persistence.md
  docs/backlog/stories/story-12-04-interactive-text-dropdown-inputs.md
  docs/backlog/stories/story-12-05-session-file-persistence.md
  docs/backlog/stories/story-12-06-session-file-cleanup.md
  docs/backlog/stories/story-14-03-sandbox-next-actions-parity.md
Due: docs-contract-validate

chore: update handoff with ST-12-04 completion
  .agent/handoff.md
Due: agent-doc-budgets

refactor(profile): improve ProfileDisplay responsive layout and spacing
  frontend/apps/skriptoteket/src/components/profile/ProfileDisplay.vue
Due: eslint

docs(EPIC-16): catalog discovery, favorites, and review workflow
  .agent/rules/000-rule-index.md
  .agent/rules/096-review-workflow.md
  AGENTS.md
  CLAUDE.md
  docs/_meta/docs-contract.yaml
  docs/adr/adr-0041-user-favorites-and-tool-bookmarking.md
  docs/adr/adr-0042-flat-catalog-with-label-filtering.md
  docs/backlog/epics/epic-16-catalog-discovery-and-personalization.md
  docs/backlog/reviews/review-epic-16-catalog-discovery.md
  docs/backlog/stories/story-16-01-favorites-domain-and-database.md
  docs/backlog/stories/story-16-02-favorites-api-endpoints.md
  docs/backlog/stories/story-16-03-flat-catalog-api-with-filtering.md
  docs/backlog/stories/story-16-04-recently-used-tools-api.md
  docs/backlog/stories/story-16-05-flat-catalog-vue-view.md
  docs/backlog/stories/story-16-06-tool-card-favorites-toggle.md
  docs/backlog/stories/story-16-07-home-view-favorites-and-recent.md
  docs/reference/ref-review-workflow.md
  docs/templates/template-review.md
Due: docs-contract-validate

feat(ST-12-05): session file persistence + action.json injection
  src/skriptoteket/application/scripting/handlers/execute_tool_version.py
  src/skriptoteket/application/scripting/handlers/run_active_tool.py
  src/skriptoteket/application/scripting/handlers/run_sandbox.py
  src/skriptoteket/application/scripting/handlers/start_action.py
  src/skriptoteket/application/scripting/handlers/start_sandbox_action.py
  src/skriptoteket/config.py
  src/skriptoteket/di/infrastructure.py
  src/skriptoteket/di/scripting.py
  src/skriptoteket/infrastructure/session_files/__init__.py
  src/skriptoteket/infrastructure/session_files/local_session_file_storage.py
  src/skriptoteket/protocols/session_files.py
  src/skriptoteket/web/uploads.py
  tests/unit/application/scripting/handlers/test_execute_tool_version_action_json_ignored_for_file_count.py
  tests/unit/application/scripting/handlers/test_interactive_tool_api.py
  tests/unit/application/scripting/handlers/test_run_active_tool.py
  tests/unit/application/scripting/handlers/test_run_sandbox_handler.py
  tests/unit/application/scripting/handlers/test_start_sandbox_action_handler.py
  tests/unit/infrastructure/session_files/test_local_session_file_storage.py
  tests/unit/web/test_uploads.py
Due: ruff-format, ruff-lint, mypy, pytest

feat(ST-08-10): script editor intelligence - autocomplete, hover, lint
  frontend/apps/skriptoteket/src/components/editor/CodeMirrorEditor.vue
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspacePanel.vue
  frontend/apps/skriptoteket/src/components/editor/InstructionsDrawer.vue
  frontend/apps/skriptoteket/src/composables/editor/skriptoteketCompletions.ts
  frontend/apps/skriptoteket/src/composables/editor/skriptoteketHover.ts
  frontend/apps/skriptoteket/src/composables/editor/skriptoteketIntelligence.ts
  frontend/apps/skriptoteket/src/composables/editor/skriptoteketLinter.ts
  frontend/apps/skriptoteket/src/composables/editor/skriptoteketMetadata.ts
  frontend/apps/skriptoteket/src/composables/editor/skriptoteketPythonTree.ts
  frontend/apps/skriptoteket/src/composables/editor/useSkriptoteketIntelligenceExtensions.ts
Due: eslint

docs: update ADRs and stories for ST-12-05, ST-08-10
  docs/adr/adr-0039-session-file-persistence.md
  docs/backlog/epics/epic-12-advanced-input-output-handling.md
  docs/backlog/stories/story-08-10-script-editor-intelligence.md
  docs/backlog/stories/story-08-11-script-editor-intelligence-phase2.md
  docs/backlog/stories/story-08-12-script-editor-intelligence-phase3.md
  docs/backlog/stories/story-12-05-session-file-persistence.md
  docs/backlog/stories/story-12-07-explicit-session-file-reuse-controls.md
Due: docs-contract-validate

chore: update agent docs and browser automation rules
  .agent/handoff.md
  .agent/rules/075-browser-automation.md
  .claude/skills/playwright-testing/SKILL.md
  AGENTS.md
  CLAUDE.md
Due: agent-doc-budgets

test: add Playwright E2E scripts for ST-08-10 and ST-12-05
  scripts/playwright_st_08_10_script_editor_intelligence_e2e.py
  scripts/playwright_st_12_05_session_file_persistence_e2e.py
Due: ruff-format, ruff-lint, mypy, pytest

feat(ST-12-06): session file cleanup CLI, metrics, and usage tracking
  docs/backlog/stories/story-12-06-session-file-cleanup.md
  docs/runbooks/runbook-observability-logging.md
  pdm.lock
  pyproject.toml
  src/skriptoteket/cli/main.py
  src/skriptoteket/infrastructure/session_files/local_session_file_storage.py
  src/skriptoteket/infrastructure/session_files/usage.py
  src/skriptoteket/observability/metrics.py
  src/skriptoteket/protocols/session_files.py
  src/skriptoteket/web/routes/observability.py
  tests/unit/infrastructure/session_files/test_local_session_file_storage.py
  tests/unit/infrastructure/session_files/test_usage.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

docs: add ADR-0043 and planning docs for AI inline completions
  docs/adr/adr-0043-ai-completion-integration.md
  docs/backlog/epics/epic-08-contextual-help-and-onboarding.md
  docs/backlog/reviews/review-epic-08-ai-completion.md
  docs/backlog/stories/story-08-14-ai-inline-completions.md
  docs/reference/ref-ai-completion-architecture.md
Due: docs-contract-validate

feat(ST-08-11): script editor phase 2 completions + E2E test
  docs/backlog/stories/story-08-11-script-editor-intelligence-phase2.md
  frontend/apps/skriptoteket/src/composables/editor/skriptoteketCompletions.ts
  scripts/playwright_st_08_11_script_editor_intelligence_phase2_e2e.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  mypy: any of: \.py$
  pytest: any of: \.py$
  docs-contract-validate: any of: ^docs/
  agent-doc-budgets: any of: ^\.agent/(readme-first\.md|handoff\.md)$
  eslint: any of: ^frontend/apps/skriptoteket/src/.*\.(vue|ts|js)$
