Repository paunchygent/skriptoteket: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

ruff-format:
  name: Ruff format (staged files)
  entry: pdm run ruff format --force-exclude
  language: system
  pass_filenames: true

ruff-lint:
  name: Ruff lint (staged files)
  entry: pdm run ruff check --force-exclude
  language: system
  pass_filenames: true

mypy:
  name: Mypy typecheck (src + tests)
  entry: pdm run typecheck
  language: system
  pass_filenames: false

pytest:
  name: Pytest (unit suite)
  entry: pdm run test
  language: system
  pass_filenames: false

docs-contract-validate:
  name: Docs contract validate (placement + naming + frontmatter)
  entry: pdm run docs-validate
  language: system
  pass_filenames: false

agent-doc-budgets:
  name: Agent docs line budgets (.agent/*)
  entry: pdm run python -m scripts.check_agent_doc_budgets
  language: system
  pass_filenames: false

eslint:
  name: ESLint (frontend)
  entry: pnpm --filter @skriptoteket/spa lint
  language: system
  pass_filenames: false

fix(exam-converter): repair review progression
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedAdvisoryReplaySlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedUiInspectionFixtures.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterQuestionReviewShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterQuestionReviewShell.vue
  frontend/apps/skriptoteket/src/views/apps/examConverterAuthenticatedCorrectionSessionFixtures.ts
  scripts/_exam_converter_design_proof.py
Due: ruff-format, ruff-lint, mypy, pytest, eslint

feat(exam-converter): streamline answer-key review
  frontend/apps/skriptoteket/src/api/examConverterCorrectionSessions.spec.ts
  frontend/apps/skriptoteket/src/api/examConverterCorrectionSessions.ts
  frontend/apps/skriptoteket/src/api/openapi.d.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedAdvisoryReplaySlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedAiPrefillDurableSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedCompactReviewState.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedCorrectionSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedFilesActionSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedReviewSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedUiInspectionFixtures.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedView.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterAdvisoryAnswerKeyPanel.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterAdvisoryReviewDetail.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterAiPrefillPanel.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterAiPrefillPanel.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterQuestionReviewShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterQuestionReviewShell.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterReviewArtifacts.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterUnifiedCorrections.ts
  frontend/apps/skriptoteket/src/views/apps/examConverterAuthenticatedCorrectionSessionFixtures.ts
  scripts/_exam_converter_design_proof.py
  scripts/_exam_converter_review_ui_local_proof.py
  src/skriptoteket/application/curated_apps/exam_converter_correction_sessions.py
  src/skriptoteket/application/curated_apps/handlers/exam_converter_correction_sessions.py
  src/skriptoteket/di/curated_apps.py
  src/skriptoteket/domain/curated_apps/exam_converter_correction_sessions.py
  src/skriptoteket/web/api/v1/apps_conversion_hub_correction_sessions.py
  tests/integration/infrastructure/repositories/test_exam_converter_correction_session_repository.py
  tests/unit/application/curated_apps/handlers/test_exam_converter_correction_sessions.py
  tests/unit/domain/curated_apps/test_exam_converter_correction_sessions.py
  tests/unit/web/conversion_hub/test_apps_conversion_hub_correction_sessions_api.py
Due: ruff-format, ruff-lint, mypy, pytest, eslint

docs: update exam converter handoff
  handoff.md
Due: none

Disable transcription and narrow document conversion
  frontend/apps/skriptoteket/src/components/help/helpTopicCatalog.spec.ts
  frontend/apps/skriptoteket/src/components/home/HomeWorkAppsSection.vue
  frontend/apps/skriptoteket/src/components/home/LandingAuthenticatedPreview.vue
  frontend/apps/skriptoteket/src/components/home/homeWorkApps.ts
  frontend/apps/skriptoteket/src/composables/useAppAvailability.ts
  frontend/apps/skriptoteket/src/router/routes.spec.ts
  frontend/apps/skriptoteket/src/router/routes.ts
  frontend/apps/skriptoteket/src/views/HomeView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/UnavailableAppView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/UnavailableAppView.vue
  src/skriptoteket/application/curated_apps/document_converter.py
  src/skriptoteket/application/curated_apps/document_converter_producers.py
  tests/unit/application/curated_apps/handlers/test_document_converter_artifact_saves.py
  tests/unit/application/curated_apps/handlers/test_document_converter_producer_routing.py
  tests/unit/application/curated_apps/handlers/test_document_converter_saved_sources.py
  tests/unit/web/conversion_hub/test_apps_document_converter_api.py
Due: ruff-format, ruff-lint, mypy, pytest, eslint

docs: define real DXE enrichment repair
  docs/backlog/tasks/task-skript-39-02-03-repair-partial-digiexam-answer-key-enrichment-and-prove-the-real-integrated-vertical.md
  docs/repository-index.json
Due: docs-contract-validate

fix: keep unavailable apps in place
  frontend/apps/skriptoteket/src/api/openapi.d.ts
  frontend/apps/skriptoteket/src/components/help/helpTopicCatalog.spec.ts
  frontend/apps/skriptoteket/src/components/help/helpTopicCatalog.ts
  frontend/apps/skriptoteket/src/components/home/HomeWorkAppsSection.vue
  frontend/apps/skriptoteket/src/composables/useAppAvailability.ts
  frontend/apps/skriptoteket/src/router/index.spec.ts
  frontend/apps/skriptoteket/src/router/index.ts
  frontend/apps/skriptoteket/src/router/routes.spec.ts
  frontend/apps/skriptoteket/src/router/routes.ts
  frontend/apps/skriptoteket/src/views/HomeView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/UnavailableAppView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/UnavailableAppView.vue
  src/skriptoteket/application/suggestions/handlers/submit_suggestion.py
  src/skriptoteket/infrastructure/curated_apps/registry.py
  src/skriptoteket/web/api/v1/suggestions.py
  src/skriptoteket/web/api/v1/suggestions_dto.py
  tests/unit/application/test_suggestions_handlers.py
  tests/unit/infrastructure/curated_apps/test_registry.py
Due: ruff-format, ruff-lint, mypy, pytest, eslint

docs: record production availability correction
  handoff.md
Due: none

fix: enrich supported items in mixed DigiExam files
  Dockerfile
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedFilesActionSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedUiInspectionFixtures.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterAiPrefillPanel.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterQuestionReviewShell.spec.ts
  pyproject.toml
  scripts/_exam_converter_design_proof.py
  scripts/_exam_converter_review_ui_local_proof.py
  scripts/exam_converter_real_dxe_e2e.py
  src/skriptoteket/application/curated_apps/exam_conversion_producers.py
  src/skriptoteket/application/curated_apps/exam_conversion_review_artifacts.py
  src/skriptoteket/domain/curated_apps/exam_conversion/digiexam_answer_key_completion.py
  tests/fixtures/exam_conversion/real_inputs/1776888013-ak7-lag-och-ratt.dxe
  tests/fixtures/exam_conversion/real_inputs/1776888013-ak7-lag-och-ratt.dxe.sha256
  tests/integration/curated_apps/real_dxe_vertical_support.py
  tests/integration/curated_apps/test_exam_converter_real_dxe_vertical.py
  tests/unit/domain/curated_apps/exam_conversion/test_digiexam_answer_key_completion.py
Due: ruff-format, ruff-lint, mypy, pytest, eslint

test: remove obsolete exam converter assertions
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedFilesActionSlice.spec.ts
  tests/unit/domain/curated_apps/exam_conversion/test_digiexam_answer_key_completion.py
Due: ruff-format, ruff-lint, mypy, pytest, eslint

fix: preserve exam review proposal provenance
  frontend/apps/skriptoteket/src/api/examConverterContracts.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/answerKeyReviewStateAdapter.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/answerKeyReviewStateAdapter.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/correctionSessionProjection.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/digiexamIrQuestionReviewProjection.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/machineProposedCandidateProjection.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterReviewArtifacts.ts
Due: eslint

test: remove synthetic review projection fixture
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/machineProposedCandidateProjection.spec.ts
Due: eslint

test: prove authenticated real dxe review journey
  handoff.md
  scripts/exam_converter_real_dxe_e2e.py
Due: ruff-format, ruff-lint, mypy, pytest

fix: complete exam converter review flow
  frontend/apps/skriptoteket/src/api/examConverterContracts.ts
  frontend/apps/skriptoteket/src/api/examConverterLocal.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedAdvisoryReplaySlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedAdvisoryRetry.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedAiPrefillDurableSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedCompactReviewState.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedReviewSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedRuntimeBridgeSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterAdvisoryAnswerKeyPanel.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterAdvisoryReviewDetail.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterAiPrefillPanel.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterQuestionNavigator.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterQuestionReviewShell.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterQuestionTable.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/examConverterAuthenticatedGapFillReviewFixtures.ts
  frontend/apps/skriptoteket/src/views/apps/examConverterAuthenticatedReviewFixtures.ts
  handoff.md
  scripts/_exam_converter_real_dxe_responsive.py
  scripts/exam_converter_real_dxe_e2e.py
Due: ruff-format, ruff-lint, mypy, pytest, eslint

docs: record exam review production deploy
  handoff.md
Due: none

docs: keep deploy record revision-stable
  handoff.md
Due: none

Adopt repository-governance 0.11.30 exact pin
  pdm.lock
  pyproject.toml
Due: none

docs: admit DigiExam source repair tasks
  docs/backlog/stories/st-skript-39-01-walking-skeleton-for-skriptoteket-owned-exam-conversion.md
  docs/backlog/tasks/task-skript-39-01-02-preserve-decimal-scores-and-replace-missing-digiexam-images-with-visible-placeholders.md
  docs/backlog/tasks/task-skript-39-01-03-degrade-unknown-digiexam-question-types-to-reviewable-free-text.md
  docs/repository-index.json
  handoff.md
Due: docs-contract-validate

fix(exam-converter): preserve fractional scores and repair source gaps
  docs/backlog/tasks/task-skript-39-01-02-preserve-decimal-scores-and-replace-missing-digiexam-images-with-visible-placeholders.md
  docs/repository-index.json
  frontend/apps/skriptoteket/src/api/examConverterContracts.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedReviewSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedSourceRepairSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterQuestionReviewShell.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterReportSummary.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/answerKeyReviewStateAdapter.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/digiexamIrQuestionReviewProjection.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/digiexamIrReviewParser.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/examConverterSourceRepairReview.spec.ts
  handoff.md
  src/skriptoteket/application/curated_apps/handlers/exam_converter_product.py
  src/skriptoteket/domain/curated_apps/exam_conversion/digiexam_answer_key_completion.py
  src/skriptoteket/domain/curated_apps/exam_conversion/digiexam_contracts.py
  src/skriptoteket/domain/curated_apps/exam_conversion/digiexam_dxe_parser.py
  src/skriptoteket/domain/curated_apps/exam_conversion/digiexam_embedded_assets.py
  src/skriptoteket/domain/curated_apps/exam_conversion/digiexam_examnet_pdf_items.py
  src/skriptoteket/domain/curated_apps/exam_conversion/digiexam_examnet_pdf_prompt.py
  src/skriptoteket/domain/curated_apps/exam_conversion/digiexam_examnet_qti_adapter.py
  src/skriptoteket/domain/curated_apps/exam_conversion/digiexam_ingestion_overlay_contracts.py
  src/skriptoteket/domain/curated_apps/exam_conversion/digiexam_ir_contracts.py
  src/skriptoteket/domain/curated_apps/exam_conversion/digiexam_prompt_repair.py
  src/skriptoteket/domain/curated_apps/exam_conversion/exam_pdf_item_semantics.py
  src/skriptoteket/domain/curated_apps/exam_conversion/examnet_qti_contracts.py
  src/skriptoteket/domain/curated_apps/exam_conversion/examnet_qti_package.py
  src/skriptoteket/domain/curated_apps/exam_conversion/examnet_qti_xml.py
  tests/unit/application/curated_apps/handlers/test_exam_converter_product_source_repairs.py
  tests/unit/domain/curated_apps/exam_conversion/test_digiexam_dxe_parser.py
  tests/unit/domain/curated_apps/exam_conversion/test_digiexam_examnet_pdf_renderer.py
  tests/unit/domain/curated_apps/exam_conversion/test_digiexam_fractional_overlay.py
  tests/unit/domain/curated_apps/exam_conversion/test_digiexam_fractional_qti.py
  tests/unit/domain/curated_apps/exam_conversion/test_digiexam_fractional_source_repairs.py
  tests/unit/domain/curated_apps/exam_conversion/test_digiexam_recoverable_source_repairs.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

docs: record Task 02 deployment evidence
  docs/backlog/tasks/task-skript-39-01-02-preserve-decimal-scores-and-replace-missing-digiexam-images-with-visible-placeholders.md
  docs/repository-index.json
  handoff.md
Due: docs-contract-validate

docs: scaffold Task 39-01-04
  docs/backlog/tasks/task-skript-39-01-04-preserve-source-filenames-in-exam-converter-target-artifacts.md
  docs/repository-index.json
Due: docs-contract-validate

docs: ready Task 39-01-04 filename contract
  docs/backlog/stories/st-skript-39-01-walking-skeleton-for-skriptoteket-owned-exam-conversion.md
  docs/backlog/tasks/task-skript-39-01-04-preserve-source-filenames-in-exam-converter-target-artifacts.md
  docs/repository-index.json
Due: docs-contract-validate

fix(exam-converter): preserve source artifact filenames
  docs/backlog/tasks/task-skript-39-01-04-preserve-source-filenames-in-exam-converter-target-artifacts.md
  docs/repository-index.json
  src/skriptoteket/application/curated_apps/document_converter_file_naming.py
  src/skriptoteket/application/curated_apps/exam_conversion.py
  src/skriptoteket/application/curated_apps/exam_conversion_review_artifacts.py
  src/skriptoteket/web/api/v1/apps_conversion_hub.py
  src/skriptoteket/web/api/v1/public_apps_exam_converter.py
  src/skriptoteket/web/content_disposition.py
  tests/fixtures/public_exam_converter_runtime.py
  tests/unit/application/curated_apps/handlers/test_exam_converter_product.py
  tests/unit/application/curated_apps/test_exam_conversion_filenames.py
  tests/unit/web/exam_converter/conftest.py
  tests/unit/web/exam_converter/test_apps_exam_converter_conversions_api.py
  tests/unit/web/test_content_disposition.py
  tests/unit/web/test_public_apps_exam_converter_runtime.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

docs: close Task 39-01-04 after Hemma proof
  docs/backlog/tasks/task-skript-39-01-04-preserve-source-filenames-in-exam-converter-target-artifacts.md
  docs/repository-index.json
  handoff.md
Due: docs-contract-validate

docs: cancel speculative unknown DigiExam type task
  docs/backlog/stories/st-skript-39-01-walking-skeleton-for-skriptoteket-owned-exam-conversion.md
  docs/backlog/tasks/task-skript-39-01-03-degrade-unknown-digiexam-question-types-to-reviewable-free-text.md
  docs/repository-index.json
  handoff.md
Due: docs-contract-validate

docs: record real DigiExam type audit checkpoint
  handoff.md
Due: none

docs: correct Exam.net acceptance checkpoint
  handoff.md
Due: none

docs: plan native editable exam workspace after cleanup
  .codex/long-term-memory/entries/session-2026-09-05-epic-39-handoff-compaction.md
  docs/backlog/INDEX.md
  docs/backlog/epics/epic-skript-39-skriptoteket-owned-exam-conversion.md
  docs/backlog/stories/st-skript-39-04-native-editable-exam-workspace-with-docx-first-walking-skeleton.md
  docs/backlog/tasks/task-skript-39-04-01-docx-walking-skeleton-import-native-edit-and-create-save-and-reopen-export.md
  docs/decisions/INDEX.md
  docs/decisions/adr-skript-0090-skriptoteket-owned-exam-conversion-boundary-with-sir-convert-generic-extraction.md
  docs/decisions/adr-skript-0091-native-editable-exam-workspace-narrows-the-adr-0090-authoring-ui-non-decision.md
  docs/repository-index.json
  handoff.md
Due: docs-contract-validate

chore(exam-converter): remove retired Sir test residue
  frontend/apps/skriptoteket/src/api/sirConvertGateway/index.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/requestFingerprint.ts
  frontend/apps/skriptoteket/src/views/apps/ConversionHubTranscriptMode.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedAdvisoryReplaySlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedAdvisoryRetry.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedAiPrefillDurableSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedCompactReviewState.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedConversionSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedCorrectionSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedFilesActionSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedReviewSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedRuntimeBridgeSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedSourceRepairSlice.spec.ts
  handoff.md
  src/skriptoteket/application/curated_apps/handlers/exam_converter_conversions.py
Due: ruff-format, ruff-lint, mypy, pytest, eslint

chore: advance repository-governance to 0.11.31
  pdm.lock
  pyproject.toml
Due: none

Advance governance pin to 0.11.32 after QC role retirement
  pdm.lock
  pyproject.toml
Due: none

chore(governance): pin receipt consumer fix
  pdm.lock
  pyproject.toml
Due: none

Advance repository-governance pin to 0.11.34
  pdm.lock
  pyproject.toml
Due: none

chore: advance repository-governance to 0.11.36 and adopt shared markdownlint ruleset
  .markdownlint.json
  .pre-commit-config.yaml
  pdm.lock
  pyproject.toml
Due: none

Scaffold shared design-system sync adoption task
  docs/backlog/tasks/task-skript-rep-0033-adopt-the-shared-design-system-sync-command.md
  docs/repository-index.json
Due: docs-contract-validate

Advance repository-governance pin to 0.11.44
  pdm.lock
  pyproject.toml
Due: none

Plan EPIC-SKRIPT-40 shared design-system convergence
  docs/backlog/INDEX.md
  docs/backlog/epics/epic-skript-40-shared-design-system-convergence.md
  docs/backlog/stories/st-skript-40-01-converge-tokens-components-and-action-buttons-onto-the-shared-package.md
  docs/backlog/stories/st-skript-40-02-converge-icons-onto-the-shared-glyph-vocabulary.md
  docs/backlog/tasks/task-skript-40-01-01-adopt-the-shared-tokens-theme-and-logo-through-design-system-sync.md
  docs/backlog/tasks/task-skript-40-01-02-adopt-the-shared-dense-components-systemmessage-and-toasthost.md
  docs/backlog/tasks/task-skript-40-01-03-adopt-the-shared-action-buttons.md
  docs/backlog/tasks/task-skript-40-02-01-migrate-icons-to-the-shared-glyph-components.md
  docs/backlog/tasks/task-skript-rep-0033-adopt-the-shared-design-system-sync-command.md
  docs/repository-index.json
Due: docs-contract-validate

Record REV-EPIC-40 plan review: changes requested
  docs/backlog/INDEX.md
  docs/backlog/reviews/review-epic-40-shared-design-system-convergence.md
  docs/repository-index.json
Due: docs-contract-validate

Repair EPIC-SKRIPT-40 contracts for REV-EPIC-40 findings R1-R6
  docs/backlog/epics/epic-skript-40-shared-design-system-convergence.md
  docs/backlog/stories/st-skript-40-01-converge-tokens-components-and-action-buttons-onto-the-shared-package.md
  docs/backlog/stories/st-skript-40-02-converge-icons-onto-the-shared-glyph-vocabulary.md
  docs/backlog/tasks/task-skript-40-01-01-adopt-the-shared-tokens-theme-and-logo-through-design-system-sync.md
  docs/backlog/tasks/task-skript-40-01-02-adopt-the-shared-dense-components-systemmessage-and-toasthost.md
  docs/backlog/tasks/task-skript-40-01-03-adopt-the-shared-action-buttons.md
  docs/backlog/tasks/task-skript-40-02-01-migrate-icons-to-the-shared-glyph-components.md
  docs/repository-index.json
Due: docs-contract-validate

Record REV-EPIC-40 rereview: approved
  docs/backlog/reviews/review-epic-40-shared-design-system-convergence.md
  docs/repository-index.json
Due: docs-contract-validate

Mark EPIC-SKRIPT-40, its stories and tasks ready after approved REV-EPIC-40
  docs/backlog/INDEX.md
  docs/backlog/epics/epic-skript-40-shared-design-system-convergence.md
  docs/backlog/stories/st-skript-40-01-converge-tokens-components-and-action-buttons-onto-the-shared-package.md
  docs/backlog/stories/st-skript-40-02-converge-icons-onto-the-shared-glyph-vocabulary.md
  docs/backlog/tasks/task-skript-40-01-01-adopt-the-shared-tokens-theme-and-logo-through-design-system-sync.md
  docs/backlog/tasks/task-skript-40-01-02-adopt-the-shared-dense-components-systemmessage-and-toasthost.md
  docs/backlog/tasks/task-skript-40-01-03-adopt-the-shared-action-buttons.md
  docs/backlog/tasks/task-skript-40-02-01-migrate-icons-to-the-shared-glyph-components.md
  docs/decisions/INDEX.md
  docs/repository-index.json
Due: docs-contract-validate

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  mypy: any of: \.py$
  pytest: any of: \.py$
  docs-contract-validate: any of: ^docs/
  agent-doc-budgets: any of: ^\.agent/(readme-first\.md|handoff\.md)$
  eslint: any of: ^frontend/apps/skriptoteket/src/.*\.(vue|ts|js)$
