Repository paunchygent/skriptoteket: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format (staged files)
        entry: pdm run ruff format --force-exclude
        language: system
        types: [python]
        pass_filenames: true

      - id: ruff-lint
        name: Ruff lint (staged files)
        entry: pdm run ruff check --force-exclude
        language: system
        types: [python]
        pass_filenames: true

      - id: mypy
        name: Mypy typecheck (src + tests)
        entry: pdm run typecheck
        language: system
        types: [python]
        pass_filenames: false

      - id: pytest
        name: Pytest (unit suite)
        entry: pdm run test
        language: system
        types: [python]
        pass_filenames: false

      - id: docs-contract-validate
        name: Docs contract validate (placement + naming + frontmatter)
        entry: pdm run docs-validate
        language: system
        files: ^docs/
        pass_filenames: false

      - id: agent-doc-budgets
        name: Agent docs line budgets (.agent/*)
        entry: pdm run python -m scripts.check_agent_doc_budgets
        language: system
        files: ^\.agent/(readme-first\.md|handoff\.md)$
        pass_filenames: false

      - id: eslint
        name: ESLint (frontend)
        entry: pnpm --filter @skriptoteket/spa lint
        language: system
        files: ^frontend/apps/skriptoteket/src/.*\.(vue|ts|js)$
        pass_filenames: false

feat(ai): prompt templates + context budgeting (ST-08-18)
  docs/adr/adr-0044-llm-kb-and-context-budgeting.md
  docs/backlog/stories/story-08-18-ai-prompt-system-v1.md
  docs/reference/ref-ai-completion-architecture.md
  docs/reference/ref-ai-script-generation-kb-llm.md
  docs/reference/reports/ref-ai-edit-suggestions-kb-context-budget-blocker.md
  src/skriptoteket/application/editor/ai_prompt.py
  src/skriptoteket/application/editor/completion_handler.py
  src/skriptoteket/application/editor/prompt_budget.py
  src/skriptoteket/application/editor/prompt_composer.py
  src/skriptoteket/application/editor/prompt_fragments.py
  src/skriptoteket/application/editor/prompt_templates.py
  src/skriptoteket/application/editor/system_prompts/edit_suggestion_v1.txt
  src/skriptoteket/application/editor/system_prompts/inline_completion_v1.txt
  src/skriptoteket/config.py
  src/skriptoteket/domain/scripting/ui/normalizer/_outputs.py
  src/skriptoteket/domain/scripting/ui/policy.py
  src/skriptoteket/protocols/llm.py
  tests/unit/application/test_ai_prompt_system_v1.py
  tests/unit/application/test_editor_inline_completion_handler.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

feat(editor): AI edit suggestions MVP (ST-08-16)
  docs/backlog/stories/story-08-16-ai-edit-suggestions.md
  frontend/apps/skriptoteket/src/api/openapi.d.ts
  frontend/apps/skriptoteket/src/components/editor/CodeMirrorEditor.vue
  frontend/apps/skriptoteket/src/components/editor/EditorEditSuggestionPanel.vue
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspacePanel.vue
  frontend/apps/skriptoteket/src/composables/editor/useEditorEditSuggestions.spec.ts
  frontend/apps/skriptoteket/src/composables/editor/useEditorEditSuggestions.ts
  frontend/apps/skriptoteket/src/views/admin/ScriptEditorView.vue
  pdm.lock
  pyproject.toml
  scripts/playwright_st_08_16_ai_edit_suggestions_e2e.py
  src/skriptoteket/application/editor/edit_suggestion_handler.py
  src/skriptoteket/di/llm.py
  src/skriptoteket/infrastructure/llm/openai_provider.py
  src/skriptoteket/web/api/v1/editor/__init__.py
  src/skriptoteket/web/api/v1/editor/edits.py
  src/skriptoteket/web/api/v1/editor/models.py
  tests/unit/application/test_editor_edit_suggestion_handler.py
  tests/unit/web/test_editor_edit_suggestion_api.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

feat(ai): prompt eval harness + eval headers (ST-08-19)
  docs/backlog/stories/story-08-19-ai-prompt-eval-harness-live-backend.md
  scripts/ai_prompt_eval/__init__.py
  scripts/ai_prompt_eval/fixture_bank.py
  scripts/ai_prompt_eval/run_live_backend.py
  src/skriptoteket/web/api/v1/editor/completions.py
  tests/unit/web/test_editor_inline_completion_api.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

docs(backlog): add ST-08-17 and link in plans
  docs/backlog/epics/epic-08-contextual-help-and-onboarding.md
  docs/backlog/sprints/sprint-2026-01-05-tool-editor-vertical-slice.md
  docs/backlog/stories/story-08-17-tabby-edit-suggestions-ab-testing.md
Due: docs-contract-validate

chore(dev): docker compose frontend + configurable Vite proxy
  AGENTS.md
  compose.yaml
  frontend/apps/skriptoteket/vite.config.ts
Due: none

docs(runbook): harden SSH and network notes
  docs/runbooks/runbook-home-server.md
Due: docs-contract-validate

chore(scripts): add ghost text diagnostic
  scripts/diagnose_ghost_text.py
Due: ruff-format, ruff-lint, mypy, pytest

docs(handoff): update session snapshot to 2026-01-01
  .agent/handoff.md
Due: agent-doc-budgets

chore(prod): add all LLM env vars to compose.prod.yaml
  compose.prod.yaml
Due: none

docs(backlog): align story statuses and sprint dates with 2026-01-01 state
  .agent/handoff.md
  .agent/readme-first.md
  docs/backlog/epics/epic-08-contextual-help-and-onboarding.md
  docs/backlog/epics/epic-11-full-vue-spa-migration.md
  docs/backlog/epics/epic-16-catalog-discovery-and-personalization.md
  docs/backlog/sprints/sprint-2025-12-21-spa-migration-foundations.md
  docs/backlog/sprints/sprint-2026-01-05-tool-editor-vertical-slice.md
  docs/backlog/sprints/sprint-2026-01-06-interactive-api-and-curated-apps.md
  docs/backlog/sprints/sprint-2026-01-20-ssr-typed-ui-rendering.md
  docs/backlog/sprints/sprint-2026-02-03-spa-toolchain-and-editor-island.md
  docs/backlog/sprints/sprint-2026-02-17-runtime-spa-island-mvp.md
  docs/backlog/sprints/sprint-2026-05-12-tool-editor-runner-toolkit-and-intelligence.md
  docs/backlog/stories/story-06-10-context-rule-architecture.md
  docs/backlog/stories/story-11-01-frontend-workspace-and-spa-scaffold.md
  docs/backlog/stories/story-11-02-ui-library-and-design-tokens.md
  docs/backlog/stories/story-11-07-tool-run-and-results.md
  docs/backlog/stories/story-11-08-my-runs-views.md
  docs/backlog/stories/story-11-09-curated-apps-views.md
  docs/backlog/stories/story-11-15-my-tools-view.md
  docs/backlog/stories/story-11-16-editor-workflow-actions.md
  docs/backlog/stories/story-14-01-admin-quick-create-draft-tools.md
  docs/backlog/stories/story-14-02-draft-slug-edit-and-publish-guards.md
  docs/backlog/stories/story-15-02-avatar-upload.md
Due: docs-contract-validate, agent-doc-budgets

security+obs: vpn-gate SSH + improve probe analysis
  .agent/handoff.md
  .agent/rules/030-event-driven-patterns.md
  .claude/skills/puppeteer-visual-testing/SKILL.md
  .claude/skills/puppeteer-visual-testing/patterns.md
  .claude/skills/puppeteer-visual-testing/reference.md
  .claude/skills/skriptoteket-devops/SKILL.md
  .env.example
  .env.example.prod
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  docs/adr/adr-0053-production-security-perimeter-and-vpn-gating.md
  docs/backlog/epics/epic-06-quality-and-test-coverage.md
  docs/backlog/epics/epic-09-security-hardening.md
  docs/backlog/reviews/review-epic-09-security-hardening.md
  docs/backlog/stories/story-05-12-mobile-editor-ux.md
  docs/backlog/stories/story-06-08-editor-ui-fixes.md
  docs/backlog/stories/story-09-02-content-security-policy.md
  docs/backlog/stories/story-09-04-production-perimeter-hardening-v2.md
  docs/backlog/stories/story-09-05-content-security-policy-spa.md
  docs/reference/reports/ref-security-perimeter-vpn-gating-ssh-and-observability.md
  docs/runbooks/runbook-home-server.md
  docs/runbooks/runbook-observability-grafana.md
  docs/runbooks/runbook-observability-logging.md
  docs/runbooks/runbook-observability-metrics.md
  observability/grafana/provisioning/dashboards/skriptoteket-nginx-proxy-security.json
  observability/promtail/promtail-config.yaml
Due: docs-contract-validate, agent-doc-budgets

feat(session-files): explicit reuse/clear controls (ST-12-07)
  compose.dev.yaml
  docs/backlog/epics/epic-12-advanced-input-output-handling.md
  docs/backlog/stories/story-12-07-explicit-session-file-reuse-controls.md
  frontend/apps/skriptoteket/src/api/openapi.d.ts
  frontend/apps/skriptoteket/src/components/editor/SandboxRunner.vue
  frontend/apps/skriptoteket/src/components/tool-run/SessionFilesPanel.spec.ts
  frontend/apps/skriptoteket/src/components/tool-run/SessionFilesPanel.vue
  frontend/apps/skriptoteket/src/composables/tools/useToolRun.ts
  frontend/apps/skriptoteket/src/views/ToolRunView.vue
  frontend/apps/skriptoteket/vite.config.ts
  pyproject.toml
  scripts/playwright_hmr_probe.py
  src/skriptoteket/application/scripting/commands.py
  src/skriptoteket/application/scripting/handlers/list_sandbox_session_files.py
  src/skriptoteket/application/scripting/handlers/list_session_files.py
  src/skriptoteket/application/scripting/handlers/run_active_tool.py
  src/skriptoteket/application/scripting/handlers/run_sandbox.py
  src/skriptoteket/application/scripting/session_files.py
  src/skriptoteket/di/editor.py
  src/skriptoteket/di/scripting.py
  src/skriptoteket/infrastructure/session_files/local_session_file_storage.py
  src/skriptoteket/protocols/interactive_tools.py
  src/skriptoteket/protocols/scripting.py
  src/skriptoteket/protocols/session_files.py
  src/skriptoteket/web/api/v1/editor/sandbox.py
  src/skriptoteket/web/api/v1/tools.py
  src/skriptoteket/web/routes/interactive_tools.py
  tests/unit/application/scripting/handlers/test_run_active_tool_session_files.py
  tests/unit/application/scripting/handlers/test_run_sandbox_session_files.py
  tests/unit/web/test_editor_sandbox_api.py
  tests/unit/web/test_tools_api_routes.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

feat(home): replace Alla verktyg with Skapa nytt verktyg card
  frontend/apps/skriptoteket/src/views/HomeView.vue
Due: eslint

test(session-files): add disabled state and context default tests
  frontend/apps/skriptoteket/src/components/tool-run/SessionFilesPanel.spec.ts
  tests/unit/web/test_tools_api_routes.py
Due: ruff-format, ruff-lint, mypy, pytest, eslint

docs(adr+backlog): clarify multi-file AI editing and remove legacy input_schema=null
  docs/adr/adr-0050-self-hosted-llm-infrastructure.md
  docs/adr/adr-0051-chat-first-ai-editing.md
  docs/adr/adr-0052-llm-prompt-budgets-and-kb-fragments.md
  docs/backlog/sprints/sprint-2026-03-03-tool-editor-dx-quick-wins.md
  docs/backlog/stories/story-08-21-ai-structured-crud-edit-ops-protocol-v1.md
  docs/backlog/stories/story-08-22-editor-ai-diff-preview-apply-undo.md
  docs/backlog/stories/story-14-04-sandbox-input-schema-form-preview.md
  docs/backlog/stories/story-14-09-editor-input-schema-modes.md
  docs/backlog/stories/story-14-10-editor-schema-json-qol.md
  docs/backlog/stories/story-14-14-editor-schema-editor-snippets-and-diagnostics.md
  docs/backlog/stories/story-14-15-editor-schema-validation-endpoint.md
  docs/backlog/stories/story-14-29-editor-pro-mode-combined-bundle-view.md
  docs/index.md
  docs/reference/ref-ai-completion-architecture.md
  docs/reference/ref-tool-editor-dx-review-2025-12-29.md
  docs/reference/ref-tool-editor-framework-codemap.md
Due: docs-contract-validate

docs(stakeholders): add tool editor framework codemap visualization
  stakeholders/tooleditor_flow.html
Due: none

chore(docker): add DevOps DX parity tools to production image
  Dockerfile
Due: none

Docs: Home server + observability updates
  docs/index.md
  docs/reference/ref-home-server-architecture.md
  docs/reference/ref-home-server-cleanup-timers.md
  docs/reference/ref-home-server-cli-tools.md
  docs/reference/ref-home-server-nginx-proxy.md
  docs/reference/ref-home-server-security-hardening.md
  docs/runbooks/runbook-home-server.md
  docs/runbooks/runbook-observability.md
Due: docs-contract-validate

``` feat(html-to-pdf): add librsvg2-bin and improve error reporting
  Dockerfile.runner
  src/skriptoteket/script_bank/scripts/html_to_pdf_preview.py
Due: ruff-format, ruff-lint, mypy, pytest

Admin editor: schema JSON helper + save blocking
  .agent/handoff.md
  docs/backlog/epics/epic-14-admin-tool-authoring.md
  docs/backlog/sprints/sprint-2026-03-03-tool-editor-dx-quick-wins.md
  docs/backlog/stories/story-14-10-editor-schema-json-qol.md
  docs/backlog/stories/story-14-14-editor-schema-editor-snippets-and-diagnostics.md
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspacePanel.vue
  frontend/apps/skriptoteket/src/composables/editor/schemaJsonHelpers.ts
  frontend/apps/skriptoteket/src/composables/editor/useEditorSchemaParsing.ts
  frontend/apps/skriptoteket/src/composables/editor/useScriptEditor.ts
  pyproject.toml
  scripts/playwright_st_14_09_input_schema_no_legacy_e2e.py
  src/skriptoteket/script_bank/scripts/html_to_pdf_preview.py
  tests/unit/test_html_to_pdf_preview.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

feat(editor): expose run debug output metadata
  .agent/handoff.md
  frontend/apps/skriptoteket/src/api/openapi.d.ts
  src/skriptoteket/script_bank/scripts/html_to_pdf_preview.py
  src/skriptoteket/web/api/v1/editor/models.py
  src/skriptoteket/web/api/v1/editor/runs.py
  tests/unit/test_html_to_pdf_preview.py
  tests/unit/web/test_editor_runs_api.py
Due: ruff-format, ruff-lint, mypy, pytest, agent-doc-budgets, eslint

feat(editor): sandbox debug bundle + docs alignment
  .agent/handoff.md
  .agent/readme-first.md
  docs/_meta/docs-contract.yaml
  docs/backlog/epics/epic-14-admin-tool-authoring.md
  docs/backlog/sprints/sprint-2026-05-26-tool-interaction-dx-high-yield.md
  docs/backlog/stories/story-14-12-editor-sandbox-debug-panel.md
  docs/backlog/stories/story-14-14-editor-schema-editor-snippets-and-diagnostics.md
  docs/backlog/stories/story-14-16-editor-schema-validation-errors-ux.md
  docs/backlog/stories/story-14-21-tool-run-actions-sticky-inputs.md
  docs/backlog/stories/story-14-22-tool-run-ux-progress-and-file-references.md
  docs/backlog/stories/story-14-24-ui-contract-file-references.md
  frontend/apps/skriptoteket/src/components/editor/SandboxRunnerActions.vue
  frontend/apps/skriptoteket/src/composables/editor/sandboxDebugHelpers.spec.ts
  frontend/apps/skriptoteket/src/composables/editor/sandboxDebugHelpers.ts
  src/skriptoteket/script_bank/scripts/html_to_pdf_preview.py
  tests/unit/test_html_to_pdf_preview.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

docs(stakeholders): add home server operations runbook PDF template
  stakeholders/server_runbook_pdf.html
Due: none

docs: align editor compare/diff with AI workflows
  .agent/handoff.md
  docs/backlog/epics/epic-14-admin-tool-authoring.md
  docs/backlog/stories/story-08-20-editor-ai-chat-drawer-mvp.md
  docs/backlog/stories/story-08-21-ai-structured-crud-edit-ops-protocol-v1.md
  docs/backlog/stories/story-08-22-editor-ai-diff-preview-apply-undo.md
  docs/backlog/stories/story-14-17-editor-version-diff-view.md
  docs/backlog/stories/story-14-18-editor-review-navigation-and-compare.md
  docs/backlog/stories/story-14-30-editor-working-copy-persistence-indexeddb.md
  docs/backlog/stories/story-14-31-editor-focus-mode-collapse-sidebar.md
  docs/index.md
Due: docs-contract-validate, agent-doc-budgets

docs: remove transitional states for AI editor
  docs/backlog/stories/story-08-20-editor-ai-chat-drawer-mvp.md
  docs/backlog/stories/story-08-22-editor-ai-diff-preview-apply-undo.md
  docs/backlog/stories/story-14-30-editor-working-copy-persistence-indexeddb.md
Due: docs-contract-validate

docs: add incident capture system and update deployment procedures
  CLAUDE.md
  docs/index.md
  docs/reference/reports/ref-hemma-host-freeze-investigation-2026-01-03.md
  docs/reference/reports/ref-hemma-incident-log-2026-01-04-153900-154030.md
  docs/runbooks/runbook-home-server.md
Due: docs-contract-validate

docs(adr): align AI editing ADRs with multi-file context and bounded persistence
  docs/adr/adr-0051-chat-first-ai-editing.md
  docs/adr/adr-0052-llm-prompt-budgets-and-kb-fragments.md
  docs/backlog/stories/story-08-20-editor-ai-chat-drawer-mvp.md
  docs/backlog/stories/story-08-21-ai-structured-crud-edit-ops-protocol-v1.md
  docs/backlog/stories/story-08-22-editor-ai-diff-preview-apply-undo.md
  docs/backlog/stories/story-08-23-ai-chat-streaming-proxy-and-config.md
  docs/backlog/stories/story-14-17-editor-version-diff-view.md
  docs/backlog/stories/story-14-18-editor-review-navigation-and-compare.md
  docs/backlog/stories/story-14-30-editor-working-copy-persistence-indexeddb.md
  docs/backlog/stories/story-14-31-editor-focus-mode-collapse-sidebar.md
Due: docs-contract-validate

docs: normalize acceptance criteria formatting in editor stories
  docs/backlog/stories/story-08-20-editor-ai-chat-drawer-mvp.md
  docs/backlog/stories/story-08-21-ai-structured-crud-edit-ops-protocol-v1.md
  docs/backlog/stories/story-08-22-editor-ai-diff-preview-apply-undo.md
  docs/backlog/stories/story-08-23-ai-chat-streaming-proxy-and-config.md
  docs/backlog/stories/story-14-17-editor-version-diff-view.md
  docs/backlog/stories/story-14-18-editor-review-navigation-and-compare.md
  docs/backlog/stories/story-14-30-editor-working-copy-persistence-indexeddb.md
  docs/backlog/stories/story-14-31-editor-focus-mode-collapse-sidebar.md
Due: docs-contract-validate

docs: mark ST-14-15 done and update handoff snapshot
  .agent/handoff.md
  docs/backlog/epics/epic-14-admin-tool-authoring.md
  docs/backlog/stories/story-14-15-editor-schema-validation-endpoint.md
Due: docs-contract-validate, agent-doc-budgets

docs(reports): add canonical chat v3 run artifacts (2026-01-05)
  docs/reference/reports/artifacts/llama-canonical-chat-v3/llama-canonical-chat-v3-20260105T011923Z/diff.after.txt
  docs/reference/reports/artifacts/llama-canonical-chat-v3/llama-canonical-chat-v3-20260105T011923Z/diff.before.txt
  docs/reference/reports/artifacts/llama-canonical-chat-v3/llama-canonical-chat-v3-20260105T011923Z/diff.kernel.txt
  docs/reference/reports/artifacts/llama-canonical-chat-v3/llama-canonical-chat-v3-20260105T011923Z/diff.request.json
  docs/reference/reports/artifacts/llama-canonical-chat-v3/llama-canonical-chat-v3-20260105T011923Z/diff.response.json
  docs/reference/reports/artifacts/llama-canonical-chat-v3/llama-canonical-chat-v3-20260105T011923Z/diff.text
  docs/reference/reports/artifacts/llama-canonical-chat-v3/llama-canonical-chat-v3-20260105T011923Z/pm_info.txt
  docs/reference/reports/artifacts/llama-canonical-chat-v3/llama-canonical-chat-v3-20260105T011923Z/power_state.txt
  docs/reference/reports/artifacts/llama-canonical-chat-v3/llama-canonical-chat-v3-20260105T011923Z/prompt1_review_v3.txt
  docs/reference/reports/artifacts/llama-canonical-chat-v3/llama-canonical-chat-v3-20260105T011923Z/prompt2_diff_v3.txt
  docs/reference/reports/artifacts/llama-canonical-chat-v3/llama-canonical-chat-v3-20260105T011923Z/review.after.txt
  docs/reference/reports/artifacts/llama-canonical-chat-v3/llama-canonical-chat-v3-20260105T011923Z/review.before.txt
  docs/reference/reports/artifacts/llama-canonical-chat-v3/llama-canonical-chat-v3-20260105T011923Z/review.kernel.txt
  docs/reference/reports/artifacts/llama-canonical-chat-v3/llama-canonical-chat-v3-20260105T011923Z/review.request.json
  docs/reference/reports/artifacts/llama-canonical-chat-v3/llama-canonical-chat-v3-20260105T011923Z/review.response.json
  docs/reference/reports/artifacts/llama-canonical-chat-v3/llama-canonical-chat-v3-20260105T011923Z/review.text
  docs/reference/reports/artifacts/llama-canonical-chat-v3/llama-canonical-chat-v3-20260105T011923Z/rocm-smi.txt
  docs/reference/reports/artifacts/llama-canonical-chat-v3/llama-canonical-chat-v3-20260105T011923Z/sensors.txt
  docs/reference/reports/artifacts/llama-canonical-chat-v3/llama-canonical-chat-v3-20260105T012947Z/diff.after.txt
  docs/reference/reports/artifacts/llama-canonical-chat-v3/llama-canonical-chat-v3-20260105T012947Z/diff.before.txt
  docs/reference/reports/artifacts/llama-canonical-chat-v3/llama-canonical-chat-v3-20260105T012947Z/diff.kernel.txt
  docs/reference/reports/artifacts/llama-canonical-chat-v3/llama-canonical-chat-v3-20260105T012947Z/diff.request.json
  docs/reference/reports/artifacts/llama-canonical-chat-v3/llama-canonical-chat-v3-20260105T012947Z/diff.response.json
  docs/reference/reports/artifacts/llama-canonical-chat-v3/llama-canonical-chat-v3-20260105T012947Z/diff.telemetry.txt
  docs/reference/reports/artifacts/llama-canonical-chat-v3/llama-canonical-chat-v3-20260105T012947Z/diff.text
  docs/reference/reports/artifacts/llama-canonical-chat-v3/llama-canonical-chat-v3-20260105T012947Z/power_state.txt
  docs/reference/reports/artifacts/llama-canonical-chat-v3/llama-canonical-chat-v3-20260105T012947Z/prompt1_review_v3.txt
  docs/reference/reports/artifacts/llama-canonical-chat-v3/llama-canonical-chat-v3-20260105T012947Z/prompt2_diff_v3.txt
  docs/reference/reports/artifacts/llama-canonical-chat-v3/llama-canonical-chat-v3-20260105T012947Z/review.after.txt
  docs/reference/reports/artifacts/llama-canonical-chat-v3/llama-canonical-chat-v3-20260105T012947Z/review.before.txt
  docs/reference/reports/artifacts/llama-canonical-chat-v3/llama-canonical-chat-v3-20260105T012947Z/review.kernel.txt
  docs/reference/reports/artifacts/llama-canonical-chat-v3/llama-canonical-chat-v3-20260105T012947Z/review.request.json
  docs/reference/reports/artifacts/llama-canonical-chat-v3/llama-canonical-chat-v3-20260105T012947Z/review.response.json
  docs/reference/reports/artifacts/llama-canonical-chat-v3/llama-canonical-chat-v3-20260105T012947Z/review.telemetry.txt
  docs/reference/reports/artifacts/llama-canonical-chat-v3/llama-canonical-chat-v3-20260105T012947Z/review.text
  docs/reference/reports/artifacts/llama-canonical-chat-v3/llama-canonical-chat-v3-20260105T012947Z/sensors.txt
  docs/reference/reports/ref-hemma-canonical-chat-v3-run-2026-01-05.md
  docs/reference/reports/ref-hemma-gpu-compatibility-notes-2026-01-05.md
  docs/reference/reports/ref-hemma-perflevel-auto-vs-high-2026-01-05.md
  docs/reference/reports/ref-hemma-runpm0-before-after-2026-01-05.md
Due: docs-contract-validate

feat: editor version compare diff view (ST-14-17)
  .agent/handoff.md
  docs/backlog/stories/story-14-17-editor-version-diff-view.md
  docs/index.md
  frontend/.npmrc
  frontend/apps/skriptoteket/package.json
  frontend/apps/skriptoteket/src/components/editor/EditorComparePanel.vue
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspaceDrawers.vue
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspacePanel.vue
  frontend/apps/skriptoteket/src/components/editor/VersionHistoryDrawer.vue
  frontend/apps/skriptoteket/src/components/editor/diff/CodeMirrorMergeDiff.vue
  frontend/apps/skriptoteket/src/components/editor/diff/VirtualFileDiffViewer.vue
  frontend/apps/skriptoteket/src/composables/editor/diff/unifiedPatch.spec.ts
  frontend/apps/skriptoteket/src/composables/editor/diff/unifiedPatch.ts
  frontend/apps/skriptoteket/src/composables/editor/editorRouteKey.spec.ts
  frontend/apps/skriptoteket/src/composables/editor/editorRouteKey.ts
  frontend/apps/skriptoteket/src/composables/editor/useEditorCompareData.ts
  frontend/apps/skriptoteket/src/composables/editor/useEditorCompareState.spec.ts
  frontend/apps/skriptoteket/src/composables/editor/useEditorCompareState.ts
  frontend/apps/skriptoteket/src/composables/editor/useEditorWorkflowActions.spec.ts
  frontend/apps/skriptoteket/src/composables/editor/useEditorWorkflowActions.ts
  frontend/apps/skriptoteket/src/composables/editor/useScriptEditor.spec.ts
  frontend/apps/skriptoteket/src/composables/editor/useScriptEditor.ts
  frontend/apps/skriptoteket/src/composables/editor/useScriptEditorDrawers.spec.ts
  frontend/apps/skriptoteket/src/composables/editor/useScriptEditorDrawers.ts
  frontend/apps/skriptoteket/src/composables/editor/virtualFiles.spec.ts
  frontend/apps/skriptoteket/src/composables/editor/virtualFiles.ts
  frontend/apps/skriptoteket/src/views/admin/ScriptEditorView.vue
  frontend/pnpm-lock.yaml
  src/skriptoteket/script_bank/bank.py
  src/skriptoteket/script_bank/scripts/html_to_pdf_preview.py
  src/skriptoteket/script_bank/scripts/yrkesgenerator.py
  tests/unit/test_html_to_pdf_preview.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

feat(editor): persist working copy and local checkpoints
  .agent/handoff.md
  docs/backlog/stories/story-14-30-editor-working-copy-persistence-indexeddb.md
  frontend/apps/skriptoteket/package.json
  frontend/apps/skriptoteket/src/components/editor/EditorComparePanel.vue
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspaceDrawers.vue
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspacePanel.vue
  frontend/apps/skriptoteket/src/components/editor/VersionHistoryDrawer.vue
  frontend/apps/skriptoteket/src/components/editor/WorkingCopyRestorePrompt.vue
  frontend/apps/skriptoteket/src/composables/editor/editorPersistence.ts
  frontend/apps/skriptoteket/src/composables/editor/useEditorCompareData.spec.ts
  frontend/apps/skriptoteket/src/composables/editor/useEditorCompareData.ts
  frontend/apps/skriptoteket/src/composables/editor/useEditorEditSuggestions.ts
  frontend/apps/skriptoteket/src/composables/editor/useEditorWorkingCopy.spec.ts
  frontend/apps/skriptoteket/src/composables/editor/useEditorWorkingCopy.ts
  frontend/apps/skriptoteket/src/composables/editor/useScriptEditor.ts
  frontend/apps/skriptoteket/src/views/admin/ScriptEditorView.vue
  frontend/pnpm-lock.yaml
  stakeholders/guide-teacher-developers.md
Due: docs-contract-validate, agent-doc-budgets, eslint

feat(editor): harden working copy restore flow
  .agent/handoff.md
  frontend/apps/skriptoteket/src/composables/editor/editorPersistence.ts
  frontend/apps/skriptoteket/src/composables/editor/useEditorWorkingCopy.spec.ts
  frontend/apps/skriptoteket/src/composables/editor/useEditorWorkingCopy.ts
  frontend/apps/skriptoteket/src/views/admin/ScriptEditorView.vue
Due: agent-doc-budgets, eslint

docs: add PR doc type + templates
  AGENTS.md
  docs/_meta/docs-contract.yaml
  docs/backlog/prs/pr-0001-editor-working-copy-composable-srp-modularization.md
  docs/backlog/prs/pr-0002-tool-run-composable-srp-modularization.md
  docs/index.md
  docs/templates/template-pr.md
  scripts/validate_docs.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

refactor(tool-run): split polling and session files
  docs/backlog/prs/pr-0002-tool-run-composable-srp-modularization.md
  frontend/apps/skriptoteket/src/composables/tools/useToolRun.ts
  frontend/apps/skriptoteket/src/composables/tools/useToolRunPolling.ts
  frontend/apps/skriptoteket/src/composables/tools/useToolSessionFiles.ts
Due: docs-contract-validate, eslint

refactor(editor): split useEditorWorkingCopy modules
  .agent/handoff.md
  docs/backlog/prs/pr-0001-editor-working-copy-composable-srp-modularization.md
  frontend/apps/skriptoteket/src/composables/editor/editorWorkingCopyFingerprint.ts
  frontend/apps/skriptoteket/src/composables/editor/useEditorWorkingCopy.ts
  frontend/apps/skriptoteket/src/composables/editor/useEditorWorkingCopyCheckpoints.ts
Due: docs-contract-validate, agent-doc-budgets, eslint
