Repository paunchygent/skriptoteket: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

ruff-format:
  name: Ruff format (staged files)
  entry: pdm run ruff format --force-exclude
  language: system
  pass_filenames: true

ruff-lint:
  name: Ruff lint (staged files)
  entry: pdm run ruff check --force-exclude
  language: system
  pass_filenames: true

mypy:
  name: Mypy typecheck (src + tests)
  entry: pdm run typecheck
  language: system
  pass_filenames: false

pytest:
  name: Pytest (unit suite)
  entry: pdm run test
  language: system
  pass_filenames: false

docs-contract-validate:
  name: Docs contract validate (placement + naming + frontmatter)
  entry: pdm run docs-validate
  language: system
  pass_filenames: false

agent-doc-budgets:
  name: Agent docs line budgets (.agent/*)
  entry: pdm run python -m scripts.check_agent_doc_budgets
  language: system
  pass_filenames: false

eslint:
  name: ESLint (frontend)
  entry: pnpm --filter @skriptoteket/spa lint
  language: system
  pass_filenames: false

docs: close ST-14-17 diff viewer story
  .agent/handoff.md
  docs/backlog/epics/epic-14-admin-tool-authoring.md
  docs/backlog/stories/story-14-17-editor-version-diff-view.md
Due: docs-contract-validate, agent-doc-budgets

chore: sync local changes
  .agent/handoff.md
  docs/backlog/epics/epic-14-admin-tool-authoring.md
  docs/backlog/prs/pr-0003-gate-submit-review-help-surfaces.md
  docs/backlog/prs/pr-0004-sandbox-transient-settings-input-multi-enum-clear-settings.md
  docs/backlog/prs/pr-0005-contract-v2-help-template-update.md
  docs/backlog/stories/story-14-30-editor-working-copy-persistence-indexeddb.md
  docs/index.md
  frontend/apps/skriptoteket/src/components/editor/ScriptEditorHeaderPanel.vue
  frontend/apps/skriptoteket/src/components/editor/WorkflowActionModal.vue
  frontend/apps/skriptoteket/src/components/editor/WorkflowContextButtons.vue
  frontend/apps/skriptoteket/src/components/help/HelpPanel.vue
  frontend/apps/skriptoteket/src/composables/editor/useEditorWorkflowActions.spec.ts
  frontend/apps/skriptoteket/src/composables/editor/useEditorWorkflowActions.ts
  frontend/apps/skriptoteket/src/views/admin/ScriptEditorView.vue
  scripts/playwright_st_14_30_editor_working_copy_persistence_e2e.py
  src/skriptoteket/application/catalog/handlers/publish_tool.py
  src/skriptoteket/application/catalog/publish_requirements.py
  src/skriptoteket/application/scripting/handlers/submit_for_review.py
  src/skriptoteket/cli/commands/seed_script_bank.py
  src/skriptoteket/di/editor.py
  tests/unit/application/scripting/handlers/test_submit_for_review_handler.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

chore: pin pandoc 3.8.3 in images
  Dockerfile
  Dockerfile.runner
Due: none

feat(editor): ST-14-18 compare defaults + deeplinks
  .agent/handoff.md
  docs/backlog/epics/epic-14-admin-tool-authoring.md
  docs/backlog/stories/story-14-18-editor-review-navigation-and-compare.md
  frontend/apps/skriptoteket/src/api/openapi.d.ts
  frontend/apps/skriptoteket/src/components/editor/EditorComparePanel.vue
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspaceDrawers.vue
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspacePanel.vue
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspaceToolbar.vue
  frontend/apps/skriptoteket/src/components/editor/VersionHistoryDrawer.vue
  frontend/apps/skriptoteket/src/composables/editor/editorCompareDefaults.spec.ts
  frontend/apps/skriptoteket/src/composables/editor/editorCompareDefaults.ts
  frontend/apps/skriptoteket/src/composables/editor/useEditorWorkingCopy.ts
  frontend/apps/skriptoteket/src/composables/editor/useScriptEditor.spec.ts
  frontend/apps/skriptoteket/src/composables/editor/useScriptEditor.ts
  frontend/apps/skriptoteket/src/views/admin/AdminToolsView.vue
  frontend/apps/skriptoteket/src/views/admin/ScriptEditorView.vue
  scripts/playwright_spa_admin_pending_review_badges_check.py
  scripts/playwright_st_11_16_editor_workflow_actions_e2e.py
  scripts/playwright_st_12_02_native_pdf_output_helper_e2e.py
  scripts/playwright_st_14_03_editor_sandbox_html_to_pdf_preview_e2e.py
  scripts/playwright_st_14_05_editor_sandbox_settings_e2e.py
  scripts/playwright_st_14_09_input_schema_no_legacy_e2e.py
  scripts/playwright_st_14_16_editor_schema_validation_errors_ux_e2e.py
  scripts/playwright_st_14_18_editor_compare_deeplink_e2e.py
  scripts/playwright_st_14_admin_tool_authoring_e2e.py
  scripts/playwright_ui_editor_smoke.py
  src/skriptoteket/web/api/v1/editor/boot.py
  src/skriptoteket/web/api/v1/editor/models.py
  tests/unit/web/test_editor_draft_lock_api.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

chore(handoff): refresh snapshot
  .agent/handoff.md
Due: agent-doc-budgets

docs: add PR-0006 hemma incident findings
  docs/backlog/prs/pr-0006-hemma-incident-log-findings-2026-01-06.md
  docs/index.md
Due: docs-contract-validate

feat(script-bank): add Markdown→DOCX converter
  src/skriptoteket/script_bank/bank.py
  src/skriptoteket/script_bank/scripts/markdown_to_docx.py
Due: ruff-format, ruff-lint, mypy, pytest

Implement ST-14-31 focus mode + docs updates
  .agent/handoff.md
  .agent/rules/010-foundational-principles.md
  docs/backlog/epics/epic-14-admin-tool-authoring.md
  docs/backlog/prs/pr-0006-hemma-incident-log-findings-2026-01-06.md
  docs/backlog/stories/story-14-31-editor-focus-mode-collapse-sidebar.md
  docs/index.md
  docs/reference/ref-hemma-critical-paths-2026-01-06.md
  docs/runbooks/runbook-gpu-ai-workloads.md
  docs/runbooks/runbook-home-server.md
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspacePanel.vue
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspaceToolbar.vue
  frontend/apps/skriptoteket/src/components/layout/AuthLayout.vue
  frontend/apps/skriptoteket/src/components/layout/AuthSidebar.vue
  frontend/apps/skriptoteket/src/components/layout/AuthTopBar.vue
  frontend/apps/skriptoteket/src/stores/layout.spec.ts
  frontend/apps/skriptoteket/src/stores/layout.ts
  frontend/apps/skriptoteket/src/views/admin/ScriptEditorView.vue
  scripts/playwright_st_14_31_editor_focus_mode_e2e.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

Add editor chat history and Docker build caching
  .agent/handoff.md
  Dockerfile
  docs/backlog/stories/story-08-20-editor-ai-chat-drawer-mvp.md
  docs/reference/reports/ref-hemma-host-freeze-stack-alignment-2026-01-03.md
  docs/runbooks/runbook-home-server.md
  frontend/apps/skriptoteket/src/api/openapi.d.ts
  frontend/apps/skriptoteket/src/components/editor/ChatDrawer.vue
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspaceDrawers.vue
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspacePanel.vue
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspaceToolbar.vue
  frontend/apps/skriptoteket/src/composables/editor/sseParser.spec.ts
  frontend/apps/skriptoteket/src/composables/editor/sseParser.ts
  frontend/apps/skriptoteket/src/composables/editor/useEditorChat.spec.ts
  frontend/apps/skriptoteket/src/composables/editor/useEditorChat.ts
  frontend/apps/skriptoteket/src/composables/editor/useScriptEditorDrawers.ts
  frontend/apps/skriptoteket/src/views/admin/ScriptEditorView.vue
  scripts/playwright_st_08_20_editor_chat_drawer_check.py
  src/skriptoteket/application/editor/chat_handler.py
  src/skriptoteket/application/editor/chat_history_handler.py
  src/skriptoteket/di/llm.py
  src/skriptoteket/protocols/llm.py
  src/skriptoteket/web/api/v1/editor/__init__.py
  src/skriptoteket/web/api/v1/editor/chat.py
  src/skriptoteket/web/api/v1/editor/models.py
  tests/integration/test_migration_0024_tool_session_messages_idempotent.py
  tests/unit/application/test_editor_chat_handler.py
  tests/unit/application/test_editor_chat_handler_concurrency.py
  tests/unit/application/test_editor_chat_history_handler.py
  tests/unit/web/test_editor_chat_api.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

Refine editor header layout and schema tooltips
  .agent/handoff.md
  docs/backlog/prs/pr-0010-editor-save-restore-ux-clarity.md
  docs/backlog/prs/pr-0011-editor-mode-toggles-and-metadata-mode.md
  docs/index.md
  frontend/apps/skriptoteket/src/App.vue
  frontend/apps/skriptoteket/src/assets/main.css
  frontend/apps/skriptoteket/src/components/editor/ChatDrawer.vue
  frontend/apps/skriptoteket/src/components/editor/EditorComparePanel.vue
  frontend/apps/skriptoteket/src/components/editor/EditorInputSchemaPanel.vue
  frontend/apps/skriptoteket/src/components/editor/EditorSandboxPanel.vue
  frontend/apps/skriptoteket/src/components/editor/EditorSettingsSchemaPanel.vue
  frontend/apps/skriptoteket/src/components/editor/EditorSourceCodePanel.vue
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspaceDrawers.vue
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspaceModeSelector.vue
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspacePanel.vue
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspaceToolbar.vue
  frontend/apps/skriptoteket/src/components/editor/EntrypointDropdown.vue
  frontend/apps/skriptoteket/src/components/editor/InstructionsDrawer.vue
  frontend/apps/skriptoteket/src/components/editor/MaintainersDrawer.vue
  frontend/apps/skriptoteket/src/components/editor/MetadataDrawer.vue
  frontend/apps/skriptoteket/src/components/editor/ScriptEditorHeaderPanel.vue
  frontend/apps/skriptoteket/src/components/editor/VersionHistoryDrawer.vue
  frontend/apps/skriptoteket/src/components/editor/WorkflowActionsDropdown.vue
  frontend/apps/skriptoteket/src/components/editor/WorkflowContextButtons.vue
  frontend/apps/skriptoteket/src/components/editor/diff/VirtualFileDiffViewer.vue
  frontend/apps/skriptoteket/src/components/help/HelpPanel.vue
  frontend/apps/skriptoteket/src/components/layout/AuthLayout.vue
  frontend/apps/skriptoteket/src/components/layout/AuthTopBar.vue
  frontend/apps/skriptoteket/src/composables/editor/editorCompareDefaults.ts
  frontend/apps/skriptoteket/src/composables/editor/useEditorCompareData.ts
  frontend/apps/skriptoteket/src/composables/editor/useScriptEditorDrawers.spec.ts
  frontend/apps/skriptoteket/src/composables/editor/useScriptEditorDrawers.ts
  frontend/apps/skriptoteket/src/composables/editor/useToolTaxonomy.ts
  frontend/apps/skriptoteket/src/views/admin/ScriptEditorView.vue
  scripts/playwright_st_08_20_editor_chat_drawer_check.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

chore: update ai chat config and docs
  .env.example
  .env.example.prod
  compose.prod.yaml
  compose.yaml
  docs/reference/ref-ai-completion-architecture.md
  docs/runbooks/runbook-tabby-codemirror.md
  frontend/apps/skriptoteket/src/components/editor/ChatDrawer.vue
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspacePanel.vue
  frontend/apps/skriptoteket/src/composables/editor/useScriptEditorDrawers.ts
  src/skriptoteket/config.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

chore: checkpoint all working changes
  .agent/handoff.md
  README.md
  docs/backlog/prs/pr-0016-editor-ai-edit-ops-v2-hardening.md
  frontend/apps/skriptoteket/src/components/editor/EditorEditOpsPanel.vue
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspacePanel.vue
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspaceToolbar.spec.ts
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspaceToolbar.vue
  frontend/apps/skriptoteket/src/components/editor/WorkingCopyRestorePrompt.vue
  frontend/apps/skriptoteket/src/components/editor/diff/AiVirtualFileDiffViewer.vue
  frontend/apps/skriptoteket/src/components/editor/diff/CodeMirrorMergeDiff.vue
  frontend/apps/skriptoteket/src/components/editor/diff/VirtualFileDiffViewer.vue
  frontend/apps/skriptoteket/src/composables/editor/useEditorEditOps.spec.ts
  frontend/apps/skriptoteket/src/composables/editor/useEditorEditOps.ts
  frontend/apps/skriptoteket/src/composables/editor/useEditorWorkingCopy.ts
  frontend/apps/skriptoteket/src/views/admin/ScriptEditorView.vue
  pyproject.toml
  scripts/playwright_st_08_24_working_copy_diff_scroll_check.py
  src/skriptoteket/application/editor/system_prompts/edit_suggestion_v1.txt
  src/skriptoteket/application/editor/system_prompts/editor_chat_ops_v1.txt
  src/skriptoteket/application/editor/system_prompts/editor_chat_v1.txt
  src/skriptoteket/application/editor/system_prompts/inline_completion_v1.txt
  src/skriptoteket/config.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

chore: sync workspace updates
  .agent/handoff.md
  docs/backlog/prs/pr-0016-editor-ai-edit-ops-v2-hardening.md
  frontend/apps/skriptoteket/src/components/catalog/CatalogItemCard.vue
  frontend/apps/skriptoteket/src/components/editor/ChatDrawer.spec.ts
  frontend/apps/skriptoteket/src/components/editor/ChatDrawer.vue
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspaceDrawers.vue
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspacePanel.vue
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspaceToolbar.spec.ts
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspaceToolbar.vue
  frontend/apps/skriptoteket/src/components/editor/diff/CodeMirrorMergeDiff.spec.ts
  frontend/apps/skriptoteket/src/components/home/FavoritesSection.vue
  frontend/apps/skriptoteket/src/components/home/RecentToolsSection.vue
  frontend/apps/skriptoteket/src/components/layout/AuthLayout.vue
  frontend/apps/skriptoteket/src/components/layout/AuthSidebar.vue
  frontend/apps/skriptoteket/src/components/layout/AuthTopBar.vue
  frontend/apps/skriptoteket/src/composables/editor/useEditorEditOps.ts
  frontend/apps/skriptoteket/src/composables/useEqualHeightGrid.ts
  frontend/apps/skriptoteket/src/test/setup.ts
  frontend/apps/skriptoteket/src/views/HomeView.vue
  frontend/apps/skriptoteket/src/views/admin/ScriptEditorView.vue
Due: docs-contract-validate, agent-doc-budgets, eslint

frontend: polish focus mode toggle and brand
  .agent/handoff.md
  frontend/apps/skriptoteket/src/components/layout/AuthSidebar.vue
  frontend/apps/skriptoteket/src/components/layout/AuthTopBar.vue
Due: agent-doc-budgets, eslint

chore: commit local workspace changes
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspaceToolbar.vue
  frontend/apps/skriptoteket/src/components/editor/WorkflowActionsDropdown.vue
  frontend/apps/skriptoteket/src/components/editor/WorkflowContextButtons.vue
Due: eslint

frontend: align auth topbar height
  .agent/handoff.md
  frontend/apps/skriptoteket/src/components/layout/AuthTopBar.vue
Due: agent-doc-budgets, eslint

feat: script bank seed profiles and group generator
  docs/runbooks/runbook-script-bank-seeding-home-server.md
  docs/runbooks/runbook-script-bank-seeding.md
  src/skriptoteket/cli/commands/seed_script_bank.py
  src/skriptoteket/script_bank/bank.py
  src/skriptoteket/script_bank/models.py
  src/skriptoteket/script_bank/scripts/demo_inputs.py
  src/skriptoteket/script_bank/scripts/gruppgenerator.py
  src/skriptoteket/script_bank/scripts/html_to_pdf_preview.py
  src/skriptoteket/script_bank/scripts/ist_vh_mejl_bcc.py
  src/skriptoteket/script_bank/scripts/markdown_to_docx.py
  src/skriptoteket/script_bank/scripts/yrkesgenerator.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

feat: action-driven group generator
  src/skriptoteket/script_bank/scripts/gruppgenerator.py
  stakeholders/guide-teacher-developers.md
Due: ruff-format, ruff-lint, mypy, pytest

docs: add settings suggestions ADR + story
  .agent/handoff.md
  docs/adr/adr-0057-settings-suggestions-from-tool-runs.md
  docs/backlog/epics/epic-14-admin-tool-authoring.md
  docs/backlog/stories/story-14-34-settings-suggestions-from-tool-runs.md
  docs/index.md
Due: docs-contract-validate, agent-doc-budgets

docs: add PR plan for settings suggestions
  docs/backlog/prs/pr-0026-settings-suggestions-from-tool-runs.md
  docs/index.md
Due: docs-contract-validate

Editor chat UI: show failed turns
  frontend/apps/skriptoteket/src/api/openapi.d.ts
  frontend/apps/skriptoteket/src/components/editor/ChatDrawer.spec.ts
  frontend/apps/skriptoteket/src/components/editor/ChatDrawer.vue
  frontend/apps/skriptoteket/src/composables/editor/useEditorChat.spec.ts
  frontend/apps/skriptoteket/src/composables/editor/useEditorChat.ts
  frontend/apps/skriptoteket/src/test/utils.ts
  frontend/apps/skriptoteket/src/views/admin/ScriptEditorView.vue
Due: eslint

Docs/runbooks: Docker-only llama.cpp
  compose.yaml
  docs/adr/adr-0050-self-hosted-llm-infrastructure.md
  docs/backlog/prs/pr-0006-hemma-incident-log-findings-2026-01-06.md
  docs/reference/reports/ref-hemma-canonical-chat-v3-run-2026-01-05.md
  docs/reference/reports/ref-hemma-host-freeze-investigation-2026-01-03.md
  docs/reference/reports/ref-hemma-incident-log-2026-01-04-153900-154030.md
  docs/runbooks/runbook-gpu-ai-workloads.md
  docs/runbooks/runbook-home-server.md
  docs/runbooks/runbook-tabby-codemirror.md
  stakeholders/server_runbook_pdf.html
Due: docs-contract-validate

Docs: EPIC-14 data libraries planning
  .agent/handoff.md
  docs/adr/adr-0058-tool-datasets-library.md
  docs/adr/adr-0059-user-file-vault.md
  docs/backlog/epics/epic-14-admin-tool-authoring.md
  docs/backlog/reviews/review-epic-14-tool-data-libraries.md
  docs/backlog/sprints/sprint-2026-02-24-tool-data-libraries-v1.md
  docs/backlog/sprints/sprint-2026-03-17-tool-editor-sandbox-debug-details.md
  docs/backlog/sprints/sprint-2026-03-31-tool-editor-schema-editor-v1.md
  docs/backlog/sprints/sprint-2026-04-14-tool-editor-schema-validation-v1.md
  docs/backlog/sprints/sprint-2026-04-28-tool-editor-version-diff-v1.md
  docs/backlog/stories/story-14-11-editor-sandbox-run-debug-details-api.md
  docs/backlog/stories/story-14-12-editor-sandbox-debug-panel.md
  docs/backlog/stories/story-14-35-tool-datasets-crud-and-picker.md
  docs/backlog/stories/story-14-36-user-file-vault-and-picker.md
  docs/index.md
  docs/prd/prd-script-hub-v0.2.md
  frontend/apps/skriptoteket/src/views/HomeView.vue
Due: docs-contract-validate, agent-doc-budgets, eslint

Handoff: update snapshot branch
  .agent/handoff.md
Due: agent-doc-budgets

Docs: PR-0027 chat-ops prompt budget follow-ups
  docs/backlog/prs/pr-0027-ai-chat-ops-system-prompt-budget-followups.md
  docs/index.md
Due: docs-contract-validate

Fix: raise chat-ops system prompt budget
  compose.prod.yaml
  src/skriptoteket/application/editor/edit_ops_handler.py
  src/skriptoteket/config.py
  tests/unit/application/test_ai_prompt_system_v1.py
Due: ruff-format, ruff-lint, mypy, pytest

refactor(ai): SRP/DI cleanup in LLM hotspots (PR-0019)
  src/skriptoteket/application/editor/chat_handler.py
  src/skriptoteket/application/editor/chat_prompt_builder.py
  src/skriptoteket/application/editor/chat_shared.py
  src/skriptoteket/application/editor/chat_stream_orchestrator.py
  src/skriptoteket/application/editor/chat_turn_preparer.py
  src/skriptoteket/application/editor/edit_ops_handler.py
  src/skriptoteket/application/editor/edit_ops_payload_parser.py
  src/skriptoteket/di/llm.py
  src/skriptoteket/infrastructure/llm/chat_ops_budget_resolver.py
  src/skriptoteket/infrastructure/llm/model_families.py
  src/skriptoteket/infrastructure/llm/openai/__init__.py
  src/skriptoteket/infrastructure/llm/openai/chat_ops_provider.py
  src/skriptoteket/infrastructure/llm/openai/chat_stream_provider.py
  src/skriptoteket/infrastructure/llm/openai/common.py
  src/skriptoteket/infrastructure/llm/openai/fim.py
  src/skriptoteket/infrastructure/llm/openai/inline_completion_provider.py
  src/skriptoteket/infrastructure/llm/openai/parsing.py
  src/skriptoteket/infrastructure/llm/openai/payloads.py
  src/skriptoteket/infrastructure/llm/openai_provider.py
  src/skriptoteket/infrastructure/llm/token_counter_resolver.py
  src/skriptoteket/protocols/edit_ops_payload_parser.py
  src/skriptoteket/protocols/editor_chat.py
  tests/unit/application/test_editor_chat_handler.py
  tests/unit/application/test_editor_chat_handler_concurrency.py
  tests/unit/application/test_editor_chat_handler_context_window_error.py
  tests/unit/application/test_editor_edit_ops_capture_on_error.py
  tests/unit/application/test_editor_edit_ops_handler.py
  tests/unit/infrastructure/llm/test_model_families.py
  tests/unit/infrastructure/llm/test_openai_payloads.py
Due: ruff-format, ruff-lint, mypy, pytest

docs(pr): mark PR-0019 done
  docs/backlog/prs/pr-0019-ai-srp-refactor-audit-hotspots.md
Due: docs-contract-validate

Refactor editor AI panels and composables
  .agent/handoff.md
  docs/backlog/prs/pr-0020-ai-frontend-srp-refactor-audit-hotspots.md
  frontend/apps/skriptoteket/eslint.config.js
  frontend/apps/skriptoteket/src/components/editor/ChatDrawer.vue
  frontend/apps/skriptoteket/src/components/editor/EditorComparePanel.vue
  frontend/apps/skriptoteket/src/components/editor/EditorEditOpsPanel.vue
  frontend/apps/skriptoteket/src/components/editor/EditorSandboxPanel.vue
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspaceDrawers.vue
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspacePanel.types.ts
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspacePanel.vue
  frontend/apps/skriptoteket/src/components/editor/ScriptEditorAiPanel.vue
  frontend/apps/skriptoteket/src/components/editor/diff/AiVirtualFileDiffViewer.vue
  frontend/apps/skriptoteket/src/components/editor/diff/CodeMirrorMergeDiff.vue
  frontend/apps/skriptoteket/src/composables/editor/chat/editorChatApi.spec.ts
  frontend/apps/skriptoteket/src/composables/editor/chat/editorChatApi.ts
  frontend/apps/skriptoteket/src/composables/editor/chat/editorChatReducer.ts
  frontend/apps/skriptoteket/src/composables/editor/chat/editorChatStreamClient.spec.ts
  frontend/apps/skriptoteket/src/composables/editor/chat/editorChatStreamClient.ts
  frontend/apps/skriptoteket/src/composables/editor/chat/editorChatTypes.ts
  frontend/apps/skriptoteket/src/composables/editor/editOps/editOpsDiff.ts
  frontend/apps/skriptoteket/src/composables/editor/editOps/editOpsSelection.ts
  frontend/apps/skriptoteket/src/composables/editor/editOps/editOpsSnapshots.ts
  frontend/apps/skriptoteket/src/composables/editor/editOps/editOpsState.ts
  frontend/apps/skriptoteket/src/composables/editor/editOps/editorEditOpsApi.spec.ts
  frontend/apps/skriptoteket/src/composables/editor/editOps/editorEditOpsApi.ts
  frontend/apps/skriptoteket/src/composables/editor/useEditorChat.ts
  frontend/apps/skriptoteket/src/composables/editor/useEditorEditOps.apply.spec.ts
  frontend/apps/skriptoteket/src/composables/editor/useEditorEditOps.preview.spec.ts
  frontend/apps/skriptoteket/src/composables/editor/useEditorEditOps.selection.spec.ts
  frontend/apps/skriptoteket/src/composables/editor/useEditorEditOps.spec.ts
  frontend/apps/skriptoteket/src/composables/editor/useEditorEditOps.ts
  frontend/apps/skriptoteket/src/views/admin/ScriptEditorView.vue
  frontend/eslint-rules/no-template-ref-value.js
  frontend/packages/huleedu-ui/eslint.config.js
  scripts/playwright_ui_editor_smoke.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

PR-0028: editor focus mode + AI drawer density
  .agent/handoff.md
  docs/backlog/prs/pr-0028-editor-focus-mode-and-ai-drawer-density.md
  docs/index.md
  docs/runbooks/runbook-home-server.md
  frontend/apps/skriptoteket/src/App.vue
  frontend/apps/skriptoteket/src/api/openapi.d.ts
  frontend/apps/skriptoteket/src/components/editor/ChatComposer.vue
  frontend/apps/skriptoteket/src/components/editor/ChatDrawer.spec.ts
  frontend/apps/skriptoteket/src/components/editor/ChatDrawer.vue
  frontend/apps/skriptoteket/src/components/editor/ChatMessageList.vue
  frontend/apps/skriptoteket/src/components/editor/EditorSandboxPanel.vue
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspaceDrawers.vue
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspacePanel.types.ts
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspacePanel.vue
  frontend/apps/skriptoteket/src/components/editor/ScriptEditorAiPanel.vue
  frontend/apps/skriptoteket/src/components/editor/remoteFallbackPrompt.ts
  frontend/apps/skriptoteket/src/components/layout/AuthLayout.vue
  frontend/apps/skriptoteket/src/components/profile/ProfileAiSettingsPanel.vue
  frontend/apps/skriptoteket/src/components/profile/ProfileDisplay.vue
  frontend/apps/skriptoteket/src/components/profile/ProfileEditAiSettings.vue
  frontend/apps/skriptoteket/src/composables/editor/useEditorChat.spec.ts
  frontend/apps/skriptoteket/src/composables/useProfile.ts
  frontend/apps/skriptoteket/src/stores/ai.ts
  frontend/apps/skriptoteket/src/views/ProfileView.vue
  frontend/apps/skriptoteket/src/views/admin/ScriptEditorView.vue
  migrations/versions/0026_profile_ai_settings.py
  scripts/playwright_ui_editor_smoke.py
  scripts/playwright_ui_smoke.py
  src/skriptoteket/application/editor/chat_shared.py
  src/skriptoteket/application/editor/edit_ops_handler.py
  src/skriptoteket/application/identity/commands.py
  src/skriptoteket/application/identity/handlers/update_ai_settings.py
  src/skriptoteket/di/identity.py
  src/skriptoteket/domain/identity/models.py
  src/skriptoteket/infrastructure/db/models/user_profile.py
  src/skriptoteket/infrastructure/repositories/profile_repository.py
  src/skriptoteket/protocols/identity.py
  src/skriptoteket/web/api/v1/profile.py
  tests/unit/application/test_editor_edit_ops_handler.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

docs(runbook): document kdump watchdog hardening
  docs/runbooks/runbook-home-server.md
Due: docs-contract-validate

PR-0029: editor AI UX copy + prompt/template polish + smooth typing
  .agent/handoff.md
  docs/backlog/prs/pr-0029-editor-ai-ux-copy-and-smooth-typing.md
  docs/index.md
  frontend/apps/skriptoteket/src/components/editor/ChatComposer.vue
  frontend/apps/skriptoteket/src/components/editor/ChatMessageContent.vue
  frontend/apps/skriptoteket/src/components/editor/ChatMessageList.vue
  frontend/apps/skriptoteket/src/components/editor/ScriptEditorAiPanel.vue
  frontend/apps/skriptoteket/src/composables/editor/chat/editorChatReducer.ts
  frontend/apps/skriptoteket/src/composables/editor/chat/editorChatTypes.ts
  scripts/playwright_ui_editor_smoke.py
  src/skriptoteket/application/editor/prompt_fragments.py
  src/skriptoteket/application/editor/system_prompts/editor_chat_ops_v1.txt
  src/skriptoteket/application/editor/system_prompts/editor_chat_v1.txt
  src/skriptoteket/application/editor/system_prompts/inline_completion_v1.txt
  src/skriptoteket/web/editor_support.py
  tests/unit/application/test_ai_prompt_system_v1.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

Docs: update README for current status and municipal deployment
  README.md
Due: none

PR-0030: chat streaming reactivity + typing status
  .agent/handoff.md
  docs/backlog/prs/pr-0029-editor-ai-ux-copy-and-smooth-typing.md
  docs/backlog/prs/pr-0030-editor-chat-streaming-reactivity-and-typing-status.md
  docs/index.md
  frontend/apps/skriptoteket/src/components/editor/ChatComposer.vue
  frontend/apps/skriptoteket/src/components/editor/ChatDrawer.vue
  frontend/apps/skriptoteket/src/components/editor/ChatMessageContent.vue
  frontend/apps/skriptoteket/src/components/editor/ChatMessageList.vue
  frontend/apps/skriptoteket/src/composables/editor/chat/editorChatReducer.ts
  frontend/apps/skriptoteket/src/composables/editor/chat/editorChatTypes.ts
  frontend/apps/skriptoteket/src/composables/editor/useEditorChat.ts
Due: docs-contract-validate, agent-doc-budgets, eslint

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  mypy: any of: \.py$
  pytest: any of: \.py$
  docs-contract-validate: any of: ^docs/
  agent-doc-budgets: any of: ^\.agent/(readme-first\.md|handoff\.md)$
  eslint: any of: ^frontend/apps/skriptoteket/src/.*\.(vue|ts|js)$
