Repository paunchygent/skriptoteket: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format (staged files)
        entry: pdm run ruff format --force-exclude
        language: system
        types: [python]
        pass_filenames: true

      - id: ruff-lint
        name: Ruff lint (staged files)
        entry: pdm run ruff check --force-exclude
        language: system
        types: [python]
        pass_filenames: true

      - id: mypy
        name: Mypy typecheck (src + tests)
        entry: pdm run typecheck
        language: system
        types: [python]
        pass_filenames: false

      - id: pytest
        name: Pytest (unit suite)
        entry: pdm run test
        language: system
        types: [python]
        pass_filenames: false

      - id: docs-contract-validate
        name: Docs contract validate (placement + naming + frontmatter)
        entry: pdm run docs-validate
        language: system
        files: ^docs/
        pass_filenames: false

      - id: agent-doc-budgets
        name: Agent docs line budgets (.agent/*)
        entry: pdm run python -m scripts.check_agent_doc_budgets
        language: system
        files: ^\.agent/(readme-first\.md|handoff\.md)$
        pass_filenames: false

      - id: eslint
        name: ESLint (frontend)
        entry: pnpm --filter @skriptoteket/spa lint
        language: system
        files: ^frontend/apps/skriptoteket/src/.*\.(vue|ts|js)$
        pass_filenames: false

Refine Skriptoteket help interactions
  frontend/apps/skriptoteket/src/components/help/HelpButton.vue
  frontend/apps/skriptoteket/src/components/help/HelpPanel.spec.ts
  frontend/apps/skriptoteket/src/components/help/HelpPanel.vue
  frontend/apps/skriptoteket/src/components/help/MicroHelp.spec.ts
  frontend/apps/skriptoteket/src/components/help/MicroHelp.vue
  frontend/apps/skriptoteket/src/components/help/useHelp.ts
  frontend/apps/skriptoteket/src/components/layout/AuthSidebar.vue
  frontend/apps/skriptoteket/src/views/SuggestionNewView.vue
  scripts/playwright_st_08_35_help_completion_check.py
  scripts/playwright_suggestion_new_smoke.py
Due: ruff-format, ruff-lint, mypy, pytest, eslint

Add auth header spelling remediation task
  docs/backlog/epics/epic-28-skriptoteket-auth-authority-cutover-to-huleedu.md
  docs/backlog/prs/pr-0272-st-28-04-huleedu-internal-identity-header-spelling-remediation.md
  docs/backlog/stories/story-28-04-cross-app-auth-cutover-smoke-and-operator-runbook-proof.md
  docs/index.md
Due: docs-contract-validate

Fix HuleEdu identity header spelling
  docs/backlog/prs/pr-0272-st-28-04-huleedu-internal-identity-header-spelling-remediation.md
  scripts/_playwright_huleedu_auth.py
  scripts/playwright_pr_0253_auth_retirement.py
  scripts/playwright_pr_0261_auth_action_matrix.py
  src/skriptoteket/domain/identity/internal_identity_context.py
  tests/unit/web/test_huleedu_identity_context_probe_api.py
  tests/unit/web/test_pr_0253_auth_retirement_contracts.py
  tests/unit/web/test_profile_app_continuation_context_api.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

chore: sync backlog and docs updates for public curated app and klassrumskartan work
  .codex/skills/pinball-board-authoring/SKILL.md
  .codex/skills/pinball-board-authoring/agents/openai.yaml
  AGENTS.md
  docs/adr/adr-0084-klassrumskartan-public-share-artifact-exception.md
  docs/backlog/epics/epic-26-klassrumskartan-explicit-exports-and-class-list-import.md
  docs/backlog/epics/epic-28-skriptoteket-auth-authority-cutover-to-huleedu.md
  docs/backlog/epics/epic-32-public-curated-app-access-foundation-and-klassrumskartan-demo.md
  docs/backlog/prs/pr-0211-st-32-04-browser-owned-guest-snapshot-contract-and-storage-foundation.md
  docs/backlog/prs/pr-0211-st-32-04-option-a1-guest-snapshot-frontend-hardening.md
  docs/backlog/prs/pr-0231-st-32-06-guest-regler-workspace-solver-smart-parity-and-expandable-smart-settings-drawer.md
  docs/backlog/prs/pr-0232-st-32-06-guest-local-draft-parity-direct-download-export-and-account-only-history-affordance-polish.md
  docs/backlog/prs/pr-0245-st-32-05-empty-guest-snapshot-and-zero-effect-import-ui-reconciliation.md
  docs/backlog/prs/pr-0251-st-28-01-session-bootstrap-api-client-cutover.md
  docs/backlog/prs/pr-0259-st-32-06-public-smart-slumpa-accepted-workspace-snapshot-commit-contract.md
  docs/backlog/prs/pr-0272-st-26-06-authenticated-klassrumskartan-shareable-html-css-export-links.md
  docs/backlog/prs/pr-0273-st-26-06-public-guest-klassrumskartan-share-links-with-ttl-and-supersede.md
  docs/backlog/reviews/review-epic-32-public-curated-app-access-foundation-and-klassrumskartan-demo.md
  docs/backlog/reviews/review-st-26-06-shareable-html-css-export-links.md
  docs/backlog/stories/story-26-06-klassrumskartan-shareable-html-css-export-links.md
  docs/backlog/stories/story-28-01-frontend-auth-store-and-api-client-cutover-to-huleedu-session-contract.md
  docs/backlog/stories/story-32-01-curated-app-public-access-profiles-and-current-app-matrix.md
  docs/backlog/stories/story-32-02-dedicated-public-curated-app-host-and-bootstrap-boundary.md
  docs/backlog/stories/story-32-03-public-curated-app-api-namespace-and-anonymous-abuse-controls.md
  docs/backlog/stories/story-32-04-browser-owned-guest-state-profiles-and-snapshot-contracts.md
  docs/index.md
Due: docs-contract-validate

Implement public guest share links with TTL and supersede functionality
  docs/backlog/prs/pr-0273-st-26-06-public-guest-klassrumskartan-share-links-with-ttl-and-supersede.md
  docs/backlog/prs/pr-0275-st-26-06-share-link-popover-and-bottom-sheet-management.md
  docs/backlog/reviews/review-pr-0273-public-guest-share-links-implementation.md
  docs/mockups/st-26-06-share-link-ux-and-page-renderer/share-popover-mockup.html
  docs/mockups/st-26-06-share-link-ux-and-page-renderer/shared-seating-page-mockup.html
  docs/mockups/st-26-06-share-link-ux-and-page-renderer/shared-seating-page-spatial-map-mockup.png
  frontend/apps/skriptoteket/src/components/ui/denseToolPrimitives.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestOverviewView.vue
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerPublicShareFlow.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspaceToolbar.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspaceToolbar.overflow.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspaceToolbar.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerShareLinksPanel.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerShareLinksPanel.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.vue
Due: docs-contract-validate, eslint

Implement Klassrumskartan share link polish
  docs/backlog/prs/pr-0273-st-26-06-public-guest-klassrumskartan-share-links-with-ttl-and-supersede.md
  docs/backlog/prs/pr-0276-st-26-06-spatial-share-page-renderer-and-grouping-polish.md
  docs/backlog/reviews/review-pr-0273-public-guest-share-links-implementation.md
  docs/mockups/st-26-06-share-link-ux-and-page-renderer/shared-groups-page-mockup.html
  docs/mockups/st-26-06-share-link-ux-and-page-renderer/shared-seating-page-mockup.html
  frontend/apps/skriptoteket/src/api/openapi.d.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestOverviewView.vue
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerPublicShareApi.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerPublicShareFlow.spec.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerPublicShareFlow.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerTopPanel.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerTopPanel.vue
  frontend/apps/skriptoteket/src/views/apps/usePublicGroupingShareFlow.ts
  frontend/apps/skriptoteket/src/views/apps/usePublicSeatingShareFlow.ts
  src/skriptoteket/application/curated_apps/classroom_planner/__init__.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/public_shares.py
  src/skriptoteket/application/curated_apps/classroom_planner/public_share_contracts.py
  src/skriptoteket/di/curated_apps.py
  src/skriptoteket/infrastructure/curated_apps/apps/classroom_planner/share_group_renderer.py
  src/skriptoteket/infrastructure/curated_apps/apps/classroom_planner/share_renderer.py
  src/skriptoteket/infrastructure/curated_apps/apps/classroom_planner/share_scene_renderer.py
  src/skriptoteket/web/api/v1/public_apps_classroom_planner_shares.py
  tests/unit/application/apps/classroom_planner/test_public_shares.py
  tests/unit/infrastructure/curated_apps/apps/classroom_planner/test_share_renderer.py
  tests/unit/web/test_public_apps_classroom_planner_shares.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Add Klassrumskartan scoped sharing and authenticated import epic and related stories
  docs/backlog/epics/epic-26-klassrumskartan-explicit-exports-and-class-list-import.md
  docs/backlog/epics/epic-36-klassrumskartan-scoped-sharing-and-authenticated-import.md
  docs/backlog/prs/pr-0276-st-26-06-spatial-share-page-renderer-and-grouping-polish.md
  docs/backlog/prs/pr-0277-st-26-07-share-link-teams-preview-thumbnails.md
  docs/backlog/reviews/review-pr-0276-spatial-share-page-renderer-and-grouping-polish.md
  docs/backlog/reviews/review-st-26-07-share-link-teams-preview-thumbnails.md
  docs/backlog/stories/story-26-06-klassrumskartan-shareable-html-css-export-links.md
  docs/backlog/stories/story-26-07-klassrumskartan-share-link-teams-preview-thumbnails.md
  docs/index.md
  docs/reference/ref-klassrumskartan-scoped-sharing-and-import-direction-2026-05-01.md
Due: docs-contract-validate

Complete PR-0276: spatial share page renderer and grouping polish
  docs/backlog/epics/epic-26-klassrumskartan-explicit-exports-and-class-list-import.md
  docs/backlog/prs/pr-0276-st-26-06-spatial-share-page-renderer-and-grouping-polish.md
  docs/backlog/reviews/review-pr-0276-spatial-share-page-renderer-and-grouping-polish.md
  docs/backlog/reviews/review-st-26-07-share-link-teams-preview-thumbnails.md
  docs/backlog/stories/story-26-06-klassrumskartan-shareable-html-css-export-links.md
  docs/backlog/stories/story-26-07-klassrumskartan-share-link-teams-preview-thumbnails.md
  src/skriptoteket/infrastructure/curated_apps/apps/classroom_planner/share_scene_renderer.py
  tests/unit/infrastructure/curated_apps/apps/classroom_planner/test_share_renderer.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Fix PR-0276 share chrome finalization
  docs/backlog/epics/epic-26-klassrumskartan-explicit-exports-and-class-list-import.md
  docs/backlog/prs/pr-0276-st-26-06-spatial-share-page-renderer-and-grouping-polish.md
  docs/backlog/reviews/review-pr-0276-spatial-share-page-renderer-and-grouping-polish.md
  docs/backlog/stories/story-26-06-klassrumskartan-shareable-html-css-export-links.md
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/share_artifacts.py
  src/skriptoteket/application/curated_apps/classroom_planner/shares.py
  src/skriptoteket/di/curated_apps.py
  src/skriptoteket/infrastructure/curated_apps/apps/classroom_planner/share_group_renderer.py
  src/skriptoteket/infrastructure/curated_apps/apps/classroom_planner/share_pdf_renderer.py
  src/skriptoteket/infrastructure/curated_apps/apps/classroom_planner/share_renderer.py
  src/skriptoteket/infrastructure/curated_apps/apps/classroom_planner/share_scene_renderer.py
  src/skriptoteket/protocols/classroom_planner_shares.py
  src/skriptoteket/web/routes/classroom_planner_share_pages.py
  tests/unit/application/apps/classroom_planner/test_public_shares.py
  tests/unit/application/apps/classroom_planner/test_share_artifacts.py
  tests/unit/application/apps/classroom_planner/test_share_chrome_finalization.py
  tests/unit/infrastructure/curated_apps/apps/classroom_planner/test_share_pdf_renderer.py
  tests/unit/infrastructure/curated_apps/apps/classroom_planner/test_share_renderer.py
  tests/unit/web/apps/classroom_planner/test_share_pages.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Implement PR-0278 Klassrumskartan PDF redesign
  docs/backlog/epics/epic-26-klassrumskartan-explicit-exports-and-class-list-import.md
  docs/backlog/prs/pr-0278-st-26-08-shared-print-pdf-visual-redesign.md
  docs/backlog/reviews/review-pr-0278-shared-print-pdf-visual-redesign.md
  docs/backlog/stories/story-26-06-klassrumskartan-shareable-html-css-export-links.md
  docs/backlog/stories/story-26-08-klassrumskartan-shared-print-pdf-visual-parity.md
  docs/index.md
  scripts/prove_pr_0278_print_pdf_redesign.py
  src/skriptoteket/infrastructure/curated_apps/apps/classroom_planner/grouping_pdf_renderer.py
  src/skriptoteket/infrastructure/curated_apps/apps/classroom_planner/poster_renderer.py
  src/skriptoteket/infrastructure/curated_apps/apps/classroom_planner/print_pdf_primitives.py
  src/skriptoteket/infrastructure/curated_apps/apps/classroom_planner/share_scene_renderer.py
  tests/unit/infrastructure/curated_apps/apps/classroom_planner/test_grouping_pdf_renderer.py
  tests/unit/infrastructure/curated_apps/apps/classroom_planner/test_poster_renderer.py
  tests/unit/infrastructure/curated_apps/apps/classroom_planner/test_seating_pdf_renderer.py
  tests/unit/infrastructure/curated_apps/apps/classroom_planner/test_share_renderer.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Implement PR-0277 share preview thumbnails
  .codex/long-term-memory/entries/session-2026-05-02-share-and-help-handoff-compaction.md
  .codex/long-term-memory/index.md
  Dockerfile
  docs/backlog/epics/epic-26-klassrumskartan-explicit-exports-and-class-list-import.md
  docs/backlog/prs/pr-0277-st-26-07-share-link-teams-preview-thumbnails.md
  docs/backlog/reviews/review-pr-0277-share-link-teams-preview-thumbnails-implementation.md
  docs/backlog/reviews/review-st-26-07-share-link-teams-preview-thumbnails.md
  docs/backlog/stories/story-26-07-klassrumskartan-share-link-teams-preview-thumbnails.md
  docs/index.md
  migrations/env.py
  migrations/versions/f8a2c6d4e9b1_add_share_preview_assets.py
  pdm.lock
  pyproject.toml
  src/skriptoteket/application/curated_apps/classroom_planner/__init__.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/public_shares.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/share_artifacts.py
  src/skriptoteket/application/curated_apps/classroom_planner/shares.py
  src/skriptoteket/cli/commands/backfill_classroom_share_previews.py
  src/skriptoteket/cli/main.py
  src/skriptoteket/config.py
  src/skriptoteket/di/curated_apps.py
  src/skriptoteket/infrastructure/curated_apps/apps/classroom_planner/share_preview_renderer.py
  src/skriptoteket/infrastructure/db/models/classroom_planner_share_artifact.py
  src/skriptoteket/infrastructure/repositories/classroom_planner_share_artifacts.py
  src/skriptoteket/protocols/classroom_planner_shares.py
  src/skriptoteket/web/routes/classroom_planner_share_pages.py
  tests/integration/database/test_classroom_planner_migration.py
  tests/integration/infrastructure/repositories/test_classroom_planner_public_guest_share_concurrency.py
  tests/integration/infrastructure/repositories/test_classroom_planner_share_artifacts.py
  tests/integration/migration_schema_assertions.py
  tests/unit/application/apps/classroom_planner/test_public_shares.py
  tests/unit/application/apps/classroom_planner/test_share_artifacts.py
  tests/unit/web/apps/classroom_planner/test_share_pages.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Add PR-0277 Hemma share preview deploy gate
  pyproject.toml
  scripts/hemma_deploy_and_verify_share_previews.sh
Due: none

Allow Hemma launcher to fetch new deploy scripts
  scripts/hemma_deploy_start.sh
Due: none

Fix share preview backfill PDM environment
  pyproject.toml
Due: none

Remediate share label typography and auth edge docs
  compose.yaml
  docs/backlog/epics/epic-26-klassrumskartan-explicit-exports-and-class-list-import.md
  docs/backlog/epics/epic-28-skriptoteket-auth-authority-cutover-to-huleedu.md
  docs/backlog/epics/epic-35-launch-seo-and-search-indexing-readiness.md
  docs/backlog/prs/pr-0277-st-26-07-share-link-teams-preview-thumbnails.md
  docs/backlog/prs/pr-0279-st-26-06-shared-link-seating-label-typography-and-long-name-fit.md
  docs/backlog/prs/pr-0280-st-28-04-hemma-reboot-auth-edge-startup-readiness-contract.md
  docs/backlog/reviews/review-pr-0279-shared-link-seating-label-typography.md
  docs/backlog/stories/story-26-06-klassrumskartan-shareable-html-css-export-links.md
  docs/backlog/stories/story-26-07-klassrumskartan-share-link-teams-preview-thumbnails.md
  docs/backlog/stories/story-28-04-cross-app-auth-cutover-smoke-and-operator-runbook-proof.md
  docs/backlog/stories/story-35-01-canonical-public-host-and-edge-indexability-decision-package.md
  docs/index.md
  docs/reference/ref-home-server-nginx-proxy.md
  docs/reference/ref-home-server-security-hardening.md
  docs/reference/ref-huleedu-launch-surface-and-shared-auth-topology-2026-04-08.md
  docs/reference/ref-launch-seo-and-search-indexing-readiness-2026-04-08.md
  docs/runbooks/runbook-home-server.md
  scripts/prove_pr_0279_share_label_typography.py
  src/skriptoteket/infrastructure/curated_apps/apps/classroom_planner/share_label_fit.py
  src/skriptoteket/infrastructure/curated_apps/apps/classroom_planner/share_renderer.py
  src/skriptoteket/infrastructure/curated_apps/apps/classroom_planner/share_scene_renderer.py
  tests/unit/application/apps/classroom_planner/test_authenticated_shares.py
  tests/unit/infrastructure/curated_apps/apps/classroom_planner/test_share_pdf_renderer.py
  tests/unit/infrastructure/curated_apps/apps/classroom_planner/test_share_renderer.py
  tests/unit/test_docker_dev_shared_auth_contract.py
  tests/unit/web/apps/classroom_planner/test_share_api.py
  tests/unit/web/test_public_apps_classroom_planner_shares.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Remediate PR-0279 share preview refresh
  docs/backlog/prs/pr-0279-st-26-06-shared-link-seating-label-typography-and-long-name-fit.md
  docs/backlog/prs/pr-0281-st-29-11-toolbar-processing-spinner-and-status-pill-removal.md
  docs/backlog/reviews/review-pr-0279-shared-link-seating-label-typography.md
  docs/backlog/stories/story-29-11-klassrumskartan-shared-site-and-app-dense-control-primitive-tightening.md
  docs/index.md
  frontend/apps/skriptoteket/src/components/ui/UiDenseActionButton.vue
  frontend/apps/skriptoteket/src/components/ui/UiDenseSpinner.vue
  frontend/apps/skriptoteket/src/components/ui/UiDenseSplitButton.vue
  frontend/apps/skriptoteket/src/components/ui/index.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerExportActionGroup.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspacePane.export.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspaceToolbar.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspacePane.export.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspaceToolbar.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerShareLinksPanel.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerShareLinksPanel.vue
  scripts/prove_pr_0279_share_label_typography.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/share_artifacts.py
  src/skriptoteket/application/curated_apps/classroom_planner/share_artifact_refresh.py
  src/skriptoteket/cli/commands/backfill_classroom_share_previews.py
  src/skriptoteket/di/curated_apps.py
  src/skriptoteket/infrastructure/curated_apps/apps/classroom_planner/share_renderer.py
  src/skriptoteket/infrastructure/repositories/classroom_planner_share_artifacts.py
  src/skriptoteket/protocols/classroom_planner_shares.py
  tests/integration/infrastructure/repositories/test_classroom_planner_share_artifacts.py
  tests/unit/application/apps/classroom_planner/test_public_shares.py
  tests/unit/application/apps/classroom_planner/test_share_artifacts.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Close PR-0281 dense spinner follow-up
  docs/backlog/prs/pr-0281-st-29-11-toolbar-processing-spinner-and-status-pill-removal.md
  docs/backlog/stories/story-29-11-klassrumskartan-shared-site-and-app-dense-control-primitive-tightening.md
  frontend/apps/skriptoteket/src/components/ui/UiDenseActionButton.vue
  frontend/apps/skriptoteket/src/components/ui/UiDenseSplitButton.vue
Due: docs-contract-validate, eslint

Close PR-0279 review gate and share follow-ups
  docs/backlog/epics/epic-26-klassrumskartan-explicit-exports-and-class-list-import.md
  docs/backlog/prs/pr-0282-st-26-06-shared-link-pdf-download-spinner-contract.md
  docs/backlog/prs/pr-0283-st-28-04-local-auth-edge-bootstrap-preflight.md
  docs/backlog/reviews/review-pr-0279-shared-link-seating-label-typography.md
  docs/backlog/reviews/review-pr-0283-local-auth-edge-bootstrap-preflight.md
  docs/backlog/stories/story-26-06-klassrumskartan-shareable-html-css-export-links.md
  docs/backlog/stories/story-28-04-cross-app-auth-cutover-smoke-and-operator-runbook-proof.md
  docs/backlog/stories/story-29-11-klassrumskartan-shared-site-and-app-dense-control-primitive-tightening.md
  docs/index.md
  src/skriptoteket/infrastructure/curated_apps/apps/classroom_planner/share_download_action_renderer.py
  src/skriptoteket/infrastructure/curated_apps/apps/classroom_planner/share_renderer.py
  tests/unit/infrastructure/curated_apps/apps/classroom_planner/test_share_pdf_download_controller.py
  tests/unit/infrastructure/curated_apps/apps/classroom_planner/test_share_renderer.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Record PR-0279 deploy evidence
  docs/backlog/epics/epic-26-klassrumskartan-explicit-exports-and-class-list-import.md
  docs/backlog/prs/pr-0279-st-26-06-shared-link-seating-label-typography-and-long-name-fit.md
  docs/backlog/stories/story-26-06-klassrumskartan-shareable-html-css-export-links.md
  docs/backlog/stories/story-26-07-klassrumskartan-share-link-teams-preview-thumbnails.md
Due: docs-contract-validate

Close PR-0282 download handoff review
  docs/backlog/epics/epic-26-klassrumskartan-explicit-exports-and-class-list-import.md
  docs/backlog/prs/pr-0282-st-26-06-shared-link-pdf-download-spinner-contract.md
  docs/backlog/reviews/review-pr-0282-shared-link-pdf-download-spinner-contract.md
  docs/backlog/stories/story-26-06-klassrumskartan-shareable-html-css-export-links.md
  docs/backlog/stories/story-29-11-klassrumskartan-shared-site-and-app-dense-control-primitive-tightening.md
  docs/index.md
  scripts/prove_pr_0282_share_pdf_download_handoff.py
  src/skriptoteket/infrastructure/curated_apps/apps/classroom_planner/share_download_action_renderer.py
  tests/unit/infrastructure/curated_apps/apps/classroom_planner/test_share_pdf_download_controller.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Implement Klassrumskartan small-screen overview
  docs/backlog/prs/pr-0285-st-29-14-small-screen-overview-dashboard.md
  frontend/apps/skriptoteket/src/assets/main.css
  frontend/apps/skriptoteket/src/components/icons/IconEdit.vue
  frontend/apps/skriptoteket/src/components/icons/index.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerView.vue
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerRouteShellWorkspace.ts
  frontend/apps/skriptoteket/src/views/apps/components/CreateRoomTemplateModal.vue
  frontend/apps/skriptoteket/src/views/apps/components/CreateRosterModal.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/CreateRosterModal.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerClassWorkspace.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerClassWorkspace.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspacePane.smart-rules.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspacePane.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerPhoneOverviewShareExportRow.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRulesWorkspacePane.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRulesWorkspacePane.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspacePane.smart-rules.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspacePane.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerShareExportPanel.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerShareExportPanel.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerTopPanel.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerTopPanel.vue
  frontend/apps/skriptoteket/src/views/apps/components/RoomCanvas.vue
  frontend/apps/skriptoteket/src/views/apps/components/plannerShareExportActions.ts
  frontend/apps/skriptoteket/src/views/apps/useClassroomPlannerRouteShell.ts
Due: docs-contract-validate, eslint

Complete Klassrumskartan small-screen redesign
  docs/backlog/prs/pr-0284-st-29-13-small-screen-mode-sheet-shell.md
  docs/backlog/prs/pr-0288-st-29-15-small-screen-grouping-workspace.md
  docs/backlog/prs/pr-0289-st-29-16-small-screen-seating-workspace.md
  docs/backlog/prs/pr-0290-st-29-17-small-screen-rules-workspace.md
  docs/backlog/stories/story-29-13-klassrumskartan-small-screen-shell-and-mode-switcher-redesign.md
  docs/backlog/stories/story-29-14-klassrumskartan-small-screen-overview-redesign.md
  docs/backlog/stories/story-29-15-klassrumskartan-small-screen-grouping-redesign.md
  docs/backlog/stories/story-29-16-klassrumskartan-small-screen-seating-redesign.md
  docs/backlog/stories/story-29-17-klassrumskartan-small-screen-rules-redesign.md
  frontend/apps/skriptoteket/src/assets/main.css
  frontend/apps/skriptoteket/src/components/icons/IconArmchair.vue
  frontend/apps/skriptoteket/src/components/icons/IconClipboardList.vue
  frontend/apps/skriptoteket/src/components/icons/IconGraduationCap.vue
  frontend/apps/skriptoteket/src/components/icons/IconPlus.vue
  frontend/apps/skriptoteket/src/components/icons/IconUsersRound.vue
  frontend/apps/skriptoteket/src/components/icons/index.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerClassWorkspace.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerClassWorkspace.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspacePane.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspaceToolbar.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerPhoneOverviewShareExportRow.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRosterOverviewPanel.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRulesWorkspacePane.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerRulesWorkspacePane.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspacePane.smart-rules.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspacePane.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspaceToolbar.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerShareExportPanel.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerTemplateOverviewPanel.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerTopPanel.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerTopPanel.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceActionBar.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/RoomCanvas.vue
  frontend/apps/skriptoteket/src/views/apps/components/usePlannerToolbarOverflow.ts
  scripts/playwright_st_29_small_screen_remaining_workspaces.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Redesign Klassrumskartan small-screen workspaces
  frontend/apps/skriptoteket/src/assets/klassrumskartan-small-screen.css
  frontend/apps/skriptoteket/src/assets/main.css
  frontend/apps/skriptoteket/src/main.ts
  frontend/apps/skriptoteket/src/views/apps/components/CreateRoomTemplateModal.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerClassWorkspace.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerClassWorkspace.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspacePane.export.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspacePane.smart-rules.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspacePane.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspaceToolbar.overflow.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspaceToolbar.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerPhoneOverviewShareExportRow.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspacePane.export.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspaceToolbar.overflow.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspaceToolbar.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerShareExportFileSection.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerShareExportLinkSection.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerShareExportPanel.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerShareExportPanel.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerShareExportScopeList.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerToolbarOverflowMenu.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerTopPanel.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/components/RoomTemplateBuilderSurface.vue
  frontend/apps/skriptoteket/src/views/apps/components/usePlannerToolbarOverflow.ts
  scripts/_playwright_classroom_planner.py
  scripts/playwright_pr_0286_share_export_affordance.py
  scripts/playwright_st_29_small_screen_remaining_workspaces.py
Due: ruff-format, ruff-lint, mypy, pytest, eslint

Refine Klassrumskartan overview empty state
  frontend/apps/skriptoteket/src/assets/klassrumskartan-small-screen.css
  frontend/apps/skriptoteket/src/assets/main.css
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestOverviewView.vue
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerView.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerClassWorkspace.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerClassWorkspace.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerOverviewSetupPanel.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerTopPanel.vue
  scripts/playwright_st_29_small_screen_remaining_workspaces.py
Due: ruff-format, ruff-lint, mypy, pytest, eslint

Restore desktop overview previews
  frontend/apps/skriptoteket/src/assets/klassrumskartan-small-screen.css
  frontend/apps/skriptoteket/src/assets/main.css
  frontend/apps/skriptoteket/src/views/apps/components/PlannerClassWorkspace.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerClassWorkspace.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerDesktopOverviewSetupPanel.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerDesktopRosterOverviewSection.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerDesktopRosterOverviewSection.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerDesktopTemplateOverviewSection.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerDesktopTemplateOverviewSection.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerPhoneOverviewSetupPanel.vue
Due: eslint

Align desktop overview share panel
  frontend/apps/skriptoteket/src/assets/main.css
  frontend/apps/skriptoteket/src/views/apps/components/PlannerClassWorkspace.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerOverviewDistributionPanel.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerShareExportFileSection.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerShareExportLinkSection.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerShareExportPanel.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerShareExportPanel.vue
  scripts/playwright_st_29_small_screen_remaining_workspaces.py
Due: ruff-format, ruff-lint, mypy, pytest, eslint

Align auth login fallback with refreshed brand
  frontend/apps/skriptoteket/src/components/auth/AuthLoginPanel.vue
  frontend/apps/skriptoteket/src/views/AuthLoginView.vue
Due: eslint

Add modal shell surface token
  .codex/rules/045-huleedu-design-system.md
  docs/backlog/prs/pr-0295-st-11-26-huleedu-palette-token-refresh.md
  docs/backlog/stories/story-11-26-huleedu-palette-token-refresh.md
  docs/reference/ref-frontend-design-system-codemap-2026-03-28.md
  frontend/apps/skriptoteket/src/assets/klassrumskartan-small-screen.css
  frontend/apps/skriptoteket/src/components/admin/CreateDraftToolModal.vue
  frontend/apps/skriptoteket/src/components/editor/ChatDrawer.vue
  frontend/apps/skriptoteket/src/components/editor/InstructionsDrawer.vue
  frontend/apps/skriptoteket/src/components/editor/MaintainersDrawer.vue
  frontend/apps/skriptoteket/src/components/editor/MetadataDrawer.vue
  frontend/apps/skriptoteket/src/components/editor/VersionHistoryDrawer.vue
  frontend/apps/skriptoteket/src/components/editor/WorkflowActionModal.vue
  frontend/apps/skriptoteket/src/components/editor/WorkingCopyRestorePrompt.vue
  frontend/apps/skriptoteket/src/components/help/HelpPanel.vue
  frontend/apps/skriptoteket/src/components/help/MicroHelp.vue
  frontend/apps/skriptoteket/src/components/vault/VaultPanel.vue
  frontend/apps/skriptoteket/src/components/vault/VaultPickerModal.vue
  frontend/apps/skriptoteket/src/styles/tailwind-theme.css
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerEntryView.vue
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestUpgradePrompt.vue
  frontend/apps/skriptoteket/src/views/apps/components/CreateRoomTemplateModal.vue
  frontend/apps/skriptoteket/src/views/apps/components/CreateRosterModal.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/CreateRosterModal.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerConfirmationDialog.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingSettingsDrawer.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerHistoryDrawer.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingSettingsDrawer.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerShareExportPanel.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerShareLinksPanel.vue
  frontend/apps/skriptoteket/src/views/apps/reagent-prep-chef/ReagentPrepChefSdsModal.vue
  frontend/apps/skriptoteket/src/views/apps/reagent-prep-chef/ReagentPrepChefSettingsPopover.vue
  frontend/apps/skriptoteket/src/views/apps/reagent-prep-chef/ReagentPrepChefStepReagent.vue
  src/skriptoteket/web/static/css/huleedu-design-tokens.css
Due: docs-contract-validate, eslint

Fix share export link list scrolling
  frontend/apps/skriptoteket/src/assets/klassrumskartan-small-screen.css
  frontend/apps/skriptoteket/src/assets/main.css
  frontend/apps/skriptoteket/src/views/apps/components/PlannerClassWorkspace.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerOverviewDistributionPanel.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerShareExportLinkSection.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerShareExportPanel.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerShareLinksPanel.vue
Due: eslint

Use opaque planner workspace action bar
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceActionBar.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceActionBar.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.spec.ts
Due: eslint

Fix Klassrumskartan toolbar overflow parity
  docs/backlog/prs/pr-0302-st-29-11-planner-toolbar-overflow-priority-regression.md
  docs/backlog/stories/story-29-11-klassrumskartan-shared-site-and-app-dense-control-primitive-tightening.md
  docs/index.md
  frontend/apps/skriptoteket/src/api/openapi.d.ts
  frontend/apps/skriptoteket/src/assets/klassrumskartan-phone-workspace.css
  frontend/apps/skriptoteket/src/assets/klassrumskartan-responsive-workspace.css
  frontend/apps/skriptoteket/src/assets/klassrumskartan-small-screen.css
  frontend/apps/skriptoteket/src/assets/main.css
  frontend/apps/skriptoteket/src/components/ui/denseToolPrimitives.spec.ts
  frontend/apps/skriptoteket/src/components/ui/denseToolPrimitives.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspaceToolbar.overflow.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspaceToolbar.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspaceToolbar.overflow.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspaceToolbar.vue
  frontend/apps/skriptoteket/src/views/apps/components/usePlannerToolbarOverflow.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/usePlannerToolbarOverflow.ts
  scripts/playwright_pr_0302_toolbar_overflow_parity.py
  src/skriptoteket/application/curated_apps/classroom_planner/guest_smart_rule_fingerprints.py
  src/skriptoteket/application/curated_apps/classroom_planner/guest_upgrade_contracts.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/guest_upgrade_assets.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/public_smart_rules.py
  src/skriptoteket/application/curated_apps/classroom_planner/handlers/public_smart_run_support.py
  tests/unit/application/apps/classroom_planner/test_public_smart_run.py
  tests/unit/scripts/test_klassrumskartan_surface_tokens.py
  tests/unit/scripts/test_playwright_script_surface.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Fix public guest overview distribution
  docs/backlog/epics/epic-26-klassrumskartan-explicit-exports-and-class-list-import.md
  docs/backlog/epics/epic-29-klassrumskartan-desktop-first-workspace-overhaul.md
  docs/backlog/prs/pr-0303-st-26-06-public-guest-overview-share-export-state-wiring.md
  docs/backlog/stories/story-26-06-klassrumskartan-shareable-html-css-export-links.md
  docs/backlog/stories/story-29-11-klassrumskartan-shared-site-and-app-dense-control-primitive-tightening.md
  docs/index.md
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestOverviewView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ClassroomPlannerGuestOverviewView.vue
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerGuestDraftPersistence.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerPublicShareFlow.spec.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerPublicShareFlow.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerClassWorkspace.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerOverviewDistributionPanel.vue
  frontend/apps/skriptoteket/src/views/apps/useClassroomPlannerGuestController.ts
  frontend/apps/skriptoteket/src/views/apps/useClassroomPlannerGuestGroupingContext.spec.ts
  scripts/playwright_pr_0303_public_guest_overview_distribution.py
  tests/unit/scripts/test_playwright_script_surface.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Finalize Klassrumskartan Smart defaults and fixed-seat markers
  docs/backlog/prs/pr-0302-st-29-11-planner-toolbar-overflow-priority-regression.md
  docs/backlog/prs/pr-0304-st-27-09-seating-workspace-fixed-seat-lock-marker.md
  docs/backlog/stories/story-27-09-klassrumskartan-fixed-seat-rules-and-classroom-view-first-authoring.md
  docs/backlog/stories/story-29-11-klassrumskartan-shared-site-and-app-dense-control-primitive-tightening.md
  docs/index.md
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerGuestDraftMutations.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerGuestDraftWorkspace.spec.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerGuestSnapshotMapping.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerSmartDefaults.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerSmartRuleActions.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerSmartRunActions.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerStateSupport.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspaceToolbar.overflow.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspaceToolbar.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspacePane.smart-rules.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspacePane.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspaceToolbar.overflow.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspaceToolbar.vue
  frontend/apps/skriptoteket/src/views/apps/components/RoomCanvas.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/RoomCanvas.vue
  frontend/apps/skriptoteket/src/views/apps/components/SeatNode.vue
  frontend/apps/skriptoteket/src/views/apps/components/usePlannerToolbarOverflow.spec.ts
  src/skriptoteket/application/curated_apps/classroom_planner/guest_upgrade_contracts.py
  src/skriptoteket/application/curated_apps/classroom_planner/public_smart_run_contracts.py
  src/skriptoteket/domain/curated_apps/classroom_planner/models.py
  src/skriptoteket/web/api/v1/apps_classroom_planner_draft_contracts.py
  tests/unit/application/apps/classroom_planner/test_draft_lifecycle.py
  tests/unit/infrastructure/repositories/test_classroom_planner_review_fixes.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Fix classroom toolbar priority and smart settings defaults
  docs/backlog/prs/pr-0305-st-29-11-smart-advanced-settings-drawer-copy-and-history-default.md
  docs/backlog/prs/pr-0306-st-29-11-share-priority-and-smart-settings-opt-out-parity.md
  docs/backlog/stories/story-29-11-klassrumskartan-shared-site-and-app-dense-control-primitive-tightening.md
  docs/index.md
  docs/reference/ref-development-changelog.md
  frontend/apps/skriptoteket/src/assets/klassrumskartan-responsive-workspace.css
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerGuestDraftMutations.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerGuestDraftWorkspace.spec.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerGuestSnapshotMapping.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerSmartDefaults.spec.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerSmartDefaults.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerSmartRuleActions.spec.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerSmartRuleActions.ts
  frontend/apps/skriptoteket/src/views/apps/classroomPlannerStateSupport.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingSettingsDrawer.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspacePane.export.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspaceToolbar.overflow.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerGroupingWorkspaceToolbar.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingSettingsDrawer.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspacePane.export.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspaceToolbar.overflow.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSeatingWorkspaceToolbar.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerSmartSettingsDrawer.spec.ts
  frontend/apps/skriptoteket/src/views/apps/components/PlannerToolbarOverflowMenu.vue
  frontend/apps/skriptoteket/src/views/apps/components/PlannerWorkspaceShell.spec.ts
  migrations/versions/3f6d8a2c4b91_default_plan_draft_use_history_on.py
  migrations/versions/8a6d4c2f1b09_default_grouping_seating_distance_on.py
  scripts/_playwright_huleedu_auth.py
  scripts/playwright_pr_0302_toolbar_overflow_parity.py
  src/skriptoteket/application/curated_apps/classroom_planner/guest_upgrade_contracts.py
  src/skriptoteket/application/curated_apps/classroom_planner/public_smart_run_contracts.py
  src/skriptoteket/domain/curated_apps/classroom_planner/models.py
  src/skriptoteket/infrastructure/db/models/classroom_planner_plan_draft.py
  src/skriptoteket/web/api/v1/apps_classroom_planner_draft_contracts.py
  tests/integration/migration_revision_coverage.py
  tests/integration/migration_schema_assertions.py
  tests/integration/migration_schema_helpers.py
  tests/integration/migration_schema_share_assertions.py
  tests/unit/application/apps/classroom_planner/test_draft_lifecycle.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint
