Repository paunchygent/skriptoteket: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff format (staged files)
        entry: pdm run ruff format --force-exclude
        language: system
        types: [python]
        pass_filenames: true

      - id: ruff-lint
        name: Ruff lint (staged files)
        entry: pdm run ruff check --force-exclude
        language: system
        types: [python]
        pass_filenames: true

      - id: mypy
        name: Mypy typecheck (src + tests)
        entry: pdm run typecheck
        language: system
        types: [python]
        pass_filenames: false

      - id: pytest
        name: Pytest (unit suite)
        entry: pdm run test
        language: system
        types: [python]
        pass_filenames: false

      - id: docs-contract-validate
        name: Docs contract validate (placement + naming + frontmatter)
        entry: pdm run docs-validate
        language: system
        files: ^docs/
        pass_filenames: false

      - id: agent-doc-budgets
        name: Agent docs line budgets (.agent/*)
        entry: pdm run python -m scripts.check_agent_doc_budgets
        language: system
        files: ^\.agent/(readme-first\.md|handoff\.md)$
        pass_filenames: false

      - id: eslint
        name: ESLint (frontend)
        entry: pnpm --filter @skriptoteket/spa lint
        language: system
        files: ^frontend/apps/skriptoteket/src/.*\.(vue|ts|js)$
        pass_filenames: false

chore: repin repository-governance 0.10.2
  pdm.lock
  pyproject.toml
Due: none

chore: pin repository-governance 0.10.3
  pdm.lock
  pyproject.toml
Due: none

chore: update repository-governance to 0.10.4
  pdm.lock
  pyproject.toml
Due: none

chore: advance repository governance to 0.10.5
  pdm.lock
  pyproject.toml
Due: none

chore: pin repository-governance 0.10.8
  pdm.lock
  pyproject.toml
Due: none

chore(governance): adopt repository-governance 0.10.9
  pdm.lock
  pyproject.toml
Due: none

chore: advance repository-governance to 0.10.10
  pdm.lock
  pyproject.toml
Due: none

Pin repository-governance 0.10.11
  pdm.lock
  pyproject.toml
Due: none

chore(governance): advance repository runtime to 0.11.0
  pdm.lock
  pyproject.toml
Due: none

chore(governance): pin repository-governance 0.11.1
  pdm.lock
  pyproject.toml
Due: none

docs(governance): scaffold TASK-SKRIPT-REP-0030
  docs/backlog/tasks/task-skript-rep-0030-adopt-the-repository-governance-binding-durability-repair.md
  docs/repository-index.json
Due: docs-contract-validate

chore(governance): adopt repository-governance 0.11.4
  docs/backlog/tasks/task-skript-rep-0030-adopt-the-repository-governance-binding-durability-repair.md
  docs/repository-index.json
  pdm.lock
  pyproject.toml
Due: docs-contract-validate

docs(governance): scaffold TASK-SKRIPT-REP-0031
  docs/backlog/tasks/task-skript-rep-0031-adopt-the-repository-governance-live-authority-resolution-repair.md
  docs/repository-index.json
Due: docs-contract-validate

chore(governance): adopt repository-governance 0.11.6
  docs/backlog/tasks/task-skript-rep-0031-adopt-the-repository-governance-live-authority-resolution-repair.md
  docs/repository-index.json
  pdm.lock
  pyproject.toml
Due: docs-contract-validate

build: pin repository-governance 0.11.9 intermediate
  pdm.lock
  pyproject.toml
Due: none

build: cut over repository-governance 0.11.10
  pdm.lock
  pyproject.toml
Due: none

docs: reconcile repository-governance cutover
  docs/backlog/tasks/task-skript-rep-0030-adopt-the-repository-governance-binding-durability-repair.md
  docs/backlog/tasks/task-skript-rep-0031-adopt-the-repository-governance-live-authority-resolution-repair.md
  docs/repository-index.json
  docs/runbooks/run-skript-runbook-testing-pytest-vitest-playwright-runbook-testing-pytest-vitest-playwright.md
  handoff.md
Due: docs-contract-validate

chore(governance): adopt repository-governance 0.11.11
  .codex/skills/repo-code-map/references/platform-discovery-overview.md
  AGENTS.md
  docs/_meta/README.md
  docs/_meta/historical-docs-contract.yaml
  docs/index.md
  pdm.lock
  pyproject.toml
Due: docs-contract-validate

chore(governance): pin repository-governance 0.11.13
  pdm.lock
  pyproject.toml
Due: none

chore(governance): cut over to 0.11.14
  pdm.lock
  pyproject.toml
Due: none

chore(governance): cut over to 0.11.15
  pdm.lock
  pyproject.toml
Due: none

chore(governance): adopt repository-governance 0.11.16
  pdm.lock
  pyproject.toml
Due: none

chore(governance): cut over to 0.11.17
  pdm.lock
  pyproject.toml
Due: none

chore: cut over repository-governance 0.11.18
  pdm.lock
  pyproject.toml
Due: none

chore(governance): cut over to 0.11.19
  pdm.lock
  pyproject.toml
Due: none

chore(governance): cut over to 0.11.20
  pdm.lock
  pyproject.toml
Due: none

chore(governance): cut over to 0.11.21
  pdm.lock
  pyproject.toml
Due: none

chore(governance): advance repository governance to 0.11.22
  pdm.lock
  pyproject.toml
Due: none

chore(governance): advance repository governance to 0.11.23
  pdm.lock
  pyproject.toml
Due: none

docs(backlog): plan shared Hemma switching adapter
  docs/backlog/tasks/task-skript-rep-0032-adopt-shared-hemma-workload-switching-for-skriptoteket-production-services.md
  docs/repository-index.json
Due: docs-contract-validate

Make Hemma cleanup units idle-safe
  docs/backlog/tasks/task-skript-rep-0026-st-28-04-make-hemma-cleanup-units-idle-safe.md
  docs/reference/INDEX.md
  docs/reference/ref-skript-general-reference-home-server-cleanup-timers-reference-home-server-cleanup-timers.md
  docs/repository-index.json
  docs/runbooks/run-skript-runbook-home-server-operations-runbook-home-server-operations-part-02.md
  scripts/hemma_cleanup_if_running.sh
  scripts/install_hemma_cleanup_units.sh
  systemd/skriptoteket-sandbox-snapshots-cleanup.service
  systemd/skriptoteket-sandbox-snapshots-cleanup.timer
  systemd/skriptoteket-session-files-cleanup.service
  systemd/skriptoteket-session-files-cleanup.timer
  tests/unit/scripts/test_hemma_cleanup_units.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Close TASK-SKRIPT-REP-0026
  docs/backlog/tasks/task-skript-rep-0026-st-28-04-make-hemma-cleanup-units-idle-safe.md
  docs/repository-index.json
  handoff.md
Due: docs-contract-validate

docs(backlog): narrow Task 0032 composition authority
  docs/backlog/tasks/task-skript-rep-0032-adopt-shared-hemma-workload-switching-for-skriptoteket-production-services.md
  docs/repository-index.json
Due: docs-contract-validate

feat(hemma): export Skriptoteket workload adapters
  docs/backlog/tasks/task-skript-rep-0032-adopt-shared-hemma-workload-switching-for-skriptoteket-production-services.md
  docs/repository-index.json
  handoff.md
  pdm.lock
  pyproject.toml
  scripts/hemma_workload.py
  tests/unit/scripts/test_hemma_workload.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

docs(backlog): propose EPIC-SKRIPT-39 Skriptoteket-owned exam conversion with ADR-SKRIPT-0090
  docs/backlog/INDEX.md
  docs/backlog/epics/epic-skript-39-skriptoteket-owned-exam-conversion.md
  docs/decisions/INDEX.md
  docs/decisions/adr-skript-0090-skriptoteket-owned-exam-conversion-boundary-with-sir-convert-generic-extraction.md
  docs/repository-index.json
  handoff.md
Due: docs-contract-validate

docs(backlog): activate EPIC-SKRIPT-39 and accept ADR-SKRIPT-0090 on user closure approval
  docs/backlog/INDEX.md
  docs/backlog/epics/epic-skript-39-skriptoteket-owned-exam-conversion.md
  docs/decisions/INDEX.md
  docs/decisions/adr-skript-0090-skriptoteket-owned-exam-conversion-boundary-with-sir-convert-generic-extraction.md
  docs/repository-index.json
  handoff.md
Due: docs-contract-validate

adopt repository-governance 0.11.29
  pdm.lock
  pyproject.toml
Due: none

docs(backlog): scaffold ST-SKRIPT-39-01 walking skeleton and its first task
  docs/backlog/INDEX.md
  docs/backlog/stories/st-skript-39-01-walking-skeleton-for-skriptoteket-owned-exam-conversion.md
  docs/backlog/tasks/task-skript-39-01-01-prove-the-in-process-dxe-to-exam-net-bundle-walking-skeleton.md
  docs/decisions/INDEX.md
  docs/repository-index.json
Due: docs-contract-validate

docs(backlog): start ST-SKRIPT-39-01 walking skeleton on user closure approval
  docs/backlog/INDEX.md
  docs/backlog/stories/st-skript-39-01-walking-skeleton-for-skriptoteket-owned-exam-conversion.md
  docs/backlog/tasks/task-skript-39-01-01-prove-the-in-process-dxe-to-exam-net-bundle-walking-skeleton.md
  docs/decisions/INDEX.md
  docs/repository-index.json
Due: docs-contract-validate
