Repository paunchygent/skriptoteket: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

ruff-format:
  name: Ruff format (staged files)
  entry: pdm run ruff format --force-exclude
  language: system
  pass_filenames: true

ruff-lint:
  name: Ruff lint (staged files)
  entry: pdm run ruff check --force-exclude
  language: system
  pass_filenames: true

mypy:
  name: Mypy typecheck (src + tests)
  entry: pdm run typecheck
  language: system
  pass_filenames: false

pytest:
  name: Pytest (unit suite)
  entry: pdm run test
  language: system
  pass_filenames: false

docs-contract-validate:
  name: Docs contract validate (placement + naming + frontmatter)
  entry: pdm run docs-validate
  language: system
  pass_filenames: false

agent-doc-budgets:
  name: Agent docs line budgets (.agent/*)
  entry: pdm run python -m scripts.check_agent_doc_budgets
  language: system
  pass_filenames: false

eslint:
  name: ESLint (frontend)
  entry: pnpm --filter @skriptoteket/spa lint
  language: system
  pass_filenames: false

feat: add on-demand QTI/PDF/DOCX exports for exam workspace documents
  src/skriptoteket/application/curated_apps/exam_workspace_exports.py
  src/skriptoteket/application/curated_apps/handlers/exam_workspace_exports.py
  src/skriptoteket/di/exam_workspace.py
  src/skriptoteket/domain/curated_apps/exam_workspace/examnet_pdf_export.py
  src/skriptoteket/domain/curated_apps/exam_workspace/examnet_qti_export.py
  src/skriptoteket/infrastructure/curated_apps/apps/conversion_hub/exam_workspace_docx_writer.py
  src/skriptoteket/protocols/exam_workspace.py
  src/skriptoteket/web/api/v1/apps_conversion_hub_exam_workspace.py
  tests/unit/application/curated_apps/handlers/test_exam_workspace_exports_handler.py
  tests/unit/application/curated_apps/test_exam_workspace_exports.py
  tests/unit/domain/curated_apps/exam_workspace/test_examnet_pdf_export.py
  tests/unit/domain/curated_apps/exam_workspace/test_examnet_qti_export.py
  tests/unit/infrastructure/curated_apps/test_exam_workspace_docx_writer.py
Due: ruff-format, ruff-lint, mypy, pytest

feat: add minimal exam workspace frontend view
  frontend/apps/skriptoteket/src/api/examWorkspace.spec.ts
  frontend/apps/skriptoteket/src/api/examWorkspace.ts
  frontend/apps/skriptoteket/src/router/routes.spec.ts
  frontend/apps/skriptoteket/src/router/routes.ts
  frontend/apps/skriptoteket/src/views/apps/ExamWorkspaceView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamWorkspaceView.vue
  frontend/apps/skriptoteket/src/views/apps/ExamWorkspaceWalkingSkeletonSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceItemEditor.vue
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/examWorkspaceRows.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/examWorkspaceRows.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/useExamWorkspaceDocument.ts
Due: eslint

test: add idempotency coverage for vault lineage migration
  tests/integration/test_migration_7c3e9a1d4f20_idempotent.py
Due: ruff-format, ruff-lint, mypy, pytest

feat: wire the answer-key proposal line to the exam workspace
  migrations/versions/d4f8b2c6a9e1_generalize_exam_answer_key_enrichment_for_workspace.py
  src/skriptoteket/application/curated_apps/exam_answer_key_enrichment.py
  src/skriptoteket/application/curated_apps/handlers/exam_answer_key_enrichment_jobs.py
  src/skriptoteket/application/curated_apps/handlers/exam_answer_key_provider_attempts.py
  src/skriptoteket/application/curated_apps/handlers/exam_workspace_enrichment.py
  src/skriptoteket/di/curated_apps.py
  src/skriptoteket/domain/curated_apps/exam_workspace/answer_key_prompts.py
  src/skriptoteket/domain/curated_apps/exam_workspace/answer_key_view.py
  src/skriptoteket/infrastructure/db/models/exam_answer_key_enrichment_job.py
  src/skriptoteket/infrastructure/db/models/exam_answer_key_proposed_overlay.py
  src/skriptoteket/infrastructure/repositories/exam_answer_key_enrichment_jobs.py
  src/skriptoteket/infrastructure/repositories/exam_answer_key_proposed_overlays.py
  src/skriptoteket/protocols/exam_answer_key.py
  src/skriptoteket/web/api/v1/apps_conversion_hub_exam_workspace_enrichment.py
  src/skriptoteket/web/router.py
  tests/integration/test_migration_d4f8b2c6a9e1_idempotent.py
  tests/unit/application/curated_apps/handlers/test_exam_answer_key_enrichment_workspace_jobs.py
  tests/unit/application/curated_apps/handlers/test_exam_workspace_enrichment.py
  tests/unit/domain/curated_apps/exam_workspace/test_answer_key_prompts.py
  tests/unit/domain/curated_apps/exam_workspace/test_answer_key_view.py
Due: ruff-format, ruff-lint, mypy, pytest

docs: record walking-skeleton implementation state and verification
  docs/backlog/INDEX.md
  docs/backlog/tasks/task-skript-39-04-01-docx-walking-skeleton-import-native-edit-and-create-save-and-reopen-export.md
  docs/decisions/INDEX.md
  docs/repository-index.json
  handoff.md
Due: docs-contract-validate

Advance repository-governance pin to 0.11.86
  pdm.lock
  pyproject.toml
Due: none

Advance repository-governance pin to 0.11.87
  pdm.lock
  pyproject.toml
Due: none

Advance repository-governance pin to 0.11.88
  pdm.lock
  pyproject.toml
Due: none

Advance repository-governance pin to 0.11.89
  pdm.lock
  pyproject.toml
Due: none

feat: list exam workspace documents as head versions for reopen
  src/skriptoteket/application/curated_apps/exam_workspace.py
  src/skriptoteket/application/curated_apps/handlers/exam_workspace_documents.py
  src/skriptoteket/di/exam_workspace.py
  src/skriptoteket/infrastructure/repositories/user_vault_file_repository.py
  src/skriptoteket/protocols/vault.py
  src/skriptoteket/web/api/v1/apps_conversion_hub_exam_workspace.py
  tests/unit/application/curated_apps/handlers/test_exam_workspace_documents.py
Due: ruff-format, ruff-lint, mypy, pytest

feat: wire exam workspace exports, answer-key proposals, and reopen
  frontend/apps/skriptoteket/src/api/examWorkspace.spec.ts
  frontend/apps/skriptoteket/src/api/examWorkspace.ts
  frontend/apps/skriptoteket/src/api/openapi.d.ts
  frontend/apps/skriptoteket/src/views/apps/ExamWorkspaceEnrichmentSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamWorkspaceExportsSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamWorkspaceReopenSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamWorkspaceSlice.specSupport.ts
  frontend/apps/skriptoteket/src/views/apps/ExamWorkspaceView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamWorkspaceView.vue
  frontend/apps/skriptoteket/src/views/apps/ExamWorkspaceWalkingSkeletonSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceProposalPanel.vue
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/examWorkspaceRows.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/useExamWorkspaceDocument.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/useExamWorkspaceEnrichment.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/useExamWorkspaceExports.ts
Due: eslint

test: implement workspace protocol methods on fakes and fix test typing
  tests/unit/application/curated_apps/handlers/enrichment_routing_test_support.py
  tests/unit/application/curated_apps/handlers/test_document_converter_artifact_saves.py
  tests/unit/application/curated_apps/handlers/test_document_converter_saved_sources.py
  tests/unit/application/curated_apps/handlers/test_exam_answer_key_enrichment_jobs.py
  tests/unit/application/curated_apps/handlers/test_exam_answer_key_enrichment_workspace_jobs.py
  tests/unit/application/curated_apps/handlers/test_exam_converter_product.py
  tests/unit/application/curated_apps/handlers/test_exam_workspace_documents.py
  tests/unit/application/curated_apps/handlers/test_exam_workspace_enrichment.py
  tests/unit/application/scripting/handlers/test_download_vault_file_handler.py
  tests/unit/application/scripting/handlers/test_list_vault_files_missing_on_disk.py
  tests/unit/application/scripting/handlers/test_vault_handlers.py
  tests/unit/domain/curated_apps/exam_workspace/test_answer_key_prompts.py
  tests/unit/web/exam_converter/conftest.py
Due: ruff-format, ruff-lint, mypy, pytest

fix: resolve Mina filer app-export labels from the app id prefix (TASK-SKRIPT-REP-0036)
  docs/backlog/tasks/task-skript-rep-0036-resolve-mina-filer-app-export-labels-from-the-app-id-prefix.md
  docs/repository-index.json
  src/skriptoteket/application/scripting/handlers/_vault_helpers.py
  src/skriptoteket/application/scripting/handlers/list_vault_files.py
  tests/unit/application/scripting/handlers/test_vault_source_labels.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

test: cover exam workspace vault lineage and enrichment revision persistence
  tests/integration/infrastructure/repositories/test_exam_workspace_repositories.py
Due: ruff-format, ruff-lint, mypy, pytest

fix: map the exam workspace route to the conversion tools help topic
  frontend/apps/skriptoteket/src/components/help/helpTopicCatalog.spec.ts
  frontend/apps/skriptoteket/src/components/help/helpTopicCatalog.ts
  frontend/apps/skriptoteket/src/components/help/topics/HelpTopicConversionTools.vue
Due: eslint

style: format native exam document tests
  tests/unit/domain/curated_apps/exam_workspace/test_native_exam_document.py
Due: ruff-format, ruff-lint, mypy, pytest

docs: regenerate governance indexes at the pinned repository-governance package
  docs/decisions/INDEX.md
  docs/repository-index.json
Due: docs-contract-validate

fix: keep parse review on approved proposals and follow the document address in the exam workspace
  frontend/apps/skriptoteket/src/views/apps/ExamWorkspaceEnrichmentSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamWorkspaceReopenSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamWorkspaceView.vue
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceEnrichmentPanel.vue
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceExportPanel.vue
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceItemTable.vue
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceSavedDocuments.vue
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/useExamWorkspaceDocument.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/useExamWorkspaceDocument.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/useExamWorkspaceEnrichment.ts
Due: eslint

test: keep one document-head fake and name the duplicate-version test for what it checks
  tests/integration/infrastructure/repositories/test_exam_workspace_repositories.py
  tests/unit/application/curated_apps/handlers/test_document_converter_artifact_saves.py
  tests/unit/application/scripting/handlers/test_download_vault_file_handler.py
  tests/unit/application/scripting/handlers/test_list_vault_files_missing_on_disk.py
  tests/unit/application/scripting/handlers/test_vault_handlers.py
Due: ruff-format, ruff-lint, mypy, pytest

docs: record TASK-SKRIPT-39-04-01 closure progress and the D5 auth-lane blocker in handoff
  handoff.md
Due: none

fix: toast once per enrichment poll failure streak and keep the document address in step
  frontend/apps/skriptoteket/src/views/apps/ExamWorkspaceEnrichmentSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamWorkspaceReopenSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamWorkspaceView.vue
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/useExamWorkspaceEnrichment.ts
Due: eslint

docs: record approved review for TASK-SKRIPT-39-04-01 in handoff
  handoff.md
Due: none

docs: replace Playwright proof guidance with agent-driven browser walks
  .codex/agents/skriptoteket-debugger.toml
  .codex/agents/skriptoteket-implementation-specialist.toml
  .codex/agents/skriptoteket-reviewer.toml
  .codex/rules/000-rule-index.md
  .codex/rules/047-ai-llm-guardrails.md
  .codex/rules/070-testing-standards.md
  .codex/rules/075-browser-automation.md
  .codex/skills/skriptoteket-backend-dev/SKILL.md
  .codex/skills/skriptoteket-testing/SKILL.md
  .codex/skills/skriptoteket-testing/references/browser-automation.md
  AGENTS.md
  docs/repository-index.json
  docs/runbooks/INDEX.md
  docs/runbooks/run-skript-runbook-agent-browser-automation-mcp-chrome-playwright-runbook-agent-browser-automation-mcp-chrome-playwright.md
  docs/runbooks/run-skript-runbook-editor-ai-pipeline-completion-chat-edit-ops-runbook-editor-ai-pipeline-completion-chat-edit-ops.md
  docs/runbooks/run-skript-runbook-testing-pytest-vitest-playwright-runbook-testing-pytest-vitest-playwright.md
Due: docs-contract-validate

docs: record the TASK-SKRIPT-39-04-01 staging walk in handoff
  handoff.md
Due: none

fix: clear the answer key when the teacher empties every key value in the exam workspace
  frontend/apps/skriptoteket/src/views/apps/ExamWorkspaceWalkingSkeletonSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceItemEditor.vue
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/useExamWorkspaceDocument.ts
Due: eslint

fix: share the exam workspace answer-key rules and copy
  frontend/apps/skriptoteket/src/views/apps/ExamWorkspaceWalkingSkeletonSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceItemEditor.vue
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/examWorkspaceAnswerKeyRules.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/examWorkspaceAnswerKeyRules.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/useExamWorkspaceDocument.ts
Due: eslint

fix: block exports of keyed exam items without an answer key
  frontend/apps/skriptoteket/src/api/examWorkspace.ts
  frontend/apps/skriptoteket/src/views/apps/ExamWorkspaceExportsSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/useExamWorkspaceExports.ts
  src/skriptoteket/domain/curated_apps/exam_workspace/native_exam_document.py
  tests/unit/application/curated_apps/test_exam_workspace_exports.py
  tests/unit/domain/curated_apps/exam_workspace/test_native_exam_document.py
Due: ruff-format, ruff-lint, mypy, pytest, eslint

docs: propose TASK-SKRIPT-39-04-02 for the two-mode exam workspace layout
  docs/backlog/tasks/task-skript-39-04-02-exam-workspace-two-mode-layout-file-handling-and-item-editing.md
  docs/repository-index.json
Due: docs-contract-validate

Advance repository-governance pin to 0.11.90
  pdm.lock
  pyproject.toml
Due: none

docs: record the TASK-SKRIPT-39-04-01 proposal walk on staging
  handoff.md
Due: none

Advance repository-governance pin to 0.11.91
  pdm.lock
  pyproject.toml
Due: none

Retire docs-sync after repository-governance 0.11.91
  .codex/skills/repo-code-map/references/platform-discovery-overview.md
  docs/backlog/INDEX.md
  docs/index.md
  docs/reference/INDEX.md
  docs/runbooks/INDEX.md
  pyproject.toml
Due: docs-contract-validate

fix: show Swedish review reasons and the exam title in QTI exports
  frontend/apps/skriptoteket/src/views/apps/ExamWorkspaceWalkingSkeletonSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceItemEditor.vue
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/examWorkspaceAnswerKeyRules.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/examWorkspaceRows.spec.ts
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/examWorkspaceRows.ts
  src/skriptoteket/application/curated_apps/exam_workspace_exports.py
  src/skriptoteket/domain/curated_apps/exam_conversion/examnet_qti_assessment_test_xml.py
  src/skriptoteket/domain/curated_apps/exam_conversion/examnet_qti_package.py
  src/skriptoteket/domain/curated_apps/exam_workspace/examnet_pdf_export.py
  src/skriptoteket/domain/curated_apps/exam_workspace/examnet_qti_export.py
  tests/unit/application/curated_apps/test_exam_workspace_exports.py
Due: ruff-format, ruff-lint, mypy, pytest, eslint

docs: close TASK-SKRIPT-39-04-02 layout decisions and mark it ready
  docs/backlog/tasks/task-skript-39-04-02-exam-workspace-two-mode-layout-file-handling-and-item-editing.md
  docs/repository-index.json
Due: docs-contract-validate

fix: describe free-text fallback review reasons accurately
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/examWorkspaceRows.ts
Due: eslint

fix: join Swedish review reasons as sentences in the item tooltip
  frontend/apps/skriptoteket/src/views/apps/exam-workspace/ExamWorkspaceItemTable.vue
Due: eslint

docs: record the exam workspace small-item fixes in handoff
  handoff.md
Due: none

docs: regenerate index headers at the 0.11.90 governance pin
  docs/backlog/INDEX.md
  docs/index.md
  docs/reference/INDEX.md
  docs/runbooks/INDEX.md
Due: docs-contract-validate

docs: close TASK-SKRIPT-39-04-01 after user D5 acceptance
  docs/backlog/tasks/task-skript-39-04-01-docx-walking-skeleton-import-native-edit-and-create-save-and-reopen-export.md
  docs/repository-index.json
  handoff.md
Due: docs-contract-validate

docs: start TASK-SKRIPT-39-04-02
  docs/backlog/tasks/task-skript-39-04-02-exam-workspace-two-mode-layout-file-handling-and-item-editing.md
  docs/repository-index.json
  handoff.md
Due: docs-contract-validate

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  mypy: any of: \.py$
  pytest: any of: \.py$
  docs-contract-validate: any of: ^docs/
  agent-doc-budgets: any of: ^\.agent/(readme-first\.md|handoff\.md)$
  eslint: any of: ^frontend/apps/skriptoteket/src/.*\.(vue|ts|js)$
