Repository paunchygent/skriptoteket: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

ruff-format:
  name: Ruff format (staged files)
  entry: pdm run ruff format --force-exclude
  language: system
  pass_filenames: true

ruff-lint:
  name: Ruff lint (staged files)
  entry: pdm run ruff check --force-exclude
  language: system
  pass_filenames: true

mypy:
  name: Mypy typecheck (src + tests)
  entry: pdm run typecheck
  language: system
  pass_filenames: false

pytest:
  name: Pytest (unit suite)
  entry: pdm run test
  language: system
  pass_filenames: false

docs-contract-validate:
  name: Docs contract validate (placement + naming + frontmatter)
  entry: pdm run docs-validate
  language: system
  pass_filenames: false

agent-doc-budgets:
  name: Agent docs line budgets (.agent/*)
  entry: pdm run python -m scripts.check_agent_doc_budgets
  language: system
  pass_filenames: false

eslint:
  name: ESLint (frontend)
  entry: pnpm --filter @skriptoteket/spa lint
  language: system
  pass_filenames: false

chore: update browser automation rules and Playwright skill
  .agent/rules/075-browser-automation.md
  .claude/skills/playwright-testing/SKILL.md
Due: none

chore: update agent handoff with ST-12-06 session details
  .agent/handoff.md
Due: agent-doc-budgets

docs(ST-12-06): add session file ops to docs + Grafana dashboard
  AGENTS.md
  CLAUDE.md
  docs/runbooks/runbook-observability-logging.md
  observability/grafana/provisioning/dashboards/dashboards.yaml
  observability/grafana/provisioning/dashboards/skriptoteket-session-files.json
Due: docs-contract-validate

feat: expose Grafana and Prometheus via nginx-proxy with SSL
  compose.observability.yaml
Due: none

feat: add nginx-proxy integration to compose.prod.yaml
  compose.prod.yaml
Due: none

docs: add observability credentials management to docs
  AGENTS.md
  CLAUDE.md
  docs/runbooks/runbook-observability-logging.md
Due: docs-contract-validate

docs(EPIC-17): add observability visualization and operations epic
  docs/backlog/epics/epic-17-observability-visualization-and-operations.md
  docs/backlog/reviews/review-epic-17-observability-visualization.md
  docs/backlog/stories/story-17-01-grafana-datasource-verification.md
  docs/backlog/stories/story-17-02-http-metrics-dashboard.md
  docs/backlog/stories/story-17-03-prometheus-alerting-rules.md
  docs/backlog/stories/story-17-04-jaeger-public-access.md
  docs/backlog/stories/story-17-05-runbook-verification.md
Due: docs-contract-validate

chore(ST-08-11): finalize phase 2 script editor intelligence
  .agent/handoff.md
  .agent/rules/075-browser-automation.md
  docs/adr/adr-0035-script-editor-intelligence-architecture.md
  docs/backlog/stories/story-08-11-script-editor-intelligence-phase2.md
  frontend/apps/skriptoteket/src/composables/editor/skriptoteketCompletions.ts
  scripts/playwright_st_08_11_script_editor_intelligence_phase2_e2e.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

docs(EPIC-17): add ST-17-06 user session metrics story
  docs/backlog/epics/epic-17-observability-visualization-and-operations.md
  docs/backlog/reviews/review-epic-17-observability-visualization.md
  docs/backlog/stories/story-17-06-user-session-metrics.md
Due: docs-contract-validate

chore: remove legacy frontend/islands package
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  README.md
  frontend/islands/eslint.config.js
  frontend/islands/package.json
  frontend/islands/src/DemoApp.vue
  frontend/islands/src/editor/CodeMirrorEditor.vue
  frontend/islands/src/editor/EditorIslandApp.vue
  frontend/islands/src/editor/types.ts
  frontend/islands/src/entrypoints/demo.ts
  frontend/islands/src/entrypoints/editor.ts
  frontend/islands/src/entrypoints/runtime.ts
  frontend/islands/src/env.d.ts
  frontend/islands/src/runtime/RuntimeIslandApp.vue
  frontend/islands/src/runtime/UiOutputs.vue
  frontend/islands/src/runtime/types.ts
  frontend/islands/tsconfig.json
  frontend/islands/vite.config.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  pyproject.toml
Due: none

feat(ST-08-12): add phase 3 best-practice lints to script editor
  frontend/apps/skriptoteket/src/composables/editor/skriptoteketLinter.ts
  frontend/apps/skriptoteket/src/composables/editor/skriptoteketPythonAnalysis.ts
  frontend/apps/skriptoteket/src/composables/editor/skriptoteketPythonTree.ts
Due: eslint

test(ST-08-12): add E2E test for phase 3 script editor lints
  docs/backlog/stories/story-08-12-script-editor-intelligence-phase3.md
  scripts/playwright_st_08_12_script_editor_intelligence_phase3_e2e.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

docs(EPIC-08): update AI completion docs per review feedback
  docs/adr/adr-0043-ai-completion-integration.md
  docs/backlog/reviews/review-epic-08-ai-completion.md
  docs/backlog/stories/story-08-14-ai-inline-completions.md
  docs/reference/ref-ai-completion-architecture.md
Due: docs-contract-validate

docs(EPIC-16): update catalog discovery docs per review feedback
  docs/adr/adr-0041-user-favorites-and-tool-bookmarking.md
  docs/adr/adr-0042-flat-catalog-with-label-filtering.md
  docs/backlog/epics/epic-16-catalog-discovery-and-personalization.md
  docs/backlog/reviews/review-epic-16-catalog-discovery.md
  docs/backlog/stories/story-16-02-favorites-api-endpoints.md
  docs/backlog/stories/story-16-03-flat-catalog-api-with-filtering.md
  docs/backlog/stories/story-16-04-recently-used-tools-api.md
  docs/backlog/stories/story-16-05-flat-catalog-vue-view.md
  docs/backlog/stories/story-16-06-tool-card-favorites-toggle.md
  docs/backlog/stories/story-16-07-home-view-favorites-and-recent.md
Due: docs-contract-validate

docs(EPIC-08): add ST-08-15 story for contract lint source IDs
  docs/backlog/stories/story-08-15-contract-lint-source-ids.md
Due: docs-contract-validate

docs: update agent handoff for 2025-12-27 session
  .agent/handoff.md
Due: agent-doc-budgets

docs(EPIC-08): split AI protocols for inline vs edit capabilities
  docs/adr/adr-0043-ai-completion-integration.md
  docs/backlog/stories/story-08-14-ai-inline-completions.md
Due: docs-contract-validate

docs(EPIC-08): add ST-08-16 edit suggestions story + epic links
  docs/backlog/epics/epic-08-contextual-help-and-onboarding.md
  docs/backlog/stories/story-08-16-ai-edit-suggestions.md
  docs/reference/ref-ai-completion-architecture.md
Due: docs-contract-validate

feat(EPIC-16): add flat catalog view, favorites toggle, and home sections (ST-16-05/06/07/08)
  frontend/apps/skriptoteket/src/components/catalog/CatalogItemCard.vue
  frontend/apps/skriptoteket/src/components/home/FavoritesSection.vue
  frontend/apps/skriptoteket/src/components/home/RecentToolsSection.vue
  frontend/apps/skriptoteket/src/components/home/SectionHeader.vue
  frontend/apps/skriptoteket/src/composables/useCatalogFilters.ts
  frontend/apps/skriptoteket/src/composables/useFavorites.ts
  frontend/apps/skriptoteket/src/types/catalog.ts
  frontend/apps/skriptoteket/src/views/BrowseFlatView.vue
Due: eslint

docs(EPIC-16): add catalog discovery ADRs and update stories
  docs/backlog/stories/story-16-08-catalog-cleanup-and-review.md
Due: docs-contract-validate

feat(EPIC-14): add draft locks and sandbox settings backend (ST-14-07, ST-14-08)
  migrations/versions/0019_draft_locks.py
  src/skriptoteket/application/scripting/draft_lock_checks.py
  src/skriptoteket/application/scripting/draft_locks.py
  src/skriptoteket/application/scripting/handlers/acquire_draft_lock.py
  src/skriptoteket/application/scripting/handlers/get_tool_version_settings.py
  src/skriptoteket/application/scripting/handlers/release_draft_lock.py
  src/skriptoteket/application/scripting/handlers/update_tool_version_settings.py
  src/skriptoteket/domain/scripting/draft_locks.py
  src/skriptoteket/infrastructure/db/models/draft_lock.py
  src/skriptoteket/infrastructure/repositories/draft_lock_repository.py
  src/skriptoteket/protocols/draft_locks.py
  tests/integration/test_migration_0019_draft_locks_idempotent.py
  tests/unit/application/scripting/handlers/test_create_draft_version_handler.py
  tests/unit/application/scripting/handlers/test_draft_lock_handler.py
  tests/unit/application/scripting/handlers/test_tool_version_settings_handlers.py
  tests/unit/web/test_editor_draft_lock_api.py
Due: ruff-format, ruff-lint, mypy, pytest

feat(EPIC-14): add editor sandbox settings and next actions UI (ST-14-03, ST-14-08)
  frontend/apps/skriptoteket/src/composables/editor/useToolVersionSettings.ts
  frontend/apps/skriptoteket/src/composables/tools/toolSettingsForm.ts
Due: eslint

docs(EPIC-14): add editor sandbox ADRs and stories
  docs/adr/adr-0044-editor-sandbox-preview-snapshots.md
  docs/adr/adr-0045-sandbox-settings-isolation.md
  docs/adr/adr-0046-draft-head-locks.md
  docs/backlog/reviews/review-epic-14-editor-sandbox-preview.md
  docs/backlog/sprints/sprint-2026-01-05-tool-editor-vertical-slice.md
  docs/backlog/stories/story-14-04-sandbox-input-schema-form-preview.md
  docs/backlog/stories/story-14-05-editor-sandbox-settings-parity.md
  docs/backlog/stories/story-14-06-editor-sandbox-preview-snapshots.md
  docs/backlog/stories/story-14-07-editor-draft-head-locks.md
  docs/backlog/stories/story-14-08-editor-sandbox-settings-isolation.md
  docs/prd/prd-editor-sandbox-v0.1.md
  docs/reference/ref-editor-sandbox-preview-plan.md
Due: docs-contract-validate

test(EPIC-14): add Playwright E2E for editor sandbox settings (ST-14-05)
  scripts/playwright_st_14_05_editor_sandbox_settings_e2e.py
Due: ruff-format, ruff-lint, mypy, pytest

feat(EPIC-16): integrate home view favorites and recent sections (ST-16-07)
  frontend/apps/skriptoteket/src/router/routes.ts
  frontend/apps/skriptoteket/src/views/BrowseCategoriesView.vue
  frontend/apps/skriptoteket/src/views/BrowseProfessionsView.vue
  frontend/apps/skriptoteket/src/views/BrowseToolsView.vue
  frontend/apps/skriptoteket/src/views/HomeView.vue
Due: eslint

fix(EPIC-14): improve sandbox settings and html_to_pdf script
  src/skriptoteket/application/scripting/handlers/create_draft_version.py
  src/skriptoteket/application/scripting/handlers/run_sandbox.py
  src/skriptoteket/application/scripting/handlers/save_draft_version.py
  src/skriptoteket/application/scripting/handlers/start_sandbox_action.py
  src/skriptoteket/application/scripting/tool_settings.py
  src/skriptoteket/cli/main.py
  src/skriptoteket/config.py
  src/skriptoteket/di/scripting.py
  src/skriptoteket/protocols/tool_settings.py
  src/skriptoteket/script_bank/scripts/html_to_pdf.py
  src/skriptoteket/web/api/v1/editor.py
  tests/integration/test_migration_0019_draft_locks_idempotent.py
  tests/unit/application/scripting/handlers/sandbox_test_support.py
  tests/unit/application/scripting/handlers/test_run_sandbox_handler.py
  tests/unit/application/scripting/handlers/test_start_sandbox_action_handler.py
  tests/unit/application/test_scripting_draft_handlers.py
  tests/unit/web/test_api_v1_auth_and_csrf_routes.py
Due: ruff-format, ruff-lint, mypy, pytest

chore: regenerate OpenAPI TypeScript types
  frontend/apps/skriptoteket/src/api/openapi.d.ts
Due: eslint

docs: update EPIC-14 and EPIC-16 story statuses to done
  .agent/handoff.md
  .agent/readme-first.md
  docs/adr/adr-0038-editor-sandbox-interactive-actions.md
  docs/adr/adr-0041-user-favorites-and-tool-bookmarking.md
  docs/adr/adr-0042-flat-catalog-with-label-filtering.md
  docs/backlog/epics/epic-14-admin-tool-authoring.md
  docs/backlog/epics/epic-16-catalog-discovery-and-personalization.md
  docs/backlog/sprints/sprint-2026-01-05-tool-editor-vertical-slice.md
  docs/backlog/stories/story-14-03-sandbox-next-actions-parity.md
  docs/backlog/stories/story-14-07-editor-draft-head-locks.md
  docs/backlog/stories/story-16-01-favorites-domain-and-database.md
  docs/backlog/stories/story-16-02-favorites-api-endpoints.md
  docs/backlog/stories/story-16-03-flat-catalog-api-with-filtering.md
  docs/backlog/stories/story-16-04-recently-used-tools-api.md
  docs/backlog/stories/story-16-05-flat-catalog-vue-view.md
  docs/backlog/stories/story-16-06-tool-card-favorites-toggle.md
  docs/backlog/stories/story-16-07-home-view-favorites-and-recent.md
  docs/index.md
Due: docs-contract-validate, agent-doc-budgets

docs(EPIC-14): align ADRs and stories with snapshot preview split-phase approach
  .agent/handoff.md
  docs/adr/adr-0038-editor-sandbox-interactive-actions.md
  docs/adr/adr-0044-editor-sandbox-preview-snapshots.md
  docs/backlog/epics/epic-14-admin-tool-authoring.md
  docs/backlog/reviews/review-epic-14-editor-sandbox-preview.md
  docs/backlog/stories/story-14-03-sandbox-next-actions-parity.md
  docs/backlog/stories/story-14-06-editor-sandbox-preview-snapshots.md
  frontend/apps/skriptoteket/src/composables/editor/useToolVersionSettings.ts
  frontend/apps/skriptoteket/src/composables/tools/toolSettingsForm.ts
Due: docs-contract-validate, agent-doc-budgets, eslint

feat(frontend): add mobile brand link and monthly run count display
  frontend/apps/skriptoteket/src/components/layout/AuthLayout.vue
  frontend/apps/skriptoteket/src/views/HomeView.vue
Due: eslint

docs(EPIC-14): add implementation tracker checkboxes to sprint plan
  docs/backlog/sprints/sprint-2026-01-05-tool-editor-vertical-slice.md
Due: docs-contract-validate

``` refactor(editor): improve control bar and drawer layout consistency
  frontend/apps/skriptoteket/src/components/editor/InstructionsDrawer.vue
  frontend/apps/skriptoteket/src/components/editor/MetadataDrawer.vue
  frontend/apps/skriptoteket/src/components/editor/SandboxRunner.vue
  frontend/apps/skriptoteket/src/components/tool-run/ToolRunControlBar.vue
Due: eslint

refactor(home): align section headers with design system
  frontend/apps/skriptoteket/src/views/HomeView.vue
Due: eslint

feat(editor): add draft lock read-only mode (ST-14-07)
  .agent/handoff.md
  docs/backlog/sprints/sprint-2026-01-05-tool-editor-vertical-slice.md
  docs/backlog/stories/story-14-07-editor-draft-head-locks.md
  frontend/apps/skriptoteket/src/components/editor/CodeMirrorEditor.vue
  frontend/apps/skriptoteket/src/components/editor/DraftLockBanner.vue
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspacePanel.vue
  frontend/apps/skriptoteket/src/components/editor/InstructionsDrawer.vue
  frontend/apps/skriptoteket/src/components/editor/MetadataDrawer.vue
  frontend/apps/skriptoteket/src/components/editor/SandboxRunner.vue
  frontend/apps/skriptoteket/src/composables/editor/useDraftLock.ts
  frontend/apps/skriptoteket/src/views/admin/ScriptEditorView.vue
Due: docs-contract-validate, agent-doc-budgets, eslint

feat(frontend): editor sandbox improvements and page transitions
  frontend/apps/skriptoteket/index.html
  frontend/apps/skriptoteket/public/favicon.svg
  frontend/apps/skriptoteket/src/App.vue
  frontend/apps/skriptoteket/src/api/openapi.d.ts
  frontend/apps/skriptoteket/src/assets/main.css
  frontend/apps/skriptoteket/src/components/auth/LoginModal.vue
  frontend/apps/skriptoteket/src/components/editor/EditorWorkspacePanel.vue
  frontend/apps/skriptoteket/src/components/editor/SandboxInputPanel.vue
  frontend/apps/skriptoteket/src/components/editor/SandboxRunner.vue
  frontend/apps/skriptoteket/src/components/editor/SandboxRunnerActions.vue
  frontend/apps/skriptoteket/src/components/layout/AuthLayout.vue
  frontend/apps/skriptoteket/src/components/tool-run/ToolRunSettingsPanel.vue
  frontend/apps/skriptoteket/src/composables/editor/useEditorSchemaParsing.ts
  frontend/apps/skriptoteket/src/composables/editor/useSandboxSettings.ts
  frontend/apps/skriptoteket/src/composables/tools/toolSettingsHelpers.ts
  frontend/apps/skriptoteket/src/composables/tools/useToolInputs.ts
  frontend/apps/skriptoteket/src/composables/usePageTransition.ts
  frontend/apps/skriptoteket/src/router/routes.ts
  frontend/apps/skriptoteket/src/views/SuggestionNewView.vue
Due: eslint

test(playwright): update editor smoke and add navigation tests
  scripts/playwright_nav_transitions_smoke.py
  scripts/playwright_st_14_05_editor_sandbox_settings_e2e.py
  scripts/playwright_suggestion_new_smoke.py
  scripts/playwright_ui_editor_smoke.py
Due: ruff-format, ruff-lint, mypy, pytest

docs(EPIC-14): update ADRs and stories for sandbox features
  docs/adr/adr-0044-editor-sandbox-preview-snapshots.md
  docs/adr/adr-0045-sandbox-settings-isolation.md
  docs/backlog/sprints/sprint-2026-01-05-tool-editor-vertical-slice.md
  docs/backlog/stories/story-14-05-editor-sandbox-settings-parity.md
  docs/backlog/stories/story-14-06-editor-sandbox-preview-snapshots.md
  docs/backlog/stories/story-14-08-editor-sandbox-settings-isolation.md
Due: docs-contract-validate

chore: update agent handoff for EPIC-14 progress
  .agent/handoff.md
Due: agent-doc-budgets

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  mypy: any of: \.py$
  pytest: any of: \.py$
  docs-contract-validate: any of: ^docs/
  agent-doc-budgets: any of: ^\.agent/(readme-first\.md|handoff\.md)$
  eslint: any of: ^frontend/apps/skriptoteket/src/.*\.(vue|ts|js)$
