Repository paunchygent/skriptoteket: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

ruff-format:
  name: Ruff format (staged files)
  entry: pdm run ruff format --force-exclude
  language: system
  pass_filenames: true

ruff-lint:
  name: Ruff lint (staged files)
  entry: pdm run ruff check --force-exclude
  language: system
  pass_filenames: true

mypy:
  name: Mypy typecheck (src + tests)
  entry: pdm run typecheck
  language: system
  pass_filenames: false

pytest:
  name: Pytest (unit suite)
  entry: pdm run test
  language: system
  pass_filenames: false

docs-contract-validate:
  name: Docs contract validate (placement + naming + frontmatter)
  entry: pdm run docs-validate
  language: system
  pass_filenames: false

agent-doc-budgets:
  name: Agent docs line budgets (.agent/*)
  entry: pdm run python -m scripts.check_agent_doc_budgets
  language: system
  pass_filenames: false

eslint:
  name: ESLint (frontend)
  entry: pnpm --filter @skriptoteket/spa lint
  language: system
  pass_filenames: false

Add transcript downstream planning lane
  .codex/handoff.md
  docs/backlog/epics/epic-21-curated-app-conversion-hub.md
  docs/backlog/reviews/review-st-21-05-through-st-21-07-transcript-downstream-planning.md
  docs/backlog/stories/story-21-05-conversion-hub-transcript-intake-and-diarization-controls.md
  docs/backlog/stories/story-21-06-transcript-job-lifecycle-through-huleedu-gateway.md
  docs/backlog/stories/story-21-07-durable-transcript-saves-and-json-first-downstream-formatting.md
  tests/unit/scripts/test_conversion_hub_transcript_docs_guard.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Add transcript conversion hub gateway client
  .codex/handoff.md
  docs/backlog/prs/pr-0342-st-21-05-transcript-intake-and-gateway-lifecycle-client.md
  docs/backlog/prs/pr-0343-st-21-07-durable-transcript-json-save-boundary.md
  docs/backlog/reviews/review-pr-0342-transcript-intake-and-gateway-lifecycle-client.md
  docs/backlog/stories/story-21-05-conversion-hub-transcript-intake-and-diarization-controls.md
  docs/backlog/stories/story-21-06-transcript-job-lifecycle-through-huleedu-gateway.md
  docs/backlog/stories/story-21-07-durable-transcript-saves-and-json-first-downstream-formatting.md
  frontend/apps/skriptoteket/src/api/sirConvertGateway/client.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/index.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/requestContext.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/requestFingerprint.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/transcriptClient.spec.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/transcriptOptions.spec.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/transcriptOptions.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/transcriptParsers.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/transcriptRequestContext.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/transcriptTypes.ts
  frontend/apps/skriptoteket/src/views/apps/ConversionHubModeTabs.vue
  frontend/apps/skriptoteket/src/views/apps/ConversionHubTranscriptMode.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedView.vue
  frontend/apps/skriptoteket/src/views/apps/conversion-hub-transcript/ConversionHubTranscriptHost.vue
  frontend/apps/skriptoteket/src/views/apps/conversion-hub-transcript/TranscriptWorkflowRailShell.vue
  frontend/apps/skriptoteket/src/views/apps/conversion-hub-transcript/TranscriptWorkspaceShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/conversion-hub-transcript/TranscriptWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/conversion-hub-transcript/useTranscriptGatewayRuntime.ts
  frontend/apps/skriptoteket/src/views/apps/conversion-hub-transcript/useTranscriptSourceFile.ts
Due: docs-contract-validate, eslint

Accept transcript result envelopes
  frontend/apps/skriptoteket/src/api/sirConvertGateway/transcriptClient.spec.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/transcriptParsers.ts
Due: eslint

Accept transcript runtime result metadata
  frontend/apps/skriptoteket/src/api/sirConvertGateway/transcriptClient.spec.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/transcriptParsers.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/transcriptTypes.ts
  frontend/apps/skriptoteket/src/views/apps/ConversionHubTranscriptMode.spec.ts
Due: eslint

Accept transcript artifact manifests
  frontend/apps/skriptoteket/src/api/sirConvertGateway/transcriptClient.spec.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/transcriptParsers.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/transcriptTypes.ts
  frontend/apps/skriptoteket/src/views/apps/ConversionHubTranscriptMode.spec.ts
Due: eslint

Accept canonical transcript JSON segments
  frontend/apps/skriptoteket/src/api/sirConvertGateway/transcriptClient.spec.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/transcriptParsers.ts
Due: eslint

Reject unavailable transcript diarization mode
  frontend/apps/skriptoteket/src/api/sirConvertGateway/transcriptClient.spec.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/transcriptParsers.ts
Due: eslint

Approve transcript gateway live proof remediation
  docs/backlog/reviews/review-transcript-gateway-live-proof-remediation.md
Due: docs-contract-validate

Fix PR-0349 upload admission proof truthfulness
  .codex/handoff.md
  docs/backlog/prs/pr-0349-st-21-08-transcript-parity-live-proof-and-closeout.md
  docs/backlog/reviews/review-pr-0349-transcript-parity-live-proof-and-closeout.md
  frontend/apps/skriptoteket/src/api/sirConvertGateway/client.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/index.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/multipartUploadTransport.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/parsers.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/transcriptClient.spec.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/transcriptTypes.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/uploadProgress.ts
  frontend/apps/skriptoteket/src/views/apps/ConversionHubTranscriptMode.spec.ts
  frontend/apps/skriptoteket/src/views/apps/conversion-hub-transcript/ConversionHubTranscriptHost.vue
  frontend/apps/skriptoteket/src/views/apps/conversion-hub-transcript/TranscriptWorkspaceShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/conversion-hub-transcript/TranscriptWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/conversion-hub-transcript/transcriptProgressDisplay.ts
  frontend/apps/skriptoteket/src/views/apps/conversion-hub-transcript/useTranscriptGatewayRuntime.spec.ts
  frontend/apps/skriptoteket/src/views/apps/conversion-hub-transcript/useTranscriptGatewayRuntime.ts
  scripts/_transcript_parity_cancel.py
  scripts/playwright_pr_0349_transcript_parity_live.py
  tests/unit/scripts/test_playwright_pr_0349_summary_truthfulness.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Fix transcript replay export enablement
  .codex/handoff.md
  docs/backlog/epics/epic-21-curated-app-conversion-hub.md
  docs/backlog/prs/pr-0349-st-21-08-transcript-parity-live-proof-and-closeout.md
  docs/backlog/reviews/review-pr-0349-transcript-parity-live-proof-and-closeout.md
  docs/backlog/stories/story-21-08-transcript-speaker-overlays-and-replay-formatter-exports.md
  frontend/apps/skriptoteket/src/views/apps/conversion-hub-transcript/ConversionHubTranscriptHost.spec.ts
  frontend/apps/skriptoteket/src/views/apps/conversion-hub-transcript/ConversionHubTranscriptHost.vue
  frontend/apps/skriptoteket/src/views/apps/conversion-hub-transcript/TranscriptFormatterReplayPanel.vue
Due: docs-contract-validate, eslint

Align transcript replay JSON segment contract
  .codex/handoff.md
  docs/backlog/prs/pr-0349-st-21-08-transcript-parity-live-proof-and-closeout.md
  docs/backlog/reviews/review-pr-0349-transcript-parity-live-proof-and-closeout.md
  src/skriptoteket/application/curated_apps/handlers/conversion_hub_transcript_formatter_replay.py
  src/skriptoteket/application/curated_apps/handlers/conversion_hub_transcript_json_contract.py
  src/skriptoteket/application/curated_apps/handlers/conversion_hub_transcript_saves.py
  tests/unit/application/curated_apps/handlers/test_conversion_hub_transcript_formatter_replay_saved_shapes.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Accept Sir Convert replay result envelope
  .codex/handoff.md
  docs/backlog/prs/pr-0349-st-21-08-transcript-parity-live-proof-and-closeout.md
  docs/backlog/reviews/review-pr-0349-transcript-parity-live-proof-and-closeout.md
  src/skriptoteket/application/curated_apps/handlers/conversion_hub_transcript_formatter_replay.py
  src/skriptoteket/application/curated_apps/handlers/conversion_hub_transcript_formatter_replay_parsing.py
  tests/unit/application/curated_apps/handlers/test_conversion_hub_transcript_formatter_replay.py
  tests/unit/application/curated_apps/handlers/test_conversion_hub_transcript_formatter_replay_result_envelope.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Verify Gateway artifact receipts for transcript replay
  .codex/handoff.md
  docs/backlog/prs/pr-0349-st-21-08-transcript-parity-live-proof-and-closeout.md
  docs/backlog/reviews/review-pr-0349-transcript-parity-live-proof-and-closeout.md
  frontend/apps/skriptoteket/src/api/conversionHubTranscriptFormatterReplay.spec.ts
  frontend/apps/skriptoteket/src/api/conversionHubTranscriptFormatterReplay.ts
  frontend/apps/skriptoteket/src/api/openapi.d.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/transcriptReplayClient.spec.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/transcriptReplayClient.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/transcriptTypes.ts
  migrations/versions/e9a4b6c8d2f0_add_transcript_formatter_artifact_content.py
  src/skriptoteket/application/curated_apps/conversion_hub_transcript_artifact_actions.py
  src/skriptoteket/application/curated_apps/conversion_hub_transcript_replay.py
  src/skriptoteket/application/curated_apps/handlers/conversion_hub_transcript_artifact_actions.py
  src/skriptoteket/application/curated_apps/handlers/conversion_hub_transcript_formatter_replay.py
  src/skriptoteket/application/identity/huleedu_app_projection.py
  src/skriptoteket/di/curated_apps.py
  src/skriptoteket/infrastructure/db/models/conversion_hub_transcript_formatter_artifact.py
  src/skriptoteket/infrastructure/repositories/conversion_hub_transcript_formatter_artifacts.py
  src/skriptoteket/infrastructure/security/huleedu_artifact_receipts.py
  src/skriptoteket/infrastructure/security/huleedu_internal_identity.py
  src/skriptoteket/protocols/conversion_hub.py
  src/skriptoteket/web/api/v1/apps_conversion_hub_transcript_saves.py
  tests/integration/migration_revision_coverage.py
  tests/integration/migration_schema_assertions.py
  tests/unit/application/curated_apps/handlers/test_conversion_hub_transcript_artifact_actions.py
  tests/unit/application/curated_apps/handlers/test_conversion_hub_transcript_artifact_payloads.py
  tests/unit/application/curated_apps/handlers/test_conversion_hub_transcript_formatter_replay.py
  tests/unit/application/curated_apps/handlers/test_conversion_hub_transcript_formatter_replay_completion.py
  tests/unit/application/curated_apps/handlers/test_conversion_hub_transcript_formatter_replay_result_envelope.py
  tests/unit/web/conversion_hub/test_apps_conversion_hub_transcript_saves_api.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Use internal Sir Convert producer URL in production
  compose.prod.yaml
  scripts/hemma_deploy_and_verify_seating_export.sh
Due: none

Close out product-owned transcript formatter exports
  .codex/handoff.md
  docs/backlog/epics/epic-21-curated-app-conversion-hub.md
  docs/backlog/prs/pr-0349-st-21-08-transcript-parity-live-proof-and-closeout.md
  docs/backlog/prs/pr-0350-st-21-08-product-owned-transcript-replay-export-boundary.md
  docs/backlog/reviews/review-pr-0349-transcript-parity-live-proof-and-closeout.md
  docs/backlog/reviews/review-pr-0350-product-owned-transcript-replay-export-boundary.md
  docs/backlog/stories/story-21-08-transcript-speaker-overlays-and-replay-formatter-exports.md
Due: docs-contract-validate

Add transcript completion progress and export UX (PR-0351)
  docs/backlog/prs/pr-0351-st-21-08-transcript-completion-progress-and-export-ux.md
  docs/backlog/reviews/review-pr-0351-transcript-completion-progress-and-export-ux.md
  docs/mockups/INDEX.md
  docs/mockups/pr-0351-transcript-progress-export-ux/README.md
  docs/mockups/pr-0351-transcript-progress-export-ux/index.html
  docs/mockups/pr-0351-transcript-progress-export-ux/transcript-progress-export-direction.png
  docs/reference/ref-symbol-semantics-inventory-and-decision-contract-2026-05-04.md
  frontend/apps/skriptoteket/src/components/icons/IconFileAudio.vue
  frontend/apps/skriptoteket/src/components/icons/index.ts
Due: docs-contract-validate, eslint

Poll async transcript formatter exports
  src/skriptoteket/infrastructure/curated_apps/apps/conversion_hub/sir_convert_transcript_formatter_producer.py
  tests/unit/infrastructure/curated_apps/apps/conversion_hub/test_sir_convert_transcript_formatter_producer.py
Due: ruff-format, ruff-lint, mypy, pytest

Document transcript proof closeout
  .codex/handoff.md
  docs/backlog/epics/epic-26-klassrumskartan-explicit-exports-and-class-list-import.md
  docs/backlog/prs/pr-0351-st-21-08-transcript-completion-progress-and-export-ux.md
  docs/backlog/prs/pr-0352-st-21-09-remote-inference-live-proof-trust-lane-preflight.md
  docs/backlog/prs/pr-0353-st-26-07-production-playwright-dep0169-remediation.md
  docs/backlog/stories/story-21-09-conversion-hub-remote-inference-proof-trust-lane.md
  docs/backlog/stories/story-26-07-klassrumskartan-share-link-teams-preview-thumbnails.md
  docs/index.md
Due: docs-contract-validate

Approve PR-0352 proof remediation
  .codex/handoff.md
  docs/backlog/epics/epic-21-curated-app-conversion-hub.md
  docs/backlog/prs/pr-0352-st-21-09-remote-inference-live-proof-trust-lane-preflight.md
  docs/backlog/reviews/review-pr-0352-remote-inference-live-proof-trust-lane-preflight.md
  docs/backlog/stories/story-21-09-conversion-hub-remote-inference-proof-trust-lane.md
Due: docs-contract-validate

Fix transcript export remediation UX
  .codex/handoff.md
  docs/backlog/epics/epic-21-curated-app-conversion-hub.md
  docs/backlog/prs/pr-0354-st-21-08-transcript-export-selector-and-responsive-layout-remediation.md
  docs/backlog/stories/story-21-08-transcript-speaker-overlays-and-replay-formatter-exports.md
  docs/mockups/pr-0351-transcript-progress-export-ux/README.md
  docs/mockups/pr-0351-transcript-progress-export-ux/index.html
  frontend/apps/skriptoteket/src/router/routes.spec.ts
  frontend/apps/skriptoteket/src/router/routes.ts
  frontend/apps/skriptoteket/src/views/apps/conversion-hub-transcript/ConversionHubTranscriptHost.pr0351.spec.ts
  frontend/apps/skriptoteket/src/views/apps/conversion-hub-transcript/ConversionHubTranscriptHost.spec.ts
  frontend/apps/skriptoteket/src/views/apps/conversion-hub-transcript/ConversionHubTranscriptHost.specSupport.ts
  frontend/apps/skriptoteket/src/views/apps/conversion-hub-transcript/ConversionHubTranscriptHost.vue
  frontend/apps/skriptoteket/src/views/apps/conversion-hub-transcript/TranscriptCompletedWorkspace.vue
  frontend/apps/skriptoteket/src/views/apps/conversion-hub-transcript/TranscriptFormatterExportPanel.vue
  frontend/apps/skriptoteket/src/views/apps/conversion-hub-transcript/TranscriptProgressPanel.vue
  frontend/apps/skriptoteket/src/views/apps/conversion-hub-transcript/TranscriptUiInspectionView.vue
  frontend/apps/skriptoteket/src/views/apps/conversion-hub-transcript/TranscriptWorkflowRailShell.vue
  frontend/apps/skriptoteket/src/views/apps/conversion-hub-transcript/TranscriptWorkspaceShell.pr0351.spec.ts
  frontend/apps/skriptoteket/src/views/apps/conversion-hub-transcript/TranscriptWorkspaceShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/conversion-hub-transcript/TranscriptWorkspaceShell.vue
  scripts/playwright_pr_0349_transcript_parity_live.py
  src/skriptoteket/infrastructure/curated_apps/apps/conversion_hub/sir_convert_transcript_formatter_producer.py
  tests/unit/infrastructure/curated_apps/apps/conversion_hub/test_sir_convert_transcript_formatter_producer.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Implement source-only exam converter intake
  .codex/handoff.md
  .codex/long-term-memory/entries/session-2026-06-15-pr-0351-pr-0354-proof-compaction.md
  docs/backlog/epics/epic-21-curated-app-conversion-hub.md
  docs/backlog/prs/pr-0356-st-21-10-exam-converter-source-only-intake-and-export-owned-formats.md
  docs/backlog/prs/pr-0357-st-21-10-public-exam-converter-source-only-alignment.md
  docs/backlog/reviews/review-pr-0356-source-only-intake-export-owned-formats.md
  docs/backlog/stories/story-21-03-exam-converter-public-and-authenticated-artifact-lanes.md
  docs/backlog/stories/story-21-10-exam-converter-source-only-intake-and-export-owned-formats.md
  docs/index.md
  docs/reference/ref-exam-converter-ui-content-model-v1.md
  frontend/apps/skriptoteket/src/api/sirConvertGateway/client.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/completionContract.spec.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/jobSpec.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/requestContext.spec.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/requestContext.ts
  frontend/apps/skriptoteket/src/api/sirConvertGateway/types.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedConversionSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedRuntimeBridgeSlice.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedUiInspectionFixtures.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedView.spec.ts
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedView.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterWorkflowRailShell.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/ExamConverterWorkspaceShell.vue
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterAuthenticatedRuntime.ts
  frontend/apps/skriptoteket/src/views/apps/exam-converter-authenticated/useExamConverterSourceFile.ts
  scripts/playwright_pr_0356_source_only_fixture_proof.py
  tests/unit/scripts/test_playwright_script_surface.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Fix transcript cancel rail and upload copy
  .codex/handoff.md
  docs/backlog/epics/epic-21-curated-app-conversion-hub.md
  docs/backlog/prs/pr-0355-st-21-08-transcript-cancel-slot-rail-remediation.md
  docs/backlog/reviews/review-pr-0355-transcript-cancel-slot-rail-remediation.md
  docs/backlog/stories/story-21-08-transcript-speaker-overlays-and-replay-formatter-exports.md
  frontend/apps/skriptoteket/src/views/apps/conversion-hub-transcript/TranscriptWorkflowRailShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/conversion-hub-transcript/TranscriptWorkflowRailShell.vue
  frontend/apps/skriptoteket/src/views/apps/conversion-hub-transcript/TranscriptWorkspaceShell.spec.ts
  frontend/apps/skriptoteket/src/views/apps/conversion-hub-transcript/TranscriptWorkspaceShell.vue
Due: docs-contract-validate, eslint

Record PR-0355 and PR-0356 deploy closeout
  .codex/handoff.md
  docs/backlog/epics/epic-21-curated-app-conversion-hub.md
  docs/backlog/prs/pr-0355-st-21-08-transcript-cancel-slot-rail-remediation.md
  docs/backlog/prs/pr-0356-st-21-10-exam-converter-source-only-intake-and-export-owned-formats.md
  docs/backlog/stories/story-21-08-transcript-speaker-overlays-and-replay-formatter-exports.md
Due: docs-contract-validate

Align transcript proof progress contract
  .codex/handoff.md
  docs/backlog/prs/pr-0354-st-21-08-transcript-export-selector-and-responsive-layout-remediation.md
  docs/backlog/reviews/review-pr-0352-remote-inference-live-proof-trust-lane-preflight.md
  scripts/playwright_pr_0349_transcript_parity_live.py
  tests/unit/scripts/test_playwright_pr_0349_progress_snapshot.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Capture native transcript proof service logs
  .codex/handoff.md
  docs/backlog/prs/pr-0352-st-21-09-remote-inference-live-proof-trust-lane-preflight.md
  docs/backlog/prs/pr-0354-st-21-08-transcript-export-selector-and-responsive-layout-remediation.md
  docs/backlog/reviews/review-pr-0352-remote-inference-live-proof-trust-lane-preflight.md
  scripts/_proof_live_monitoring.py
  scripts/_transcript_parity_evidence.py
  scripts/playwright_pr_0349_transcript_parity_live.py
  tests/unit/scripts/test_playwright_pr_0349_summary_truthfulness.py
  tests/unit/scripts/test_proof_live_monitoring.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Record native transcript proof closeout
  .codex/handoff.md
  docs/backlog/prs/pr-0352-st-21-09-remote-inference-live-proof-trust-lane-preflight.md
  docs/backlog/prs/pr-0354-st-21-08-transcript-export-selector-and-responsive-layout-remediation.md
  docs/backlog/reviews/review-pr-0352-remote-inference-live-proof-trust-lane-preflight.md
Due: docs-contract-validate

Approve PR-0364 authenticated home mockup
  .codex/handoff.md
  docs/backlog/reviews/review-pr-0364-authenticated-home-work-apps-surface.md
  docs/mockups/pr-0364-authenticated-home-work-apps-surface/README.md
  docs/mockups/pr-0364-authenticated-home-work-apps-surface/index.html
Due: docs-contract-validate

Implement authenticated home work apps
  .codex/handoff.md
  docs/backlog/prs/pr-0364-st-37-03-authenticated-home-work-apps-surface.md
  docs/backlog/reviews/review-pr-0364-authenticated-home-work-apps-surface.md
  frontend/apps/skriptoteket/src/components/home/HomeWorkAppsSection.vue
  frontend/apps/skriptoteket/src/components/home/homeWorkApps.ts
  frontend/apps/skriptoteket/src/composables/home/useHomeDashboard.spec.ts
  frontend/apps/skriptoteket/src/composables/home/useHomeDashboard.ts
  frontend/apps/skriptoteket/src/views/HomeView.spec.ts
  frontend/apps/skriptoteket/src/views/HomeView.vue
  scripts/playwright_pr_0364_authenticated_home_work_apps.py
  tests/unit/scripts/test_playwright_script_surface.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Replace home app card identities
  .codex/handoff.md
  docs/backlog/prs/pr-0364-st-37-03-authenticated-home-work-apps-surface.md
  frontend/apps/skriptoteket/src/assets/home/work-apps/dokumentkonverteraren.png
  frontend/apps/skriptoteket/src/assets/home/work-apps/kodredigerare.png
  frontend/apps/skriptoteket/src/assets/home/work-apps/ljudtranskribering.png
  frontend/apps/skriptoteket/src/assets/home/work-apps/provkonverteraren.png
  frontend/apps/skriptoteket/src/components/home/HomeWorkAppsSection.vue
  frontend/apps/skriptoteket/src/components/home/homeWorkApps.ts
  frontend/apps/skriptoteket/src/views/HomeView.spec.ts
  scripts/playwright_pr_0364_authenticated_home_work_apps.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Fix authenticated home copy regression
  .codex/handoff.md
  docs/backlog/prs/pr-0364-st-37-03-authenticated-home-work-apps-surface.md
  frontend/apps/skriptoteket/src/components/home/HomeWorkAppsSection.vue
  frontend/apps/skriptoteket/src/components/home/homeWorkApps.ts
  frontend/apps/skriptoteket/src/views/HomeView.spec.ts
  frontend/apps/skriptoteket/src/views/HomeView.vue
  scripts/playwright_pr_0364_authenticated_home_work_apps.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Apply approved home copy and editor gate
  .codex/handoff.md
  docs/backlog/prs/pr-0364-st-37-03-authenticated-home-work-apps-surface.md
  frontend/apps/skriptoteket/src/components/home/HomeWorkAppsSection.vue
  frontend/apps/skriptoteket/src/components/home/homeWorkApps.ts
  frontend/apps/skriptoteket/src/views/HomeView.spec.ts
  frontend/apps/skriptoteket/src/views/HomeView.vue
  frontend/apps/skriptoteket/src/views/editor/EditorHubView.vue
  scripts/playwright_pr_0364_authenticated_home_work_apps.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Rename home app cards
  .codex/handoff.md
  docs/backlog/prs/pr-0364-st-37-03-authenticated-home-work-apps-surface.md
  frontend/apps/skriptoteket/src/components/home/homeWorkApps.ts
  frontend/apps/skriptoteket/src/views/HomeView.spec.ts
  scripts/playwright_pr_0364_authenticated_home_work_apps.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Remove retired my-runs shell navigation
  .codex/handoff.md
  docs/backlog/prs/pr-0364-st-37-03-authenticated-home-work-apps-surface.md
  docs/backlog/prs/pr-0365-st-37-03-authenticated-shell-navigation-realignment.md
  docs/backlog/stories/story-37-03-service-shell-and-dashboard-ux-realignment.md
  frontend/apps/skriptoteket/src/components/help/HelpPanel.spec.ts
  frontend/apps/skriptoteket/src/components/help/helpTopicCatalog.ts
  frontend/apps/skriptoteket/src/components/help/helpTopics.ts
  frontend/apps/skriptoteket/src/components/help/topics/HelpTopicHome.vue
  frontend/apps/skriptoteket/src/components/help/topics/HelpTopicMyRuns.vue
  frontend/apps/skriptoteket/src/components/help/topics/HelpTopicToolsResult.vue
  frontend/apps/skriptoteket/src/components/help/topics/HelpTopicToolsRun.vue
  frontend/apps/skriptoteket/src/components/help/topics/HelpTopicVault.vue
  frontend/apps/skriptoteket/src/components/layout/AuthSidebar.spec.ts
  frontend/apps/skriptoteket/src/components/layout/AuthSidebar.vue
  scripts/playwright_pr_0364_authenticated_home_work_apps.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Add PR-0370 landing mockup package
  .codex/handoff.md
  docs/backlog/prs/pr-0370-st-37-04-public-landing-authenticated-app-preview-mockup-approval.md
  docs/backlog/stories/story-37-04-app-presentation-decomposition-and-naming-reset.md
  docs/index.md
  docs/mockups/INDEX.md
  docs/mockups/pr-0370-public-landing-authenticated-app-preview/README.md
  docs/mockups/pr-0370-public-landing-authenticated-app-preview/approved-copy.md
  docs/mockups/pr-0370-public-landing-authenticated-app-preview/copy-requirements-review.md
  docs/mockups/pr-0370-public-landing-authenticated-app-preview/index.html
  docs/mockups/pr-0370-public-landing-authenticated-app-preview/round-2-blueprint-cells.png
  docs/mockups/pr-0370-public-landing-authenticated-app-preview/round-2-flat-ledger.png
  docs/mockups/pr-0370-public-landing-authenticated-app-preview/round-3-icon-only-composition.png
  docs/mockups/pr-0370-public-landing-authenticated-app-preview/round-3-label-free-with-pdf-leak.png
  docs/mockups/pr-0370-public-landing-authenticated-app-preview/round-4-no-index-markers.png
Due: docs-contract-validate

Implement public landing app preview
  .codex/handoff.md
  .codex/long-term-memory/entries/session-2026-06-19-pr-0364-auth-home-proof-compaction.md
  .codex/long-term-memory/index.md
  docs/backlog/prs/pr-0370-st-37-04-public-landing-authenticated-app-preview-mockup-approval.md
  docs/backlog/prs/pr-0371-st-37-04-public-landing-authenticated-app-preview-implementation.md
  docs/backlog/reviews/review-pr-0371-public-landing-authenticated-app-preview-implementation.md
  docs/backlog/stories/story-37-04-app-presentation-decomposition-and-naming-reset.md
  docs/index.md
  docs/mockups/pr-0370-public-landing-authenticated-app-preview/README.md
  docs/mockups/pr-0370-public-landing-authenticated-app-preview/index.html
  docs/reference/ref-public-landing-copy-lock.md
  frontend/apps/skriptoteket/src/components/home/LandingAuthenticatedPreview.vue
  frontend/apps/skriptoteket/src/views/HomeView.spec.ts
  frontend/apps/skriptoteket/src/views/HomeView.vue
Due: docs-contract-validate, eslint

Realign landing and authenticated navigation
  .codex/handoff.md
  docs/backlog/epics/epic-37-backlog-product-direction-inventory-and-app-surface-realignment.md
  docs/backlog/prs/pr-0365-st-37-03-authenticated-shell-navigation-realignment.md
  docs/backlog/prs/pr-0372-st-37-04-public-landing-header-simplification.md
  docs/backlog/reviews/review-pr-0365-authenticated-shell-navigation-realignment.md
  docs/backlog/reviews/review-pr-0372-public-landing-header-simplification.md
  docs/backlog/stories/story-37-03-service-shell-and-dashboard-ux-realignment.md
  docs/backlog/stories/story-37-04-app-presentation-decomposition-and-naming-reset.md
  docs/index.md
  docs/reference/ref-public-landing-copy-lock.md
  frontend/apps/skriptoteket/src/components/layout/AuthSidebar.spec.ts
  frontend/apps/skriptoteket/src/components/layout/AuthSidebar.vue
  frontend/apps/skriptoteket/src/components/layout/LandingLayout.spec.ts
  frontend/apps/skriptoteket/src/components/layout/LandingLayout.vue
  scripts/playwright_pr_0365_authenticated_shell_navigation.py
  tests/unit/scripts/test_playwright_script_surface.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, eslint

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  mypy: any of: \.py$
  pytest: any of: \.py$
  docs-contract-validate: any of: ^docs/
  agent-doc-budgets: any of: ^\.agent/(readme-first\.md|handoff\.md)$
  eslint: any of: ^frontend/apps/skriptoteket/src/.*\.(vue|ts|js)$
