Repository paunchygent/skriptoteket: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate, agent-doc-budgets, eslint

ruff-format:
  name: Ruff format (staged files)
  entry: pdm run ruff format --force-exclude
  language: system
  pass_filenames: true

ruff-lint:
  name: Ruff lint (staged files)
  entry: pdm run ruff check --force-exclude
  language: system
  pass_filenames: true

mypy:
  name: Mypy typecheck (src + tests)
  entry: pdm run typecheck
  language: system
  pass_filenames: false

pytest:
  name: Pytest (unit suite)
  entry: pdm run test
  language: system
  pass_filenames: false

docs-contract-validate:
  name: Docs contract validate (placement + naming + frontmatter)
  entry: pdm run docs-validate
  language: system
  pass_filenames: false

agent-doc-budgets:
  name: Agent docs line budgets (.agent/*)
  entry: pdm run python -m scripts.check_agent_doc_budgets
  language: system
  pass_filenames: false

eslint:
  name: ESLint (frontend)
  entry: pnpm --filter @skriptoteket/spa lint
  language: system
  pass_filenames: false

Reconcile handoff for EPIC-SKRIPT-40 readiness
  handoff.md
Due: none

Start TASK-SKRIPT-40-01-01
  docs/backlog/tasks/task-skript-40-01-01-adopt-the-shared-tokens-theme-and-logo-through-design-system-sync.md
  docs/repository-index.json
Due: docs-contract-validate

TASK-SKRIPT-40-01-01: prepare design-system map, facts and validate wrapper
  design-system-map.json
  pyproject.toml
Due: none

TASK-SKRIPT-40-01-01: adopt huleedu-integrated 0.1.22 tokens, theme and logo through design-system sync
  .pre-commit-config.yaml
  docs/reference/ref-skript-general-frontend-design-system-codemap-trace-based-for-cross-repo-alignment-frontend-design-system-codemap-trace-based-for-cross-repo-alignment-part-01.md
  docs/repository-index.json
  frontend/apps/skriptoteket/src/design-system/huleedu-integrated/manifest.json
  frontend/apps/skriptoteket/src/design-system/huleedu-integrated/manifest.schema.json
  frontend/apps/skriptoteket/src/design-system/huleedu-integrated/package.json
  src/skriptoteket/web/static/css/huleedu-design-tokens.css
  tests/unit/governance/test_repository_governance_bootstrap.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Record TASK-SKRIPT-40-01-01 review approval
  docs/backlog/tasks/task-skript-40-01-01-adopt-the-shared-tokens-theme-and-logo-through-design-system-sync.md
  docs/repository-index.json
Due: docs-contract-validate

Scaffold TASK-SKRIPT-REP-0034: Skriptoteket staging on Hemma
  docs/backlog/tasks/task-skript-rep-0034-stand-up-skriptoteket-staging-on-hemma-next-to-huleedu-staging.md
  docs/repository-index.json
Due: docs-contract-validate

Derive proposed staging task contract from retained plan D1-D14
  docs/backlog/tasks/task-skript-rep-0034-stand-up-skriptoteket-staging-on-hemma-next-to-huleedu-staging.md
  docs/repository-index.json
Due: docs-contract-validate

Apply advisory review decisions D15-D21 to the proposed staging task contract
  docs/backlog/tasks/task-skript-rep-0034-stand-up-skriptoteket-staging-on-hemma-next-to-huleedu-staging.md
  docs/repository-index.json
Due: docs-contract-validate

Move staging task to ready on user approval
  docs/backlog/tasks/task-skript-rep-0034-stand-up-skriptoteket-staging-on-hemma-next-to-huleedu-staging.md
  docs/repository-index.json
Due: docs-contract-validate

Start TASK-SKRIPT-REP-0034
  docs/backlog/tasks/task-skript-rep-0034-stand-up-skriptoteket-staging-on-hemma-next-to-huleedu-staging.md
  docs/repository-index.json
Due: docs-contract-validate

Add Skriptoteket Hemma staging lifecycle, compose, Vite unit, fixture, and runbook (TASK-SKRIPT-REP-0034 phase 1)
  compose.hemma-dev.yaml
  docs/repository-index.json
  docs/runbooks/INDEX.md
  docs/runbooks/run-skript-skriptoteket-staging-on-hemma-skriptoteket-staging-on-hemma.md
  pyproject.toml
  scripts/hemma_dev.py
  src/skriptoteket/application/catalog/staging_proof_fixture.py
  src/skriptoteket/cli/commands/setup_staging_proof_fixture.py
  src/skriptoteket/cli/main.py
  systemd/skriptoteket-vite-dev.service
  tests/unit/application/catalog/test_staging_proof_fixture.py
  tests/unit/scripts/test_hemma_dev.py
  tests/unit/test_hemma_dev_compose_contract.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Repair TASK-SKRIPT-REP-0034 phase-1 review findings F1-F3
  compose.hemma-dev.yaml
  docs/repository-index.json
  docs/runbooks/run-skript-skriptoteket-staging-on-hemma-skriptoteket-staging-on-hemma.md
  scripts/hemma_dev.py
  src/skriptoteket/application/catalog/staging_proof_fixture.py
  src/skriptoteket/cli/commands/setup_staging_proof_fixture.py
  tests/unit/application/catalog/test_staging_proof_fixture.py
  tests/unit/scripts/test_hemma_dev.py
  tests/unit/test_hemma_dev_compose_contract.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Remove rendered compose policy test suite (TASK-SKRIPT-REP-0034 review F3)
  tests/unit/test_hemma_dev_compose_contract.py
Due: ruff-format, ruff-lint, mypy, pytest

Record independent TASK-SKRIPT-REP-0034 phase-1 code approval
  docs/backlog/tasks/task-skript-rep-0034-stand-up-skriptoteket-staging-on-hemma-next-to-huleedu-staging.md
  docs/repository-index.json
Due: docs-contract-validate

Run staging proof import and fixture through python -m skriptoteket.cli
  docs/repository-index.json
  docs/runbooks/run-skript-skriptoteket-staging-on-hemma-skriptoteket-staging-on-hemma.md
  scripts/hemma_dev.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

Record independent TASK-SKRIPT-REP-0034 proof-import repair approval
  docs/backlog/tasks/task-skript-rep-0034-stand-up-skriptoteket-staging-on-hemma-next-to-huleedu-staging.md
  docs/repository-index.json
Due: docs-contract-validate

Close TASK-SKRIPT-REP-0034 after approved review and staging walk
  docs/backlog/tasks/task-skript-rep-0034-stand-up-skriptoteket-staging-on-hemma-next-to-huleedu-staging.md
  docs/repository-index.json
Due: docs-contract-validate

Advance repository-governance pin to 0.11.46
  pdm.lock
  pyproject.toml
Due: none

Advance repository-governance pin to 0.11.47
  pdm.lock
  pyproject.toml
Due: none

Advance repository-governance pin to 0.11.49
  pdm.lock
  pyproject.toml
Due: none

Advance repository-governance pin to 0.11.50
  pdm.lock
  pyproject.toml
Due: none

Advance repository-governance pin to 0.11.51
  pdm.lock
  pyproject.toml
Due: none

Advance repository-governance pin to 0.11.52
  pdm.lock
  pyproject.toml
Due: none

Advance repository-governance pin to 0.11.53
  pdm.lock
  pyproject.toml
Due: none

Advance repository-governance pin to 0.11.54
  pdm.lock
  pyproject.toml
Due: none

Advance repository-governance pin to 0.11.55
  pdm.lock
  pyproject.toml
Due: none

Advance repository-governance pin to 0.11.56
  pdm.lock
  pyproject.toml
Due: none

Refresh reviewed design-system adoption at integration
  design-system-map.json
  frontend/apps/skriptoteket/src/design-system/huleedu-integrated/manifest.json
  frontend/apps/skriptoteket/src/design-system/huleedu-integrated/package.json
  handoff.md
Due: none

Advance repository-governance pin to 0.11.57
  pdm.lock
  pyproject.toml
Due: none

Advance repository-governance pin to 0.11.58
  pdm.lock
  pyproject.toml
Due: none

TASK-SKRIPT-39-02-03: pin D1 item-local enrichment in unit tests; move the D5 gate to Hemma staging click-through
  docs/backlog/tasks/task-skript-39-02-03-repair-partial-digiexam-answer-key-enrichment-and-prove-the-real-integrated-vertical.md
  docs/repository-index.json
  handoff.md
  tests/unit/application/curated_apps/handlers/enrichment_routing_test_support.py
  tests/unit/application/curated_apps/handlers/test_exam_converter_conversion_enrichment_routing.py
  tests/unit/domain/curated_apps/exam_conversion/test_digiexam_answer_key_completion.py
Due: ruff-format, ruff-lint, mypy, pytest, docs-contract-validate

TASK-SKRIPT-39-02-03: let D6 admit a reviewed merge before the staging proof
  docs/backlog/tasks/task-skript-39-02-03-repair-partial-digiexam-answer-key-enrichment-and-prove-the-real-integrated-vertical.md
  docs/repository-index.json
Due: docs-contract-validate

Let Skriptoteket staging enable the answer-key completion lane from its untracked .env
  compose.hemma-dev.yaml
  docs/repository-index.json
  docs/runbooks/run-skript-skriptoteket-staging-on-hemma-skriptoteket-staging-on-hemma.md
Due: docs-contract-validate

Advance repository-governance pin to 0.11.59
  pdm.lock
  pyproject.toml
Due: none

Staging runbook: write the answer-key keys to the staging .env by absolute path
  docs/repository-index.json
  docs/runbooks/run-skript-skriptoteket-staging-on-hemma-skriptoteket-staging-on-hemma.md
Due: docs-contract-validate

TASK-SKRIPT-39-02-03: remove vacuous replay file-action tests; record the D5 staging walk in the handoff
  frontend/apps/skriptoteket/src/views/apps/ExamConverterAuthenticatedFilesActionSlice.spec.ts
  handoff.md
Due: eslint

Close TASK-SKRIPT-39-02-03 (Pi closeout rereview approved e877170d)
  docs/backlog/tasks/task-skript-39-02-03-repair-partial-digiexam-answer-key-enrichment-and-prove-the-real-integrated-vertical.md
  docs/repository-index.json
  handoff.md
Due: docs-contract-validate

Advance repository-governance pin to 0.11.60
  pdm.lock
  pyproject.toml
Due: none

Start TASK-SKRIPT-39-03-04 (cross-repository sidecar retirement delivered; review pending)
  docs/backlog/tasks/task-skript-39-03-04-retire-the-hemma-qwen-answer-key-sidecar.md
  docs/repository-index.json
Due: docs-contract-validate

Close TASK-SKRIPT-39-03-03 (independent review approved; public path closed on review and test evidence by user decision)
  docs/backlog/tasks/task-skript-39-03-03-retire-the-sir-convert-exam-specific-integration.md
  docs/repository-index.json
Due: docs-contract-validate

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  mypy: any of: \.py$
  pytest: any of: \.py$
  docs-contract-validate: any of: ^docs/
  agent-doc-budgets: any of: ^\.agent/(readme-first\.md|handoff\.md)$
  eslint: any of: ^frontend/apps/skriptoteket/src/.*\.(vue|ts|js)$
